<div ng-controller="ContentListController as contentListCtrl">
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate('Block.ContentList.Label.Add','add content')}}
    </button>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="titre-block">{{block.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="switch pull-right" ng-click="contentListCtrl.showFilters()" ng-class="{'on' : showFilters}">
                <span></span>
            </div>
            <div class="pull-right cursor-as-pointer" ng-click="contentListCtrl.showFilters()">
                <p>{{rubedo.translate('Blocks.Search.Label.SearchCriteria', 'Search criteria')}} </p>
            </div>
        </div>
    </div>


    
    
    <div ng-controller="SearchFilmsController as filmSearchCtrl" class="row" ng-if="showFilters">
        <div class="col-sm-8" >
            <p><span class="searchTags badge cursor-as-pointer" ng-repeat="term in contentListCtrl.taxo['54cb636245205e0110db058f']" ng-click="filmSearchCtrl.filter(term.id)" ng-class="{'checked': filmSearchCtrl.checked(term.id), 'disabled':!term.count}">{{term.text}} <sup>{{term.count}}</sup></span></p>
        </div>
        <div class="col-sm-4">
            <form ng-submit="filmSearchCtrl.onSubmit()" role="form">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="filmSearchCtrl.query" placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>

        <div class="col-sm-12" ng-show="rubedo.showSearchList">
            <div ng-repeat="datum in filmSearchCtrl.data track by $index"  ng-if="datum['fields.horsSerie'][0]=='false'" class="col-md-3 col-sm-6 col-xs-6 filmList home">
               
                <a ng-href='{{datum.url}}'>
                    <div class="affiche">
                        <p class="media-heading txt-light">
                            {{datum['fields.date'][0]*1000 | date :'MMMM yyyy'|uppercase}}
                        </p>
                        <img ng-if="datum['i18n.'+locale+'.fields.affiche'][0]"
                        ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum['i18n.'+locale+'.fields.affiche'][0],{height:'400px',width:'284px',mode:'crop'}) }}"
                        alt="{{ datum.title }}"/>
                       <img class="default-vignette" ng-if="!datum['i18n.'+locale+'.fields.affiche'][0]"
                       ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',width:'284px',mode:'crop'}) }}"
                        alt="{{ datum.title }}"/>
                        <div style="height:80px;overflow-y:hidden">
                            <h4 class="media-heading" >
                            {{datum.title}}
                            </h4>
                            <p class="txt" ng-if="datum['i18n.'+locale+'.fields.subTitle'][0]">{{datum['i18n.'+locale+'.fields.subTitle'][0]}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!rubedo.showSearchList">
        <div ng-style="contentListCtrl.blockStyle">
            <!--<div id="infiniteScrollCtrl">-->
            <div ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index">
                <div class="col-xs-12" >
                    <h1 class="titre-saison" ng-if="!columnContents[0].fields.horsSerie && columnContents[0].fields.annee >0">{{rubedo.translate('Block.Saison', 'Season')}} {{columnContents[0].fields.annee}} <span>({{columnContents[0].anneeFormatted -1}}-{{columnContents[0].anneeFormatted}})</span></h1>
                    <h3 class="titre-saison hidden-xs" ng-if="!columnContents[0].fields.horsSerie && columnContents[0].fields.annee ==0">{{rubedo.translate('Block.Futurs', 'En préparation')}}</h1>
                    <h3 class="titre-saison" ng-if="columnContents[0].fields.horsSerie">Hors-séries {{rubedo.translate('Block.Saison', 'Season')}} {{columnContents[0].fields.annee}}</h3>
                </div>
                
                <div ng-if="!content.fields.horsSerie" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index"  class="col-md-3 col-sm-6 col-xs-6 filmList home">
                    <a ng-href="{{content.detailPageUrl}}" ng-if="content.fields.annee>0">
                        <div class="affiche">
                             <p class="media-heading txt-light">
                                {{content.fields.date*1000 | date :'MMMM yyyy' | uppercase}}
                            </p>
                            <img ng-if="content.fields.affiche"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.affiche,{height:'400px',width:'284px',mode:'crop'}) }}"
                             alt="{{ content.fields.text }}"/>
                            <img class="default-vignette" ng-if="!content.fields.affiche"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',width:'284px',mode:'crop'}) }}"
                             alt="{{ content.fields.text }}"/>    
                            <div style="height:80px; overflow-y:hidden">
                                <h4 class="media-heading" >
                                    {{content.fields.text}}
                                </h4> 
                                <p class="txt" ng-if="content.fields.subTitle">{{content.fields.subTitle}}</p>
                            </div>
                        </div>                        
                    </a>
                    <div class="affiche hidden-xs" ng-if="content.fields.annee==0">
                         <p class="media-heading txt-light">
                            {{content.fields.date*1000 | date :'MMMM yyyy' | uppercase}}
                        </p>
                        
                        <div>
                            <h4 class="media-heading" >
                                {{content.fields.text}}
                            </h4> 
                            <p class="txt" ng-if="content.fields.subTitle">{{content.fields.subTitle}}</p>
                        </div>
                    </div>
                    <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}" title="éditer un contenu" class="btn btn-default ng-binding ng-scope">
                        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}
                    </a>                        
                </div>
                <div ng-if="content.fields.horsSerie && content.fields.affiche" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index"  class="col-lg-4 col-sm-6 col-xs-6 filmList">
                        <a ng-href="{{ content.detailPageUrl }}">
                            <div class="affiche">

                                <img ng-if="content.fields.affiche "
                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.affiche,{width:'400px',height:'225px',mode:'crop'}) }}"
                                 alt="{{ content.fields.text }}"/>
                            </div>
                            <h4 class="media-heading">
                                    {{content.fields.date*1000 | date :'MMMM yyyy'}}
                            </h4>
                        </a>
                        <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}" title="éditer un contenu" class="btn btn-default ng-binding ng-scope">
                            <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}
                        </a>
                        
                </div>
            </div>    
        </div>
    </div>
    <div class="show-more cursor-as-pointer text-center" ng-click = "contentListCtrl.changePageAction()" ng-if="contentListCtrl.contentsShowed<contentListCtrl.count">
        <span ng-if="!contentListCtrl.showLoader" class="icon-morefilms"></span><img src="/theme/netforgod/img/loader.gif" ng-if="contentListCtrl.showLoader" style="height:35px; margin-right:12px;"> {{rubedo.translate("NFG.ShowMoreFilms", "Plus de films")}}
    </div>
</div>