<div ng-controller="ContentListController as contentListCtrl">
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate('Block.ContentList.Label.Add','add content')}}
    </button>
    <div class="row">
        <div class="col-sm-12">
            <div class="switch pull-right" ng-click="contentListCtrl.showFilters()" ng-class="{'on' : showFilters}">
                <span></span>
            </div>
            <div class="pull-right cursor-as-pointer" ng-click="contentListCtrl.showFilters()">
                <p>{{rubedo.translate('Blocks.Search.Label.SearchCriteria', 'Search criteria')}} </p>
            </div>
        </div>
    </div>


    
    
    <div ng-controller="SearchFilmsController as filmSearchCtrl" class="row" ng-if="showFilters">
        <div class="col-sm-12" >
            <p><span class="searchTags badge cursor-as-pointer" ng-repeat="term in contentListCtrl.taxo['54cb636245205e0110db058f']" ng-click="filmSearchCtrl.filter(term.id)" ng-class="{'checked': filmSearchCtrl.checked(term.id)}">{{term.text}}</span></p>
        </div>

        <div class="col-sm-12" ng-if="rubedo.showSearchList">
            <div ng-repeat="datum in filmSearchCtrl.data track by $index" class="col-lg-3 col-sm-6 filmList" ng-click="contentListCtrl.setIndex($index)" data-toggle="modal" data-target="#previewFilms">
                <img ng-if="datum['i18n.'+locale+'.fields.affiche'][0]"
                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum['i18n.'+locale+'.fields.affiche'][0],{height:'400px',width:'284px',mode:'crop'}) }}"
                 alt="{{ datum.title }}"/>
                <img class="default-vignette" ng-if="!datum['i18n.'+locale+'.fields.affiche'][0]"
                ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',width:'284px',mode:'crop'}) }}"
                 alt="{{ datum.title }}"/>
                
                <h4 class="media-heading">
                        {{datum['fields.date'][0]*1000 | date :'MMMM yyyy'}}
                </h4>
            </div>
            <div class="modal fade" id="previewFilms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog">
                        <div class="col-sm-12  film-preview">
                            <div class="close" data-dismiss="modal" aria-label="Close"><span></span><span></span></div>
                            <div class="prev" ng-click="contentListCtrl.setIndex(contentListCtrl.previewIndex -1)" ng-if="contentListCtrl.previewIndex>0"><span></span><span></span></div>
                            <div class="col-sm-5 text-center">
                                <img ng-if="filmSearchCtrl.data[contentListCtrl.previewIndex]['i18n.'+locale+'.fields.affiche'][0]"
                                    ng-src="{{rubedo.imageUrl.getUrlByMediaId(filmSearchCtrl.data[contentListCtrl.previewIndex]['i18n.'+locale+'.fields.affiche'][0],{height:'400px',mode:'boxed'}) }}"
                                    alt="{{ filmSearchCtrl.data[contentListCtrl.previewIndex].title }}"/>
                                <img ng-if="!filmSearchCtrl.data[contentListCtrl.previewIndex]['i18n.'+locale+'.fields.affiche'][0]"
                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',mode:'boxed'}) }}"
                                 alt="{{ filmSearchCtrl.data[contentListCtrl.previewIndex].title }}"/>
                            </div>
                            <div class="col-sm-7">
                                <h1>{{filmSearchCtrl.data[contentListCtrl.previewIndex].title}}</h1>
                                <h4 class="media-heading" style="font-size: 0.8em">
                                        <span class="glyphicon glyphicon-calendar"></span>{{filmSearchCtrl.data[contentListCtrl.previewIndex]['fields.date'][0]*1000 | date :'MMMM yyyy' |uppercase}}
                                </h4>
                                <p>{{filmSearchCtrl.data[contentListCtrl.previewIndex].summary}}</p>
                                <a  ng-href="{{ filmSearchCtrl.data[contentListCtrl.previewIndex].url }}" class="pull-right">Voir le film -></a>
                            </div>                       
                            <div class="next" ng-click="contentListCtrl.setIndex(contentListCtrl.previewIndex +1)" ng-if="contentListCtrl.previewIndex < filmSearchCtrl.data.length -1"><span></span><span></span></div>
                        </div>
                    </div>
                    
                  </div>
                
            </div>        
        </div>
    </div>
    <div class="row" ng-show="!rubedo.showSearchList">
        <div ng-style="contentListCtrl.blockStyle">
            <!--<div id="infiniteScrollCtrl">-->
            <div ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index">
                <div class="col-xs-12" >
                    <h1 class="titre-saison" ng-if="columnContents[0].fields.annee >0">{{rubedo.translate('Block.Saison', 'Season')}} {{columnContents[0].fields.annee}} <span>({{columnContents[0].anneeFormatted -1}}-{{columnContents[0].anneeFormatted}})</span></h1>
                    <h1 class="titre-saison" ng-if="columnContents[0].fields.annee ==0">{{rubedo.translate('Block.Futurs', 'En préparation')}}</h1>
                </div>
                
                <div  ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index"  class="col-lg-3 col-sm-6 filmList"
                      ng-click="contentListCtrl.setIndex($index)" data-toggle="modal" data-target="#previewSeason{{$parent.$parent.$index}}">
                        <img ng-if="content.fields.affiche "
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.affiche,{height:'400px',width:'284px',mode:'crop'}) }}"
                         alt="{{ content.fields.text }}"/>
                        <img class="default-vignette" ng-if="!content.fields.affiche "
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',width:'284px',mode:'crop'}) }}"
                         alt="{{ content.fields.text }}"/>
                        
                        <h4 class="media-heading">
                                {{content.fields.date*1000 | date :'MMMM yyyy'}}
                        </h4>
                        
                </div>
                <div class="modal fade" id="previewSeason{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog">
                        <div class="col-sm-12  film-preview">
                            <div class="close" data-dismiss="modal" aria-label="Close"><span></span><span></span></div>
                            <div class="prev" ng-click="contentListCtrl.setIndex(contentListCtrl.previewIndex -1)" ng-if="contentListCtrl.previewIndex>0"><span></span><span></span></div>
                            <div class="col-sm-5 text-center">
                                <img ng-if="columnContents[contentListCtrl.previewIndex].fields.affiche "
                                    ng-src="{{rubedo.imageUrl.getUrlByMediaId(columnContents[contentListCtrl.previewIndex].fields.affiche,{height:'400px',mode:'boxed'}) }}"
                                    alt="{{ columnContents[contentListCtrl.previewIndex].fields.text }}"/>
                                <img ng-if="!columnContents[contentListCtrl.previewIndex].fields.affiche "
                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId('566affec3bc325ee6b8b4582',{height:'400px',mode:'boxed'}) }}"
                                 alt="{{ columnContents[contentListCtrl.previewIndex].fields.text }}"/>
                            </div>
                            <div class="col-sm-7">
                                <h1>{{columnContents[contentListCtrl.previewIndex].fields.text}}</h1>
                                <h4 class="media-heading" style="font-size: 0.8em">
                                        <span class="glyphicon glyphicon-calendar"></span>{{columnContents[contentListCtrl.previewIndex].fields.date*1000 | date :'MMMM yyyy' |uppercase}}
                                </h4>
                                <p>{{columnContents[contentListCtrl.previewIndex].fields.summary}}</p>
                                <a  ng-href="{{ columnContents[contentListCtrl.previewIndex].detailPageUrl }}" class="pull-right">Voir le film -></a>

                                <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+columnContents[contentListCtrl.previewIndex].id }}" title="éditer un contenu" class="btn btn-default ng-binding ng-scope">
                                    <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}
                                </a>
                                
                            </div>                       
                            <div class="next" ng-click="contentListCtrl.setIndex(contentListCtrl.previewIndex +1)" ng-if="contentListCtrl.previewIndex < columnContents.length -1"><span></span><span></span></div>
                        </div>
                    </div>
                    
                  </div>
                
            </div>
        </div>
    </div>

    <paginator ng-if="contentListCtrl.showPaginator" start="contentListCtrl.start" limit="contentListCtrl.limit"
               count="contentListCtrl.count" change-page-action="contentListCtrl.changePageAction()"></paginator>
</div>