<div>
    <p>Suivez-nous</p>
    <p>
        <a href="https://www.facebook.com/INTERNATIONAL.ECUMENICAL.FRATERNITY"><i class="icon-facebook"></i></a>
        <a href="https://twitter.com/NetforGod"><i class="icon-twitter"></i></a>
        <a href="https://www.youtube.com/user/CCNnetforgod/"><i class="icon-youtube"></i></a>
</div>
<div class="links">
    <!--<p><a href=""><i class="icon-sitemap"></i>Plan de site</a></p>
    <p><a href=""><i class="icon-legalinfo"></i>Mentions légales</a></p>
    <p><a href=""><i class="icon-pressinfo"></i>Presse</a></p>-->
    <p><a rubedo-page-link="567124b83bc325ba308b4584"><i class="icon-mail"></i>Contact</a></p>
    <p><a href=""><i class="icon-search"></i>Recherche</a></p>
</div>