<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="MenuController as menuCtrl" ng-class="{'home':rubedo.current.page.id=='5671247f3bc325c1308b4567'}">
    <div class="container">
        <div class="col-xs-12">
            <div class="navbar-header">
                <div class="menu-toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{rubedo.translate("Blocks.Navigation.Label.ToggleNavigation", "Toggle navigation")}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="visible-xs-block">
                    <a ng-if="blockConfig.displayRootPage" class="navbar-brand" style="margin-right:15px; margin-left:-15px" ng-href="{{menuCtrl.menu.url}}"><img class="img-responsive " ng-src="{{rubedo.imageUrl.getUrlByMediaId('566ad4f73bc32544678b456c', {height:'50px',mode:'boxed'})}}"/></a>
                    <ul class="nav navbar-nav" style="margin: 0px -15px; display: inline-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <li ng-repeat="page in menuCtrl.menu.pages track by $index" class="active" ng-if="rubedo.current.page.id==page.id">
                            <a ng-href="{{page.url}}">{{page.text}}</a>
                        </li>
                    </ul>
                </div>
                <a ng-if="blockConfig.displayRootPage" class="navbar-brand visible-lg-block" ng-href="{{menuCtrl.menu.url}}"><img class="img-responsive " ng-src="{{rubedo.imageUrl.getUrlByMediaId('566a98173bc325af638b4569', {height:'60px',mode:'boxed'})}}"/></a>
                <a ng-if="blockConfig.displayRootPage" class="navbar-brand  visible-sm-block visible-md-block" ng-href="{{menuCtrl.menu.url}}"><img class="img-responsive " ng-src="{{rubedo.imageUrl.getUrlByMediaId('566ad4f73bc32544678b456c', {height:'50px',mode:'boxed'})}}"/></a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="page in menuCtrl.menu.pages track by $index" ng-class="{active:menuCtrl.currentRouteline.indexOf(page.url) > -1, dropdown:page.pages&&blockConfig.menuLevel>1}">
                        <a ng-if="!page.pages||blockConfig.menuLevel<=1" ng-href="{{page.url}}">{{page.text}}</a>
                        <a ng-if="page.pages&&blockConfig.menuLevel>1" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown" >{{page.text}} <span class="caret"></span></a>
                        <ul ng-if="page.pages&&blockConfig.menuLevel>1" class="dropdown-menu" role="menu">
                            <li ng-if="!blockConfig.disableLevelOne" ng-class="{active:rubedo.current.page.id==page.id}"><a ng-href="{{page.url}}">{{page.text}}</a></li>
                            <li ng-if="!blockConfig.disableLevelOne" class="divider"></li>
                            <li ng-repeat="subpage in page.pages track by $index" ng-class="{active:menuCtrl.currentRouteline.indexOf(subpage.url) > -1}">
                                <a ng-href="{{subpage.url}}">{{subpage.text}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-controller="LanguageMenuController as languageMenuCtrl" class="languageMenu">
                        <a  class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown" >{{languageMenuCtrl.currentLang.lang |uppercase}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="lang in languageMenuCtrl.languages track by $index">
                                <a ng-click="languageMenuCtrl.changeLang(lang.lang)" href>
                                    <i ng-if="languageMenuCtrl.showFlags"><img ng-src="{{languageMenuCtrl.getFlagUrl(lang.flagCode)}}" alt="{{lang.flagCode}}"/></i>
                                    {{lang.lang |uppercase}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form" ng-if="menuCtrl.searchEnabled" ng-submit="menuCtrl.onSubmit()" role="form">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="menuCtrl.query" ng-attr-placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</nav>

