<div ng-if="rubedo.current.user" ng-controller="uploadXlsController as ctrl">
    Ici tu peux uploader un fichier Excel d'export généré à partir de pointsnet.ccn pour mettre à joru tous les points net sur Rubedo.
    <input type="file" id="file" name="file"/>
    <button ng-click="uploadXLS()">
        <span ng-if="loading">...</span>
        <span ng-if="!loading">Upload XLS file</span>
    </button>

    <div class="pn_compare">
        <div class="pn_container onesime_pn" ng-if="excel_imported">
            <div class="info onesime_info">
                    Il y a <b>{{onesime_pns.length}}</b> Points Net importés depuis le fichier Excel.
            </div>

            <select name="onesime_pn" ng-options="pn as pn['Code PN'] for pn in onesime_pns track by pn['Code PN']" ng-model="current_o_pn" ng-change="loadPN('onesime')">
            </select>

            <table class="pn_fiche onesime_pn_fiche" ng-if="current_o_pn">
                <tr ng-repeat="(key, value) in current_o_pn">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </table>
        </div>

        <div class="pn_container rubedo_pn">
            <div class="info rubedo_info">
                Il y a <b>{{rubedo_pns.length}}</b> Points Net sur Rubedo.
            </div>

            <select name="rubedo_pn" ng-options="pn as pn.fields.pointNetId for pn in rubedo_pns track by pn.fields.pointNetId" ng-model="current_r_pn" ng-change="loadPN('rubedo')">
                <!-- <option ng-repeat="pn in rubedo_pns" ng-value="pn.fields.pointNetId">{{pn.fields.pointNetId}}</option> -->
            </select>
            
            <table class="pn_fiche rubedo_pn_fiche" ng-if="current_r_pn">
                <tr ng-repeat="(key, value) in current_r_pn.fields">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="logs">
        <div ng-repeat="el in ctrl.logs">
            {{el.level}} {{el.msg}}
        </div>
    </div>
</div>

<style>
.pn_compare {
    display: flex;
    justify-content: center;
}
.pn_container {
    width: 50%;
    padding: 1rem;
}
</style>