<div ng-controller="ContentListController as contentListCtrl">
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.NewContent", "New Content")}}
    </button>
    <div class="row contentList" ng-switch="blockConfig.columns">
       <!--POUR 1 COLONNE-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-when="1" class="padding-">
            <!--<div id="infiniteScrollCtrl">-->
            <div  ng-repeat="columnContents in contentListCtrl.contentList" ng-init="columnIndex = $index" >
                <div ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents" class="equal-height-cols">
                   <a ng-if="!fieldEditMode"  ng-href="{{!fieldEditMode? content.contentLinkUrl : ''}}">
                    <div class="col-sm-8 col-xs-12">
                    <img class="img-responsive no-margin" ng-if="content.fields.image"
                                                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'700px',height:'350px',mode:'crop'}) }}"
                                                                     alt="{{ content.fields.text }}"/>                                                   
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h3>
                            {{content.fields.text}}

                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                        </h3>
                       <p  ng-if="!contentListCtrl.titleOnly">
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                       </p>
                    </div>                    
                   </a>

                </div>
            </div>
        </div>


        <!--AUTRES-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-default  ng-class="{'container' : blockConfig.container}" class="contentList">
            <div class="col-sm-12" ng-if="block.displayTitle">
                <h4>{{block.title | uppercase}}</h4>
            </div>
                <div class="col-sm-6 col-xs-12" ng-class="contentListCtrl.columns" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in contentListCtrl.contents" ng-switch="content.typeId">                
                    <!---VIDEOS-->
                    <div ng-switch-when="56094a2245205e0e2541ea77">
                    
                        <div class="media-body">
                            <jwplayer video-url="{{content.fields.video.url}}"></jwplayer>
                            <a ng-if="!fieldEditMode" ng-href="{{ content.contentLinkUrl }}">
                                <h4 class="list-item-title capital"><span>
                                        {{content.fields.text}}
                                    </span>
                                </h4>
                            </a>
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                            
                        </div>
                   </div>
                    <!--LINK TO PAGE-->
                    <div ng-switch-when="56ab6e94c445ecde138b4e2b" class="pageList">
                        <div>
                             <a ng-href="{{ content.contentLinkUrl }}"><img  ng-if="content.fields.image"
                                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'400px',mode:'crop'}) }}"
                                                 alt="{{ content.fields.text }}"/></a>
                        </div>
                        <div>
                            <h3>{{content.fields.text}}</h3>
                            <p>{{content.fields.summary}}</p>
                            <p><a ng-href="{{ content.contentLinkUrl }}">{{content.fields.subTitle}}</a></p>
                        </div>
                    </div>
                                      <!--DEFAUT-->
                    <div ng-switch-default class="actusList">
                        <a ng-href="{{ content.contentLinkUrl }}">
                            <img  ng-if="content.fields.image" style="width: 100%"
                                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'200px',mode:'crop'}) }}"
                                                 alt="{{ content.fields.text }}"/>
                            <div>
                                <h4>{{content.fields.text}}</h4>
                                <p>{{content.fields.summary}}</p>
                            </div>
                            
                        </a>
                        

                        

                    </div>
                   
                    
                  
                </div>
        </div>
 
        
    </div>


</div>