<link
    rel="stylesheet"
    type="text/css"
    href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"
/>


<div ng-controller="D3ScriptController as d3ScriptCtrl" class="paddingv">
    <img src="/theme/cte/img/loader.gif" ng-if="d3ScriptCtrl.loading">
    <div class="container ">
        <div class="button rouge hidden-xs" style="min-width: 50px;" data-toggle="modal" data-target="#countryListModal">
            <i class="fa fa-list" aria-hidden="true" ></i>
        </div>
    </div>
    <ng-include src="d3ScriptCtrl.ccnMap" class="hidden-xs"></ng-include>
    <div class="visible-xs-block regions-list">
        <h3>{{rubedo.translate("Block.Carte.Presence.Perm.Cana","Mission CANA avec présence permanente de la Communauté du Chemin Neuf")}}</h3>
        <ul class="f32">
            <li ng-repeat="country in d3ScriptCtrl.countryList  | orderBy:'name'" ng-if="country.fillKey== 'present'">
                <a ng-href="{{country['url']}}" target="_blank"><span class="flag {{country['id_iso']}}"></span>{{country.name}}</a>
            </li>
        </ul>
        <h3>{{rubedo.translate("Block.Carte.Presence.Ponct.Cana","Mission CANA avec présence ponctuelle de la Communauté du Chemin Neuf")}}</h3>
        <ul class="f32">
            <li ng-repeat="country in d3ScriptCtrl.countryList  | orderBy:'name'"  ng-if="country.fillKey== 'active'">
                <a ng-href="{{country['url']}}" target="_blank"><span class="flag {{country['id_iso']}}"></span>{{country.name}}</a>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="countryListModal" tabindex="-1" role="dialog" aria-labelledby="countryListModal" aria-hidden="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only ng-binding">{{rubedo.translate("Label.Close","Close")}}</span></button>
                        <h4 class="modal-title ng-binding" id="countryListModalLAbel">{{rubedo.translate("Block.Carte.Liste","Liste des pays")}}</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-sm-6  regions-list">
                            <h4>{{rubedo.translate("Block.Carte.Presence.Perm.Cana","Mission CANA avec présence permanente de la Communauté du Chemin Neuf")}}</h4>
                            <ul class="f32">
                                <li ng-repeat="country in d3ScriptCtrl.countryList |  orderBy:'name'" ng-if="country.fillKey== 'present'">
                                    <span class="flag {{country['id_iso']}}"></span>
                                    <a ng-href="{{country['url']}}" target="_blank">{{country.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6  regions-list">
                            <h4>{{rubedo.translate("Block.Carte.Presence.Ponct.Cana","Mission CANA avec présence ponctuelle de la Communauté du Chemin Neuf")}}</h4>
                             <ul class="f32">
                                <li ng-repeat="country in d3ScriptCtrl.countryList | orderBy:'name'"  ng-if="country.fillKey== 'active'">
                                    
                                    <a ng-href="{{country['url']}}" target="_blank"><span class="flag {{country['id_iso']}}"></span>{{country.name}}</a>
                                </li>
                            </ul>
                        </div>
                            
                            
                           
                        
                    </div>

                </div>
            </div>
        </div>
</div>