<div class="row">
    
    <div class="col-xs-12 col-md-6 image_container" 
        ng-repeat="content in contentListCtrl.contents track by $index"
        ng-class="{'pair': $even}" 
        style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(content.fields.image, {width:'800px',mode:'boxed'})}}')"
        ng-click="contentListCtrl.goToPage(content.fields.propositionReferencee)">

            <h2 class="img_title">
                <div>{{content.fields.text.split('§')[0].toUpperCase()}}</div>
                <div ng-if="content.fields.text.split('§').length > 1">{{content.fields.text.split('§')[1].toUpperCase()}}</div>
            </h2>

            <p>{{content.fields.summary.split('§')[0].toUpperCase()}}<br>
            <span ng-if="content.fields.summary.split('§').length > 1">{{content.fields.summary.split('§')[1].toUpperCase()}}</span></p>

    </div>

</div>