<div class="bg-videos">
<div class="row bg-videos">
	<div class="col-xs-12 ">
	    <div class="parallax section-header article-header" ng-style="{'background-image':'url('+rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1650px',mode:'boxed'})+')'}"
		 style="background-attachment: scroll;" ng-if="fieldEntity['image']" >
	    </div>
	</div>
</div>    
<div class="container article">
    <div class="row">
	<div class="col-xs-12">
		<h1 ng-if="!fieldEditMode" style="margin-bottom:12px">{{fieldEntity['text'] |uppercase}}</h1>
		<h1 ng-if="fieldEditMode"
		   ng-controller="RTEFieldController as rteFieldCtrl"
		   ckeditor="editorOptions"
		   contenteditable="true"
		   ready="setCKEIsReady()"
		   ng-model="fieldEntity['text']"
		   output-plain-text="true"
		   ng-bind-html="rteFieldCtrl.html">
		</h1>
	    
		<div class="row">
			<p class="pull-left date">{{contentDetailCtrl.content.createTime*1000 | date:'dd'}}<br/><span>{{contentDetailCtrl.content.createTime*1000 | date:'MMM'}}</span></p>
			<img class="img-circle pull-left" ng-if="contentDetailCtrl.auteur_jmj.fields.image" ng-src="{{rubedo.imageUrl.getUrlByMediaId(contentDetailCtrl.auteur_jmj.fields.image,{height:'65px'}) }}"
                         alt="{{ contentDetailCtrl.auteur_jmj.text}}" style="margin-right:5px"/>
			<div class="pull-left" ng-if="contentDetailCtrl.auteur_jmj">
				<h3 style="margin:0">{{rubedo.translate("Contents.PublishedBy", "published by")}} <b>{{contentDetailCtrl.auteur_jmj.text}}</b></h3>
				<p style="margin-top:0">{{contentDetailCtrl.auteur_jmj.fields.summary}}</p>
			</div>
		</div>
			    		    
	</div>
	<div class="col-xs-12">
	    <rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
	</div>
	
	<div class=" col-xs-12">
		<div data-addthis-toolbox  data-title="{{rubedo.current.page.title}}"  class="addthis_toolbox socials-share" >
			<div class="col-xs-6 col-sm-4">
				<a class="addthis_button_facebook" href=""><img class="hidden"><span class="font-jmj fb"></span>{{rubedo.translate("Block.Share.Facebook", "Share on Facebook")}}</a>
			</div>
			<div class="col-xs-6 col-sm-4">
				<a class="addthis_button_twitter"><img  class="hidden"><span class="font-jmj twitter"></span>{{rubedo.translate("Block.Share.Twitter", "Share on Twitter")}}</a>
			</div>
			<div class="col-xs-6 col-sm-4">
				<a class="addthis_button_email"><img class="hidden"><span class="font-jmj mail"></span>{{rubedo.translate("Block.Share.Mail", "Share by email")}}</a>
			</div>
			
		</div>
	</div>	
	
	
    </div>
</div>

</div>
    
