<div class="row">
	<div class="col-sm-6">
		<div ng-if="contentDetailCtrl.content.images" ng-repeat="image in contentDetailCtrl.content.images | limitTo : contentDetailCtrl.gallery.limit : contentDetailCtrl.gallery.start track by $index" class="pull-left thumbnail gallery">
		    <a href data-toggle="modal" ng-click="galleryCtrl.loadModal($index)">
			<img class="img-rounded" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'150px',height:'100px',mode:'boxed'})}}" ng-attr-alt="{{image.title}}" ng-attr-title="{{image.title}}"/>
		    </a>
		</div>
	</div>
	<div class="col-sm-6">
		<img class="img-rounded" ng-src="{{contentDetailCtrl.currentImage.url}}" ng-attr-alt="{{contentDetailCtrl.currentImage.title}}" ng-attr-title="{{contentDetailCtrl.currentImage.title}}"/>
	</div>
</div>
<div class="clearfix"></div>
<paginator start="contentDetailCtrl.gallery.start" limit="contentDetailCtrl.gallery.limit"
	   count="contentDetailCtrl.gallery.count" change-page-action="contentDetailCtrl.changePageAction()"></paginator>
