<div class="row">
	<div class="col-sm-6">
		<div style="width:20px; height:100px; background-color:grey;float:left" ng-click="contentDetailCtrl.changePage('left')"></div>
		<div ng-if="contentDetailCtrl.content.images" ng-repeat="image in contentDetailCtrl.content.images |orderBy:'title' | limitTo:contentDetailCtrl.gallery.limit*(contentDetailCtrl.gallery.actualPage)-1 |limitTo:-contentDetailCtrl.gallery.limit" class="pull-left thumbnail gallery">
			<img class="img-rounded" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'150px',height:'100px',mode:'crop'})}}" ng-attr-alt="{{image.title}}" ng-attr-title="{{image.title}}"
			     ng-click="contentDetailCtrl.gallery.currentIndex=contentDetailCtrl.gallery.limit*(contentDetailCtrl.gallery.actualPage-1)+$index"/>
		</div>
		<div style="width:20px; height:100px; background-color:grey;float:left" ng-click="contentDetailCtrl.changePage('right')"></div>

	</div>
	<div class="col-sm-6">
		<img class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(contentDetailCtrl.content.images[contentDetailCtrl.gallery.currentIndex].id)}}" />
	</div>
</div>
<div class="clearfix"></div>

