<div class="col-xs-6 col-md-4 bloc-icone">
    <div>
        <div class="col-sm-12  side1">
            <div>
                <div class="block-details icone" ng-if="fieldEntity[field.config.name].icone"><p>{{fieldEntity[field.config.name].icone}}</p></div>
                <div class="block-details" ng-if="fieldEntity[field.config.name].titre"><p>{{fieldEntity[field.config.name].titre}}</p></div>
            </div>
        </div>
        <div class="col-sm-12 side2">
            <div class="block-details" ng-iif="fieldEntity[field.config.name].description"><p>{{fieldEntity[field.config.name].description}}</p></div>
        </div>
        
    </div>
</div>