<div class="form-group" ng-controller="RadioGroupController as radioGroupCtrl">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div id="{{fieldIdPrefix+'_'+field.config.name}}">
            <input ng-required="!field.config.allowBlank" type="radio" name="{{field.config.name}}" ng-value="item.inputValue" ng-model="fieldEntity[field.config.name][field.config.name]"> {{item.boxLabel}}
        <label class="radio-inline" ng-repeat="item in field.config.items track by $index">
        </label>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>