@font-face {
  font-family: 'Sansation';
  src: url('../font/sansation_regular-webfont.eot');
  src: url('../font/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/sansation_regular-webfont.woff2') format('woff2'), url('../font/sansation_regular-webfont.woff') format('woff'), url('../font/sansation_regular-webfont.ttf') format('truetype'), url('../font/sansation_regular-webfont.svg#sansationregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  min-height: 100%;
  line-height: 1.4em;
}
p {
  font-family: 'Sansation';
}
html,
body {
  font-family: 'Open Sans';
  height: 100%;
  overflow: auto;
  background-color: white;
  color: #c5c5c5;
}
.container-fluid {
  overflow-x: hidden;
}
.container-fluid {
  padding: 0;
}
.container-fluid > .row:nth-of-type(n+3) {
  margin-right: 0;
  margin-left: 0;
}
.container-fluid > .row.no-margin {
  margin-right: -15px;
  margin-left: -15px;
}
.container.page {
  min-height: 80vh;
  margin-top: 50px;
}
.glyphicon-list-alt {
  z-index: 9999;
}
/*TYPO*/
h1 {
  font-weight: bold;
  font-size: 24px;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}
h2 {
  font-weight: bold;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.25em;
}
h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.4em;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  h3 {
    font-size: 24px;
  }
}
p {
  font-size: 16px;
}
label {
  font-weight: normal;
}
.capital,
.text-article .capital,
.capital p,
.text-article .capital p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
}
.capital2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px !important;
  font-weight: normal;
  margin-bottom: 0;
}
/*code Nicolas*/
/*site communauté*/
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  min-height: 0.1px;
}
.row.vide {
  min-height: 1px !important;
}
a {
  color: #ffffff;
}
a:hover {
  color: #74c6de;
  text-decoration: none;
}
input:focus {
  outline: 0;
  border-color: transparent;
  box-shadow: 0;
}
.media-body {
  min-width: 200px;
}
.contentList .media-body {
  margin-bottom: 24px;
}
.col-sm-6:after:before,
.col-sm-6:after:after {
  content: " ";
  display: table;
}
.col-sm-6:after:after {
  clear: both;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    width: 420px;
  }
}
.img_full img {
  width: 100%;
}
.padding-right {
  padding-right: 24px;
}
.padding-left {
  padding-right: 24px;
}
.padding-top {
  padding-top: 24px;
}
.padding {
  padding-top: 12px;
  padding-bottom: 12px;
}
.padding-large {
  padding-top: 24px;
  padding-bottom: 24px;
}
.padding- {
  margin-top: -12px;
  margin-bottom: -12px;
}
.no-margin {
  margin-left: -15px;
  margin-right: -15px;
}
.padding-col {
  padding: 0px 48px;
}
.padding-col > rubedo-block > div {
  padding: 24px 0;
}
@media screen and (max-width: 768px) {
  .padding-col > rubedo-block > div {
    padding: 12px 0;
  }
}
@media screen and (min-width: 500px) {
  .no-padding {
    padding: 0;
  }
}
.texte {
  max-width: 860px;
  margin: 24px auto;
}
::selection {
  background: #74c6de;
  color: #ffffff /* WebKit/Blink Browsers */
;
}
::selection {
  background: #74c6de;
  color: #ffffff /* Gecko Browsers */
;
}
span.glyphicon {
  margin: 0 5px;
  vertical-align: middle;
}
.var-narrow .tweet {
  padding: 12px !important;
}
.fa.icon {
  font-size: 24px;
}
.txt-red {
  color: #c1573c;
}
.txt-marron {
  color: #d5c5b5;
}
.txt-beige {
  color: #f3eeea;
}
.txt-rencontre {
  color: #7d77bf;
}
.txt-lieux {
  color: #fbbd58;
}
.txt-evenement {
  color: #f96847;
}
.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.padding-tb {
  padding-top: 48px;
  padding-bottom: 48px;
}
nav li a {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
}
nav.navbar {
  background-color: #ffd600;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #2e2c29;
}
.navbar-nav > li.active a {
  color: #2e2c29;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
  background-color: inherit;
}
.dropdown-menu {
  background-color: #ffd600;
}
.dropdown-menu > li > a {
  padding: 6px 20px;
  color: white;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2e2c29;
  background-color: inherit;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #2e2c29;
  background-color: inherit;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #2e2c29;
  background-color: inherit;
}
a.navbar-brand:hover,
a.navbar-brand:focus,
a.navbar-brand:active {
  color: #2e2c29;
  background-color: inherit;
}
.carousel-indicators li {
  margin: 1px 10px;
}
.album-desc {
  color: #ffffff;
}
.media {
  margin-top: 0;
  padding: 0 24px;
  margin-bottom: 24px;
}
.actus-thumb {
  width: 35%;
  float: left;
  margin-right: 20px;
  padding: 0 12px 48px;
}
.actus-thumb:hover img {
  opacity: 0.8;
}
.actus-thumb img {
  transition: opacity ease 0.3s;
  max-height: 200px;
  float: right;
}
.actus-date {
  float: left;
  text-align: center;
  margin-right: 20px;
  border-bottom: #74c6de 1px solid;
  width: 75px;
  color: white;
  padding-bottom: 20px;
}
.actus-date span {
  display: block;
}
.actus-date span:first-of-type {
  font-size: 50px;
  margin-bottom: 16px;
}
.actus-date span:nth-of-type(2) {
  font-size: 14px;
  margin-bottom: 14px;
}
.actus-date span:nth-of-type(3) {
  font-size: 17px;
}
@media screen and (max-width: 768px) {
  .actus-thumb {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 12px;
  }
  .actus-thumb img {
    float: none;
  }
}
.google-btn {
  margin: 80px auto;
  width: 95%;
  padding-top: 20px;
}
.google-btn img {
  transition: opacity 0.3s ease-out;
  width: 80%;
  margin: 0 auto;
}
.google-btn img:hover {
  opacity: 0.65;
}
.google-btn h3,
.google-btn p {
  padding: 0 5px;
}
.linkbox {
  display: block;
}
.linkbox a {
  letter-spacing: 0.2em;
  text-align: center;
  display: inline-block;
  color: #898989;
  border: 2px solid rgba(137, 137, 137, 0.5);
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
}
.linkbox a:hover {
  border-color: #898989;
}
.titre {
  padding: 24px;
}
.titre h1,
.titre h2,
.titre h3,
.titre h4,
.titre p {
  color: #ffffff;
}
.titre span,
.titre span a {
  color: #74c6de;
  font-size: 0.8em;
}
.footer {
  color: white;
  margin-top: 24px;
  font-size: 14px;
}
.footer a,
.footer p {
  color: white;
  display: inline-block;
}
.footer div.container {
  padding: 24px;
}
.footer.links .container {
  border-top: 1px solid white;
  padding-top: 12px;
}
.footer.links .container .capital {
  border: none;
  text-align: center;
  font-size: 10px !important;
}
.owl-item img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .carousel-caption {
    width: 32%;
    height: 100%;
    margin-left: 68%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-caption {
    width: 26.5%;
    height: 100%;
    margin-left: 73.5%;
    padding: 48px;
  }
}
.content_border {
  border: solid 8px #c1573c;
  margin-top: -40px;
}
.header_link,
a.header_link {
  color: #c1573c;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  display: block;
  text-align: center;
}
.header_link:hover {
  color: #c1573c;
}
.header_link:before {
  content: '\2190';
}
.text-article {
  margin: 0 auto;
  margin-top: 12px;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}
.text-article p {
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 20px;
}
.text-article span + span.tags:after {
  content: ',';
  margin-right: 5px;
}
header .text-article h1,
header .text-article p {
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.33);
}
.text-article p img {
  max-width: 100%;
  height: auto !important;
  margin: 20px auto;
  display: block;
}
blockquote {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  color: #c1573c;
  width: 70%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-left: none;
  margin: 30px auto;
}
.text-article blockquote p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  color: #c1573c;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .text-article {
    text-align: left;
  }
}
@media screen and (min-width: 500px) {
  .content_border {
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .text-article p,
  .text-article li {
    font-size: 18px;
    line-height: 1.7;
  }
  .header_link {
    float: left;
  }
  .text-article p img {
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .text-article {
    max-width: 680px;
  }
}
@media screen and (min-width: 1200px) {
  blockquote {
    width: 60%;
    float: right;
    position: relative;
    left: 30%;
    margin-left: -17.5%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .header_link {
    margin-top: 33px;
  }
}
.media {
  transition: margin-top 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.media.media4 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .media.media2 {
    text-align: left;
    border-bottom: none;
  }
  .media.media2 img {
    float: left;
    padding-right: 24px;
    padding-bottom: 0;
    display: block;
    width: auto;
  }
  .media.media4 {
    text-align: left;
  }
}
.tooltip-inner {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  color: #c1573c;
  background: #f3eeea;
}
.tooltip-arrow {
  display: none;
}
.copyrights p {
  font-size: 12px;
  font-style: italic;
}
.carousel-caption {
  text-align: left;
  background-color: #2f2e2a;
  opacity: 1;
}
.carousel-caption h3 {
  border-bottom: 1px solid white;
  padding-bottom: 12px;
  margin-top: 0;
}
.carousel-caption p {
  color: #ffffff;
}
.carousel-caption {
  padding: 24px;
}
@media screen and (max-width: 1200px) {
  .carousel-caption p {
    overflow: hidden;
    position: relative;
    max-height: 7em;
    /*display ellipsis after 5 lines*/
  
  }
  .carousel-caption p:before {
    bottom: 0;
    position: absolute;
    right: 0;
    content: '...';
  }
  .carousel-caption p:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }
}
.owl-theme .owl-controls .owl-page span {
  background: white;
  opacity: 0.75;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #c1573c;
}
@media screen and (max-width: 500px) {
  .img-responsive.carousel-img {
    max-width: none;
    height: 200px;
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  .carousel-caption h3 {
    font-size: 24px;
  }
  .owl-pagination {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption {
    position: relative;
    height: auto;
  }
  .carousel-caption h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1275px) {
  .owl-item {
    max-height: 600px;
    overflow: hidden;
  }
}
.owl-pagination {
  display: none;
}
.owl-theme .owl-controls .owl-buttons div {
  border-radius: 0px;
  background: none;
  color: #fff;
  font-size: 4em;
  margin: 0px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
}
.owl-prev {
  left: 0px;
}
.owl-next {
  right: 0px;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 0;
}
.owl-buttons .glyphicon-chevron-left,
.owl-buttons .glyphicon-chevron-right {
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 12px 6px;
}
.owl-theme span.glyphicon {
  margin: 0;
}
.jwlogo {
  display: none;
}
.jwplayer .jwpreview.jwuniform {
  background-size: cover !important;
}
.homelink {
  background: #c1573c;
  padding: 12px;
}
.homelink a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  color: white;
}
.homelink span {
  font-size: 0.8em;
  margin-right: 5px;
}
.button {
  min-width: 300px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  margin: 12px auto 0;
  transition: 0.3s ease opacity;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button:hover {
  opacity: 0.8;
}
.button.rouge {
  background: #c1573c;
  box-shadow: 0px 2px #9e4232;
  color: #ffffff;
}
.button.bleu {
  background: #74c6de;
  box-shadow: 0px 2px #74c6de;
  color: #ffffff;
}
.button.submit {
  border: 2px solid #c1573c;
  color: #c1573c;
}
.button.submit.disabled {
  color: #d5c5b5;
  border: 2px solid #d5c5b5;
  cursor: default;
}
.list {
  overflow: hidden;
}
.list div {
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list a {
  display: block;
  height: 100%;
  width: 100%;
}
.list div[class*="ratio"] {
  transition: all ease-in 0.3s;
}
.list .ratio1 {
  padding-top: 100%;
}
.list .ratio16-9 {
  padding-top: 56.25%;
}
.list .ratio2-1 {
  padding-top: 150%;
}
.list .ratio3-5 {
  padding-top: 60%;
}
.list .ratio2 {
  padding-top: 50%;
}
.list div[class*="ratio"]:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: " ";
  top: 0;
  left: 0;
  transition: all ease-in 0.3s;
}
.list:hover div[class*="ratio"]:before {
  background-color: black;
  opacity: 0.8;
}
.list:hover div[class*="ratio"] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .list div[class*="ratio"] {
    padding-top: 50%;
  }
}
.list div.list-title {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  transition: all ease-in 0.3s;
  border: 2px solid white;
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.list:hover .list-title p {
  opacity: 1;
}
.list-title p {
  margin-top: 33%;
  opacity: 0;
  transition: opacity ease-in 0.3s;
  color: #ffffff;
}
.list:hover div.list-title {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
header.content {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 320px;
  box-shadow: inset 0 0 0 1000px rgba(84, 84, 84, 0.33);
  margin-bottom: 24px;
  line-height: 320px;
  text-align: center;
}
header.content h1,
header.content h2,
header.content h3,
header.content h4,
header.content h5,
header.content p {
  color: white;
  font-family: 'Libre Baskerville', serif;
}
header.content > div {
  line-height: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  header.content {
    line-height: 600px;
    height: 600px;
  }
  header.content > div {
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 24px;
  }
}
header.content.prop > div {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 0;
}
.socials {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .socials:not(.center) {
    text-align: right;
    width: auto;
  }
}
.addthis_counter a.atc_s {
  display: none !important;
}
.socials .addthis_counter .addthis_button_expanded,
.socials .addthis_counter .addthis_button_expanded a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  background: none;
  width: auto;
  color: #c5c5c5;
}
.socials .addthis_counter {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  width: auto;
  margin-right: 3px;
}
.list-item-title {
  padding: 0 12px;
  color: white;
  margin-bottom: 0;
  min-height: 54px;
  line-height: 54px;
}
.list-item-title span {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}
.list-item-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.list-item-img:before {
  content: "";
  display: block;
  padding-top: 50%;
  /* initial ratio of 2:1*/

}
.list-item-img > img {
  position: absolute;
  top: -20%;
  left: 0;
  bottom: -50%;
  right: 0;
  width: 100%;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .equal-height-cols {
    display: table;
  }
  .equal-height-cols div[class^="col"] {
    display: table-cell;
    vertical-align: middle;
    float: none;
    height: 200px;
  }
}
@media screen and (min-width: 500px) {
  .list-item-img:before {
    padding-top: 33.333%;
  }
  .list-item-img > img {
    top: -50%;
  }
}
/*  ratio of 3:1*/
@media screen and (min-width: 768px) {
  .list-item-img:before {
    padding-top: 60%;
  }
  .list-item-img > img {
    top: -5%;
  }
}
/*  ratio of 1:1*/
.secondary-nav {
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
.secondary-nav a {
  padding: 12px 0;
  display: inline-block;
}
.regions-list ul {
  list-style-type: none;
  margin: 6px 0;
  padding-left: 0;
}
.regions-list li {
  border-top: 2px solid white;
  padding: 6px 24px 6px 12px;
}
.regions-list li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}
.regions-list li:last-of-type {
  border-bottom: 2px solid #ffffff;
}
.regions-list li a:after {
  position: absolute;
  right: 30px;
  content: "\f0da";
  font-family: 'FontAwesome';
}
.modal.right.fade:not(.in) .modal-dialog {
  -ms-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
