<html><body>
  <h3>Identification</h3>
<table width="80%">
<tr>
  <td> 
    Surname : { surname }<br/>
    Family name : { name }<br/>
    Email : { email }
  </td>
  <td> 
    Phone : { phone }<br/>
    City : { city }<br/>
    Country : { country }
  </td>
 </tr>
</table>
<h3>Your demand</h3>
<table width="80%">
  <tr>
    <td>
      Start date: { startDate }<br/> 
      Nights: { nbOfNights }<br/>
      End date: { endDate }
    </td>
  </tr>
  </table>
<table style="width:80%">
  <thead>
          <tr>
              <td>Stay in:</td>
              <td>Price for 1 night</td>
              <td>Quantity of adults</td>
              <td>Quantity of children (4-6)</td>
              <td>Quantity of children (7-12)</td>
              <td>Price (ILS)</td>
          </tr>
      </thead>
      <tr>
          <td>Single room</td>
          <td>230 ILS /pers</td>
          <td> { adults1 }</td>
          <td></td>
          <td></td>
          <td>{{ price1}}</td>
      </tr>
      <tr >
          <td>Double room (twin or couple)</td>
          <td>140 ILS /pers</td>
          <td>{ adults2 }</td>
          <td>{ children2_50 }</td>
          <td>{ children2_25 }</td>
          <td>{ price2 }</td>
      </tr>
      <tr>
          <td>Triple or quadruple room</td>
          <td>120 ILS /pers</td>
          <td>{ adults3 }</td>
          <td>{ children3_50 }</td>
          <td>{ children3_25 }</td>
          <td>{ price3 }</td>
      </tr>
      <tr>
          <td>Meals</td>
          <td>65 ILS /pers</td>
          <td>{ adults_meal }</td>
          <td>{ children_meal_50 }</td>
          <td>{ children_meal_25 }</td>
          <td>{ price_meals}</td>
      </tr>
      <tr style="padding-top:12px">
          <td colspan="4"></td><td colspan="2" style="text-align:right"><b>Total ILS: </b>
              { total }
          </td>
      </tr>
  </table>

</body></html>
