<!--mail pour la réservation à l'Étoile de la Mer-->
<html><body>
  <h2>Demande de réservation</h2><br/>
  <h3>Identification</h3>
<table width="80%">
<tr>
  <td> 
    Nom : { nom }<br/>
    Prénom : { prenom }<br/>
    E-mail : { email }<br/>
    Téléphone : { telephone }
  </td>
  <td> 
    Adresse : { adresse }<br/>
    Code Postal : { codePostal }<br/>
    Ville : { ville }<br/>
    Pays : { country }
  </td>
 </tr>
</table>
<h3>Demande</h3>
<table width="80%">
  <tr >
    <td>
      Date prévue d'arrivée : { startDate }<br/> 
      Nombre de nuits : { nbOfNights }<br/>
      Date prévue de départ : { endDate }<br/><br/>
      Type d'hébergement : { hebergement }<br/>
    </td>
    <td>
      Groupe d'adultes (nombre envisagé) : { nombreAdultes }<br/> 
      Groupe de jeunes (nombre envisagé) : { nombreJeunes }<br/>
      Individuel (nombre envisagé) : { nombreIndividuel }<br/><br/>
    </td>   
  </tr>
  </table><br/>

  <p><b>Commentaires</b><br/>
  { remarks }</p>
  
  
  </div>
</body></html>
