<!--mail pour la réservation à Abuna Faraj Pilgrim House (Nazareth)-->
<html><body>
  <h3>Identification</h3>
<table width="80%">
<tr>
  <td> 
    Prénom : { surname }<br/>
    Nom : { name }<br/>
    Sexe : { sexe }
  </td>
  <td>
    Date de naissance : { ddn }<br />
    Tel : { phone }<br/>
    Email : { email }
  </td>
  <td> 
    Rue : { street }<br />
    Ville : { city }<br/>
    Code postal : { codepostal }<br />
    Pays : { country }
  </td>
 </tr>
</table>

<h3>Le séjour</h3>
<table width="80%">
  <tr >
    <td>
      Du: { startDate } au { endDate }
    </td>
  </tr>
</table>

<h3>Situation actuelle</h3>
<table width="80%">
  <tr >
    <td>
      Situation actuelle: { situation_actuelle }<br/> 
      Nom et adresse de l'école ou employeur: <br />{ nom_ecole_actuelle }
    </td>
  </tr>
</table>

<h3>Situation prévue</h3>
<table width="80%">
  <tr >
    <td>
      Situation prévue: { situation_prevue }<br/> 
      Préciser si autre lien à l'université : { autre_lien_univ_prevu }<br />
      Nom et adresse de l'école + section: <br />{ info_ecole_prevue }
    </td>
  </tr>
</table>

<h3>Détail des chambres et repas</h3>
<table width="80%">
  <tr >
    <td>
      Chambre: { type_chambre }
    </td>
    <td>
      Pension: { pension }
    </td>
  </tr>
  <tr>
    <td>
      Remarques pour les repas :<br />
      { remarks }
    </td>
  </tr>
</table>


</body></html>
