<span ng-class="{'glyphicon glyphicon-chevron-right': siteMapCtrl.getPageDisplay(menu.id), 'glyphicon glyphicon-chevron-down': !siteMapCtrl.getPageDisplay(menu.id)}"
   ng-click="siteMapCtrl.setPageDisplay(menu.id)" ng-if="menu.pages" class="glyphicon glyphicon-chevron-right"></span>
<a ng-href="{{menu.url}}">{{menu.text}}</a>

<ul class="no-list-style" ng-hide="siteMapCtrl.getPageDisplay(menu.id)" ng-if="menu.pages">
    <li ng-repeat="menu in menu.pages track by $index" ng-include="rubedo.themePath+'/templates/blocks/siteMap/list.html'"></li>
</ul>