
<div class="row full_page">
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5" ng-include="rubedo.themePath+'/templates/blocks/geoSearchResults/map_all.html'">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7 " style="padding-right:0">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-lg-push-6 geo-tags">
                <h3>{{rubedo.translate("PresDeChezToi.Titre", "Autour de vous")}}</h3>
                <p>{{rubedo.translate("PresDeChezToi.Propositions", "Toutes nos propositions autour de")}} : <input type="text" class="rubedo-places-search " focus-on-click="focus" placeholder="{{geoSearchResultsCtrl.city}}" ng-focus="focus">
                <span ng-click="focus=!focus" ng-init="focus==false" class="capital2" style="color:white">changer</span></p>
                <div class="panel-heading actus visible-xs-block" ng-click="searchDisplayed=!searchDisplayed" style="margin-bottom:12px">{{rubedo.translate("PresDeChezToi.Recherche", "Recherche avancée")}}</div>
                <div id="advanced-search" ng-class="{'displayed': searchDisplayed}" ng-init="searchDisplayed=false">
                    <div class="panel">
                        <form ng-submit="geoSearchResultsCtrl.onSubmit()" role="form">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="geoSearchResultsCtrl.query" placeholder="Search"/>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span></button></span>
                            </div>
                        </form>
                    </div>
                    <div class="panel panel-default panel-geo">
                        <div class="panel-heading actus"  ng-class="{'panel-hidden' :!propDisplayed }" ng-click="propDisplayed = !propDisplayed">{{geoSearchResultsCtrl.taxo['555f3bc445205edc117e689b'].name}}</div>
                        <div class="panel-body">
                            <ul class="search-tags" >
                                <li class="tags" ng-repeat="term in geoSearchResultsCtrl.taxo['555f3bc445205edc117e689b'].terms" ng-if="term.parentId=='root' "ng-click="geoSearchResultsCtrl.clickOnFacetsCheckbox('555f3bc445205edc117e689b', term.id)" ng-class=" {'checked' : geoSearchResultsCtrl.checkedRadio(term.id)}">
                                    {{term.text}}
                                </li>
                            </ul>
                            <input type="checkbox"  id="showProps" ng-model="geoSearchResultsCtrl.showPropositions" ng-change="geoSearchResultsCtrl.showAll('propositions')">
                            <label class="txt-white" for="showProps" >{{rubedo.translate("PresDeChezToi.Tous.Prop", "Toutes les propositions")}}</label>
                        </div>
                        <div class="panel-heading actus"  ng-class="{'panel-hidden' :!lieuxDisplayed }" ng-click="lieuxDisplayed = !lieuxDisplayed">{{geoSearchResultsCtrl.taxo['555a164d45205eea0a7e689b'].name}}</div>
                        <div class="panel-body">
                            <ul class="search-tags">
                                <li class="tags" ng-repeat="term in geoSearchResultsCtrl.taxo['555a164d45205eea0a7e689b'].terms" ng-if="term.parentId=='root' "ng-click="geoSearchResultsCtrl.clickOnFacetsRadio('555a164d45205eea0a7e689b', term.id)" ng-class=" {'checked' : geoSearchResultsCtrl.checkedRadio(term.id)}">
                                    {{term.text}}
                                </li>                                 
                            </ul>
                            <input type="checkbox"  id="showLieux" ng-model="geoSearchResultsCtrl.showLieux" ng-change="geoSearchResultsCtrl.showAll('lieux')">
                            <label class="txt-white" for="showLieux">{{rubedo.translate("PresDeChezToi.Tous.Lieux", "Tous les lieux")}}</label>
                        </div>
                        <div class="panel-heading actus "  ng-class="{'panel-hidden' :!rencontreDisplayed }" ng-click="rencontreDisplayed = !rencontreDisplayed">{{geoSearchResultsCtrl.taxo['56af638bc445ecdc008b5bec'].name}}</div>
                        <div class="panel-body">
                            <ul class="search-tags">
                                <li class="tags" ng-repeat="term in geoSearchResultsCtrl.taxo['56af638bc445ecdc008b5bec'].terms" ng-click="geoSearchResultsCtrl.clickOnFacetsRadio('56af638bc445ecdc008b5bec', term.id)" ng-class=" {'checked' : geoSearchResultsCtrl.checkedRadio(term.id)}">
                                    {{term.text}}
                                </li>                                 
                            </ul>
                            <input type="checkbox" id="showRencontres" ng-model="geoSearchResultsCtrl.showRencontres" ng-change="geoSearchResultsCtrl.showAll('rencontres')">
                            <label class="txt-white" for="showRencontres">{{rubedo.translate("PresDeChezToi.Tous.Rencontres", "Toutes les rencontres")}}</label>
                        </div>
                    </div>
                            
                    
                </div>

            </div>
            
            <div class="col-lg-6 col-md-12 col-lg-pull-6 geo-search">
                <a  ng-href="{{data.itemData.url}}"  rubedo-page-link="{{data.itemData['fields.propositionReferenceeInterne'][0] ? data.itemData['fields.propositionReferenceeInterne'][0]:''}} ng-repeat="data in geoSearchResultsCtrl.data | orderBy:'distance'">
                    <div class="row search-result " >
                        <div style="line-height: 60px; float:left" >
                            <img ng-src="/theme/cte/img/icons/gmaps-{{data.itemData.groupe}}.png" width="50px">
                        </div>
                        <p class="capital2" ng-class=" 'txt-'+data.itemData.groupe">{{data.itemData.groupe}}<span class="pull-right fa fa-arrow-circle-o-right" style="font-size:16px"></span></p>
                        <h4>{{data.itemData.title}}</h4>
                        <p ng-if="data.itemData.groupe == 'rencontre' || data.itemData.groupe == 'lieux' ">{{data.itemData['fields.position.address'][0]}}</p>
                        <p ng-if="data.itemData.groupe == 'evenement' "><span ng-if="data.itemData['fields.positionName'][0]">{{data.itemData['fields.positionName'][0]}} - </span><time ng-if="data.itemData['fields.dateDebut'][0]">{{data.itemData['fields.dateDebut'][0]|dateRange:data.itemData['fields.dateFin'][0]:'short'}}</time>
                    </div>
                </a>
                
            </div>
            
        </div>
    </div>
 

</div>