<!--<nav class="navbar navbar-default">
    <div class="navbar-header">
            <span class="navbar-brand">Search criteria :
                <span ng-repeat-start="term in geoSearchResultsCtrl.notRemovableTerms">{{term.operator}}</span><span
                        class="badge" ng-repeat-end>
                    {{term.label}}
                </span><span ng-repeat-start="term in geoSearchResultsCtrl.activeTerms">{{term.operator}}</span>
                <span class="badge cursor-as-pointer" ng-repeat-end
                      ng-click="geoSearchResultsCtrl.clickOnFacets(term.facetId, term.term)">
                    {{term.label}}&nbsp;&times;
                </span>
            </span>
    </div>
</nav>-->
<div class="row full_page">
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5" ng-include="rubedo.themePath+'/templates/blocks/geoSearchResults/map.html'" style="padding: 0">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7 " style="padding-right:0">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-lg-push-7 geo-tags">
                <h3>Autour de vous</h3>
                <p>Toutes nos propositions autour de : <input type="text" class="rubedo-places-search " focus-on-click="focus" placeholder="{{geoSearchResultsCtrl.city}}" ng-focus="focus">
                <span ng-click="focus=!focus" ng-init="focus==false" class="capital2" style="color:white">changer</span></p>
                <div class="panel-heading actus visible-xs-block" ng-click="searchDisplayed=!searchDisplayed" style="margin-bottom:12px">Recherche avancée</div>
                <div id="advanced-search" ng-class="{'displayed': searchDisplayed}" ng-init="searchDisplayed=false">
                    <div class="panel">
                        <form ng-submit="geoSearchResultsCtrl.onSubmit()" role="form">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="geoSearchResultsCtrl.query" placeholder="Search"/>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span></button></span>
                            </div>
                        </form>
                    </div>
                    <div class="panel panel-default panel-geo">
                        <div class="panel-heading actus" >Evénements</div>
                        <div class="panel-body">
                            <ul class="search-tags">
                                <!--
                                <li class="cursor-as-pointer" ng-if="facet.terms" ng-repeat="term in facet.terms" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">
                                    <input ng-class="{'disabled':searchResultsCtrl.disabled(term.term)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.term)"/>
                                    {{term.label}}&nbsp;({{term.count}})
                                </li>
                                <li class="cursor-as-pointer" ng-if="facet.ranges && term.count > 0" ng-repeat="term in facet.ranges" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.from)">
                                    <input ng-class="{'disabled':searchResultsCtrl.disabled(term.from)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.from)"/>
                                    {{term.label}}&nbsp;({{term.count}})
                                </li>
                        -->
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    couples, familles
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    séparés, divorcés
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    jeunes 14-18 ans
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    jeunes 18-30 ans
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    jeunes pros
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    week-end
                                </li>
                                 <li class="tags"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                   retraite
                                </li>
                            </ul>
                        </div>
                        <div class="panel-heading actus " >Lieux</div>
                        <div class="panel-body">
                            <ul class="search-tags">
                                <!--
                                <li class="cursor-as-pointer" ng-if="facet.terms" ng-repeat="term in facet.terms" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">
                                    <input ng-class="{'disabled':searchResultsCtrl.disabled(term.term)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.term)"/>
                                    {{term.label}}&nbsp;({{term.count}})
                                </li>
                                <li class="cursor-as-pointer" ng-if="facet.ranges && term.count > 0" ng-repeat="term in facet.ranges" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.from)">
                                    <input ng-class="{'disabled':searchResultsCtrl.disabled(term.from)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.from)"/>
                                    {{term.label}}&nbsp;({{term.count}})
                                </li>
                        -->
                                 <li class="cursor-as-pointer resultData search-result"  ng-click="searchResultsCtrl.clickOnFacetsRadio('5524db6945205e627a8d8c4e', '5524db8f45205ebd7a8d8c4c')" ng-class=" {'checked' : searchResultsCtrl.checked('5524db8f45205ebd7a8d8c4c')}">
                                    Oecuménisme
                                </li>
                            </ul>
                        </div>
                    </div>
                            
                    
                </div>

            </div>
            
            <div class="col-lg-7 col-md-12 col-lg-pull-5 geo-search">
                <a  ng-href="{{data.itemData.url}}" ng-repeat="data in geoSearchResultsCtrl.data | orderBy:'distance'"><div class="row search-result " >
                    <div style="line-height: 60px; float:left" >
                        <img ng-src="/assets/icons/gmaps-{{data.itemData.groupe}}.png" width="50px">
                    </div>
                    <p class="capital2" ng-class=" 'txt-'+data.itemData.groupe">{{data.itemData.groupe}}</p>
                    <h4>{{data.itemData.title}}</h4>
                    <p ng-if="data.itemData.groupe == 'rencontre' || data.itemData.groupe == 'lieux' ">{{data.itemData['fields.position.address'][0]}}</p>
                    <p ng-if="data.itemData.groupe == 'evenement' ">du {{data.itemData['fields.dateDebut'][0]* 1000 | date:'d MMM'}} au {{data.itemData['fields.dateFin'][0]* 1000 | date:'d MMM yyyy'}}</p>
                </div></a>
            </div>
            
        </div>
    </div>
 

</div>