<div ng-if="rubedo.current.user" ng-controller="AdminProductsListController as ctrl">
    <div class="panel panel-default">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom du produit</th>
                    <th>{{ rubedo.translate('Blocks.UserOrders.Date') }}</th>
                    <th>{{ rubedo.translate('Blocks.UserOrders.Price') }}</th>
                    <th>{{ rubedo.translate('Blocks.UserOrders.Shipper') }}</th>
                    <th>{{ rubedo.translate('Blocks.UserOrders.PaymentMeans') }}</th>
                    <th>{{ rubedo.translate('Blocks.UserOrders.Status') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.products track by $index">
                    <td><img ng-src="{{rubedo.imageUrl.getUrlByMediaId(item.fields.image ,{width:'50px',mode:'boxed'})}}" alt="product img"></td>
                    <td>{{ item.text }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.lastUpdateTime*1000| date: "shortDate" }}</td>
                    <td>{{ item.finalPrice|number : 2 }} €</td>
                    <td>{{ rubedo.translate('Payment.Means.'+ item.paymentMeans, item.paymentMeans) }}</td>
                    <td> {{ rubedo.translate('Blocks.UserOrders.Status.'+item.status,item.status) }}</td>
                    <td ng-if="userOrdersCtrl.orderDetailPageUrl">
                        <a ng-href="{{ userOrdersCtrl.orderDetailPageUrl }}?order={{ item.id }}" >
                            <button ng-click="handleCSEvent('orderClick')" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ rubedo.translate('Blocks.UserOrders.ViewDetails')}}</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
