<div class="col-sm-offset-6 btq-top" >
    <!--<span class="col-sm-12 " style="padding-left: 0;" ng-init="blockConfig={searchPage:'55c8777145205ef317c62e31'}">
        <span ng-controller="SearchFormController as searchFormCtrl" class="input-group-btn">
            <form  ng-submit="searchFormCtrl.onSubmit()" role="form" class="input-group col-md-10">
                <span  ng-if="searchFormCtrl.show">
                    <input class="form-control" type="text" ng-model="searchFormCtrl.query" placeholder="{{searchFormCtrl.placeholder}}"/>
                    <button class="btn btn-default top-hover" style="padding-bottom: 8px;"type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </form>
            
        </span>
    </span>-->
    
</div>
