<div class="container">
   <div class="col-sm-4" >
      <p class="capital">Liens utiles</p>
      <a  rubedo-page-link="56bde4f3c445ece7018b54de"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Nous contacter</a>
      <a href="https://www.facebook.com/CheminNeuf/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
      <a href="http://chemin-neuf.fr/fr/accueil/communaute-du-chemin-neuf/vie-de-la-communaute"><i class="fa fa-info-circle" aria-hidden="true"></i> Qui sommes nous ?</a>
      <a rubedo-page-link="55c8abfb45205e672cc62e10"><i class="fa fa-cart-plus" aria-hidden="true"></i> Conditions de vente</a>
      <a ng-if="rubedo.current.user && rubedo.current.user.rights.canEdit" rubedo-page-link="5810ce0c2456404b018bc4ef"><i class="fa fa-area-chart" aria-hidden="true"></i> Administration</a>
   </div>
   <div class="col-sm-4">
      <p class="capital">Nos boutiques</p>
      <a  href="http://chemin-neuf.fr/fr/pres-de-chez-toi/lieux-communautaires/555dd1bd45205e25337e688f/foyer-d-etudiants-lyon-henri-iv" target="_blank">Lyon</a>
      <a  href="http://www.hautecombe.org" target="_blank">Abbaye d'Hautecombe</a>
      <a  href="http://chemin-neuf.fr/fr/pres-de-chez-toi/abbayes/abbaye-des-dombes" target="_blank">Abbaye des Dombes</a>
      <a  href="http://abbaye-sablonceaux.com" target="_blank">Abbaye de Sablonceaux</a>
      <a href="http://chemin-neuf.fr/fr/pres-de-chez-toi/lieux-communautaires/560d4a2b45205e246841ea80/abbaye-de-boquen" target="_blank">Abbaye de Boquen</a>
      <a href="http://chemin-neuf.fr/fr/pres-de-chez-toi/lieux-communautaires/56efc160c445ec73208b6394/monastere-de-bouvines" target="_blank">Monastère de Bouvines</a>
   </div>
      
   <div class="col-sm-4">
      <a href="http://chemin-neuf.fr/" r>
         <img alt="" class="img-responsive" src="/dam?media-id=5723269ec445ec2d758c1a93&amp;" style="width: 100%" />
      </a>
      <p class="capital" style="border-color: transparent; text-align: center">2015-2016 © Chemin Neuf</p>
   </div>
</div>

