<div class="row">
   <div class="col-sm-3 col-xs-6">
      <a class="capital" href="http://www.chemin-neuf.fr/annuaire/france/qui_sommes_nous_view_remote?id=ccn">Qui sommes nous</a><br>
      <a class="capital" href="http://test.boutique.fr/fr/contact">Nous contacter</a>
   </div>

   <div class="col-sm-3 col-xs-6">
      <a class="capital" href=""></a>
      <a href=""></a><br />
   </div>

   <div class="col-sm-3 col-xs-6 col-xs-push-6 col-sm-push-0">
      <a class="capital" href=""></a>
      <a href=""></a><br />
   </div>

   <div class="col-sm-3 col-xs-6 col-xs-pull-6 col-sm-pull-0">
      <a class="capital" href=""></a>
      <a href=""></a><br />
   </div>
</div>

