<div class="container">
   <div class="col-sm-8" style="display: flex; flex-direction: column; justify-content: center; height: 200px;">
      <div class="row">
         <div class="col-xs-12 col-sm-6"><a class="capital" href="http://chemin-neuf.fr/fr/accueil/communaute-du-chemin-neuf/vie-de-la-communaute">Qui sommes nous ?</a>   </div>
         <div class="col-xs-12 col-sm-6"><a class="capital" rubedo-page-link="56bde4f3c445ece7018b54de">Nous contacter</a></div>
      </div>
      <div class="row">
         <!--<div class="col-xs-12 col-sm-4"><p class="capital">2015 © Chemin Neuf</p></div>-->
         <div class="col-xs-12 col-sm-6"><a class="capital" href="https://www.facebook.com/CheminNeuf/">Facebook</a></div>
         <div class="col-xs-12 col-sm-6"><a class="capital" rubedo-page-link="55c8abfb45205e672cc62e10">Conditions de vente</a></div>
         <!--<div class="col-xs-12 col-sm-4"><a class="capital" ng-if="rubedo.current.user" rubedo-page-link="569921aec445ec56008b4743">Documentation</a></div>-->
   
      </div>
   </div>
   <div class="col-sm-4">
      <a href="http://chemin-neuf.fr/" r>
         <img alt="" class="img-responsive" src="/dam?media-id=5723269ec445ec2d758c1a93&amp;" style="width: 100%" />
         <p class="capital" style="border-color: transparent">2015-2016 © Chemin Neuf</p>
      </a>
   </div>
</div>

