<div  role="navigation" ng-controller="MenuController as menuCtrl"    ng-init="search=false;menu=false;menu2=false">
    <!--[if IE]>

    <style>
        .navbar.footer.navbar-modal {
            width: 80%; margin-left: 20%;
        }
    </style>
    <![endif]-->
    <!--<div class="modal fade right {{menuCtrl.menuClass}}" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menu" aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<nav class="navbar footer navbar-modal" >-->
                <!--<div class="container-fluid menu">-->
                    <!--<div style="width:90%; margin-top:50px" id="accordion">-->
                        <!--<div class="menuTab">-->
                            <!--<a rubedo-page-link="562f32ff45205e453512ef7a" class="menu_header"><h4>Communauté du Chemin Neuf</h4></a>-->
                            <!--<span data-toggle="collapse"  href="#menuCCN" class="menuToggle glyphicon" ng-class="{'collapsed':menuCtrl.menuTab}" ng-if="menuCtrl.menuTab"></span>-->
                        <!--</div>-->
                        <!--<div id="menuCCN" class="collapse" ng-class="{'in':!menuCtrl.menuTab}" ng-include="rubedo.blockTemplateResolver.getTemplate('footer',{ })"></div>-->

                        <!--<div class="menuTab" ng-if="menuCtrl.menuTab">-->
                            <!--<a ng-href="{{menuCtrl.menu.url}}" class="menu_header">-->
                                <!--<h4>{{menuCtrl.menu.text}}</h4>-->
                            <!--</a>-->
                            <!--<span data-toggle="collapse" href="#menuBis" class="menuToggle glyphicon"></span>-->
                        <!--</div>-->
                        <!--<div ng-if="menuCtrl.menuTab" class="collapse in" id="menuBis">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-3 col-xs-6" ng-repeat="page in menuCtrl.menu.pages track by $index">-->
                                    <!--<a ng-if="!page.pages||blockConfig.menuLevel<=1" ng-href="{{page.url}}" class="capital">{{page.text}}</a>-->
                                    <!--<a ng-if="page.pages&&blockConfig.menuLevel>1" class="capital">{{page.text}}</a>-->
                                    <!--<a ng-repeat="subpage in page.pages track by $index" class="subpage" ng-href="{{subpage.url}}">{{subpage.text}}</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div style="height: 100%"></div>-->
                <!--</div>-->

            <!--</nav>-->
            <!--<div class="footer"></div>-->
        <!--</div>-->
    <!--</div>-->

    <nav class="n-navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav n-navbar-right">
                <li ng-click="search=!search" class="cursor-as-pointer">
                    <span class="glyphicon glyphicon-search" style="font-size:1.2em"></span>
                </li>
                <li>
                    <div ng-include="rubedo.blockTemplateResolver.getTemplate('shoppingCart',blockConfig)" ng-init="blockConfig={displayMode:'button' , cartDetailPage:'55c8777145205ef317c62e2d' , checkoutPage:'55c8ac3545205e972cc62e12'}"></div>

                </li>

                <li>
                    <!--<div ng-include="rubedo.blockTemplateResolver.getTemplate('signUp',blockConfig)" ng-init="blockConfig={displayMode:'pop-in' , redirectOnConnection:false , signUpPage:'56a79674c445eccb008b464c'}"></div>-->

                </li>

            </ul>
        </div>
        <div class="container-fluid searchbar"ng-class="{'displayed':search}">
            <div class="navbar-nav n-navbar-right" >
                <form ng-if="menuCtrl.searchEnabled" ng-submit="menuCtrl.onSubmit()"role="form">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="menuCtrl.query" ng-attr-placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
        </div>
    </nav>





</div>
