<div ng-controller="OrderDetailController as orderDetailCtrl">
    <h2 class="text-center">{{ rubedo.translate('Blocks.OrderDetails.OrderReview')}}</h2>
    <div class="row">
        <div class="col-md-8">
            <h3>{{ rubedo.translate('Blocks.OrderDetails.OrderNumber','',['%order%'],[orderDetailCtrl.order.orderNumber])}}</h3>
            <h4>{{rubedo.translate('Blocks.OrderDetails.Payment')}}</h4>
            <ul class="list-unstyled">
                <li><strong>{{ rubedo.translate('Blocks.OrderDetails.Payment.Means') }}</strong> : {{ orderDetailCtrl.order.paymentMeans }}</li>
                <li><strong>{{ rubedo.translate('Blocks.OrderDetails.Payment.Status') }}</strong> : {{ rubedo.translate('Blocks.UserOrders.Status.'+orderDetailCtrl.order.status,orderDetailCtrl.order.status) }}</li>
                <li ng-if="orderDetailCtrl.order.billingAddress.vatEin"><strong>{{ rubedo.translate('Blocks.OrderDetails.Payment.VatEin') }}</strong> : {{ orderDetailCtrl.order.billingAddress.vatEin }}</li>
            </ul>
            <rubedo-custom-template ng-if="orderDetailCtrl.paymentRichText" template="{{orderDetailCtrl.paymentRichText}}"></rubedo-custom-template>
            <button ng-if="orderDetailCtrl.showPaymentButton" class="btn btn-primary" ng-click="orderDetailCtrl.handlePaymentButtonClick()">Pay order</button>
            
            <form ng-if="orderDetailCtrl.showPaymentForm" id="payment" name="payment"  method="POST" action="https://preprod-tpeweb.paybox.com/cgi/MYchoix_pagepaiement.cgi">
                <input type="hidden" name="PBX_TYPEPAIEMENT" value="{{parametres.typePaiement}}">
                <input type="hidden" name="PBX_TYPECARTE" value="{{parametres.typeCarte}}">
                <input type="hidden" name="PBX_SITE" value="{{parametres.payboxSite}}">
                <input type="hidden" name="PBX_RANG" value="{{parametres.payboxRang}}">
                <input type="hidden" name="PBX_IDENTIFIANT" value="{{parametres.payboxIdentifiant}}">
                <input type="hidden" name="PBX_TOTAL" value="{{parametres.montantEnCentimes}}">
                <input type="hidden" name="PBX_DEVISE" value="{{parametres.codeMonnaieNumerique}}">
                <input type="hidden" name="PBX_CMD" value="{{parametres.commande}}">
                <input type="hidden" name="PBX_PORTEUR" value="{{parametres.email}}">
                <input type="hidden" name="PBX_RETOUR" value="{{parametres.payboxRetour}}">
                <input type="hidden" name="PBX_HASH" value="SHA512">
                <input type="hidden" name="PBX_TIME" value="{{parametres.dateTime}}">
                <input type="hidden" name="PBX_EFFECTUE" value="{{parametres.urlRetourNormal}}">
                <input type="hidden" name="PBX_REFUSE" value="{{parametres.urlRetourEchec}}">
                <input type="hidden" name="PBX_ANNULE" value="{{parametres.urlRetourEchec}}">
                <!--<input type="hidden" name="PBX_REPONDRE_A" value="{{parametres.urlCallback}}">-->
                <input type="hidden" name="PBX_HMAC" value="{{parametres.empreinteHasheeHex}}">
                <input type="submit" value="Envoyer">
            <form>            
            
            
            
            
            
            
            
            
            
        </div>
        <div class="col-md-4 text-right">
            <time>{{orderDetailCtrl.order.createTime*1000 | date: "shortDate"  }}</time>
        </div>
        <div ng-if="orderDetailCtrl.billDocumentUrl" class="col-md-4 text-right">
            <strong><a ng-href="{{orderDetailCtrl.billDocumentUrl}}" target="_blank">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                 {{ rubedo.translate('Blocks.OrderDetails.OrderBill')}}
            </a></strong>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{rubedo.translate('Blocks.OrderDetails.BillingAddress')}}</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>{{ orderDetailCtrl.order.billingAddress.company }}</strong><br />
                        <strong>{{ orderDetailCtrl.order.billingAddress.attention }}</strong><br />
                        {{ orderDetailCtrl.order.billingAddress.address1 }}<br />
                        {{ orderDetailCtrl.order.billingAddress.address2 }}<br />
                        {{ orderDetailCtrl.order.billingAddress.postCode }} {{ orderDetailCtrl.order.billingAddress.city }}<br />
                        {{ orderDetailCtrl.order.billingAddress.regionState }} {{ orderDetailCtrl.order.billingAddress.country }}<br />
                    </address>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{rubedo.translate('Blocks.OrderDetails.ShippingAddress')}}</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>{{ orderDetailCtrl.order.shippingAddress.company }}</strong><br />
                        <strong>{{ orderDetailCtrl.order.shippingAddress.attention }}</strong><br />
                        {{ orderDetailCtrl.order.shippingAddress.address1 }}<br />
                        {{ orderDetailCtrl.order.shippingAddress.address2 }}<br />
                        {{ orderDetailCtrl.order.shippingAddress.postCode }} {{ orderDetailCtrl.order.shippingAddress.city }}<br />
                        {{ orderDetailCtrl.order.shippingAddress.regionState }} {{ orderDetailCtrl.order.shippingAddress.country }}<br />
                    </address>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ rubedo.translate('Blocks.OrderDetails.OrderDetails') }}</h4>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ rubedo.translate('Blocks.OrderDetails.Table.Name') }}</th>
                            <th>{{ rubedo.translate('Blocks.OrderDetails.Table.Cost')}}</th>
                            <th>{{ rubedo.translate('Blocks.OrderDetails.Table.Amount') }}</th>
                            <th>{{ rubedo.translate('Blocks.OrderDetails.Table.Price') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in orderDetailCtrl.order.detailedCart.cart track by $index">
                            <td>
                                <img class="img-responsive" ng-if="product.image"
                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(product.image,{size:'thumbnail'}) }}"
                                     alt="{{ product.title }}"
                                        />
                            </td>
                            <td>
                                {{ product.title }}<br />
                                <small>{{ product.subtitle }}</small>
                            </td>
                            <td>{{ product.unitPrice | number : 2 }} €</td>
                            <td>{{ product.amount }}</td>
                            <td>{{ product.price | number : 2 }} €</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body text-right">
                    <h5><strong>{{ rubedo.translate('Blocks.Checkout.CheckoutSummary.SubTotal')}} :</strong> {{ orderDetailCtrl.order.detailedCart.totalPrice |number : 2 }} €</h5>
                    <h5><strong>{{ rubedo.translate('Blocks.OrderDetails.Table.ShippingMethod') }} : {{ orderDetailCtrl.order.shipper.name }} </strong> <small>{{ orderDetailCtrl.order.shipper.hRDelay }} {{ orderDetailCtrl.order.shipper.hRUnit }}</small> : {{ orderDetailCtrl.order.shipper.rate|number : 2 }} €</h5>
                    <h5><strong>{{ rubedo.translate('Blocks.OrderDetails.Table.ShippingTax')}} :</strong> {{ orderDetailCtrl.order.shipper.tax*orderDetailCtrl.order.shipper.rate/100 |number : 2 }} €</h5>
                    <h5><strong>{{ rubedo.translate('Blocks.OrderDetails.Table.ProductsTaxes') }} :</strong> {{ (orderDetailCtrl.order.detailedCart.totalTaxedPrice -  orderDetailCtrl.order.detailedCart.totalPrice)|number : 2 }} €</h5>
                    <h5><strong>{{ rubedo.translate('Blocks.OrderDetails.Table.TotalPrice') }} :</strong> {{ (orderDetailCtrl.order.detailedCart.totalTaxedPrice + orderDetailCtrl.order.shipper.rate+orderDetailCtrl.order.shipper.tax*orderDetailCtrl.order.shipper.rate/100)|number : 2}} €</h5>
                </div>
            </div>

            

        </div>
    </div>
</div>