<div ng-controller="ProductListController as contentListCtrl">
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="row">
        <div id="owl-id" class="owl-carousel" ng-attr-lr-infinite-scroll="loadMoreContents"
             ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
             ng-style="contentListCtrl.blockStyle">
            <!--<div id="infiniteScrollCtrl">-->
            <div   ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="rubedo-product-in-list" ng-controller="ProductListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index">
                    <div class="row">

                        <div ng-style="contentListCtrl.imageStyle"
                             ng-class="{'col-md-2':!(blockConfig.columns>1),'col-md-12':blockConfig.columns>1}">
                            <a  ng-href="{{ content.detailPageUrl }}" class="shadowed-image">
                                <img class="img-responsive center-block " ng-if="content.fields[contentListCtrl.imageField] "
                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[contentListCtrl.imageField],{mode:contentListCtrl.imageResizeMode,height:contentListCtrl.imageHeight,width:contentListCtrl.imageWidth}) }}"
                                     alt="{{ content.fields.text }}"
                                />
                            </a>
                        </div>
                        <div ng-class="{'col-md-8':!(blockConfig.columns>1),'col-md-12':blockConfig.columns>1}">
                            <h4>
                                <a ng-if="!fieldEditMode&&!contentListCtrl.isFOContributeMode" ng-href="{{ content.detailPageUrl }}">
                                    {{content.fields.text }}
                                </a>
                                <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                                    {{content.fields.text }} ( {{content.status}} )
                                </a>
                                <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                            </h4>
                            <p class="text-justify" ng-style="contentListCtrl.summaryStyle" ng-if="!contentListCtrl.titleOnly">
                                <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                            </p>
                        </div>
                        <div ng-if="!contentListCtrl.titleOnly" class="text-center" ng-class="{'col-md-2':!(blockConfig.columns>1),'col-md-12':blockConfig.columns>1}">
                            <h4>
                                <del ng-if="content.productProperties.lowestFinalPrice!=content.productProperties.lowestNoSoPrice"><small>{{content.productProperties.lowestNoSoPrice|number:2}} €</small></del>
                                <span ng-class="{'text-danger':content.productProperties.lowestFinalPrice!=content.productProperties.lowestNoSoPrice}">{{content.productProperties.lowestFinalPrice|number:2}} €</span></h4>
                            <a ng-if="!contentListCtrl.isFOContributeMode"  ng-href="{{ content.detailPageUrl }}">
                                <button class="btn btn-default">{{ rubedo.translate('Blocks.UserOrders.ViewDetails')}}</button>
                            </a>
                            <a ng-if="contentListCtrl.isFOContributeMode"  ng-href="{{ content.detailPageUrl+'?preview=true&preview_draft=true' }}">
                                <button class="btn btn-default">Preview detail</button>
                            </a>
                            <button ng-if="content.productProperties.variations.length==1"
                                    ng-click="contentListDetailCtrl.addToCart()"
                                    ng-disabled="!contentListDetailCtrl.canOrder()"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ rubedo.translate('Label.AddToCart')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <paginator ng-if="contentListCtrl.showPaginator" start="contentListCtrl.start" limit="contentListCtrl.limit"
               count="contentListCtrl.count" change-page-action="contentListCtrl.changePageAction()"></paginator>
</div>


<!--<div id="{{'block'+block.id}}" class="owl-carousel" ng-controller="CarouselController as carouselCtrl">-->
    <!--<div ng-repeat="content in carouselCtrl.contents track by $index" ng-if="content.fields[blockConfig.imageField]">-->
        <!--<a ng-href="{{content.detailPageUrl}}" >-->
            <!--<img ng-if="!isArray(content.fields[blockConfig.imageField])" class="lazyOwl" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}"-->
                 <!--alt="{{content.fields.text}}"-->
                 <!--title="{{content.fields.text}}">-->
            <!--<img ng-if="isArray(content.fields[blockConfig.imageField])" class="lazyOwl" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField][0],carouselCtrl.getImageOptions())}}"-->
                 <!--alt="{{content.fields.text}}"-->
                 <!--title="{{content.fields.text}}">-->
            <!--<div ng-if="blockConfig.showCaption" class="rubedo-caption">-->
                <!--<h3>{{content.fields.text}}</h3>-->
                <!--<p ng-if="blockConfig.showSummary">{{content.fields.summary}}</p>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->