<div ng-controller="RecommendedContentsController as rccCtrl" class="bg-degrade product-list-container" style="padding:0 48px;">
    <div class="row">
	<h3 ng-if="block.displayTitle" class="text-center">{{block.title}}</h3>

        <div class="col-xs-6 col-sm-4 rubedo-product-in-list" ng-repeat="content in rccCtrl.data track by $index" ng-class="rccCtrl.colClass">
            <div class="row">
                <div class="col-md-12" ng-if="rccCtrl.displayImage">
                    <a ng-href="{{ content.url }}" class="square">
                        <img class="img-responsive center-block" ng-if="content['fields.'+rccCtrl.imageField] && !rccCtrl.titleOnly"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['fields.'+rccCtrl.imageField],{mode:rccCtrl.imageResizeMode,height:rccCtrl.imageHeight,width:rccCtrl.imageWidth}) }}"
                             alt="{{ content.title }}"
                                />
			<img class="img-responsive center-block" ng-if="!content['fields.'+rccCtrl.imageField] && !rccCtrl.titleOnly"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId('580cc4382456408a078bb5b1',{mode:rccCtrl.imageResizeMode,height:rccCtrl.imageHeight,width:rccCtrl.imageWidth}) }}"
                             alt="{{ content.title }}"
                                />

                    </a>
                </div>
                <div class="col-sm-12">
                    <h4>
                        <a ng-href="{{ content.url }}">
                            {{content.title}}
                        </a>
                    </h4>
                   
                </div>
            </div>

        </div>
    </div>
    <paginator ng-if="blockConfig.showPager" start="rccCtrl.start" limit="rccCtrl.limit"
               count="rccCtrl.count" change-page-action="rccCtrl.changePageAction()"></paginator>
</div>