<div ng-controller="ShoppingCartController as shoppingCartCtrl">
    <div class="btn-group" ng-if="blockConfig.displayMode=='button'">
        <button ng-if="shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            {{ rubedo.translate('Label.Empty')}}
        </button>
        <button ng-if="!shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="badge">{{shoppingCartCtrl.detailedCart.totalItems}} </span>
            <span ng-show="shoppingCartCtrl.detailedCart.totalItems>1"> {{ rubedo.translate('Label.Items')}}</span>
            <span ng-show="shoppingCartCtrl.detailedCart.totalItems==1"> {{ rubedo.translate('Label.Item')}}</span>
            <!--<span class="caret"></span>-->
            <span class="sr-only">{{ rubedo.translate('Block.Auth.ToggleDropdown')}}</span>
        </button>
        <!--<button ng-if="!shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
            <!--<span class="caret"></span>-->
            <!--<span class="sr-only">{{ rubedo.translate('Block.Auth.ToggleDropdown')}}</span>-->
        <!--</button>-->
        <ul ng-if="!shoppingCartCtrl.cartIsEmpty" class="dropdown-menu" role="menu">
            <table class="table">
                <tr ng-repeat="row in shoppingCartCtrl.detailedCart.cart track by $index">
                    <td>{{row.title}}&nbsp;<small>{{row.subtitle}}</small></td>
                    <td>x&nbsp;{{row.amount}}</td>
                    <td><span
                            class="glyphicon glyphicon-plus cursor-as-pointer"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.addToCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span></td>
                    <td><span
                            class="glyphicon glyphicon-minus cursor-as-pointer"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span></td>
                    <td>{{row.taxedPrice | number : 2}}&nbsp;€</td>
                    <td><span
                            class="glyphicon glyphicon-remove cursor-as-pointer"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,row.amount); $event.stopPropagation();"></span></td>
                </tr>
            </table>
            <h5><strong>{{ rubedo.translate('Blocks.ShoppingCart.Total')}}</strong> : {{shoppingCartCtrl.detailedCart.totalTaxedPrice | number :2}} €</h5>
            <a ng-if="shoppingCartCtrl.checkoutPageUrl"
               ng-href="{{shoppingCartCtrl.checkoutPageUrl}}">
                <button class="btn btn-primary">{{ rubedo.translate('Label.Checkout')}}</button>
            </a>
            <a ng-if="shoppingCartCtrl.cartDetailPageUrl"
               ng-href="{{shoppingCartCtrl.cartDetailPageUrl}}">
                <button class="btn btn-primary">{{ rubedo.translate('Blocks.ShoppingCart.ViewCart')}}</button>
            </a>
        </ul>
    </div>
    <div class="panel panel-default" ng-if="blockConfig.displayMode=='detail'">
        <div class="panel-heading"><strong>{{ rubedo.translate('Label.ShoppingCart')}}</strong>
            <span ng-if="!shoppingCartCtrl.cartIsEmpty" class="badge"> {{shoppingCartCtrl.detailedCart.totalItems}} </span>
            <span ng-if="!shoppingCartCtrl.cartIsEmpty" ng-show="shoppingCartCtrl.detailedCart.totalItems>1"> {{ rubedo.translate('Label.Items')}}</span>
            <span ng-if="!shoppingCartCtrl.cartIsEmpty" ng-show="shoppingCartCtrl.detailedCart.totalItems==1"> {{ rubedo.translate('Label.Item')}}</span>
        </div>
        <div ng-if="shoppingCartCtrl.cartIsEmpty" class="panel-body" >
            <div class="alert alert-warning" role="alert">{{ rubedo.translate('Blocks.ShoppingCart.CartIsEmpty')}}</div>
        </div>
        <table ng-if="!shoppingCartCtrl.cartIsEmpty" class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.Name')}}</th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.UnitPrice')}}</th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.Number')}}</th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.AddRemove')}}</th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.Price')}}</th>
                <th>{{ rubedo.translate('Blocks.ShoppingCart.Label.Delete')}}</th>
            </tr>
            </thead>
            <tr ng-repeat="row in shoppingCartCtrl.detailedCart.cart track by $index">
                <td>
                    <img class="img-responsive" ng-if="row.image"
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(row.image,{size:'thumbnail'}) }}"
                         alt="{{ row.title }}"
                    />
                </td>
                <td>
                    {{row.title}}&nbsp;<small>{{row.subtitle}}</small>
                </td>
                <td>{{row.unitTaxedPrice | number : 2}} €</td>
                <td>x&nbsp;{{row.amount}}</td>
                <td><span
                        class="glyphicon glyphicon-plus cursor-as-pointer"
                        aria-hidden="true"
                        ng-click="shoppingCartCtrl.addToCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span>&nbsp;
                <span
                        class="glyphicon glyphicon-minus cursor-as-pointer"
                        aria-hidden="true"
                        ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span></td>
                <td>{{row.taxedPrice | number : 2}}&nbsp;€</td>
                <td><span
                        class="glyphicon glyphicon-remove cursor-as-pointer"
                        aria-hidden="true"
                        ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,row.amount); $event.stopPropagation();"></span></td>
            </tr>
        </table>
        <div ng-if="!shoppingCartCtrl.cartIsEmpty" class="panel-body text-right">
            <h5><strong>{{ rubedo.translate('Blocks.ShoppingCart.Total')}}</strong> : {{shoppingCartCtrl.detailedCart.totalTaxedPrice | number :2}} €</h5>
            <a ng-if="shoppingCartCtrl.checkoutPageUrl"
               ng-href="{{shoppingCartCtrl.checkoutPageUrl}}">
                <button class="btn btn-primary">{{ rubedo.translate('Label.Checkout')}}</button>
            </a>
        </div>
    </div>
</div>