<div class="row bloc-icone2">
            <div class="col-xs-12 col-sm-3">
                <div class="contain">
                        
                        <p></p>
                        
                            <div class="overlay">
                                <a class="case" href="https://www.foyersetudiants.org/fr/aix-sainteclaire/acces" rubedo-page-link="591b5394396588b335346ed2">
                                <p class="text">ACCES</p>
                                </a>
                            </div>

                </div>
                <p>5 minutes &agrave; pied du centre-ville d&#39;Aix</p>
            </div>
            
            <div class="col-xs-12 col-sm-3">
                <div class="contain">
                    <p></p>
                    
                        <div class="overlay">
                            <a class="case" href="https://www.foyersetudiants.org/fr/aix-sainteclaire/acces" rubedo-page-link="591b5394396588b335346ed2">
                            <p class="text">POSTULER</p>
                            </a>
                        </div>
                    
                </div>
                
                <p>50 places<br />
                &eacute;tudiant(e)s de 18 &agrave; 25 ans<br />
                &nbsp;<br/>
                Redevance mensuelle : 550€ tout-compris</p>
            </div>
            
                       
            <div class="col-xs-12 col-sm-3">
                <div class="contain">
                    <p></p>
                    
                        <div class="overlay">
                            <a class="case" href="https://www.foyersetudiants.org/fr/aix-sainteclaire/acces" rubedo-page-link="591b5394396588b335346ed2">
                            <p class="text">DÉCOUVRIR</p>
                            </a>
                        </div>
                    
                </div>
                
                <p>Chambres individuelles avec sanitaires (lavabo, douche, toilettes)<br />
                &nbsp;<br/>
                Salles communes<br />
                Chapelle</p>
                
                <p>&nbsp;</p>
            </div>
            
            <div class="col-xs-12 col-sm-3">
                <div class="contain">
                    <p></p>
                    
                        <div class="overlay">
                            <a class="case" href="https://www.foyersetudiants.org/fr/aix-sainteclaire/acces" rubedo-page-link="591b5394396588b335346ed2">
                            <p class="text">+ D'INFOS ?</p>
                            </a>
                        </div>
                    
                </div>
                
                <p>Petit déjeuner et repas du soir du lundi au vendredi<br />
                &nbsp;<br/>
                Wifi sécurisé<br/>
                Machine à laver</p>
            </div>
 
</div>
