<a rubedo-page-link="562f32ff45205e453512ef7a" style="font-size:16px; margin-bottom:24px"
><h4>Jeunes 14-18 ans</h4></a>
<span data-toggle="collapse" data-parent="#menuModal" href="#menuBis">Toggle</span>
<div class="text-left" id="menuBis">
        <div class="row">
                <div class="col-sm-3 col-xs-6">
                        <a class="capital" href="http://www.chemin-neuf.fr/annuaire/france/qui_sommes_nous_view_remote?id=ccn">La Mission 14-18 ans</a>
                        <a class="capital" href="http://www.chemin-neuf.fr/ou-nous-trouver/regions-de-france">Shut up and dance</a>
                </div>
       
                <div class="col-sm-3 col-xs-6">
                        <span class="capital">Propositions</span>
                        <a href="http://www.chemin-neuf.fr/cana-couples-familles-fr/cana">Week-ends nationaux</a><br />
                        <a href="http://www.chemin-neuf.fr/jeunes-fr/14-18-ans">Semaines nationales</a><br />
                        <a href="http://www.chemin-neuf.fr/jeunes-fr/18-30-ans">Ecole de langues</a><br />
                        <a href="http://www.chemin-neuf.fr/">Sablonceaux 2016</a><br />
                        <a href="http://www.chemin-neuf.fr/">Calendrier</a>
                </div>
       
                <div class="col-sm-3 col-xs-6 col-xs-push-6 col-sm-push-0">
                        <span class="capital">Dans ta région</span>
                        <a rubedo-page-link="562f903c45205ef14612ef7b">Lyon</a><br />
                        <a rubedo-page-link="562f904345205efe4612ef7a">Paris</a><br />
                        <a href="http://netforgod.tv">Bretagne</a><br />
                        <a href="http://netforgod.tv">Région Ouest</a><br />
                        <a href="http://netforgod.tv">Région Est</a><br />
                        <a href="http://netforgod.tv">Région Sud - Marseille</a>
                        <a href="http://netforgod.tv">Région Sud - Nice</a>
                </div>
       
       
                <div class="col-sm-3 col-xs-6 col-xs-pull-6 col-sm-pull-0">
                        <a class="capital" href="http://www.chemin-neuf.fr/aidez-nous/">S'engager</a>
                        <a rubedo-page-link="562fa47645205e4b4b12ef7a">5 minutes pour Dieu</a><br />
                        <a  href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don#table_projets">Eclats</a>
                </div>
        </div>
</div>