<div class="container">
<div id="{{'block'+block.id}}" class="owl-carousel" ng-controller="CarouselController as carouselCtrl" >
    <div ng-repeat="content in carouselCtrl.contents track by $index" ng-if="content.fields[blockConfig.imageField]" class="row">
            <div class="col-sm-6">
                <img ng-if="!isArray(content.fields[blockConfig.imageField])" class="lazyOwl img-responsive" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}"
                    alt="{{content.fields.text}}"
                    title="{{content.fields.text}}">
                <img ng-if="isArray(content.fields[blockConfig.imageField])" class="lazyOwl img-responsive" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField][0],carouselCtrl.getImageOptions())}}"
                        alt="{{content.fields.text}}"
                        title="{{content.fields.text}}">
            </div>
            <div class="col-sm-6" style="padding: 40px 50px 40px 0">
                <h1>{{content.fields.text}}</h1>
                <div ng-bind-html="content.fields.texte | unsafe"></div>
            </div>
            
               
    </div>
</div></div>