<div ng-controller="ContactBlockController as contactCtrl" class="container">
        
        
        
        <div class="row bloc-icone">
            <div class="col-xs-12 text-center">
                <p><a href="#bottom" ng-click="candidater=true;showFormulaire=false;isLadefense=true"></a></p>
                <h4>Je candidate!</h3>
            </div>
        </div>
        
        <ng-form name="inscription_form" role="form" ng-submit="contactCtrl.submit()" ng-if="candidater">
        
        
        <!-- Pour faire descendre le formulaire lors du choix du type de public-->
        <a name="bottom"></a>
               
        <div class="text-center">
                <h1 class="enTete">{{rubedo.translate("Block.Inscription.Fiche", "Formulaire de candidature")}}</h1><br/><br/><br/>
        </div>
        <div class="row text-center" style="margin-bottom:50px;">
            <div style="margin-bottom:12px;color:white;font-weight:bold;font-size:1.1em;" ><h4>{{rubedo.translate("Block.Inscription.Inscrire.Comme","S'inscrire comme")}}:</h4></div>
            <div class="row">
                <input type="radio"  name="statut" id="etudiant" value="etudiant" ng-model="contactCtrl.contactData.statut" ng-click="showFormulaire = true;etudiant=true;jeunePro=false">
                            <label for="etudiant" class="sexe_label boite">{{rubedo.translate("etudiant")}}</label>
            </div>
           
            <div class="row">
                <input type="radio"  name="jeunePro" id="jeunePro" value="jeunePro" ng-model="contactCtrl.contactData.statut" ng-click="showFormulaire = true;etudiant=false;jeunePro=true" required>
                        <label for="jeunePro" class="sexe_label boite">{{rubedo.translate("jeunePro")}}</label>
            </div>
        </div>
        <div ng-if="!showFormulaire" style="height: 430px;">
        </div>
        

        <div ng-if="showFormulaire">
                
                
                
                
                <h2  class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==1}" ng-click="contactCtrl.setCurrentStage(0,infos_personnelles.$valid)">{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>1"></span>
                </h2>
                <div id="inscriptionStage1" class="collapse in"> 
                    <ng-form name="infos_personnelles">
                            <div  class="row" ng-include="contactCtrl.general_infos_ladefense"></div>
                            <div class="row text-center">
                                <div class="button submit cursor-as-pointer" ng-class="{'disabled' : infos_personnelles.$invalid}" ng-click="contactCtrl.setCurrentStage(1,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                <p ng-if="infos_personnelles.$invalid && infos_personnelles.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                            </div>
                    </ng-form>
                </div>
                
                <h2 class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==2}" ng-click="contactCtrl.setCurrentStage(1,infos_familiales.$valid)">{{rubedo.translate("Block.Inscription.InfosFamiliales", "Informations familiales")}}
                                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>2"></span>
                </h2>
                <div id="inscriptionStage2" class="collapse">
                                    <ng-form name="infos_familiales">
                                            <div  class="row" ng-include="contactCtrl.family_infos"></div>
                                            <!--<div  class="row" ng-include="contactCtrl.freres_soeurs_infos"></div>-->
                                            <!--<div  class="row" ng-include="contactCtrl.freres_soeurs_infos"></div>-->
                                            <div class="row text-center">
                                                <div class="button submit cursor-as-pointer" ng-class="{'disabled' : infos_familiales.$invalid}" ng-click="contactCtrl.setCurrentStage(2,infos_familiales.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                                <p ng-if="infos_familiales.$invalid && infos_familiales.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                                            </div>
                                    </ng-form>
                </div>
                
                <h2 ng-if="etudiant" class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==3}" ng-click="contactCtrl.setCurrentStage(2,infos_travail.$valid)">{{rubedo.translate("Block.Inscription.Infos.Etudes", "Études")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>3"></span>
                </h2>
                <h2 ng-if="jeunePro" class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==3}" ng-click="contactCtrl.setCurrentStage(2,infos_travail.$valid)">{{rubedo.translate("Block.Inscription.Infos.Travail","Situation professionnelle")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>3"></span>
                </h2>
                
                <div id="inscriptionStage3" class="collapse">
                    <ng-form name="infos_travail">
                            <div  class="row" ng-include="contactCtrl.travail_infos"></div>
                            <div class="row text-center">
                                <div class="button submit cursor-as-pointer" ng-class="{'disabled' : infos_travail.$invalid}" ng-click="contactCtrl.setCurrentStage(3,infos_travail.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                <p ng-if="infos_travail.$invalid && infos_travail.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                            </div>
                    </ng-form>
                </div>
           
                
                <h2 class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==4}" ng-click="contactCtrl.setCurrentStage(3,infos_complementaires.$valid)">{{rubedo.translate("Block.Inscription.Ressources.Mensuelles","Ressources mensuelles à la date d'entrée souhaitée")}}
                                <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>4"></span>
                </h2>
                
                <div id="inscriptionStage4" class="collapse">
                    <ng-form name="infos_revenus">
                            <div  class="row" ng-include="contactCtrl.revenus_infos"></div>
                            <div class="row text-center">
                                <div class="button submit cursor-as-pointer" ng-class="{'disabled' : infos_revenus.$invalid}" ng-click="contactCtrl.setCurrentStage(4,infos_revenus.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                <p ng-if="infos_revenus.$invalid && infos_revenus.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                            </div>
                    </ng-form>
                </div>
                               
                <h2 class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==5}" ng-click="contactCtrl.setCurrentStage(4,infos_complementaires.$valid)">{{rubedo.translate("Block.Inscription.Infos.Complementaires","Informations complémentaires")}}
                                <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>5"></span>
                </h2>
                
                <div id="inscriptionStage5" class="collapse">
                            <ng-form name="infos_complementaires">
                                    <div  class="row" ng-include="contactCtrl.complement_infos_ladefense"></div>
                                    <div class="row text-center">
                                        <div class="button submit cursor-as-pointer" ng-class="{'disabled' : infos_complementaires.$invalid}" ng-click="contactCtrl.setCurrentStage(5,infos_complementaires.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                        <p ng-if="infos_complementaires.$invalid && infos_complementaires.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                                    </div>
                            </ng-form>
                </div>
                
                
                <h2 class="capital txt-red" ng-class="{'displayed' : contactCtrl.currentStage==6}" ng-click="contactCtrl.setCurrentStage(5,lettre_motivation.$valid)">{{rubedo.translate("Block.Inscription.Motivation","Lettre de motivation")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="contactCtrl.currentStage>6"></span>
                </h2>
                
                <div id="inscriptionStage6" class="collapse">
                    <ng-form name="lettre_motivation">
                            <div  class="row" ng-include="contactCtrl.lettre_motivation"></div>
                            <div class="row text-center">
                                <div class="button submit cursor-as-pointer" ng-class="{'disabled' : lettre_motivation.$invalid}" ng-click="contactCtrl.setCurrentStage(6,lettre_motivation.$valid);postuler=true" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                <p ng-if="lettre_motivation.$invalid && lettre_motivation.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs","Merci de bien remplir tous les champs obligatoires")}}</p>
                            </div>
                    </ng-form>
                    
                    
                    
                    
                </div>
                <div ng-if="postuler">
                    <div class="row text-center" style="margin-top:100px">
                        <h3>Bravo tu es allé au bout du formulaire, il ne te reste plus qu'à envoyer ta candidature</h3>
                        <p style="font-family: FontAwesome;font-size: 50px;margin:50px;"></p>
                        <div class="button submit cursor-as-pointer" ng-init="confirmMsg=false;" ng-class="{rouge: inscription_form.$valid, disabled: inscription_form.$invalid, submit: inscription_form.$invalid}" ng-click="contactCtrl.submit();confirmMsg=true;">Je postule!</div>
                    </div><br/>
                  
                    <div class="row confirm" ng-if="confirmMsg">
                        Réservation envoyée avec succès !<br> Ne considérez votre demande comme confirmée qu'à réception d'un mail de confirmation de notre part.
                    </div>
                </div>
 
        </div>
            
        </ng-form>

</div>


<style>
  div.confirm {
    margin-top: 1em;
    padding: 1em;
    background-color: #b9d5b9;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 0px #a8c1a0;
    font-family: Montserrat, Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .enTete {
    color: #41a0c7!important;
    background-color: #fff;
    font-weight: bold;
    padding: 20px;
  }
</style>
