<style>
    .grid{ margin: 0 auto; display: block; margin-bottom: 50px;}
/* fluid 5 columns */
.masonry-brick { width: 100%;background: white; margin-bottom: 35px;    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);}
.gutter-sizer{width:0%}

@media screen and (min-width: 400px) {.masonry-brick { width: 49%; }.gutter-sizer{width:2%}}
@media screen and (min-width: 768px) {.masonry-brick { width: 32%; }.gutter-sizer{width:2%}}
@media screen and (min-width: 1200px) {.masonry-brick { width: 32%; } .gutter-sizer{width:2%}}

</style>
<div ng-controller="ContentListController as contentListCtrl">

    <div class="row contentList" ng-switch="blockConfig.columns" style="margin-top:24px">
    <div class="col-xs-12 media" ng-if="block.displayTitle"><h3 class="block-title">{{block.title}}</h3></div>
       <!--POUR 1 COLONNE-->
       <div ng-attr-lr-infinite-scroll="loadMoreContents"
             ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
             ng-style="contentListCtrl.blockStyle" ng-switch-when="1">
            
            <div class="col-md-12">
                <a ng-href="{{ content.detailPageUrl }}" ng-repeat="content in contentListCtrl.contents track by $index">>> {{content.fields.text }}</a>
            </div>
        </div>
       
       
       <!--POUR 3 COLONNES : BLOG-->
       <div ng-attr-lr-infinite-scroll="loadMoreContents"
             ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
             ng-style="contentListCtrl.blockStyle" ng-switch-when="3">
            <!--<div id="infiniteScrollCtrl">-->
            <div class="col-md-12" ng-if="contentListCtrl.contents.length>0">
                <div class="grid" masonry  masonry-options="{ gutter: '.gutter-sizer',percentPosition: true }" reload-on-resize>
                    <div class="masonry-brick" ng-repeat="content in contentListCtrl.contents track by $index"  ng-controller="ContentListDetailController as contentListDetailCtrl">
                        <div class="post-header">
                            <a ng-href="{{ content.detailPageUrl }}"><h3>{{content.fields.text }}</h3></a>
                        </div>
                        <!--<h4><a target="{{searchResultsCtrl.target(datum)}}" ng-href="{{datum.url}}"></a></h4>-->
                        <div class="featured-media">
                            <a ng-href="{{ content.detailPageUrl }}">
                                <img class="img-responsive " ng-if="content.fields.image" style="width:100%"
                                    ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'266px',mode:'crop'}) }}"
                                    alt="{{content.fields.text }}"/></a>
                        </div>
                        <div class="post-content">
                            <p>{{content.fields.summary }}</p>
                            <p><a ng-href="{{ content.detailPageUrl }}">{{rubedo.translate("Block.ContentList.Label.ReadMore","")}} →</a></p>
                        </div>
                        <!--<div class="post-meta">
                            <time><i class="fa fa-clock-o"></i> {{content.createTime*1000 | date:'mediumDate'}}</time>
                        </div>-->
                    
                    </div>
                    <div class="gutter-sizer"></div>
                </div>
            </div>
                
            
            
            <!--
            <div ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="col-md-4 col-sm-6 col-xs-12" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index">
                    <div class="list-blog">
                        <a ng-href="{{ content.detailPageUrl }}">
                            <img ng-if="!isArray(content.fields.image)" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'266px',mode:'crop'}) }}" style="width:100%">
                            <img ng-if="isArray(content.fields.image) " ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image[0],{width:'400px',height:'266px',mode:'crop'}) }}" style="width:100%">
                            <div class="blog-bg">
                            </div>
                            <div class="blog-plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                        </a>
                    </div>

                    <div class="blog-title">
                        <p ng-style="{'height':contentListCtrl.contentHeight}">{{content.fields.text }}</p>
                    </div>
                    <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                        {{rubedo.translate("Label.Edit", "Edit")}}
                    </a>                
                </div>
            </div>-->
        </div>
          
         
    </div>
</div>
