<div ng-controller="SearchResultsController as searchResultsCtrl">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand" ng-if="searchResultsCtrl.count > 1">{{rubedo.translate('Search.ThereAre','There are')}} <span class="badge">{{searchResultsCtrl.count}}</span> {{rubedo.translate('Search.Results','results')}}</span>
            <span class="navbar-brand" ng-if="searchResultsCtrl.count <= 1">{{rubedo.translate('Search.ThereIs','There is')}} <span class="badge">{{searchResultsCtrl.count}}</span> {{rubedo.translate('Search.Result','result')}}</span>
        </div>
    </nav>
    <ng-include src="searchResultsCtrl.template"></ng-include>
</div>