{{$scope.field.config.name}}
<div class="form-group" ng-controller="CheckboxGroupController as ctrl">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="col-sm-4 control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div class="col-sm-8" id="{{fieldIdPrefix+'_'+field.config.name}}">
        <label class="checkbox-inline" ng-repeat="item in field.config.items track by $index">
            <input type="checkbox" name="{{field.config.name}}" ng-value="item.inputValue" ng-model="fieldEntity[field.config.name][field.config.name]"> {{item.boxLabel}}
        </label>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>

<!--
cType":"checkboxgroup",
"config":
        {"name":"questions1",
        "items":[
                {"inputValue":"motivation","boxLabel":"Demander une lettre de motivation","name":"questions1"},
                {"inputValue":"entretien","boxLabel":"Annoncer qu'il y aura un entretien","name":"questions1"},
                {"inputValue":"situation_conjugale","boxLabel":"Demander la situation conjugale et la date de mariage ","name":"questions1"},
                {"inputValue":"parent_seul","boxLabel":" Permettre famille avec un seul parent ","name":"questions1"},
                {"inputValue":"jai_connu","boxLabel":" Demander comment la personne a connu la proposition ","name":"questions1"}
        ],
        "fieldLabel":"Information complémentaires",
        "searchable":false,
        "notAnalyzed":false,
        "returnInSearch":false,
        "useAsFacet":false,
        "facetOperator":"AND",
        "allowBlank":true,
        "multivalued":false,
        "localizable":false,
        "tooltip":"",
        "labelSeparator":" ",
        "i18n":{"fr":{"fieldLabel":"Information complémentaires"}}},"protoId":"517f7bf7c0e0512c05000001"}
        -->