<div class="form-group" ng-controller="ContentChoiceController as contentLinkCtrl">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}}</label>
    <div>
        <select ng-if="!field.config.multivalued"
                class="form-control"
                id="{{fieldIdPrefix+'_'+field.config.name}}"
                ng-required="!field.config.allowBlank"
                ng-options="content.id as content.title for content in contentLinkCtrl.contents"
                ng-model="fieldEntity[field.config.name]"
                ><option value=''></option></select>
        <select ng-if="field.config.multivalued"
                class="form-control"
                id="{{fieldIdPrefix+'_'+field.config.name}}"
                ng-required="!field.config.allowBlank"
                ng-options="content.id as content.title for content in contentLinkCtrl.contents"
                ng-model="fieldEntity[field.config.name]"
                multiple="multiple"
                ></select>
        
<span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>
