<div ng-controller="EmbeddedImageController as imgCtrl">
    <input type="file" onchange="previewFile()"><br>
    <img src="" height="200" alt="Image preview...">
    <!--
    <div ng-if="fieldEntity[field.config.name].imageCode">
        <img ng-if="!fieldEntity[field.config.name].url"
             ng-src="{{fieldEntity[field.config.name].imageCode}}"
             alt="{{fieldEntity[field.config.name].alt}}"
             class="img-responsive">
        <a ng-if="fieldEntity[field.config.name].url" ng-href="{{fieldEntity[field.config.name].url}}">
            <img ng-src="{{fieldEntity[field.config.name].imageCode}}"
                 alt="{{fieldEntity[field.config.name].alt}}"
                 class="img-responsive">
        </a>
    </div>    -->
</div>
