<div class="form-group" ng-if="rubedo.current.user&&field.config.allowedDAMTypes" ng-controller="MediaFieldController as mediaFieldCtrl">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div >
        <div ng-if="mediaFieldCtrl.fileTypeTemplate" ng-include="mediaFieldCtrl.fileTypeTemplate"></div>
        <rubedo-notification ng-if="mediaFieldCtrl.notification" ng-init="notification=mediaFieldCtrl.notification"></rubedo-notification>
        <input type="file"
               id="{{fieldIdPrefix+'_'+field.config.name}}"
               ng-required="!field.config.allowBlank"
               file-model="mediaFieldCtrl.newFile"
                >

        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>