<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default btq-panel">
            <div class="panel-heading">
                <form ng-submit="searchResultsCtrl.onSubmit()" role="form">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="searchResultsCtrl.query" placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary btq-panel" ng-repeat="facet in searchResultsCtrl.facets track by $index" ng-if="facet.terms || facet.ranges">
            <div class="panel-heading">{{facet.label}}&nbsp;<span
                    ng-if="facet.total && (facet.total - facet.other) <= searchResultsCtrl.count" class="badge pull-right">{{facet.total - facet.other}}</span></div>
            <div class="panel-body" >
                <ul>
                    <li style="list-style-type: none" class="cursor-as-pointer" ng-if="facet.terms" ng-repeat="term in facet.terms track by $index" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">
                        <input ng-class="{'disabled':searchResultsCtrl.disabled(term.term)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.term)"/>
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                    <li  style="list-style-type: none" class="cursor-as-pointer" ng-if="facet.ranges && term.count > 0" ng-repeat="term in facet.ranges track by $index" ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.key)">
                        <input ng-class="{'disabled':searchResultsCtrl.disabled(term.from)}" type="checkbox" ng-checked="searchResultsCtrl.checked(term.key)"/>
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;" ng-class="{'col-md-6 col-lg-4':searchResultsCtrl.productDisplayMode=='grid','col-md-12':searchResultsCtrl.productDisplayMode=='list'}" ng-repeat="content in searchResultsCtrl.data track by $index">
                <!--<h4><a target="{{searchResultsCtrl.target(datum)}}" ng-href="{{datum.url}}">{{datum.title}}</a></h4>-->
                <div class="row rubedo-product-in-list">

                    <div ng-style="searchResultsCtrl.imageStyle"
                         ng-class="{'col-md-12':searchResultsCtrl.productDisplayMode=='grid','col-md-2':searchResultsCtrl.productDisplayMode=='list'}">

                        <a ng-href="{{ content.url }}">
                            <img class="img-responsive center-block" ng-if="content['fields.'+searchResultsCtrl.imageField] && !searchResultsCtrl.titleOnly"
                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['fields.'+searchResultsCtrl.imageField],{mode:searchResultsCtrl.imageResizeMode,height:searchResultsCtrl.imageHeight,width:searchResultsCtrl.imageWidth}) }}"
                                 alt="{{ content.title }}"
                            />
                        </a>
                    </div>
                    <span class="two-last-elements-of-product">
                    <div ng-class="{'col-md-12':searchResultsCtrl.productDisplayMode=='grid','col-md-8':searchResultsCtrl.productDisplayMode=='list'}">
                        <h4>
                            <a ng-href="{{ content.url }}">
                                {{content.title}}
                            </a>
                        </h4>
                        <!--<p class="text-justify" ng-style="searchResultsCtrl.summaryStyle">-->
                            <!--{{content.summary}}-->
                        <!--</p>-->
                    </div>
                    <div class="text-center" ng-class="{'col-md-12':searchResultsCtrl.productDisplayMode=='grid','col-md-2':searchResultsCtrl.productDisplayMode=='list'}">
                        <h4 class="col-md-8" style="padding: 0">
                            <span  ng-if="content.productProperties.lowestFinalPrice!=content.productProperties.lowestNoSoPrice"><small class="del">{{content.productProperties.lowestNoSoPrice|number:2}} €</small></span>
                            <span ng-class="{'text-danger':content.productProperties.lowestFinalPrice!=content.productProperties.lowestNoSoPrice}">{{content.productProperties.lowestFinalPrice|number:2}} €</span>
                        </h4>
                        <!--<a ng-href="{{ content.url }}"><button class="btn btn-default">{{ rubedo.translate('Blocks.UserOrders.ViewDetails')}}</button></a>-->
                        <button ng-if="content.productProperties.variations.length==1"
                                ng-click="searchResultsCtrl.addToCart(content)"
                                ng-disabled="!searchResultsCtrl.canOrder(content)"
                                class="btn btn-default col-md-4">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            <!--<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ rubedo.translate('Label.AddToCart')}}-->
                        </button>
                    </div>
                </span>
                </div>
            </div>
        </div>
        <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                   count="searchResultsCtrl.count"
                   change-page-action="searchResultsCtrl.changePageAction()"></paginator>
    </div>
</div>