<div class="row full_page">
    <div class="col-xs-12 col-sm-7 col-md-8" ng-include="rubedo.themePath+'/templates/blocks/geoSearchResults/map.html'" style="padding-right: 0">
    </div>
    <div class="col-md-4 col-xs-12 geo-search ">
        <h2>{{rubedo.translate("NFG.Find", "Trouve un Point Net près de chez toi")}}</h2>
                <div class="row search-result {{data.itemData.class}}" ng-repeat="data in geoSearchResultsCtrl.data | orderBy:'itemData.nextDate'" ng-class="{'open':geoSearchResultsCtrl.displayedItemId == data.itemData.id}" id="{{data.itemData.id}}">
                    <div ng-show="geoSearchResultsCtrl.displayedItemId == data.itemData.id" class="container-fluid image">
                        <img ng-if="data.itemData['fields.image'][0]" style="width:100%"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId(data.itemData['fields.image'][0],{width:'400px',height:'150px',mode:'crop'})}}"
                             alt="{{ data.itemData.title }}"/>
                    </div>
                    <div class="container-fluid item">
                        <div>
                            <h3 ng-click="geoSearchResultsCtrl.displayedItemId == data.itemData.id" class="cursor-as-pointer">{{data.itemData.title}}</h3>
                            <p>{{data.itemData['i18n.'+lang+'.fields.subTitle'][0]}}</p>                        
                        </div>
                        <div class="text-center pull-right date" >
                            <h4 ng-if="data.itemData.nextDate">{{data.itemData.nextDate*1000 |date:'d MMM'}}</h4>
                            <h4 ng-if="!data.itemData.nextDate">no date</h4>
                        </div>
                    </div>
                    <div ng-if="geoSearchResultsCtrl.displayedItemId == data.itemData.id" class="container-fluid">
                       <h3><a  ng-href="{{ data.itemData.url }}" class="link pull-right">{{rubedo.translate("NFG.GoToPoint", "Page du Point Net")}} →</a></h3>
                    </div>
                    <a ng-if="!fieldEditMode&&rubedo.current.user" ng-href="{{ geoSearchResultsCtrl.editorPageUrl+'?content-edit='+data.itemData.id }}" title="éditer un contenu" class="btn btn-default ng-binding ng-scope">
                                <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}
                    </a>
                </div>
            
            
    </div>
 

</div>