<div class="map-container">
    <google-map ng-if="geoSearchResultsCtrl.display()"
                center="geoSearchResultsCtrl.map.center"
                zoom="geoSearchResultsCtrl.map.zoom"
                events="geoSearchResultsCtrl.mapEvents"
                control="geoSearchResultsCtrl.mapControl"
                draggable="true">
        <map-control ng-if="geoSearchResultsCtrl.activatePlacesSearch"
                     template="{{geoSearchResultsCtrl.placesSearchTemplate}}"
                >
        </map-control>
        <markers
                ng-if="!geoSearchResultsCtrl.apiClusterMode"
                models="geoSearchResultsCtrl.data"
                idKey="'id'"
                coords="'coordinates'"
                options="'markerOptions'"
                doCluster="true"
                doRebuildAll="true"
                clusterOptions="geoSearchResultsCtrl.clusterOptions"
                events="geoSearchResultsCtrl.markerEvents"
                clusterEvents="geoSearchResultsCtrl.smallClusterEvents"
                >
        </markers>
        <markers ng-if="geoSearchResultsCtrl.apiClusterMode"
                 models="geoSearchResultsCtrl.data"
                 idKey="'id'"
                 coords="'coordinates'"
                 doRebuildAll="true"
                 doCluster="true"
                 options="'markerOptions'"
                 clusterOptions="geoSearchResultsCtrl.apiClusterOptions"
                 clusterEvents="geoSearchResultsCtrl.clusterEvents"
                >
        </markers>

    </google-map>
    <div class="colors">
        <p ng-if="geoSearchResultsCtrl.showColors" ng-click="geoSearchResultsCtrl.showColors= !geoSearchResultsCtrl.showColors">Understanding <a>colors</a></p>
        <p ng-if="geoSearchResultsCtrl.showColors">Date of the next Point Net meeting</p>
        <p ng-if="geoSearchResultsCtrl.showColors"><span class="icon-geotag"></span>1 week<span class="icon-geotag"></span>1 month<span class="icon-geotag"></span>longer<br/>
            <span class="icon-geotag"></span>2 weeks<span class="icon-geotag"></span>2 months</p>
    </div>
</div>