<div class="map-container">
    <google-map ng-if="geoSearchResultsCtrl.display()"
                center="geoSearchResultsCtrl.map.center"
                zoom="geoSearchResultsCtrl.map.zoom"
                events="geoSearchResultsCtrl.mapEvents"
                control="geoSearchResultsCtrl.mapControl"
                draggable="true">
        <map-control ng-if="geoSearchResultsCtrl.activatePlacesSearch"
                     template="{{geoSearchResultsCtrl.placesSearchTemplate}}"
                >
        </map-control>
        <markers
                ng-if="!geoSearchResultsCtrl.apiClusterMode"
                models="geoSearchResultsCtrl.data"
                idKey="'id'"
                coords="'coordinates'"
                options="'markerOptions'"
                doCluster="true"
                doRebuildAll="true"
                clusterOptions="geoSearchResultsCtrl.clusterOptions"
                events="geoSearchResultsCtrl.markerEvents"
                clusterEvents="geoSearchResultsCtrl.smallClusterEvents"
                >
        </markers>
        <markers ng-if="geoSearchResultsCtrl.apiClusterMode"
                 models="geoSearchResultsCtrl.data"
                 idKey="'id'"
                 coords="'coordinates'"
                 doRebuildAll="true"
                 doCluster="true"
                 options="'markerOptions'"
                 clusterOptions="geoSearchResultsCtrl.apiClusterOptions"
                 clusterEvents="geoSearchResultsCtrl.clusterEvents"
                >
        </markers>

    </google-map>
    <!---pre load markers-->
    <img style="display:none" src="/theme/netforgod/img/maps/date1sel.png">
    <img style="display:none" src="/theme/netforgod/img/maps/date2sel.png">
    <img style="display:none" src="/theme/netforgod/img/maps/date3sel.png">
    <img style="display:none" src="/theme/netforgod/img/maps/date4sel.png">
    <img style="display:none" src="/theme/netforgod/img/maps/date5sel.png">
    <div class="colors">
        <p ng-if="!geoSearchResultsCtrl.showColors" ng-click="geoSearchResultsCtrl.showColors= !geoSearchResultsCtrl.showColors">{{rubedo.translate('Map.Comprendre','Understanding')}} <a>{{rubedo.translate('Map.CodeCouleur','colors')}}</a></p>
        <p ng-if="geoSearchResultsCtrl.showColors" ng-click="geoSearchResultsCtrl.showColors= !geoSearchResultsCtrl.showColors" class="txt-light pull-right cursor-as-pointer">x {{rubedo.translate('Map.Compris','got it')}}</p>
        <p ng-if="geoSearchResultsCtrl.showColors">{{rubedo.translate("Map.NextMeetingDate",'Date of the next Point Net meeting')}}</p>
        <p ng-if="geoSearchResultsCtrl.showColors">
            <span class="icon-geotag txt-rouge"></span>1 {{rubedo.translate('Map.Semaine','week')}}
            <span class="icon-geotag txt-main"></span>1 {{rubedo.translate('Map.Mois','month')}}
            <span class="icon-geotag txt-light"></span>{{rubedo.translate('Map.Plus','longer')}}
        </p>
        <p ng-if="geoSearchResultsCtrl.showColors">
            <span class="icon-geotag txt-orange"></span>2 {{rubedo.translate('Map.Semaines','weeks')}}
            <span class="icon-geotag txt-link"></span>2 {{rubedo.translate('Map.Mois2','months')}}
        </p>
    </div>
</div>