<style>
  .carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<div id="{{'block'+block.id}}" class="carousel slide" ng-controller="FWCarouselController as carouselCtrl">
  <ol class="carousel-indicators">
    <li ng-repeat="content in carouselCtrl.contents" 
      ng-if="content.fields[blockConfig.imageField]" 
      data-target="{{'block'+block.id}}"
      data-slide-to="{{$index}}"
      ng-class="{'active':$first}">
    </li>
  </ol>

  <div class="carousel-inner">
      <div class="item" 
            ng-repeat="content in carouselCtrl.contents" 
            ng-if="content.fields[blockConfig.imageField]"
            ng-class="{'active':$first}">
          <!-- Set the first background image using inline CSS below. -->
          <div class="fill" style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}');"></div>
          <div class="carousel-caption">
              <h3>{{content.fields.text}}</h3>
              <p ng-if="blockConfig.showSummary">{{content.fields.summary}}</p>
          </div>
      </div>
  </div>
       <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
  
</div>

 
