<style>
  .carousel,
.item,
.active {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<div id="{{'block'+block.id}}" class="carousel slide" ng-controller="FWCarouselController as carouselCtrl">
  <ol class="carousel-indicators">
    <li ng-repeat="content in carouselCtrl.contents" 
      ng-if="content.fields[blockConfig.imageField]" 
      data-target="{{'block'+block.id}}"
      data-slide-to="{{$index}}"
      ng-class="{'active':$first}">
    </li>
  </ol>

  <div class="carousel-inner">
      <div class="item" 
            ng-repeat="content in carouselCtrl.contents" 
            ng-if="content.fields[blockConfig.imageField]"
            ng-class="{'active':$first}">
          <!-- Set the first background image using inline CSS below. -->
          <div class="fill" style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}');"></div>
          <div class="homepage_txt">
              <p>{{content.fields.text}}</p>
              <p ng-if="blockConfig.showSummary">{{content.fields.summary}}</p>
              <p ng-if="blockConfig.showSummary">{{content.fields.summary}}</p>
              <p >{{content.fields.titre2}}</p>
              <p ng-repeat="text in content.fields.subTitle">{{text}}</p>
          </div>
      </div>
  </div>
       <!-- Controls -->

  
</div>

 
