<style>

    
        .carousel-inner .item {
            transition-property: opacity;
        }
        
        .carousel-inner .item,
        .carousel-inner .active.left,
        .carousel-inner .active.right {
            opacity: 0;
        }

        .carousel-inner .active,
        .carousel-inner .next.left,
        .carousel-inner .prev.right {
            opacity: 1;
        }

        .carousel-inner .next,
        .carousel-inner .prev,
        .carousel-inner .active.left,
        .carousel-inner .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }


  .carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  
    height: 100vh;
}
@media screen and (max-width:500px){.carousel-inner{height:50vh}}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<div id="{{'block'+block.id}}" class="carousel slide carousel-fade" ng-controller="FWCarouselController as carouselCtrl" style="margin-top:-50px">
  <ol class="carousel-indicators">
    <li ng-repeat="content in carouselCtrl.contents" 
      ng-if="content.fields[blockConfig.imageField]" 
      data-target="{{'block'+block.id}}"
      data-slide-to="{{$index}}"
      ng-class="{'active':$first}"
      ng-click="carouselCtrl.slideTo($index)">
    </li>
  </ol>

  <div class="carousel-inner">
      <div class="item" 
            ng-repeat="content in carouselCtrl.contents" 
            ng-if="content.fields[blockConfig.imageField]"
            ng-class="{'active':$first}">
          <!-- Set the first background image using inline CSS below. -->
          <div class="fill" afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],{width:'500px',mode:'boxed'})}} 480w, {{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],{width:'1000px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}} 1650w"
               afkl-lazy-image-options='{"background": true}'></div>
          
           
		
          
          
          
          <div class="homepage_txt">
              <p>{{content.fields.text}}</p>
              <p>{{content.fields.summary}}</p>
              <p >{{content.fields.titre2}}</p>
              <p ng-repeat="text in content.fields.subTitle">{{text}}</p>
          </div>
      </div>
  </div>
       <!-- Controls -->

  
</div>

 
