<div  ng-controller="ContentDetailController as contentDetailCtrl" ng-attr-id=" {{block.code}}">
    <button ng-if="fieldEditMode"
            title="Edit full content"
            class="btn btn-default"
            ng-click="contentDetailCtrl.launchFullEditor()">
        <span class="glyphicon glyphicon-list-alt"></span>
    </button>
    <div ng-switch="contentDetailCtrl.content.type.code">
        <div ng-switch-when="pageJMJ">
            <a ng-attr-name="{{block.title | split:'/':0}}"></a>
    
            <div class="row">
                    <div class="col-xs-12 ">
                    <!--<rubedo-field ng-init="field = contentDetailCtrl.content.type.fields[2]" ng-if="fieldEntity[contentDetailCtrl.content.type.fields[2].config.name]" ></rubedo-field>-->
                            <div  ng-if="!fieldInputMode"
                                  ng-init="field = contentDetailCtrl.content.type.fields[1]"
                                  ng-if="fieldEntity[contentDetailCtrl.content.type.fields[1].config.name]" >
                                    <div ng-controller="MediaFieldController as mediaFieldCtrl" style="background-image: url({{rubedo.imageUrl.getUrlByMediaId(mediaFieldCtrl.media.id ,{width:'1600px',mode:'boxed'})}})" class="parallax section-header">
                                    
                                    </div>	
                            </div>
                            <div class="section-header-title">
                                    <div ng-init="field = contentDetailCtrl.content.type.fields[0]" ng-if="fieldEntity[contentDetailCtrl.content.type.fields[0].config.name]"  style>
                                            <h1 ng-if="!fieldEditMode">{{fieldEntity[field.config.name]}}</h1>
                                            <h1 ng-if="fieldEditMode"
                                               ng-controller="RTEFieldController as rteFieldCtrl"
                                               ckeditor="editorOptions"
                                               contenteditable="true"
                                               ready="setCKEIsReady()"
                                               ng-model="fieldEntity[field.config.name]"
                                               output-plain-text="true"
                                               ng-bind-html="rteFieldCtrl.html">
                                            </h1>
                                            <h1></h1>
                                    </div>
                            </div>
                            <div class="section-header-txt" ng-class=" {'left' : fieldEntity[contentDetailCtrl.content.type.fields[3].config.name]}">
                                    <div style="line-height: normal; display: inline-block;vertical-align: middle">
                                            <rubedo-field  field = "{{contentDetailCtrl.getFieldByName('desc_img')}}"></rubedo-field>
                                    </div>
                            </div>
                    </div>
            </div>
            
            <div class="row text-center text-bg " ng-if="fieldEntity['texteRiche']" ng-class="{'bg1' : fieldEntity['listBox'] == 1 ,
                                                                                    'bg2' : fieldEntity['listBox'] == 2,
                                                                                    'bg3' : fieldEntity['listBox'] == 3 }">
                    <rubedo-field field =  "{{contentDetailCtrl.getFieldByName('texteRiche')}}" ></rubedo-field>
                            
            </div>
        </div>
    
        <div ng-switch-when="contenuJMJ">
            <div class="row text-center text-bg tiroir" ng-class="{'bg1' : fieldEntity['listBox'] == 1 ,
                                                                                    'bg2' : fieldEntity['listBox'] == 2,
                                                                                    'bg3' : fieldEntity['listBox'] == 3 }"
                                                                            ng-init="showTab=false">
                    <div class="col-xs-6 tiroir-header">
                            <div field = "{{contentDetailCtrl.getFieldByName('text')}}"   class="titre_tiroir" ng-class="{ tab : $parent.showTab}" ng-click="$parent.showTab = !$parent.showTab ">
                                    <h1 ng-if="!fieldEditMode">{{fieldEntity['text']}}
                                            <rubedo-field  class="icon_tiroir" field = "{{contentDetailCtrl.getFieldByName('icon')}}"  ></rubedo-field>
                                    </h1>
                                    <h1 ng-if="fieldEditMode"
                                       ng-controller="RTEFieldController as rteFieldCtrl"
                                       ckeditor="editorOptions"
                                       contenteditable="true"
                                       ready="setCKEIsReady()"
                                       ng-model="fieldEntity[field.config.name]"
                                       output-plain-text="true"
                                       ng-bind-html="rteFieldCtrl.html">
                                    </h1>
                            </div>
                            
                            
                            
                            
                    </div>
                <div class="col-xs-6 text-left">
                        <rubedo-field  field= "{{contentDetailCtrl.getFieldByName('intro')}}"></rubedo-field><!--description-->
                </div>
        
                <div class="col-xs-12 tab_tiroir"  ng-class="{ 'displayed' : $parent.showTab}">
                        <rubedo-field  field= "{{contentDetailCtrl.getFieldByName('pave')}}" ></rubedo-field><!--description-->
                </div>
            </div>
        </div>
        <div ng-switch-when="actualites">

	    <header class="container-fluid content" style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1650px',mode:'boxed'}) }}')" ng-if="fieldEntity['image']">
		    <div class="text-article container">
			    <p class='capital'>{{contentDetailCtrl.content.createTime*1000 | date:'longDate'}}</p>
			    <div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
				    <h1 class="balance-text" ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
				    <h1 ng-if="fieldEditMode"
				       ng-controller="RTEFieldController as rteFieldCtrl"
				       ckeditor="editorOptions"
				       contenteditable="true"
				       ready="setCKEIsReady()"
				       ng-model="fieldEntity['text']"
				       output-plain-text="true"
				       ng-bind-html="rteFieldCtrl.html">
				    </h1>
			    </div>
	    
		    </div>
	    </header>
	    <header class="container-fluid" ng-if="!fieldEntity['image']">
		    <div class="text-article container">
			    <p class='capital txt-red' style="text-shadow: none">{{contentDetailCtrl.content.createTime*1000 | date:'longDate'}}</p>
			    <div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
				    <h1 class="text-left" ng-if="!fieldEditMode" style="text-shadow: none">{{fieldEntity['text']}}</h1>
				    <h1 ng-if="fieldEditMode"
				       ng-controller="RTEFieldController as rteFieldCtrl"
				       ckeditor="editorOptions"
				       contenteditable="true"
				       ready="setCKEIsReady()"
				       ng-model="fieldEntity['text']"
				       output-plain-text="true"
				       ng-bind-html="rteFieldCtrl.html">
				    </h1>
			    </div>
	    
		    </div>
	    </header>
    
	    <div class="container">
	    <div class="row">
		    <div class="col-xs-12">
			    <div class="text-article">
				    <div ng-controller="AddThisShareController as addThisShareCtrl" class=" col-xs-12 col-sm-3 col-sm-push-9">
				    
					<div class="socials addthis_toolbox addthis_32x32_style addthis_default_style" data-url="{{ rubedo.current.page.contentCanonicalUrl }}" data-title="{{rubedo.current.page.title}}">
					    <a class="addthis_button_facebook txt-red" href=""><img class="hidden"><i class="fa fa-facebook-official"></i> </a>
					    <a class="addthis_button_twitter txt-red"><img  class="hidden"><i class="fa fa-twitter-square"></i> </a>
					    <a class="addthis_button_gmail txt-red" ><img class="hidden"><i class="fa fa-share-square"></i></a>
					    <!--<a class="addthis_button_print txt-red" ><img class="hidden"><i class="fa fa-print"></i></a>-->
					
					    <a class="addthis_button_expanded txt-red"><img class="hidden"><i class="fa fa-plus-square"></i></a>
					    <a  class="addthis_counter addthis_bubble_style"></a>
				    
					</div>
					{{addThisShareCtrl.loadAddThis()}}
				    </div>
				    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
					    <rubedo-field class="capital tags"  field =  "{{contentDetailCtrl.getFieldByName('author')}}"></rubedo-field><!--Auteur-->					
				    </div>
			    </div>
		    </div>
		    <div class="col-xs-12 " ng-if="fieldEntity['video']">
			    <div class="text-article">
				    <jwplayer video-url="{{fieldEntity['video']}}"></jwplayer>
			    </div>
		    </div>
		    <div class="col-xs-12">
			    <div class="text-article">
				    <rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
			    </div>
		    </div>
		    <div class="col-xs-12">
			    <div class="text-article">
				    <rubedo-field field = "{{contentDetailCtrl.getFieldByName('externalMedia')}}"  ng-if="fieldEntity['externalMedia']" ></rubedo-field><!--Video-->
				    <rubedo-field field = "{{contentDetailCtrl.getFieldByName('audio')}}"   ng-if="fieldEntity['audio']"></rubedo-field><!--Audio-->							
			    </div>
		    </div>
	    </div>
	    <div class="row" >
		    <div class="text-article">
			    <span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['5524db6945205e627a8d8c4e']" class="capital tags pull-right">{{contentDetailCtrl.getTermInTaxo("5524db6945205e627a8d8c4e",taxonomy)}}</span>
		    </div>
		    
	    </div>
	    </div>
    
	    <div style="margin-top:24px"></div>
		
	</div>
	<div ng-switch-default >
	    <div ng-include="contentDetailCtrl.detailTemplate"></div>
	</div>
    </div>
</div>