<div ng-controller="ContentListController as contentListCtrl" ng-switch="contentListCtrl.usedContentTypes[0]" >
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> Contribute
    </button>
    
    <!--PHOTOS-->
    <div class="row bg-photos padding-tb" ng-switch-when="552bda1945205e53368a64ea" >
        
        <div class="container">
                <div class="col-sm-6 pull-left hidden-xs">
                        <h3 class="album-title">{{contentListCtrl.gallery.title | uppercase}}</h3><!--Titre-->
                        <p class="album-desc"><span class="font-jmj date"></span>{{contentListCtrl.gallery.date* 1000 | date:'d MMM'}} <span class="font-jmj lieu"></span> {{contentListCtrl.gallery.location}}</p>
                        <div class="gallery-left" ng-click="contentListCtrl.changePage('left')"><span>e</span></div>
                        <div ng-if="contentListCtrl.gallery.images" ng-repeat="image in contentListCtrl.gallery.images | limitTo:contentListCtrl.gallery.start+contentListCtrl.gallery.nbImages | limitTo:-contentListCtrl.gallery.nbImages" class="pull-left gallery-img">
                                <img class="img-rounded" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'150px',height:'100px',mode:'crop'})}}" ng-attr-alt="{{image.title}}" ng-attr-title="{{image.title}}"
                                     ng-click="contentListCtrl.gallery.currentIndex=contentListCtrl.gallery.start+$index"/>
                        </div>
                        <div class="gallery-right" ng-click="contentListCtrl.changePage('right')"><span>d</span></div>
        
                </div>
                <div class="col-sm-6 pull-left">
                        <div class="gallery-full-left visible-xs-block" ng-click="contentListCtrl.prevImg()"><span>e</span></div>
                        <img class="img-responsive img-rounded" ng-src="{{rubedo.imageUrl.getUrlByMediaId(contentListCtrl.gallery.images[contentListCtrl.gallery.currentIndex].id,{width:'570px', height:'380px', mode:'crop'})}}"
                             ng-attr-alt="{{contentListCtrl.images[contentListCtrl.gallery.currentIndex].title}}" ng-attr-title="{{contentListCtrl.images[contentListCtrl.gallery.currentIndex].title}}"/>
                        <div class="gallery-full-right visible-xs-block" ng-click="contentListCtrl.nextImg()"><span>d</span></div>
                </div>
        </div>
        <div class="clearfix"></div>
        
        <!---Content list-->
        <div class="container padding-tb">
            <div class="col-xs-6 cursor-as-pointer" ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="media text-center" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index" ng-click="contentListCtrl.changeGallery(content)">
                    <img ng-if="content.fields.image && !contentListCtrl.titleOnly"
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'320px',height:'215px',mode:'crop' }) }}"
                         alt="{{ content.fields.text }}" style="width:80%; margin-bottom: 24"/>
                    <h4>
                        <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                    </h4>
                    <p>{{content.fields.date * 1000 | date:'d MMMM'}} | {{content.fields.position.address}}</p>
                    </p>
                    <a ng-if="contentListCtrl.isFOContributeMode" class="pull-right" ng-href="{{ content.detailPageUrl+'?preview=true&preview_draft=true' }}">
                        Preview detail
                    </a>
                </div>
            </div>
        </div>
    </div>
 
 
<!--VIDEOS-->
    <div class="row bg-videos padding-tb" ng-switch-when="56094a2245205e0e2541ea77" >
        
       
        <!---Content list-->
        <div class="container padding-tb">
            <div class="col-xs-6 cursor-as-pointer" ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="media text-center" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index" >
                    <jwplayer video-url="{{content.fields.video.url}}"></jwplayer>
                    <h4>
                        <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>

  
<!--ACTUS-->
    <div class="row bg-videos padding-tb" ng-switch-when="5517c04245205ec708869bc6" >
        
       <div class="container"
        <!---Content list-->
        <div class="col-sm-8 col-xs-12 padding-tb">
            <div ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="media text-center" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index">
                    <img class="media-object" ng-if="content.fields.image && !contentListCtrl.titleOnly"
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'600px'}) }}"
                         alt="{{ content.fields.text }}" style="width:80%"/>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ng-if="!fieldEditMode&&!contentListCtrl.isFOContributeMode" ng-href="{{ content.detailPageUrl }}">
                                {{content.fields.text | uppercase}}
                            </a>
                            <!--<a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                                {{content.fields.text }} ( {{content.status}} )
                            </a>-->
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                        </h4>
                        <span>{{ content.createTime*1000 | date }}</span>
                        <p  ng-style="{'height':contentListCtrl.contentHeight}" ng-if="!contentListCtrl.titleOnly&&fieldEditMode">
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                        </p>
                        <p  ng-style="{'height':contentListCtrl.contentHeight}" ng-if="!contentListCtrl.titleOnly&&!fieldEditMode">
                            {{content.fields.summary}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-sm-4" ng-init = "blockConfig={'theme':'normal','mode':'tweets','widgetId':'651025227502198784','account':'Festival_WTP','width':'300','options':['noHeader']}">
                <div ng-include="rubedo.blockTemplateResolver.getTemplate('twitter',blockConfig)"></div>
        </div>

        
        
        
        
    </div>
    </div>

    
    
</div>