<div ng-controller="ContentListController as contentListCtrl">
    
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="container">
    <div class="row" ng-switch="blockConfig.columns">
        <h1>Actualités</h1>
        <!--POUR 3 COLONNES-->
        <div ng-attr-lr-infinite-scroll="loadMoreContents"
             ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
             ng-style="contentListCtrl.blockStyle" ng-switch-when="3">
            <!--<div id="infiniteScrollCtrl">-->
            <div class="col-md-4 col-xs-6 col-xxs-12" ng-repeat="columnContents in contentListCtrl.contentList" ng-init="columnIndex = $index" >
                <div class="media" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents">
                   <a ng-if="!fieldEditMode" ng-href="{{ content.detailPageUrl }}">
                    
                    <div class="media-body">
                        <h4 class="list-item-title capital"><span>
                                {{content.fields.text}}
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field></span>
                        </h4>
                        
                        <div class="list-item-img">
                            <img class="media-object pull-left" ng-if="content.fields.image"
                                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',mode:'boxed'}) }}"
                                                 alt="{{ content.fields.text }}"/>       
                        </div>
                                             
                        <p  ng-style="{'height':contentListCtrl.contentHeight}" ng-if="!contentListCtrl.titleOnly">
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                        </p>
                    </div>
                   </a>

                </div>
            </div>
        </div>
 </div>
    <paginator ng-if="contentListCtrl.showPaginator" start="contentListCtrl.start" limit="contentListCtrl.limit"
               count="contentListCtrl.count" change-page-action="contentListCtrl.changePageAction()"></paginator>
</div>