<div ng-controller="ContentListController as contentListCtrl" ng-switch="contentListCtrl.usedContentTypes[0]">
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> Contribute
    </button>
    <div class="row bg-photos" ng-switch-when="552bda1945205e53368a64ea" >
        <div  ng-style="contentListCtrl.blockStyle" class="container">
            <!--<div id="infiniteScrollCtrl">-->
            <div ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                <div class="media text-center" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index">
                    <img ng-if="content.fields.image && !contentListCtrl.titleOnly"
                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px'}) }}"
                         alt="{{ content.fields.text }}" style="width:80%; margin-bottom: 24"/>
                    <h4>
                        <a ng-if="!fieldEditMode&&!contentListCtrl.isFOContributeMode" ng-href="{{ content.detailPageUrl }}">
                            {{content.fields.text }}
                        </a>
                        <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                            {{content.fields.text }} ( {{content.status}} )
                        </a>
                        <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                    </h4>
                    <p>{{content.fields.date * 1000 | date:'d MMMM'}} | {{content.fields.position.address}}</p>
                    </p>
                    <a ng-if="contentListCtrl.isFOContributeMode" class="pull-right" ng-href="{{ content.detailPageUrl+'?preview=true&preview_draft=true' }}">
                        Preview detail
                    </a>
                </div>
            </div>
        </div>
    </div>

    <paginator ng-if="contentListCtrl.showPaginator" start="contentListCtrl.start" limit="contentListCtrl.limit"
               count="contentListCtrl.count" change-page-action="contentListCtrl.changePageAction()"></paginator>
</div>