<div ng-controller="MediaListController as mediaListCtrl" class="row bg-videos padding-tb">
    <div ng-if="mediaListCtrl.display" class="container">
        <div class="col-xxs-6 col-xs-6 text-center" ng-repeat="media in mediaListCtrl.media track by $index" style="border:2px solid white">
             {{ media.title }}
            <!--<a  class="pull-left" ng-href="{{ media.url }}" target="_blank">
                <img ng-src="{{ rubedo.imageUrl.getThumbnailUrlByMediaId(media.id) }}" ng-attr-alt="{{media.title}}" class="media-object pull-left" ng-attr-title="{{media.title}}" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ media.title }}
                </h4>
            </div>-->
        </div>
     </div>
</div>