<div ng-controller="MenuController as menuCtrl">
<nav role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="navbar-nav nav navbar-toggle" data-target="#bs-example-navbar-collapse-1"  data-toggle="collapse">
	    <li class="home-button"><a href="">Æ</a></li>
	    <li class="home-button"><a  ng-href="{{menuCtrl.menu.url}}">$</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
           	<li class="home-button hidden-xs">
                    <a  ng-href="{{menuCtrl.menu.url}}">$</a>
                </li>

		<li ng-repeat="page in menuCtrl.pagesBlocks" class="lvl-1" ng-class="{active:menuCtrl.currentRouteleine.indexOf(page.url) > -1, dropdown:page.blocks.length>1}">
                    <a ng-if="page.blocks.length<=1" ng-href="{{page.url}}">{{page.title | lowercase}}</a>
                    <a ng-if="page.blocks.length>1" ng-href="{{page.url}}" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown" >{{page.title | lowercase}}</a>
                    <ul ng-if="page.blocks.length>1" class="dropdown-menu-jmj hidden-xs" role="menu">
                        <li ng-repeat="bloc in page.blocks | orderBy :'title' track by $index" class="" >
			    <!--<a ng-if="menuCtrl.currentRouteleine.indexOf(page.url) > -1" ng-href="{{page.url}}#{{bloc.title | split:'/':0}}">{{bloc.title | split:'/':1}}</a>-->
			    <a  ng-href="{{page.url}}?anchor={{bloc.title | split:'/':0}}">{{bloc.title | split:'/':1 | lowercase}}</a>
                        </li>
                    </ul>
                </li>		
            </ul>
            <ul class="nav navbar-nav navbar-right nav-item follow">
            	<li class="home-button hidden-xs hidden-sm">
            		<a href="https://twitter.com/@Festival_WTP" target="_blank">ú</a>
            	</li>
            	<li class="home-button hidden-xs hidden-sm">
            		<a href="https://facebook.com/mission.jeunes.chemin.neuf.18.30" target="_blank">\</a>
            	</li>
            	<li class="home-button hidden-xs hidden-sm">
            		<a href="https://youtube.com/Jeunes1830ans" target="_blank">’</a>
            	</li>
            	<li class="home-button">
            		<a rubedo-page-link="5570489045205e1154a22040">C</a>
            	</li>
            </ul>
            
            <!--	<li ng-controller="LanguageMenuController as languageMenuCtrl">
		        <span>
		        	<img  ng-src="{{languageMenuCtrl.getFlagUrl(languageMenuCtrl.currentLang.flagCode)}}" alt="{{languageMenuCtrl.currentLang.flagCode}}" style="vertical-align: top"/>
		        </span>
		        <div>
		        <a ng-repeat="lang in languageMenuCtrl.languages" ng-click="languageMenuCtrl.changeLang(lang.lang)" href ng-if="!languageMenuCtrl.isDisabled(lang.lang)">
		        	<span><img ng-src="{{languageMenuCtrl.getFlagUrl(lang.flagCode)}}" alt="{{lang.flagCode}}"/></span>
		        </a>
		    	</div>
		</li>-->

<div ng-controller="LanguageMenuController as languageMenuCtrl" class="pull-right">
    <div class="btn-group nav-item language">
        <span>
        	<img  ng-src="{{languageMenuCtrl.getFlagUrl(languageMenuCtrl.currentLang.flagCode)}}" alt="{{languageMenuCtrl.currentLang.flagCode}}" style="vertical-align: top"/>
        </span>
        <div>
        <a ng-repeat="lang in languageMenuCtrl.languages" ng-click="languageMenuCtrl.changeLang(lang.lang)" href ng-if="!languageMenuCtrl.isDisabled(lang.lang)">
        	<span><img ng-src="{{languageMenuCtrl.getFlagUrl(lang.flagCode)}}" alt="{{lang.flagCode}}"/></span>
        </a>
	</div>
    </div>
</div>
</div>
    </div>
</nav>
