/* le conteneur du menu */
ng-include.ng-scope > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  /* background-image: url("/dam?media-id=5bf6a796396588d3585e5a8b"), url("/dam?media-id=5bf6aa2d396588eb5c5e5a92");
  background-origin: left bottom, left top;
  background-size: contain, contain;
  background-repeat: no-repeat, repeat; */
  background-image: url("https://i.pinimg.com/600x315/12/cd/08/12cd083547cbafbb4794e6bd825c6f89.jpg");
  background-repeat: repeat;
}


.texte {
  max-width: 860px;
  font-size: 1.1em;
  line-height: 1.4em;
  padding-top: 1rem;
}

/* le titre du menu */
h1, h2, h3, h4 {
  padding-bottom: 5rem;
  font-family: 'Playfair Display', Consolas;
  color: white;
}
h1 {
  margin-top: 15rem;
  font-size: 5rem;
}

h1::after { /* le trait bleu sous le titre */
  content: "";
  display: block;
  position: relative;
  left: 38%;
  top: 39px;
  width: 24%;
  height: 3px;
  background-color: #006BA8;
}

/* Le texte d'intro du menu */
h1 + p {
  color: #777;
  font-family: Calibri;
  font-style: italic;
  text-indent: 24px;
  padding-bottom: 7rem;
}

/* sous-titres */
h2 {
  font-family: 'Playfair Display', Consolas;
  font-size: 2.7rem;
}

table.menu {
  margin-bottom: 5rem;
  font-family: Calibri;
  width: 100%;
  overflow-x: hidden;
  border-collapse: separate;
  border-spacing: 1.5rem;
}

table.menu td.menu_name {
  font-weight: 300;
  width: 100%;
  
  /* pour creer les points de conduite */
  vertical-align:bottom;
  background-image:radial-gradient(black 1px, white 0px);
  background-size: 8px 8px;
  background-repeat:repeat-x;
  background-position: left bottom;
}

td.menu_name span {
  background-color: white;
  padding-right: 0.5rem;
}

td.menu_price {
  padding-left: 1rem;
  min-width: 90px;
}


/*///////////////////////////////////////////////////
/////////// MENUS ///////////////////
//////////////////////////////////////////////////*/

.menuweek {
  text-align: center;
}
.menuday {
  position: relative;
  background-color: hsl(42, 74%, 86%);
  box-shadow: hsl(225, 75%, 7%) 0 2px 3px;
  padding: 3rem 1rem 6rem 1rem;
  margin: 4rem 3rem;
}
.menuday .menuprice {
  position: relative;
  top: 0;
  left: -24px;
  height: 29px;
  font-size: 15px;
  background-color: rgb(72, 91, 43);
  color: white;
  font-family: Consolas;
  padding: 3px;
  width: 97px;
  box-shadow: #7c857c 1px 1px 2px;
}
.menuday .menuprice::before {
  content: "\A";
  border-style: solid;
  border-width: 0px 15px 7px 0;
  border-color: transparent hsla(84, 36%, 14%, 1) transparent transparent;
  position: absolute;
  left: -1px;
  top: 29px;
}
.menuday h2 {
  font-family: 'Freestyle Script';
  color: rgb(72, 91, 43);
  font-size: 4rem;
  margin-bottom: 3rem;
}
.menuday p {
  font-family: Consolas;
  font-size: 1.4rem;
  color: rgb(127, 127, 127);
  margin-bottom: 0px;
}
.menuday p.menusep {
  color: black;
  margin: 2rem 0;
}
.olivier1 {
  position: absolute;
  top: 0px;
  right: -3px;
  width: 71px;
  transform: rotate(114deg);
}
.olivier2 {
  position: absolute;
  bottom: 11px;
  left: 21px;
  width: 61px;
  transform: rotate(-64deg);
}
.olivier3 {
  position: absolute;
  bottom: -18px;
  right: -3px;
  width: 68px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1) rotate(-60deg);
}