/*COLORS*/
@main: #ff3100;
@bg: #dedede;
@txt:#252525;
/*GENERAL DEFINITIONS*/
body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: 'PT Sans','Arimo', "Helvetica Neue",Helvetica,Arial,sans-serif; height: 100%; overflow: auto;background-color:@bg;}
p{color:@txt; font-size:16px}

/*RESPONSIVE FIXES*/


