<nav class="navbar navbar-default">
    <div class="navbar-header">
            <span class="navbar-brand">{{rubedo.translate('Blocks.Search.Label.SearchCriteria', 'Search criteria')}} :
               <span ng-repeat-start="term in searchResultsCtrl.activeTerms track by $index">{{term.operator}}</span>
                <span class="badge cursor-as-pointer" ng-repeat-end
                      ng-click="searchResultsCtrl.clickOnFacets(term.facetId, term.term)">
                    {{term.label}}&nbsp;&times;
                </span>
            </span>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form ng-submit="searchResultsCtrl.onSubmit()" role="form">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="searchResultsCtrl.query" placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-repeat="facet in searchResultsCtrl.facets track by $index" ng-if="facet.terms || facet.ranges">
            <div class="panel-heading">{{facet.label}}&nbsp;<span
                    ng-if="facet.total && (facet.total - facet.other) <= searchResultsCtrl.count" class="badge pull-right">{{facet.total - facet.other}}</span></div>
            <div class="panel-body">
                <ul>
                    <li ng-if="facet.terms" class="cursor-as-pointer" ng-repeat="term in facet.terms track by $index"
                        ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                    <li ng-if="facet.ranges" class="cursor-as-pointer" ng-repeat="term in facet.ranges track by $index"
                        ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.key)">
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="resultData row" ng-repeat="datum in searchResultsCtrl.data track by $index">
                <div class="col-xs-12 col-sm-5">
                        <a ng-href="{{ datum.url }}">
                                <img class="img-responsive pull-right" ng-if="datum['fields.image']" style="width:100%""
                                                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum['fields.image'][0],{width:'390px',height:'195px',mode:'crop'}) }}"
                                                                     alt="{{ content.fields.text }}"/>
                        </a>
                </div>
                <div class="col-xs-12 col-sm-7">
                         <!--<p class="thin" ng-if="content.taxonomy['5666a87c3bc325fc368b4568']"><span class="glyphicon glyphicon-folder-open"></span><span class="tags" ng-repeat="tagId in content.taxonomy['5666a87c3bc325fc368b4568']">{{contentListCtrl.getTermLabel(tagId)|uppercase}}</span></p>
                        -->
                        <h4><a target="{{searchResultsCtrl.target(datum)}}" ng-href="{{datum.url}}">{{datum.title}}</a></h4>
                        <p>{{datum.summary |limitTo:300}}...</p>
                        <p class="thin">
                                <span class="glyphicon glyphicon-user"></span><span class="user"><a href ng-click="searchResultsCtrl.clickOnFacets('author', datum.author)">{{datum.authorName |uppercase}}</a></span>
                                <span class="glyphicon glyphicon-time"></span>{{datum.lastUpdateTime*1000|date:'longDate'}}
                       </p>
                </div>
            <hr/>
        </div>

        <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                   count="searchResultsCtrl.count"
                   change-page-action="searchResultsCtrl.changePageAction()"></paginator>
    </div>
</div>



