<div class="row detail" itemscope itemtype="http://schema.org/Product">
	<meta itemprop="brand" content="Ateliers du Chemin Neuf">
	<meta itemprop="name" content="{{fieldEntity['text']}}">
	<meta itemprop="image" content="{{'https://www.laboutique-chemin-neuf.com' + rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'400px',mode:'boxed'})}}"> 
	<meta itemprop="description" content="{{fieldEntity['description']}}">
	<meta itemprop="sku" content="{{contentDetailCtrl.content.productProperties.sku}}">
	<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<meta itemprop="priceCurrency" content="EUR" />
		<meta itemprop="price" content="{{contentDetailCtrl.content.productProperties.basePriceTTC}}" />
	</span>

  <div class="col-sm-4">
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('productBox')}}"></rubedo-field><!--prix et déclinaisons-->
  	<rubedo-field class="detail-img" field = "{{contentDetailCtrl.getFieldByName('image')}}" ng-if="fieldEntity['image']"></rubedo-field><!--image-->
	<h3 ng-if="fieldEntity['trailer']">Trailer</h3>
	<jwplayer video-url="{{fieldEntity['trailer']}}"  ng-if="fieldEntity['trailer']" ></jwplayer>
  </div>
  <div class="col-sm-8">
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="fieldEntity['text']"></rubedo-field><!--titre-->
	<p ng-if="fieldEntity['reference'] && !fieldEditMode">Référence : {{fieldEntity['reference']}}</p>
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('reference')}}" ng-if="fieldEntity['reference'] && fieldEditMode"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('summary')}}" ng-if="fieldEntity['summary']" class="italic"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('description')}}" ng-if="fieldEntity['description']"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('sommaire')}}" ng-if="fieldEntity['sommaire']"></rubedo-field><!--image-->
	<!--Pistes des CD-->
	<div ng-if="fieldEntity['piste']">
	  <table class="table table-striped">
		<tr ng-repeat="piste in contentDetailCtrl.content.fields.piste track by $index" class="track">
		  <td width="50" class="play-button" style="text-align: center" ng-click="state = !state">
			<div ng-if="piste.url"><span class="glyphicon"  ng-class="{'glyphicon-pause':state, 'glyphicon-play':!state}"></span></div>
		  </td>
		  <td><span ng-if="$index<9">0</span>{{$index+1}} - {{piste.title}}<audioplayer class="audio-player" video-url="{{piste.url}}" play="{{state}}" ng-if="piste.url"></jwplayer></td>
		  <td><span ng-show="piste.duration>0">{{(piste.duration%3600)*1000 | date : 'mm:ss'}}</span></td>
		</tr>
	  </table>
	</div>
	<div class="row no-margin" ng-if="fieldEntity['images']">
	
	    <div ng-repeat="image in contentDetailCtrl.content.fields.images track by $index" class="col-sm-4" style="margin-bottom: 12px">
		<div class="img-container">
		    <img class="img-responsive" title="{{fieldEntity['text']}}" alt="{{fieldEntity['text']}}" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image,{width:'400px',mode:'boxed'})}}"/>
		    <div class="img-description hidden-xs" data-toggle="modal" data-target="#rubedoGalleryDetailModal_{{$index}}">
			<i class="fa fa-expand"></i>
		    </div>    
		</div>    	    
		<div class="modal fade hidden-xs" id="rubedoGalleryDetailModal_{{$index}}" tabindex="1" >
		    <a class="close" data-dismiss="modal">×</a>
		    <div class="modal-dialog modal-md">
			    <div class="modal-body">
				<img class="img-responsive" style="margin-left:auto;margin-right:auto" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image)}}">
			    </div>
		  
		    </div>
		</div>
	    
	    </div>
	</div>
  </div>
</div>





