<div class="row detail">
  <div class="col-sm-4">
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('productBox')}}"></rubedo-field><!--prix et déclinaisons-->
  	<rubedo-field class="fetail-img" field = "{{contentDetailCtrl.getFieldByName('image')}}" ng-if="fieldEntity['image']"></rubedo-field><!--image-->
	<h3 ng-if="fieldEntity['trailer']">Trailer</h3>
	<jwplayer video-url="{{fieldEntity['trailer']}}" ng-if="fieldEntity['trailer']" ></jwplayer>
  </div>
  <div class="col-sm-8">
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="fieldEntity['text']"></rubedo-field><!--titre-->
	<p ng-if="fieldEntity['reference'] && !fieldEditMode">Référence : {{fieldEntity['reference']}}</p>
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('reference')}}" ng-if="fieldEntity['reference'] && fieldEditMode"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('summary')}}" ng-if="fieldEntity['summary']" class="italic"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('description')}}" ng-if="fieldEntity['description']"></rubedo-field><!--image-->
  	<rubedo-field field = "{{contentDetailCtrl.getFieldByName('sommaire')}}" ng-if="fieldEntity['sommaire']"></rubedo-field><!--image-->
	<div class="row no-margin" ng-if="fieldEntity['images']">
	
	    <div ng-repeat="image in contentDetailCtrl.content.fields.images track by $index" class="col-sm-4" style="margin-bottom: 12px">
		<div class="img-container">
		    <img class="img-responsive" title="{{fieldEntity['text']}}" alt="{{fieldEntity['text']}}" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image,{width:'400px',mode:'boxed'})}}"/>
		    <div class="img-description hidden-xs" data-toggle="modal" data-target="#rubedoGalleryDetailModal_{{$index}}">
			<i class="fa fa-expand"></i>
		    </div>    
		</div>    	    
		<div class="modal fade hidden-xs" id="rubedoGalleryDetailModal_{{$index}}" tabindex="1" >
		    <a class="close" data-dismiss="modal">×</a>
		    <div class="modal-dialog modal-md">
			    <div class="modal-body">
				<img class="img-responsive" style="margin-left:auto;margin-right:auto" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image)}}">
			    </div>
		  
		    </div>
		</div>
	    
	    </div>
	</div>
  </div>
</div>





