@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url(https://fonts.googleapis.com/css?family=Merriweather);
@font-face {
  font-family: 'FontAwesome';
  src: url('/theme/cte/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('/theme/cte/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('/theme/cte/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('/theme/cte/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('/theme/cte/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.txt-red {
  color: #c1573c !important;
}
.capital {
  font-family: 'Montserrat', 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
}
p.red-sub {
  font-family: 'Montserrat', 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  font-size: 11px !important;
  color: #c1573c !important;
  margin-bottom: 24px;
}
.linkbox {
  text-align: center;
  font-family: 'Montserrat';
}
.button {
  padding: 12px 24px;
  text-align: center;
  font-family: 'Montserrat', 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 3px 0;
  transition: 0.3s ease opacity;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button:hover {
  opacity: 0.8;
}
.button.rouge {
  background: #c1573c;
  box-shadow: 0px 2px #9e4232;
  color: #ffffff;
}
.button.submit {
  border: 2px solid #c1573c;
  color: #c1573c;
}
.button.submit.disabled {
  color: #d5c5b5;
  border: 2px solid #d5c5b5;
  cursor: default;
}
