@font-face {
  font-family: 'hautecombe-2014-ronds';
  src: url('/theme/wtp18/fonts/hautecombe-2014-ronds-webfont.eot');
  src: url('/theme/wtp18/fonts/hautecombe-2014-ronds-webfont.eot?#iefix') format('embedded-opentype'), url('/theme/wtp18/fonts/hautecombe-2014-ronds-webfont.woff') format('woff'), url('/theme/wtp18/fonts/hautecombe-2014-ronds-webfont.ttf') format('truetype'), url('/theme/wtp18/fonts/hautecombe-2014-ronds-webfont.svg#hautecombe_2014_rondsregular') format('svg');
  font-weight: 400;
  font-style: normal;/* regular */
}
@font-face {
  font-family: 'hautecombe-2015regular';
  src: url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.eot');
  src: url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.woff2') format('woff2'), url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.woff') format('woff'), url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.ttf') format('truetype'), url('/theme/wtp18/fonts/hautecombe-2015_regular-webfont.svg#hautecombe-2015regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('/theme/wtp18/fonts/Oswald-Light.eot');
  src: url('/theme/wtp18/fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'), url('/theme/wtp18/fonts/Oswald-Light.woff2') format('woff2'), url('/theme/wtp18/fonts/Oswald-Light.woff') format('woff'), url('/theme/wtp18/fonts/Oswald-Light.ttf') format('truetype'), url('/theme/wtp18/fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald SemiBold';
  src: url('/theme/wtp18/fonts/Oswald-SemiBold.eot');
  src: url('/theme/wtp18/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'), url('/theme/wtp18/fonts/Oswald-SemiBold.woff2') format('woff2'), url('/theme/wtp18/fonts/Oswald-SemiBold.woff') format('woff'), url('/theme/wtp18/fonts/Oswald-SemiBold.ttf') format('truetype'), url('/theme/wtp18/fonts/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  min-height: 100%;
  color: #444444;
}
html,
body {
  font-family: 'Oswald Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: auto;
}
.container-fluid {
  overflow-x: hidden;
  width: 100%;
  /*max-width: @max_width*/
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
/*code Nicolas*/
/*site communauté*/
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
a:link,
a:visited,
a:hover,
a {
  text-decoration: none;
}
.bg-0 {
  background-color: #191919;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  min-height: 0.1px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}
.btn-group,
.btn-group-vertical {
  z-index: 3;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .col-xs-6,
  .col-xxs-6 {
    width: 50%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-8 {
    width: 66.66666666%;
  }
}
@media screen and (max-width: 500px) {
  .col-xs-4,
  .col-xs-6,
  .col-xs-8 {
    width: 100%;
  }
  .col-xxs-6 {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 400px) {
  .nav-entree {
    font-size: 1.5em !important;
  }
}
@media screen and (max-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    max-height: 50px;
    margin-right: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    width: 450px;
  }
  .container2 {
    width: 550px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 720px;
  }
  .container2 {
    width: 1000px;
  }
}
/*slider controls*/
.owl-theme .owl-controls {
  margin-top: -25px !important;
  margin-right: 10px;
}
.owl-theme .owl-controls .owl-page span {
  background-color: white;
  opacity: 0.8;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #00d6d0;
  opacity: 0.8;
}
.txt-2 {
  color: #444444;
}
.navbar-fixed-top li {
  line-height: 30px;
  text-transform: uppercase;
  color: #472a72;
}
.navbar-fixed-top {
  border-width: 0;
  max-width: 1550px;
  width: 100;
  margin: 0 auto;
}
nav li a {
  color: #472a72;
  text-shadow: none;
}
nav.top-navigation {
  margin-bottom: 0px;
  background-color: transparent;
}
nav.top-navigation .navbar-collapse,
nav.top-navigation .navbar-header {
  background-color: #ffffff;
}
nav.top-navigation:after {
  content: '';
  display: block;
  background-image: url(../img/vague.png);
  height: 36px;
  background-repeat: repeat-x;
  width: 100%;
  background-size: 100px;
}
.shortsingle-rubedo .shortsingle-img-container {
  width: 100%;
}
.entry-header {
  text-align: center;
  margin-bottom: 15px;
}
.button {
  padding: 5px 15px;
  border: 2px solid rgba(255, 255, 255, 0.55);
  border-radius: 2px;
  transition: all 0.4s ease 0s;
}
.button:hover {
  border-color: white;
}
.dropdown .dropdown-menu {
  width: 180px;
  display: none;
  position: fixed;
  left: auto;
  top: 50px;
}
::i-block-chrome,
.dropdown .dropdown-menu {
  left: 0;
}
.dropdown .dropdown-menu li {
  width: 100%;
}
.dropdown .dropdown-menu li a {
  padding: 8px 0;
  padding-left: 10px;
  white-space: pre-wrap;
  color: #472a72;
}
.dropdown .dropdown-menu li a:hover {
  color: #472a72;
  background-color: inherit;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.row-fluid.h-0 [class*="span"] {
  min-height: 0px;
}
nav {
  min-height: 0;
  background-color: #ffffff;
}
.dropdown-menu {
  background-color: white;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  transform: none;
}
nav .nav > li > a:hover {
  color: #472a72;
  background-color: inherit;
}
.snap-content {
  transform: none;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 15px;
  }
}
/*STYLING*/
.h1 .h2 .h3 .h4 .h5 .p {
  padding: 20px;
}
.padding {
  padding: 5px;
}
.padding-large {
  padding: 0 15px;
}
.paddingv {
  padding-bottom: 50px;
  padding-top: 50px;
}
.style1 {
  color: #666666;
  text-align: justify;
}
img.hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}
img.hover:hover {
  opacity: 0.8;
}
.retourne {
  transform: scale(1, -1) !important;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}
.inverse {
  transform: scale(-1, 1) !important;
  display: inline-block;
}
/*NAVBAR*/
.home-button {
  font-family: 'hautecombe-2015regular';
}
.navbar-nav > li.home-button > a,
.home-button > a {
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  padding: 15px;
  color: #472a72;
}
.dropdown-menu {
  border: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.home-button {
  width: 55px;
  display: inline-block;
  height: 50px;
}
.navbar-nav > li.home-button:hover > a,
.home-button:hover > a {
  font-size: 2.5em;
}
.nav li {
  float: left;
}
.home {
  float: left;
  position: absolute;
}
.home img {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.home img:hover {
  transform: scale(1.1);
}
.navbar-toggle {
  float: right;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
#push-button {
  float: right;
}
/*NAV SECONDAIRE*/
.nav-sec {
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 0;
  font-family: 'Oswald SemiBold';
  text-transform: uppercase;
}
.nav-sec > div {
  height: 80px;
  line-height: 80px;
  overflow-y: hidden;
}
.nav-sec a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.nav-sec a:hover {
  font-size: 1.1em;
  color: white;
}
/*NAV ENTRÉE*/
@media screen and (max-width: 400px) {
  .nav-entree {
    padding-top: 300px;
  }
  .nav-entree.header.content {
    height: 800px;
    margin-top: -40px;
  }
  .nav-entree .titre1 {
    height: 80px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .nav-entree {
    padding-top: 300px;
  }
  .nav-entree.header.content {
    height: 800px;
    margin-top: -40px;
  }
  .nav-entree .titre1 {
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav-entree {
    padding-top: 400px;
  }
  .nav-entree .titre1 {
    height: 150px;
  }
}
.nav-entree {
  font-size: 2em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.nav-entree .titre1 {
  margin: 0 50px 10px;
  background-color: white;
  color: #472a72;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Oswald SemiBold';
  vertical-align: middle;
}
.nav-entree .date {
  font-family: 'Oswald Light';
  margin-bottom: 30px;
  border: 5px solid white;
  color: white;
}
.nav-entree p {
  margin: 0 50px 10px;
}
.nav-entree a {
  color: #472a72;
}
.nav-entree a:hover {
  color: #472a72;
  font-size: 1.05em;
}
/*LANGUAGE MENU*/
.nav-item {
  width: 50px;
  text-align: center;
  overflow: hidden;
  height: 50px;
  z-index: 1030;
  position: relative;
  display: inline-block;
}
.nav-item.follow {
  width: auto;
}
.nav-item.news {
  width: auto;
  line-height: 50px;
}
.nav-item.follow.tablet_menu {
  position: relative;
  padding-left: 48px;
  right: 0;
  top: 0;
  width: auto;
  line-height: 45px;
}
.nav-item.follow.tablet_menu a {
  color: #444444;
}
.nav-item.follow.tablet_menu .home-button:hover {
  background-color: white;
  color: #444444;
}
.nav-item span {
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.nav-item span img {
  height: 100%;
}
.nav-item.language span {
  padding: 15px 0;
}
.nav-item.language:hover {
  height: auto;
}
.nav-item span:hover {
  background-color: #00b4ff;
}
.newsletter {
  position: absolute;
  text-align: right;
  padding: 0 15px;
  z-index: 100;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}
button.submit {
  background-color: #888785;
  color: #ffffff;
}
.newsletter .form-group {
  position: relative;
  width: 200px;
}
.newsletter .form-group i {
  position: absolute;
  display: inline-block;
  left: 2px;
  z-index: 1;
  font-size: 1.5em;
  color: #888785;
}
.newsletter .form-group .glyphicon {
  font-size: 1em;
  padding: 10px 2px;
}
.newsletter .form-control {
  display: block;
  padding-left: 25px;
}
/*LEFT NAVBAR*/
/* ------------------------------------------
  PUSH MENU
--------------------------------------------- */
#push-menu-container {
  width: 280px;
  overflow-x: hidden;
  height: 100%;
  top: 0;
  padding: 70px 60px 20px ;
  position: fixed;
  background-color: #fff;
  z-index: 0;
}
#push-menu-01 .push-menu-button {
  color: #fff;
}
#push-menu-02 {
  padding: 10px 0 20px;
}
.push-menu-title {
  color: #444444;
  font-size: 1.125em;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  padding: 5px 48px 0px 48px;
  vertical-align: middle;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}
.push-menu-title:after {
  content: "d";
  font-size: 1.5em;
  font-family: 'hautecombe-2015regular';
  text-transform: none;
  position: absolute;
  right: 25px;
  margin-top: -6px;
}
ul.push-menu li {
  color: #444444;
}
/*ul.push-menu li:hover,ul.push-menu li.active {color:black; background-color:@highlight}*/
ul.push-menu {
  list-style: none;
  padding-left: 0;
}
ul.push-menu a:hover {
  color: inherit;
}
.push-menu .push-menu-title:after {
  content: "";
}
input:checked + .push-menu-title:after {
  content: "c";
}
.push-menu-button {
  width: 100%;
  line-height: 42px;
  cursor: pointer;
  color: #777;
  display: none;
}
.displayed .push-menu-button {
  display: block;
}
@media screen and (max-width: 768px) {
  .push-menu-button {
    display: block;
    line-height: 48px;
  }
  .displayed .push-menu-button {
    display: none;
  }
  .push-menu-title {
    padding: 10px 0 10px 48px;
  }
}
.push-menu-button:hover {
  background: #dedede;
}
.dots {
  float: left;
  margin: 0;
  font-size: 1.5em;
  width: 48px;
  text-align: center;
  -webkit-transition: font-size 0.2s cubic-bezier(0.53, 2, 0.46, 1);
  -moz-transition: font-size 0.2s cubic-bezier(0.53, 2, 0.46, 1);
  -o-transition: font-size 0.2s cubic-bezier(0.53, 2, 0.46, 1);
  transition: font-size 0.2s cubic-bezier(0.53, 2, 0.46, 1);
  /* improves performance issues on mobile*/

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.dots:before {
  content: '●';
}
.dots-active {
  font-size: 2.5em;
}
.dots.dots-active:before {
  content: '○';
  /*◉*/

}
.push-menu-button p {
  text-transform: uppercase;
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  max-width: 200px;
  white-space: normal;
}
.sections-container {
  display: block;
  position: relative;
  margin: 0;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/

  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
}
.sections-container {
  margin: 0 0 0 48px;
}
.sections-container.no-dots {
  margin: 0;
}
.sections-container.first {
  margin: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.sections-container.first + .sections-container {
  margin-top: 100vh;
  background-color: rgba(225, 225, 225, 0.8);
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .sections-container.first + .sections-container {
    margin-top: 75vh;
  }
}
.sections-container-push {
  -webkit-transform: translate3d(214px, 0, 0);
  -moz-transform: translate3d(214px, 0, 0);
  -ms-transform: translate3d(214px, 0, 0);
  -o-transform: translate3d(214px, 0, 0);
  transform: translate3d(214px, 0, 0);
}
.sections-container.first.sections-container-push {
  -webkit-transform: translate3d(262px, 0, 0);
  -moz-transform: translate3d(262px, 0, 0);
  -ms-transform: translate3d(262px, 0, 0);
  -o-transform: translate3d(262px, 0, 0);
  transform: translate3d(262px, 0, 0);
}
@media screen and (max-width: 768px) {
  .sections-container {
    margin-left: 0;
  }
  .sections-container-push {
    -webkit-transform: translate3d(264px, 0, 0);
    -moz-transform: translate3d(264px, 0, 0);
    -ms-transform: translate3d(264px, 0, 0);
    -o-transform: translate3d(264px, 0, 0);
    transform: translate3d(264px, 0, 0);
  }
  #push-menu-02 {
    padding: 0;
  }
}
/*PAGE ACCUEIL*/
.accueil_vision {
  width: 100%;
  color: #4d4f4f;
  text-align: center;
  padding: 60px 0;
}
.accueil_vision p,
.accueil_vision h1,
.accueil_vision h2,
.accueil_vision h3 {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.45em;
}
.accueil_vision h1,
.accueil_vision h2 {
  color: #4d4f4f;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.accueil_vision h2,
.accueil_vision h3,
.accueil_vision p {
  color: #4d4f4f;
}
.accueil_vision p {
  line-height: 1.6em;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .accueil_vision p,
  .accueil_vision h1 {
    width: 90%;
    margin-left: 5%;
  }
  .accueil_vision h1,
  h2 {
    font-size: 1.3em;
  }
  .accueil_vision h1:nth-of-type(2) {
    font-variant: small-caps;
  }
  .accueil_vision p {
    font-size: 1em;
  }
}
/* SECTION DETAIL*/
.section {
  position: absolute;
  bottom: 0;
  left: 0;
}
/*BACKGROUND-IMAGE BLOCK*/
header.parallax {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  line-height: 700px;
  text-align: center;
  background-color: white;
  overflow-y: hidden;
}
header.parallax h1,
header.parallax h2,
header.parallax h3,
header.parallax h4,
header.parallax h5,
header.parallax p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  header.parallax {
    background-attachment: scroll;
  }
}
header.parallax > div {
  line-height: 1.6em;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
header.parallax.page {
  background-attachment: scroll;
  text-align: center;
  height: 700px;
  line-height: 400px;
}
header.parallax.page h1 {
  text-transform: uppercase;
  font-size: 6em;
  font-family: 'Oswald SemiBold';
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  header.parallax.page h1 {
    font-size: 3em;
  }
  header.parallax.page {
    height: 400px;
    line-height: 400px;
  }
}
@media screen and (max-width: 450px) {
  header.parallax.page h1 {
    font-size: 2em;
  }
  header.parallax.page {
    height: 400px;
    line-height: 400px;
  }
}
/*@media screen and (min-width: @min_sm) {
    .large header.content{line-height: 600px; height:600px}
    header.content{line-height: 400px; height:400px}
    header.content>div{text-align: left; vertical-align: bottom; padding-bottom: 24px}
}
@media screen and (max-width:@min_xs){
  header.content.parallax{background-attachment: scroll;}
}
*/
/*PRESENTATION SECTION*/
.presentation-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  overflow-y: hidden;
  padding: 20px;
}
.presentation-section h1,
.presentation-section h2,
.presentation-section h3,
.presentation-section h4,
.presentation-section h5,
.presentation-section p {
  color: white;
  text-transform: uppercase;
}
.presentation-section.content > div {
  line-height: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .large .presentation-section.content {
    height: 600px;
  }
  .presentation-section {
    height: 400px;
  }
  .presentation-section.content {
    height: 350px;
  }
  .presentation-section.content > div {
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .presentation-section {
    height: 300px;
  }
  .presentation-section.content {
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .presentation-section {
    height: 200px;
  }
  .presentation-section.content {
    height: 180px;
  }
}
@media screen and (min-width: 1500px) {
  .presentation-section.content {
    height: 500px;
  }
}
.presentation-section.content > div {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 0;
}
/*FOOTER*/
#footer {
  line-height: 84px;
  background-color: #fff;
  width: 100%;
}
.sponsor {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 14%;
  text-align: center;
  min-width: 130px;
  line-height: normal;
}
.sponsor a img {
  display: inherit;
  max-height: 84px;
}
.changement {
  max-width: 800px;
  margin: auto;
  padding: 24px 0;
}
/*FOOTER*/
.footer {
  background-color: #0d0d0d;
  color: white;
}
.footer a {
  color: white;
  display: inline-block;
  width: 100%;
  padding-left: 5px;
}
.footer p a {
  display: block;
}
.footer .form-control {
  background: #262626;
  color: white;
  border: none;
}
@media (screen) and (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer .form-control[placeholder] {
  color: #ffffff;
}
/*HOME PAGE*/
.presentation {
  padding: 80px 0;
  background-color: #eaeaea;
  text-align: center;
}
.presentation h1 {
  color: #262626;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
.presentation p {
  color: #808080;
  padding: 4 20px;
  line-height: 22px;
  font-size: 22px;
}
.presentation div {
  max-width: 800px;
  margin: auto;
}
.row-grey {
  padding: 80px 0;
  background-color: #eaeaea;
  text-align: center;
}
.square-btn {
  margin: 40px auto;
  width: 80%;
}
.square-btn img {
  transition: opacity 0.3s ease-out;
  width: 75%;
  margin: 0 auto;
}
.square-btn img:hover {
  opacity: 0.65;
}
.square-btn > div {
  color: #888785;
}
.square-btn h4,
.square-btn p {
  padding: 0 5px;
  color: #888785;
  text-align: center;
}
.square-btn h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.linkbox {
  display: block;
}
.linkbox a {
  letter-spacing: 0.2em;
  text-align: center;
  display: inline-block;
  color: #898989;
  border: 2px solid rgba(137, 137, 137, 0.5);
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
}
.linkbox a:hover {
  border-color: #898989;
}
.changement .linkbox a {
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}
.changement .linkbox a:hover {
  border-color: #ffffff;
}
h2.linkbox-square a,
h2.linkbox-square a:hover {
  font-family: 'Oswald SemiBold';
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px 15px;
  border: 1px solid black;
  text-transform: uppercase;
}
p.linkbox-rond-blanc a,
p.linkbox-rond-blanc a:hover {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  border-radius: 18px;
  background-color: white;
  text-transform: uppercase;
}
p.linkbox-rond-noir a,
p.linkbox-rond-noir a:hover {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  border-radius: 18px;
  background-color: black;
  text-transform: uppercase;
}
/*PAGES*/
.page {
  margin-top: 30px;
}
.pres {
  text-align: center;
  font-size: 1.375em;
  padding: 0 20px;
  margin: 0 30px 0;
  color: black;
  text-transform: uppercase;
  font-family: 'Oswald Light';
  background-color: white;
}
.text-it p {
  font-style: italic;
  font-size: 1.0em;
  text-align: justify;
  padding: 0 60px;
  text-indent: 1.6em;
}
.titre-details {
  font-size: 2.25em;
  text-transform: uppercase;
  padding: 30px 0;
  text-align: center;
}
/*NEW*/
.color {
  display: inline-block;
  float: none;
  margin-top: -7px;
  overflow: hidden;
}
.bloc-icone {
  border: 1px solid #888785;
  height: 250px;
  overflow: hidden;
}
.bloc-icone .side1 {
  line-height: 210px;
  text-align: center;
}
.bloc-icone .side1 > div {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.bloc-icone .side2 {
  -webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
  line-height: 210px;
  background-color: #888785;
  color: white;
}
.bloc-icone > div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.bloc-icone > div > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  padding: 20px;
}
.bloc-icone:hover .side1 {
  -webkit-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -moz-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -o-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -ms-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  opacity: 0;
}
.bloc-icone:hover .side2 {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  -o-transform: rotate3d(1, 0, 0, 0deg);
  -ms-transform: rotate3d(1, 0, 0, 0deg);
  transform: rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.bloc-icone .side1 .block-details:first-of-type p {
  margin: 15px 0 0;
  display: block;
  position: relative;
  font-size: 5em;
  text-align: center;
  font-family: 'hautecombe-2015regular';
}
.bloc-icone .side1 .block-details:nth-of-type(2) p {
  display: inline-block;
  width: 100%;
  margin: 15px 0 0;
  padding: 0 30px;
  font-size: 1.375em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.bloc-icone .side2 .block-details {
  display: inline-block;
  line-height: 1.5em;
  vertical-align: middle;
}
.bloc-icone .side2 .block-details p {
  text-align: center;
}
/**/
.block-detail p:first-of-type {
  margin: 15px 0 0;
  display: block;
  position: relative;
  font-size: 5em;
  font-family: 'hautecombe-2014-ronds';
}
.block-detail p:nth-of-type(2),
.titre-cap {
  display: inline-block;
  width: 100%;
  margin: 15px 0 0;
  padding: 0 30px;
  font-size: 1.375em;
  text-transform: uppercase;
  font-weight: 700;
}
.titre-cap {
  margin: 0;
  margin-bottom: 10px;
}
.block-detail p:nth-of-type(n+3) {
  display: inline-block;
  margin: 15px 0 0;
  padding: 0 50px;
  text-align: justify;
  width: 100%;
  color: #666;
}
.block-detail {
  display: inline-block;
  float: none;
  text-align: center;
  vertical-align: top;
  margin: 0 -5px;
}
.color:nth-of-type(2n) .icone p:first-of-type {
  color: #888785 !important;
}
.video-block {
  padding: 48px 0;
  background: #262626;
  text-align: center;
  color: white;
}
.video-block p {
  display: inline-block;
  padding: 18px 12px;
  border: 1px solid white;
  border-radius: 48px;
  text-transform: uppercase;
  min-width: 34%;
  cursor: pointer;
}
.video-block p span {
  font-family: 'hautecombe-2015regular';
  text-transform: none;
}
.bg-special-class {
  background-color: #363636;
}
.bg-special-class .bloc-icone {
  border-color: white;
  color: #ffffff;
}
#kawaco .sec-logo,
#kawaco .text-bg,
#kawaco nav,
#kawaco .color:nth-of-type(2n) .side2 {
  background-color: #f7942a;
}
#kawaco .section-title-h1,
#kawaco .titre-details,
#kawaco .block-details.icone p {
  color: #f7942a;
}
#dots-kawaco {
  color: #f7942a;
}
nav.kawaco {
  background-color: #f7942a;
}
#apercu .sec-logo,
#apercu .text-bg,
#apercu nav,
#apercu .color:nth-of-type(2n) .side2 {
  background-color: #f7942a;
}
#apercu .section-title-h1,
#apercu .titre-details,
#apercu .block-details.icone p {
  color: #f7942a;
}
#focus .sec-logo,
#focus .text-bg,
#focus nav,
#focus .color:nth-of-type(2n) .side2 {
  background-color: #ec008c;
}
#focus .section-title-h1,
#focus .titre-details,
#focus .block-details.icone p {
  color: #ec008c;
}
#fit-fun .sec-logo,
#fit-fun .text-bg,
#fit-fun nav,
#fit-fun .table,
#fit-fun .color:nth-of-type(2n) .side2 {
  background-color: #00a3ad;
}
#fit-fun .section-title-h1,
#fit-fun .titre-details,
#fit-fun .block-details.icone p {
  color: #00a3ad;
}
#dots-fit-fun {
  color: #00a3ad;
}
nav.fit-fun {
  background-color: #00a3ad;
}
#coeur-a-coeur .sec-logo,
#coeur-a-coeur .text-bg,
#coeur-a-coeur nav,
#coeur-a-coeur .color:nth-of-type(2n) .side2 {
  background-color: #00a3ad;
}
#coeur-a-coeur .section-title-h1,
#coeur-a-coeur .titre-details,
#coeur-a-coeur .block-details.icone p {
  color: #00a3ad;
}
#coeur-a-coeur .bg-special {
  background-color: #363636;
}
#coeur-a-coeur .bg-special .bloc-icone {
  border-color: white;
  color: #ffffff;
}
#dots-coeur-a-coeur {
  color: #00a3ad;
}
nav.coeur-a-coeur {
  background-color: #00a3ad;
}
#temps-forts .sec-logo,
#temps-forts .text-bg,
#temps-forts nav,
#temps-forts .color:nth-of-type(2n) .side2 {
  background-color: #f7942a;
}
#temps-forts .section-title-h1,
#temps-forts .titre-details,
#temps-forts .block-details.icone p {
  color: #f7942a;
}
#dots-temps-forts {
  color: #f7942a;
}
nav.temps-forts {
  background-color: #f7942a;
}
#workshops .sec-logo,
#workshops .text-bg,
#workshops nav,
#workshops .table,
#workshops .color:nth-of-type(2n) .side2 {
  background-color: #ec008c;
}
#workshops .section-title-h1,
#workshops .titre-details,
#workshops .block-details.icone p {
  color: #ec008c;
}
#workshops .bg-special {
  background-color: #363636;
}
#workshops .bg-special .bloc-icone {
  border-color: white;
  color: #ffffff;
}
#dots-workshops {
  color: #ec008c;
}
nav.workshops {
  background-color: #ec008c;
}
#ateliers .sec-logo,
#ateliers .text-bg,
#ateliers nav,
#ateliers .table,
#ateliers .color:nth-of-type(2n) .side2 {
  background-color: #ec008c;
}
#ateliers .section-title-h1,
#ateliers .titre-details,
#ateliers .block-details.icone p {
  color: #ec008c;
}
#ateliers .bg-special {
  background-color: #363636;
}
#ateliers .bg-special .bloc-icone {
  border-color: white;
  color: #ffffff;
}
#dots-ateliers {
  color: #ec008c;
}
nav.ateliers {
  background-color: #ec008c;
}
#intervenants .sec-logo,
#intervenants .text-bg,
#intervenants nav,
#intervenants .table,
#intervenants .color:nth-of-type(2n) .side2 {
  background-color: #ffffff;
}
#intervenants .section-title-h1,
#intervenants .titre-details,
#intervenants .block-details.icone p {
  color: #ffffff;
}
#intervenants .page {
  margin-top: 0;
}
#dots-intervenants {
  color: #00a4b7;
}
nav.intervenants {
  background-color: #ffffff;
}
#volontaires .sec-logo,
#volontaires .text-bg,
#volontaires nav,
#volontaires .color:nth-of-type(2n) .side2 {
  background-color: #00a4b7;
}
#volontaires .section-title-h1,
#volontaires .titre-details,
#volontaires .block-details.icone p {
  color: #00a4b7;
}
#volontaires .page {
  margin-top: 0;
}
#dots-volontaires {
  color: #00a4b7;
}
nav.volontaires {
  background-color: #00a4b7;
}
#jpros .sec-logo,
#jpros .text-bg,
#jpros nav,
#jpros .color:nth-of-type(2n) .side2 {
  background-color: #00d3de;
}
#jpros .section-title-h1,
#jpros .titre-details,
#jpros .block-details.icone p {
  color: #00d3de;
}
#dots-jpros {
  color: #00d3de;
}
nav.jpros {
  background-color: #00d3de;
}
#groupe .sec-logo,
#groupe .text-bg,
#groupe nav,
#groupe .color:nth-of-type(2n) .side2 {
  background-color: #b4db37;
}
#groupe .section-title-h1,
#groupe .titre-details,
#groupe .block-details.icone p {
  color: #b4db37;
}
#dots-groupe {
  color: #b4db37;
}
nav.groupe {
  background-color: #b4db37;
}
#studilac .sec-logo,
#studilac .text-bg,
#studilac nav.color:nth-of-type(2n) .side2 {
  background-color: #00d3de;
}
#studilac .section-title-h1,
#studilac .titre-details,
#studilac .block-details.icone p {
  color: #00d3de;
}
#studilac .page {
  margin-top: 0;
}
#dots-studilac {
  color: #00d3de;
}
nav.studilac {
  background-color: #00d3de;
}
#manaim .sec-logo,
#manaim .text-bg,
#manaim nav,
#manaim .color:nth-of-type(2n) .side2 {
  background-color: #7f7fc1;
}
#manaim .section-title-h1,
#manaim .titre-details,
#manaim .block-details.icone p {
  color: #7f7fc1;
}
#dots-manaim {
  color: #7f7fc1;
}
nav.manaim {
  background-color: #7f7fc1;
}
#hozana .sec-logo,
#hozana .text-bg,
#hozana nav,
#hozana .color:nth-of-type(2n) .side2 {
  background-color: #ff2f29;
}
#hozana .section-title-h1,
#hozana .titre-details,
#hozana .block-details.icone p {
  color: #ff2f29;
}
#dots-hozana {
  color: #ff2f29;
}
nav.hozana {
  background-color: #ff2f29;
}
#retraite .sec-logo,
#retraite .text-bg,
#retraite nav,
#retraite .color:nth-of-type(2n) .side2 {
  background-color: #d0ccd7;
}
#retraite .section-title-h1,
#retraite .titre-details,
#retraite .block-details.icone p {
  color: #d0ccd7;
}
#dots-retraite {
  color: #d0ccd7;
}
nav.retraite {
  background-color: #d0ccd7;
}
#stage .sec-logo,
#stage .text-bg,
#stage nav,
#stage .color:nth-of-type(2n) .side2 {
  background-color: #ffa33f;
}
#stage .section-title-h1,
#stage .titre-details,
#stage .block-details.icone p {
  color: #ffa33f;
}
#dots-stage {
  color: #ffa33f;
}
nav.stage {
  background-color: #ffa33f;
}
#infos .sec-logo,
#infos .text-bg,
#infos nav,
#infos .color:nth-of-type(2n) .side2 {
  background-color: #00d6d0;
}
#infos .section-title-h1,
#infos .titre-details,
#infos .block-details.icone p {
  color: #00d6d0;
}
#infos .page {
  margin-top: 0;
}
#dots-infos {
  color: #00d6d0;
}
nav.infos {
  background-color: #00d6d0;
}
#cte .sec-logo,
#cte .text-bg,
#cte nav,
#cte .color:nth-of-type(2n) .side2 {
  background-color: #baa392;
}
#cte .section-title-h1,
#cte .titre-details,
#cte .block-details.icone p {
  color: #baa392;
}
#dots-cte {
  color: #baa392;
}
nav.cte {
  background-color: #baa392;
}
#inscriptions .sec-logo,
#inscriptions .text-bg,
#inscriptions nav,
#inscriptions .color:nth-of-type(2n) .side2 {
  background-color: #01d0da;
}
#inscriptions .section-title-h1,
#inscriptions .titre-details,
#inscriptions .block-details.icone p {
  color: #01d0da;
}
#inscriptions .page {
  margin-top: 0;
}
nav.inscriptions {
  background-color: #01d0da;
}
/*INSCRIPTIONS*/
.country-list li {
  width: 150px;
  float: left;
  padding: 30px 5px 20px;
  line-height: 1.4em;
  text-align: center;
  border: 3px solid #fff;
  background-color: #eeeeee;
}
.country-list li a {
  color: #444444;
}
.country-list li img {
  margin: 0 auto 5px;
  display: block;
}
.country-list li:hover {
  background-color: #00a4b7;
}
.country-list li:hover a {
  color: #ffffff;
}
.country-list ul {
  list-style: none;
  padding: 0 50px;
  margin-top: 24px;
}
.country-list {
  margin-bottom: 24px;
}
.country-list p,
.country-list h1,
.country-list h3 {
  color: #444444;
}
.country-list li.pl {
  padding: 10px 5px;
}
.country-list li.pl p {
  text-align: left;
  line-height: 13px;
}
.country-list li.pl img {
  margin-top: 20px;
}
.icone-paragraph-1 {
  display: block;
  font-family: "hautecombe-2014-ronds";
  font-size: 5em;
  margin: 30px 0 0;
  position: relative;
}
.title-paragraph-1 {
  display: inline-block;
  font-size: 1.375em;
  font-weight: 700;
  margin: 15px 0 0;
  max-width: 350px;
  min-width: 220px;
  padding: 0 30px;
  text-transform: uppercase;
  width: 100%;
}
.table {
  padding-bottom: 15px;
  min-height: 300px;
}
#fit-fun .table,
#ateliers .table,
#intervenants .table {
  padding: 0 15px 10px;
}
#intervenants .sport-container {
  padding: 0 5px;
}
.table:before {
  content: "";
  width: 0;
  height: 0;
  border-color: #fff transparent transparent;
  border-width: 30px 60px 0;
  border-style: solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  .bordure {
    border-top: 2px solid black;
    border-bottom: 2px solid #000000;
  }
}
@media screen and (min-width: 500px) {
  .bordure {
    border-left: 2px solid black;
    border-right: 2px solid #000000;
  }
}
.date-workshops {
  cursor: pointer;
  font-size: 1.75em;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 0;
  text-align: right;
  display: block;
  color: white;
  font-weight: normal;
}
#fit-fun .table-tab p:first-of-type,
#fit-fun .workshop-nav {
  color: #00a3ad;
}
#fit-fun h3.closed {
  margin-top: -30px;
}
#workshops .table-tab p:first-of-type,
#workshops .workshop-nav {
  color: #ec008c;
}
#workshops .workshop-nav {
  margin-top: -65px;
}
#workshops .table-tab p:nth-of-type(3) {
  background-color: #fff;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0px 30px;
  text-align: justify;
  transition: all 0.3s ease-out;
}
#workshops .table-tab p:nth-of-type(3).displayed {
  height: auto;
  padding: 15px 30px;
  overflow: auto;
}
#workshops .table-tab p:nth-of-type(2):hover {
  background-color: #00b4ff;
}
input:checked + .date-workshops {
  background-color: white;
  color: #ec008c;
}
.table-tab {
  position: relative;
  display: none;
}
.table-tab.displayed {
  display: block;
}
.table-tab p:first-of-type {
  background-color: white;
  cursor: pointer;
  font-size: 1.75em;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 0;
  padding-left: 15px !important;
  text-align: left;
}
#intervenants .table-tab p:first-of-type {
  text-transform: none;
}
.table-tab p:nth-of-type(n+1) {
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 10px 30px;
  padding-left: 0;
  text-align: left;
  width: 100%;
  font-size: 1.1em;
}
.table-workshops {
  padding-left: 24px;
  position: relative;
  display: none;
}
.table-workshops h3 {
  text-transform: uppercase;
}
.table-workshops h3,
.table-workshops p {
  color: #ffffff;
}
.table-workshops em {
  font-weight: bold;
}
.table-workshops p:first-of-type {
  margin-bottom: 0;
}
.table-workshops.displayed {
  display: block;
}
.table-tab span {
  font-style: italic;
  display: inline-block;
  width: 100%;
}
.workshop-nav {
  font-family: 'hautecombe-2014-ronds';
  padding: 18px 30px;
  margin: 0;
  font-weight: bold;
  font-size: 2em;
  text-transform: none !important;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  div.not-checked:first-of-type label {
    background-color: white;
    color: #ec008c;
  }
  .table-tab.not-checked:first-of-type {
    display: block;
  }
  h3.closed,
  .workshop-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .table-tab p:first-of-type,
  .date-workshops {
    text-align: center;
  }
  #jour-container label.not-displayed {
    display: none;
  }
  .sport-container.not-displayed {
    display: none;
  }
  .sport-container.not-displayed.noclick {
    display: block;
  }
  .table-tab.displayed.noclick {
    display: none;
  }
  .table-tab {
    position: relative;
    -webkit-backface-visibility: hidden;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
  }
  .table-tab.displayed {
    opacity: 1;
    display: block;
  }
  .table-tab.displayed > div > div {
    background-color: #ec008c;
  }
  h3.closed {
    color: #444444;
    padding-right: 35px;
    text-align: right;
    font-weight: bold;
    font-size: 2em;
  }
  h3.closed:hover {
    color: #ec008c;
  }
}
.square {
  height: 132px;
  width: 132px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  vertical-align: top;
  font-size: 0.875em;
  cursor: pointer;
}
.square img {
  cursor: pointer;
}
.square.couple {
  width: 264px;
}
@media screen and (min-width: 1464px) {
  .square:nth-of-type(7n),
  .square:last-of-type {
    border-right: none;
  }
  .square:nth-last-of-type(-n+7) {
    border-bottom: none;
  }
}
@media screen and (min-width: 1265px) and (max-width: 1464px) {
  .square:nth-of-type(6n),
  .square:last-of-type {
    border-right: none;
  }
  .square:nth-last-of-type(-n+6) {
    border-bottom: none;
  }
}
@media screen and (min-width: 1068px) and (max-width: 1265px) {
  .square:nth-of-type(5n),
  .square:last-of-type {
    border-right: none;
  }
  .square:nth-last-of-type(-n+5) {
    border-bottom: none;
  }
}
@media screen and (min-width: 870px) and (max-width: 1068px) {
  .square:nth-of-type(4n),
  .square:last-of-type {
    border-right: none;
  }
  .square:nth-last-of-type(-n+4) {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 869px) {
  .square:nth-of-type(3n),
  .square:last-of-type {
    border-right: none;
  }
  .square:nth-last-of-type(-n+3) {
    border-bottom: none;
  }
}
#intervenants .square {
  height: 155px;
  border-bottom: none;
  border-right: none;
}
.square label {
  vertical-align: top;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  line-height: 9em;
  font-size: 1em;
}
.square p {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  height: inherit;
  width: inherit;
  display: none;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s, opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: opacity 0.3s, opacity 0.3s;
  -moz-backface-visibility: hidden;
  transition: opacity 0.3s, opacity 0.3s;
  backface-visibility: hidden;
}
.square span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'hautecombe-2015regular';
  font-size: 8em;
  font-weight: normal;
  opacity: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: padding 0.3s, opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: padding 0.3s, opacity 0.3s;
  -moz-backface-visibility: hidden;
  transition: padding 0.3s, opacity 0.3s;
  backface-visibility: hidden;
  cursor: pointer;
}
.square:hover span,
.square input:checked + label span {
  padding: 100% 0 0;
  opacity: 0;
  -webkit-transition: padding 0.3s, opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: padding 0.3s, opacity 0.3s;
  -moz-backface-visibility: hidden;
  transition: padding 0.3s, opacity 0.3s;
  backface-visibility: hidden;
}
#intervenants .square:hover span,
#intervenants input:checked + label span {
  opacity: 1;
  padding: 0;
}
#intervenants input:checked + label {
  background-color: inherit;
}
.square:hover img {
  opacity: 0.8;
}
input:checked + label p,
.square:hover p {
  display: table-cell;
}
input:checked + label {
  background: white;
}
input:checked + label p {
  color: #444444;
}
.choice-proposition,
.choice-formula,
.tarif {
  font-weight: bold;
  font-size: 1.5em;
  color: #01d0da;
  font-variant: normal;
  text-transform: uppercase;
  text-align: left;
}
.tarif {
  width: 30%;
}
#choice-paf {
  width: 60%;
}
.choice-dates {
  font-size: 1em;
  color: #666;
  float: left;
  display: inline-block;
  text-align: left;
  padding: 0 5px;
  background-color: #ededed;
  height: 30px;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 0;
}
label[for="carte"] {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.bg-grey {
  background-color: #ededed;
  color: #666;
  line-height: 1.6em;
  margin-bottom: 15px;
  padding: 15px;
}
.choice-festival,
.choice-volunteer {
  background-color: #ededed;
  padding: 5px;
  font-weight: 700;
  color: #00a4b7;
  text-align: center;
}
.double {
  height: 65px;
}
.double label {
  margin-top: 15px;
}
.choice-festival.highlight {
  background-color: #ff792a;
  color: white;
}
.choice-volunteer.highlight {
  background-color: #20aead;
  color: white;
}
.preinscription.double,
.preinscription-entry.double {
  height: 65px;
}
input.question-title + label {
  margin-top: 30px;
}
.retraite-comment {
  font-size: 1.25em;
  color: #666;
  text-align: center;
  padding: 5px;
  background-color: #ededed;
  height: 70px;
  line-height: 30px;
  margin: 10px 0;
}
.retraite-comment span {
  font-size: 0.8em;
  line-height: 0.8em;
}
.retraite-comment.highlight {
  background-color: #00cfd9;
  color: #ffffff;
}
.preinscription,
.inscription {
  height: 30px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  text-align: right;
  padding-right: 5px;
  min-width: 170px;
  width: 100%;
  margin-bottom: 0;
}
.preinscription {
  background-color: #00cfd9;
}
.inscription {
  background-color: #00b1bb;
}
label.checkboxes {
  height: 30px;
  text-align: left;
}
.preinscription-entry {
  padding-left: 5px;
  height: 30px;
  line-height: 25px;
}
.preinscription-entry input,
input[type="text"] {
  font-size: 1.0em;
  display: block;
  height: 26px;
  margin: 2px 0;
  border: hidden;
  color: #919191;
  background: #ededed;
  position: relative;
  width: 100%;
  text-align: left;
}
input[type="textarea"] {
  display: block;
  background: white;
  border: hidden;
  color: #919191;
  background: #ededed;
  width: 100%;
}
input[type="text"].complement {
  display: inline-block;
  background-color: white;
  max-width: 100%;
  width: auto;
}
.choix-final {
  background-color: #ff792a;
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 15px 0px;
}
.choix-final p {
  margin: 0;
}
.choix-final.volontaire {
  background-color: #20aead;
}
.choix-final.price {
  background-color: #00a3ad;
  color: #444444;
}
input#mail[type="text"] {
  width: auto;
  margin: 0;
}
input[name="autreSituation"] {
  width: 50%;
}
input.question_text-1 {
  width: 100%;
  background-color: white;
}
input.question_text-2 {
  width: 50%;
  background-color: white;
}
input.datepicker {
  height: 25px;
  border: 0;
  margin-bottom: 5px;
  display: inline;
}
input[id*="btn_"] {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  height: 35px;
  line-height: 1em;
  margin-top: 10px;
  float: left;
  opacity: 0.8;
  transition: opacity ease 0.3s;
  border: 0;
  display: block;
}
input[id*="btn_"]:not(:disabled):hover {
  opacity: 1;
}
input[id="btn_preinscription"],
input[id="btn_prev"] {
  background: #a1e565;
}
input[id="btn_next"],
input[id="btn_inscription"] {
  background: #ff792a;
}
textarea {
  border: hidden;
  color: #919191;
  background: #ededed;
  height: 90%;
  margin: 2px 0;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Cabin';
}
ul.steps {
  line-height: 48px;
  list-style: none;
  padding: 0;
  height: auto;
  margin: 0px;
  text-align: center;
  color: #ededed;
}
.steps p {
  font-size: 1em;
  color: #888785;
}
.steps li {
  height: 48px;
  position: relative;
  display: inline;
  width: auto;
  padding: 0 50px;
  font-size: 2.5em;
}
.steps li:before {
  width: 100%;
  content: '●';
  position: relative;
  z-index: 1;
}
.steps li:after {
  height: 0;
  width: 100%;
  border: 2px solid #ededed;
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
}
.steps li:last-of-type:after {
  border: none;
}
.steps li.active {
  color: #01d0da;
}
.steps li.complete {
  color: #a1e565;
}
.country-list li {
  width: 150px;
  float: left;
  padding: 10px 5px;
  line-height: 1.4em;
  text-align: center;
  border: 1px solid #fff;
  background-color: #f9f9f9;
}
.country-list li:hover {
  background-color: #00a4b7;
}
.country-list li:hover p {
  color: #ffffff;
}
.country-list {
  list-style: none;
  padding: 0 50px;
}
form [type="checkbox"]:not(:checked),
form [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
form [type="checkbox"]:not(:checked) + label,
form [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
form [type="checkbox"]:not(:checked) + label:before,
form [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 18px;
  height: 18px;
  border: 1px solid #c3c3c3;
  background: #ededed;
}
form [type="checkbox"]:not(:checked) + label:after,
form [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 6px;
  left: 4px;
  font-size: 14px;
  color: inherit;
  transition: all .2s;
}
form [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
form [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1.5);
}
form [type="radio"]:not(:checked),
form [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
form [type="radio"]:not(:checked) + label,
form [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
form [type="radio"]:not(:checked) + label:before,
form [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  border: 1px solid #c3c3c3;
  border-radius: 9px;
  background: #ededed;
}
form [type="radio"]:not(:checked) + label:after,
form [type="radio"]:checked + label:after {
  content: '●';
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 20px;
  color: #606060;
  transition: all .2s;
  width: 18px;
  height: 18px;
  line-height: 26px;
}
form [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
form [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
form input:checked + label {
  background: inherit;
}
form input.ng-invalid.ng-dirty {
  border: #ff0000 solid 1px;
}
form label {
  display: block;
  font-weight: normal;
}
input {
  display: none;
  position: relative;
}
#inscriptions form {
  overflow-y: hidden;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: solid 1px #444444;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]::-moz-range-thumb {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: solid 1px #444444;
  background: white;
  cursor: pointer;
  margin-top: 5px;
}
input[type=range]::-ms-thumb {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: 3px;
  border: solid 1px #444444;
  background: white;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #0480be;
  border: none;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #149bdf;
  border: none;
  border-radius: 2.6px;
}
.table.programme {
  background: #b3b3b3;
  text-align: center;
}
ul.programme {
  display: inline-block;
  width: 155px;
  margin-right: 2px;
  list-style-type: none;
  color: #c62176;
  padding-left: 0px;
  font-size: 1.1em;
  float: left;
}
ul.programme li {
  width: 100%;
  background: white;
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin-bottom: 8px;
  padding: 0 5px;
}
ul.programme li.empty {
  background: transparent;
}
ul.programme span {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}
ul.programme .heure {
  font-size: 0.8em;
  float: left;
  vertical-align: middle;
  color: #444444;
  width: 35px;
  margin-right: 5px;
  font-weight: 700;
  line-height: 50px;
}
ul.programme .heure + span {
  width: 105px;
}
.displayed ul.programme:nth-of-type(1) {
  color: white;
  width: 100px;
  display: none;
}
.displayed ul.programme:nth-of-type(1) li {
  background: #c62176;
}
.displayed ul.programme:nth-of-type(1) li:first-of-type {
  background: transparent;
}
.programme .displayed:first-of-type ul:first-of-type {
  display: inline-block;
}
ul.programme li:first-of-type {
  background-color: inherit;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  height: 80px;
  line-height: 40px;
}
ul.programme li:first-of-type:first-line {
  font-size: 1.5em;
}
.programme .displayed {
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 1308px) and (max-width: 1479px) {
  .programme .displayed:nth-of-type(7n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1307px) {
  .programme .displayed:nth-of-type(6n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (min-width: 1067px) and (max-width: 1150px) {
  .programme .displayed:nth-of-type(5n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (min-width: 886px) and (max-width: 1066px) {
  .programme .displayed:nth-of-type(4n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (min-width: 618px) and (max-width: 885px) {
  .programme .displayed:nth-of-type(3n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (min-width: 447px) and (max-width: 617px) {
  .programme .displayed:nth-of-type(2n+1) ul:first-of-type {
    display: inline-block;
  }
}
@media screen and (max-width: 446px) {
  .programme .displayed:nth-of-type(n+1) ul:first-of-type {
    display: inline-block;
  }
}
.jwlogo {
  display: none;
}
.jwplayer {
  margin-left: auto !important;
  margin-right: auto !important;
}
.jwplayer .jw-preview,
.jw-error .jw-preview,
.jw-stretch-uniform .jw-preview {
  background-size: cover !important;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.youtube-embed-wrapper {
  position: relative;
}
.jw-preview {
  background-color: transparent !important;
}
.jw-display-icon-container.jw-background-color.jw-reset {
  width: 4.5em;
  background: #333333;
}
/*CAROUSEL*/.slide {
  height: 400px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.slide .colLeft,
.slide colRight {
  height: 400px;
}
.colgroup {
  display: table-column-group;
}
.colCol {
  display: table-column;
}
.middle {
  width: 750px;
}
.slide-center {
  color: #4d4f4f;
  height: 50%;
  text-align: center;
}
.slide-center h3 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  padding: 0px 48px;
}
.slide-center p.icone {
  font-size: 6em;
  font-family: 'hautecombe-2015regular';
  margin-bottom: 0;
}
.slide-center.title {
  position: relative;
  margin-top: 50px;
}
.slide-center.title div {
  bottom: 0;
  width: 100%;
}
.slide-center:not(.title) {
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 12px 48px;
  text-align: center;
}
.rowTabled {
  display: table-row;
}
.colLeft {
  display: table-cell;
  height: 100%;
}
.colLeft img,
.colLeft div {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 20% 75%, 0 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 20% 75%, 0 50%);
  float: right;
}
.colRight {
  display: table-cell;
  height: 100%;
}
.colRight img,
.colRight div {
  -webkit-clip-path: polygon(400px 0, 400px 400px, 120px 400px, 0px 200px, 120px 0px);
  clip-path: polygon(400px 0, 400px 400px, 120px 400px, 0px 200px, 120px 0px);
  float: left;
}
.rowTabled > div {
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .middle {
    width: 100%;
  }
  .slide-center h3 {
    font-size: 1.3em;
  }
  .slide-center p {
    font-size: 0.9em;
  }
  .slide-center p.icone {
    font-size: 3em;
  }
  .slide {
    height: 300px;
  }
  .slide .colLeft,
  .slide colRight {
    height: 300px;
  }
}
.form-group {
  padding-left: 15px !important	;
  padding-right: 15px !important;
}
.row.list {
  padding-top: 12px;
  padding-bottom: 12px;
}
.row.list img {
  opacity: 1;
  transition: 0.5s opacity ease;
}
.row.list img:hover {
  opacity: 0.75;
}
.row.list > div {
  padding-left: 15px;
  padding-right: 15px;
}
.row.list a,
.row.list a:active {
  color: inherit;
}
.row.list h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.article {
  text-align: justify;
}
.article p:first-of-type {
  margin-top: 12px;
}
.article.container {
  max-width: 800px;
  padding: 48px 12px;
}
.article h1,
.article h3,
.article p {
  color: #2f2e2a;
}
.article p {
  font-size: 1.1em;
}
@media screen and (max-width: 768px) {
  .article {
    text-align: left;
  }
}
.glyphicon.google {
  height: 50px;
  width: 50px;
  padding-top: 13px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #db4437;
  color: white;
  transition-duration: 0.25s;
  transition-property: background-color, box-shadow;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
.glyphicon.google:hover {
  background-color: #e06055;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal-height-blocks {
  display: flex;
  flex-direction: column;
}
.equal-height-blocks:hover {
  background-color: #f4f4f2;
}
/*CONTENT LIST*/
.contentList {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contentList > div {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.pageList {
  margin-bottom: 24px;
}
.pageList a {
  display: inline-block;
  position: relative;
}
.pageList div:first-of-type {
  overflow: hidden;
  background-color: rgba(31, 31, 46, 0.8);
}
.pageList div:last-of-type {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.pageList a p,
.pageList a h3 {
  color: white;
  text-decoration: none;
}
.pageList h3,
.pageList h3 {
  text-transform: uppercase;
  text-decoration: none;
}
.pageList img {
  margin: 0;
  width: 100%;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.pageList a:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.inView .parachute {
  position: relative;
  top: 0;
  opacity: 1;
}
.parachute {
  top: -100vh;
  position: relative;
  animation: mymove 3s;
  opacity: 0;
}
/* Standard syntax */
@keyframes parachute {
  0% {
    top: -100vh;
    left: 0;
    opacity: 0;
  }
  30% {
    top: -70vh;
    left: 60vw;
    opacity: 0.5;
  }
  60% {
    top: -40vh;
    left: 30vw;
    opacity: 0.8;
  }
  100% {
    top: 0;
    left: 50vw;
    opacity: 1;
  }
}
