

<div class="row">
	<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1600px',height:'610px',mode:'crop'})}}" style="width:100%">
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="text-article">
				<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
					<h1 ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
					<h1 ng-if="fieldEditMode"
					   ng-controller="RTEFieldController as rteFieldCtrl"
					   ckeditor="editorOptions"
					   contenteditable="true"
					   ready="setCKEIsReady()"
					   ng-model="fieldEntity['text']"
					   output-plain-text="true"
					   ng-bind-html="rteFieldCtrl.html">
					</h1>
				</div>
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
				
			</div>
		</div>
		<div class="col-xs-12 " ng-if="fieldEntity['video']">
			<div class="text-article">
				<jwplayer video-url="{{fieldEntity['video']}}"></jwplayer>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="text-article">
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('copyrights')}}" class="copyrights"></rubedo-field><!--Copyrights-->
			</div>
		</div>
		<div class="col-xs-12">
			<div class="text-article">
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('externalMedia')}}"  ng-if="fieldEntity['externalMedia']" ></rubedo-field><!--Video-->
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('audio')}}"   ng-if="fieldEntity['audio']"></rubedo-field><!--Audio-->							
			</div>
		</div>
	</div>
	<!--<div class="row" >
		<div class="text-article">
			<span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['5524db6945205e627a8d8c4e']" class="capital tags pull-right"
			      ng-click="contentDetailCtrl.search('5524db6945205e627a8d8c4e',taxonomy)">
				{{contentDetailCtrl.getTermInTaxo("5524db6945205e627a8d8c4e",taxonomy)}}
			</span>
		</div>
		
	</div>
	
	<div class="row border-top" style="margin-top:24px" ng-if="contentDetailCtrl.linkedContents[0]">
		<h3 class="text-center" style="margin-bottom:24px">À lire aussi :</h3>
		<div class="col-xs-12 col-sm-4 text-center" ng-repeat="content in contentDetailCtrl.linkedContents">
			<a ng-href="{{content.url}}">
				<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['fields.image'][0],{width:'420px',height:'200px',mode:'crop'})}}" style="width:90%">
				<h3>{{content.text[0]}}</h3>
			</a>	
		</div>
	</div>-->
</div>

<div style="margin-top:24px"></div>

