<div class="container" style="margin-top:-20px">
	<div class="row blogArticle">
		<div class="col-xs-12">
			<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
				<h1 ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
				<h1 ng-if="fieldEditMode"
				   ng-controller="RTEFieldController as rteFieldCtrl"
				   ckeditor="editorOptions"
				   contenteditable="true"
				   ready="setCKEIsReady()"
				   ng-model="fieldEntity['text']"
				   output-plain-text="true"
				   ng-bind-html="rteFieldCtrl.html">
				</h1>
			</div>
		</div>
	</div>
	<div class="row padding-large">
		<div class="col-sm-8">
			<img ng-if="!isArray(contentDetailCtrl.content.fields.image)"
			     ng-src="{{rubedo.imageUrl.getUrlByMediaId(contentDetailCtrl.content.fields.image,{width:'1000px',mode:'boxed'})}}" style="width:100%">
			<img ng-if="isArray(contentDetailCtrl.content.fields.image)"
			     ng-src="{{rubedo.imageUrl.getUrlByMediaId(contentDetailCtrl.content.fields.image[0],{width:'1000px',mode:'boxed'})}}" style="width:100%">
		</div>
		<div class="col-sm-4 blogTexte">
			<rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
		</div>
	</div>
	<div class="row padding-large" ng-if="fieldEntity['author']">
		<div class="col-sm-8">
			<rubedo-field field = "{{contentDetailCtrl.getFieldByName('author')}}" ></rubedo-field><!--Texte (suite)-->
		</div>
	</div>
	<div class="row padding-large" ng-if="isArray(contentDetailCtrl.content.fields.image)">
		<div class="col-sm-6" ng-repeat="image in contentDetailCtrl.content.fields.image | limitTo:10:1">
			<img class="blogImage" ng-src="{{rubedo.imageUrl.getUrlByMediaId(image,{width:'600px',mode:'boxed'})}}" style="width:100%">
		</div>
	</div>
	
				
				
</div>

<div style="margin-top:24px"></div>
 