

<div class="container" style="margin-top:-20px">
	<div class="row">
		<div class="col-xs-12">
			<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
				<h1 ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
				<h1 ng-if="fieldEditMode"
				   ng-controller="RTEFieldController as rteFieldCtrl"
				   ckeditor="editorOptions"
				   contenteditable="true"
				   ready="setCKEIsReady()"
				   ng-model="fieldEntity['text']"
				   output-plain-text="true"
				   ng-bind-html="rteFieldCtrl.html">
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1000px',mode:'boxed'})}}" style="width:100%">
		</div>
		<div class="col-xs-4">
			<rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
		</div>
	</div>
				
				
</div>

<div style="margin-top:24px"></div>

