        <a ng-href="{{itemData.url}}" ng-if="!itemData['fields.propositionReferenceeInterne']"><h4>{{itemData.title}}</h4></a>
        <a rubedo-page-link="{{itemData['fields.propositionReferenceeInterne'][0]}}" ng-if="itemData['fields.propositionReferenceeInterne']"><h4>{{itemData.title}}</h4></a>
        <p class="capital2" ng-class=" 'txt-'+itemData.groupe">{{rubedo.translate(itemData.groupe,itemData.groupe)}}</p>
        <!--pour contacts, afficher nom, mail, téléphone et résumé (cf siloé pro)-->
        <div ng-if="itemData.typeId=='560d2bf445205e816041ea7f'">
            <p>{{itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.prenom'][0]}} {{itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.nom'][0]}}</p>
            <p>{{itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.email'][0]}}<span ng-if="itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.telephone'][0]">, {{itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.telephone'][0]}}</span></p>
            <p><b>{{itemData['i18n.'+geoSearchResultsCtrl.lang+'.fields.summary'][0]}}</b></p>
            {{'i18n.'+geoSearchResultsCtrl.lang+'.fields.summary'}}
            {{geoSearchResultsCtrl}} {{rubedo}}
        </div>
