////////////////////////////////////////////////
    ///////global variables////////////////
////////////////////////////////////////////////
@width_xxs:420px;
@min_xs:500px;
@min_sm:768px;
@min_md:992px;
@min_lg:1200px;
@txt: #444;


.container-fluid{
		padding: 0;
}
body{font-size:16px; min-height:100%; line-height: 1.4em;overflow-x:hidden }
p{font-family: 'Roboto'}
html,body{font-family: 'Roboto'; height: 100%; overflow: auto;background-color: white;color: @txt; }
/*MENU*/
nav.navbar{
		background-color: #1d1d1d;
		li a {color:#999}
}
/*BACKGROUND IMAGE*/
header.content{
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  h1,h2,h3,h4,h5,p{color:white; font-family: 'Pacifico', serif;};
height:220px;
    //box-shadow:inset 0 0 0 1000px rgba(84,84,84,.33);
    line-height: 220px;
    text-align: center;
}
header.content>div{line-height: normal;display: inline-block;text-align:center; vertical-align: middle;}
/*@media screen and (min-width: @min_sm) {
    header.content{line-height: 600px; height:600px}
    header.content>div{text-align: left; vertical-align: bottom; padding-bottom: 24px}
}*/
header.content.prop>div{text-align: center; vertical-align: middle; padding-bottom: 0}