<a ng-if="block.code" ng-attr-name=" {{block.code | split:'/':1}}" ></a>

<div ng-attr-id=" {{block.code | split:'/':1}}" >
<!--    <header class="content {{block.code}}" style="width:100%;" ng-class="{'standard':blockConfig.displayMode=='title', 'parallax':blockConfig.displayMode=='parallax'}"
                afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{width:'768px',mode:'boxed'})}} 480w , {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile )}} 1500w"
                afkl-lazy-image-options='{"background": true}'>
            <div ng-if="blockConfig.pageTitle" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.pageTitle}" class="text-article">
        </header>-->
    <header class="parallax page" afkl-lazy-image-options='{"background": true}'
                afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['banner'],{width:'768px',mode:'boxed'})}} 480w, {{rubedo.imageUrl.getUrlByMediaId(fieldEntity['banner'] )}} 1500w">
        <div class="container">
            <rubedo-field field= "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="fieldEntity['text']"></rubedo-field>
        </div>
    </header>

    <div class="row">
        <div class="container">
            <div class="col-sm-12 texte_page">
                <rubedo-field field= "{{contentDetailCtrl.getFieldByName('presentation')}}" ng-if="fieldEntity['presentation']" class="pres"></rubedo-field>
            </div>
        </div>
    </div>   

</div> 
