<div ng-controller="MenuController as menuCtrl">
<nav class="bg-0" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="navbar-nav nav navbar-toggle" data-target="#bs-example-navbar-collapse-1">
            <li id="push-button" class="home-button" ng-click="ToggleNav()" ><a>Æ</a></li>
            <li class="home-button">
                <a  ng-href="{{menuCtrl.menu.url}}">$</a>
            </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            	<!--<li id="push-button" class="home-button" ng-click="ToggleNav()"><a>Æ</a></li>-->
           	<li class="home-button">
                    <a  ng-href="{{menuCtrl.menu.url}}">$</a>
                </li>
           	

		<li class="dropdown" >
		    <a href="/fr/accueil/festival" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown">Festival</a>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="/fr/accueil/festival?page=intervenants">Intervenants</a></li>
			<li><a href="/fr/accueil/festival?page=fit-fun">Fit & Fun</a></li>
			<li><a href="/fr/accueil/festival?page=workshops">Workshops</a></li>
			<li><a href="/fr/accueil/festival?page=temps-forts">Temps forts</a></li>
			<li><a href="/fr/accueil/festival?page=coeur-a-coeur">Coeur à coeur</a></li>
			<li><a href="/fr/accueil/festival?page=ateliers">Ateliers</a></li>
			<li><a href="/fr/accueil/festival?page=kawaco">Kawaco</a></li>
			<li><a href="/fr/accueil/festival?page=cte">Qui sommes nous</a></li>
		    </ul>
		</li>
		<li class="dropdown" >
		    <a href="/fr/accueil/parcours" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown">En parcours</a>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="/fr/accueil/parcours?page=studilac">Engagement</a></li>
			<li><a href="/fr/accueil/parcours?page=manaim">Manaïm</a></li>
			<li><a href="/fr/accueil/parcours?page=hozana">Hozana</a></li>
			<li><a href="/fr/accueil/parcours?page=jpros">Jeunes pros</a></li>
			<li><a href="/fr/accueil/parcours?page=groupe">Venir en groupe</a></li>
		    </ul>
		</li>
		<li class="dropdown" >
		    <a href="/fr/accueil/volontaires" >Volontaires</a>
		</li>		
		<li class="dropdown" >
		    <a href="/fr/accueil/infos-pratiques" >Infos pratiques</a>
		</li>		
		<li class="dropdown" id="inscription">
		    <a href="/fr/accueil/inscription" >Pré-inscription</a>
		</li>
		<li class="dropdown" >
		    <a href="/fr/accueil/plus" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown">En plus</a>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="/fr/accueil/plus?page=retraite">Retraite</a></li>
			<li><a href="/fr/accueil/plus?page=stage">Stage Co</a></li>
		    </ul>
		</li>
	    </ul>
	</div>
    </div>
</nav>

