<div ng-controller="PresentationController as presentationCtrl"  ng-switch="blockConfig.columns" >
	
		<div ng-if="blockConfig.columns=='1'">
			<a ng-href="{{ presentationCtrl.pageLink }}" ng-if="!rubedo.fieldEditMode && presentationCtrl.pageLink" class="col-sm-12 col-md-6 presentation-section" afkl-lazy-image-options='{"background": true}'
				afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'400px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile,{height:'600px',mode:'boxed'})}} 972w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{width:'1920px',mode:'boxed'})}} 1650w">
			    <div class="content" ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
			    </div>
			</a>
			<div style="display:block;" class="col-sm-12 col-md-6 presentation-section" ng-if="!presentationCtrl.pageLink "
			     afkl-lazy-image-options='{"background": true}'
				afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'400px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile,{height:'600px',mode:'boxed'})}} 972w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{width:'1920px',mode:'boxed'})}} 1650w">
				<div class="content" ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
				</div> 
			</div>
		</div>	
		<div ng-if="blockConfig.columns=='2'">
			<a ng-href="{{ presentationCtrl.pageLink }}" ng-if="!rubedo.fieldEditMode && presentationCtrl.pageLink" class="col-xxs-6 col-xs-6 col-md-6 presentation-section" afkl-lazy-image-options='{"background": true}'
				afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'200px',mode:'boxed'})}} 480w,{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'400px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile,{height:'600px',mode:'boxed'})}} 972w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{width:'1920px',mode:'boxed'})}} 1650w">
			    <div class="content" ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
			    </div>
			</a>
			<div style="display:block;" class="col-xxs-6 col-xs-6 col-md-6 presentation-section" ng-if="!presentationCtrl.pageLink "
			     afkl-lazy-image-options='{"background": true}'
				afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'200px',mode:'boxed'})}} 480w,{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{height:'400px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile,{height:'600px',mode:'boxed'})}} 972w, {{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile ,{width:'1920px',mode:'boxed'})}} 1650w">
				<div class="content" ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
				</div>
			</div>
		</div>
		
		<div ng-switch-default>
		</div>
		
	

	
	
	<!--
	<a ng-href="{{ presentationCtrl.pageLink }}" style="display:block;" class="col-sm-12 col-md-6 google-btn" ng-if="!rubedo.fieldEditMode && presentationCtrl.pageLink">
		<img class="img-responsive" ng-if="blockConfig.imageFile" ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'250px'}) }}"
                                                                     alt="{{ blockConfig.title }}"/>   
		<div ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
		</div>

	</a>
	<div style="display:block;" class="col-sm-12 col-md-6 google-btn" ng-if="!rubedo.fieldEditMode && !presentationCtrl.pageLink ">
		<img class="img-responsive" ng-if="blockConfig.imageFile" ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'250px'}) }}"
                                                                     alt="{{ blockConfig.title }}"/>   
		<div ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
		</div>

	</div>
	<div  class="col-sm-12 col-md-6 google-btn" ng-if="rubedo.fieldEditMode">
		<img class="img-responsive" ng-if="blockConfig.imageFile" ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'250px'}) }}"
                                                                     alt="{{ blockConfig.title }}"/>   
		<div ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
		</div>

	</div>
	-->
</div>
