<!--mail pour la réservation à l'Étoile de la Mer-->
<html><body>
<div>
  <h3 style='font-style:italic'>Candidature pour le foyer</h3><br/>
  <h1><span style='text-transform:capitalize'>{ prenom }</span> <span style='text-transform:uppercase'>{ nom }</span></h1>
  <h3>{ age } ans (à ce jour)</h3>
</div>
<!--<table width="80%">
<tr>
  <td> 
    Nom : { nom }<br/>   
    Prénom : { prenom }<br/>
  </td>

 </tr>  
</table>--> 
<br/> 
 

<table width=50% style='border: 1px solid #000000' frame='box' rules='all'>
  <tr><td bgcolor='#8CACBB' width=100% colspan=2 style='text-align:center;font-size:1.2em;'><i>1) Informations personnelles</i></td></tr>
<!--    <tr><td bgcolor="#8CACBB" width=33%><i>Nom</i></td><td width=67%>{ nom }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Prénom</i></td><td width=67%>{ prenom }</td></tr> -->
    <tr><td bgcolor='#8CACBB' width=33%><i>Sexe</i></td><td width=67%>{ sexe }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Date de naissance</i></td><td width=67%>{ birthdate }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Ville de naissance</i></td><td width=67%>{ birthplace }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Nationalité</i></td><td width=67%>{ nationality }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Numéro de téléphone</i></td><td width=67%>{ tel }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Email</i></td><td width=67%>{ email }</td></tr>
</table><br/><br/>

<table width=50% style='border: 1px solid #000000' frame='box' rules='all'>
    <tr><td bgcolor='#8CACBB' width=100% colspan=3 style='text-align:center;font-size:1.2em;'><i>2) Informations familiales</i></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i></i></td><td bgcolor="#B5D4E2" style='text-align:center' width=34%><b>Père</b></td><td bgcolor="#B5D4E2"  style='text-align:center' width=33%><b>Mère</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nom</i></td><td width=34%>{ namePere }</td><td width=33%>{ nameMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Prénom</i></td><td width=34%>{ surnamePere }</td><td width=33%>{ surnameMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Profession</i></td><td width=34%>{ professionPere }</td><td width=33%>{ professionMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nationalité</i></td><td width=34%>{ nationalitePere }</td><td width=33%>{ nationaliteMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Email</i></td><td width=34%>{ emailPere }</td><td width=33%>{ emailMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone portable</i></td><td width=34%>{ tel1Pere }</td><td width=33%>{ tel1Mere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone professionel</i></td><td width=34%>{ tel3Pere }</td><td width=33%>{ tel3Mere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone fixe</i></td><td width=34%>{ tel2Pere }</td><td width=33%>{ tel2Mere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Adresse</i></td><td width=34%>{ addressPere }</td><td width=33%>{ addressMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Code Postal</i></td><td width=34%>{ cpPere }</td><td width=33%>{ cpMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Ville</i></td><td width=34%>{ cityPere }</td><td width=33%>{ cityMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Pays</i></td><td width=34%>{ countryPere }</td><td width=33%>{ countryMere }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i></i></td><td bgcolor="#B5D4E2" style='text-align:center' width=34%><b>Frères et soeurs</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nombres de frères et soeurs</i></td><td width=34%>{ nombreFreresSoeurs }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Ages</i></td><td width=34%>{ ageFreresSoeurs }</td></tr>
</table><br/><br/>

<table width=50% style='border: 1px solid #000000' frame='box' rules='all'>
    <tr><td bgcolor='#8CACBB' width=100% colspan=2 style='text-align:center;font-size:1.2em;'><i>3) Situation professionnelle</i></td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Domaine professionnel</i></td><td width=67%>{ profession }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Type de contrat</i></td><td width=67%>{ contrat }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Nom de l'employeur</i></td><td width=67%>{ employeur }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Adresse de l'employeur</i></td><td width=67%>{ adresseEmployeur }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Téléphone de l'employeur</i></td><td width=67%>{ telephoneEmployeur }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Date de début du contrat</i></td><td width=67%>{ dateDebutContrat }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Date de fin du contrat</i></td><td width=67%>{ dateFinContrat }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Diplômes déjà obtenus</i></td><td width=67%>{ diplomes }</td></tr>
    
</table><br/><br/>



    


</body></html>
