<!--mail pour la réservation à l'Étoile de la Mer-->
<html><body>
  <h2>Demande de réservation</h2><br/>
  <h3>1) Identification</h3>
<!--<table width="80%">
<tr>
  <td> 
    Nom : { nom }<br/>
    Prénom : { prenom }<br/>
  </td>

 </tr>
</table>-->
<br/> 


<table width=60% style='border: 1px solid #000000' frame='box' rules='all'>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nom</i></td><td width=67%>{ nom }</td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Prénom</i></td><td width=67%>{ prenom }</td></tr> 
    <tr><td bgcolor='#8CACBB' width=33%><i>Sexe</i></td><td width=67%>{ sexe }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Date de naissance</i></td><td width=67%>{ birthdate }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Ville de naissance</i></td><td width=67%>{ birthplace }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Nationalité</i></td><td width=67%>{ nationality }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Numéro de téléphone</i></td><td width=67%>{ tel }</td></tr>
    <tr><td bgcolor='#8CACBB' width=33%><i>Email</i></td><td width=67%>{ email }</td></tr>
</table><br/><br/>

<table width=60% style='border: 1px solid #000000' frame='box' rules='all'>
    <tr><td width=33%><i>Nom</i></td><td width=34%><b>Père</b></td><td width=33%><b>Mère</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nom</i></td><td width=34%><b>{ namePere }</b></td><td width=33%><b>{ nameMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Prénom</i></td><td width=34%><b>{ surnamePere }</b></td><td width=33%><b>{ surnameMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Profession</i></td><td width=34%><b>{ professionPere }</b></td><td width=33%><b>{ professionMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Nationalité</i></td><td width=34%><b>{ nationalitePere }</b></td><td width=33%><b>{ nationaliteMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Email</i></td><td width=34%><b>{ emailPere }</b></td><td width=33%><b>{ emailMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone portable</i></td><td width=34%><b>{ tel1Pere }</b></td><td width=33%><b>{ tel1Mere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone professionel</i></td><td width=34%><b>{ tel3Pere }</b></td><td width=33%><b>{ tel3Mere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Adresse</i></td><td width=34%><b>{ addressPere }</b></td><td width=33%><b>{ addressMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Code Postal</i></td><td width=34%><b>{ cpPere }</b></td><td width=33%><b>{ cpMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Ville</i></td><td width=34%><b>{ cityPere }</b></td><td width=33%><b>{ cityMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Pays</i></td><td width=34%><b>{ countryPere }</b></td><td width=33%><b>{ countryMere }</b></td></tr>
    <tr><td bgcolor="#8CACBB" width=33%><i>Téléphone fixe</i></td><td width=34%><b>{ tel2Pere }</b></td><td width=33%><b>{ tel2Mere }</b></td></tr>

</table><br/><br/>
    


</body></html>
