<div ng-controller="ContactBlockController as contactCtrl" class="container" ng-init="
      contactCtrl.contactData.subject='Nouvelle réservation';
      contactCtrl.contactData.nbOfNights = 0;
      lg = rubedo.current.page.locale;
      moment.locale(rubedo.current.page.locale);
      contactCtrl.contactData.template='/theme/foyers/templates/mails/reservationEDM.html';
      contactCtrl.param.joursCumul=[0,0,31,59,90,120,151,181,212,243,273,304,334,365];">

        <form name="edmForm" role="form" ng-submit="contactCtrl.submit()">
 
             <div class="col-sm-6">
                <label >Nom*</label>
                <input type="text"  ng-model="contactCtrl.contactData.nom" class="form-control"  required>
            </div>
            
<!--            <div class="row">
                <div class="col-sm-4"><label for="prenom" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
                <div class="col-sm-8"><input  class="form-control" type="text" id="prenom" ng-model="contactCtrl.contactData.surname" name="surname" required></div>
            </div>-->


 
        
        
        <div class="row">
            <div class="button" ng-init="confirmMsg=false;" ng-class="{rouge: edmForm.$valid, disabled: edmForm.$invalid, submit: edmForm.$invalid}" ng-click="contactCtrl.submit();confirmMsg=true;">Réserver</div>
        </div><br/>
      
        <div class="row confirm" ng-if="confirmMsg">
            Réservation envoyée avec succès !<br> Ne considérez votre demande comme confirmée qu'à réception d'un mail de confirmation de notre part.
        </div>
        
            
        </form>
                        

    
    
    
    <!--<div ng-if="contactCtrl.showConfirmMessage" ng-init="notification = {type:'success',text:rubedo.translate('Blocks.Auth.Msg.EmailSent','Email has been sent')}">
        <rubedo-notification></rubedo-notification>
    </div>-->
</div>


<style>
  div.confirm {
    margin-top: 1em;
    padding: 1em;
    background-color: #b9d5b9;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 0px #a8c1a0;
    font-family: Montserrat, Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
