<div class=" content_border">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<a class="header_link" rubedo-page-link="551666f845205e8141869be0">Retour aux actualités</a>
		</div>
	</div>
</div>
<header class="container-fluid content" style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1650px',mode:'boxed'}) }}')" ng-if="fieldEntity['image']">
	<div class="text-article container">
		<p class='capital'>{{contentDetailCtrl.content.createTime*1000 | date:'longDate'}}</p>
		<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
			<h1 class="balance-text" ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
			<h1 ng-if="fieldEditMode"
			   ng-controller="RTEFieldController as rteFieldCtrl"
			   ckeditor="editorOptions"
			   contenteditable="true"
			   ready="setCKEIsReady()"
			   ng-model="fieldEntity['text']"
			   output-plain-text="true"
			   ng-bind-html="rteFieldCtrl.html">
			</h1>
		</div>

	</div>
</header>
<header class="container-fluid" ng-if="!fieldEntity['image']">
	<div class="text-article container">
		<p class='capital txt-red' style="text-shadow: none">{{contentDetailCtrl.content.createTime*1000 | date:'longDate'}}</p>
		<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
			<h1 class="text-left" ng-if="!fieldEditMode" style="text-shadow: none">{{fieldEntity['text']}}</h1>
			<h1 ng-if="fieldEditMode"
			   ng-controller="RTEFieldController as rteFieldCtrl"
			   ckeditor="editorOptions"
			   contenteditable="true"
			   ready="setCKEIsReady()"
			   ng-model="fieldEntity['text']"
			   output-plain-text="true"
			   ng-bind-html="rteFieldCtrl.html">
			</h1>
		</div>

	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="text-article">
				<div ng-controller="AddThisShareController as addThisShareCtrl" class=" col-xs-12 col-sm-3 col-sm-push-9">
				
				    <div class="socials addthis_toolbox addthis_32x32_style addthis_default_style" data-url="{{ rubedo.current.page.contentCanonicalUrl }}" data-title="{{rubedo.current.page.title}}">
					<a class="addthis_button_facebook txt-red" href=""><img class="hidden"><i class="fa fa-facebook-official" data-toggle="tooltip" title="Partager sur Facebook"></i> </a>
					<a class="addthis_button_twitter txt-red"><img  class="hidden"><i class="fa fa-twitter-square" data-toggle="tooltip" title="Partager sur Twitter"></i> </a>
					<a class="addthis_button_gmail txt-red"><img class="hidden"><i class="fa fa-share-square" data-toggle="tooltip" title="Envoyer par mail"></i></a>

					<a class="addthis_button_expanded txt-red"><img class="hidden"><i class="fa fa-plus-square" data-toggle="tooltip" title="Plus d'options"></i></a>
					<a  class="addthis_counter addthis_bubble_style"></a>
					<!--<div class="capital txt-red" ng-if="addThisShareCtrl.shareCounter>0">{{addThisShareCtrl.shareCounter}} partages</div>-->
				
				    </div>
				    {{contentDetailCtrl.tooltips()}}
				    <!--{{addThisShareCtrl.loadAddThis()}}-->
				</div>
				<div class="col-xs-12 col-sm-9 col-sm-pull-3">
					<rubedo-field class="capital tags"  field =  "{{contentDetailCtrl.getFieldByName('author')}}"></rubedo-field><!--Auteur-->					
				</div>
			</div>
		</div>
		<div class="col-xs-12 " ng-if="fieldEntity['video']">
			<div class="text-article">
				<jwplayer video-url="{{fieldEntity['video']}}"></jwplayer>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="text-article">
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ></rubedo-field><!--Texte-->
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('copyrights')}}" class="copyrights"></rubedo-field><!--Copyrights-->
			</div>
		</div>
		<div class="col-xs-12">
			<div class="text-article">
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('externalMedia')}}"  ng-if="fieldEntity['externalMedia']" ></rubedo-field><!--Video-->
				<rubedo-field field = "{{contentDetailCtrl.getFieldByName('audio')}}"   ng-if="fieldEntity['audio']"></rubedo-field><!--Audio-->							
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="text-article">
			<span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['5524db6945205e627a8d8c4e']" class="capital tags pull-right">{{contentDetailCtrl.getTermInTaxo("5524db6945205e627a8d8c4e",taxonomy)}}</span>
		</div>
		
	</div>
</div>

<div style="margin-top:24px"></div>
</div>

