
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<style>
	
.blueimp-gallery .modal-body {
	position: relative;
	text-align: center;
	padding: 0 0 56.25% 0;
	overflow: hidden;
	cursor: pointer;
}
.blueimp-gallery .modal-footer {
	margin: 0;
}
.blueimp-gallery .modal-body img,
.blueimp-gallery .modal-body .video-content video,
.blueimp-gallery .modal-body .video-content iframe,
.blueimp-gallery .modal-body .video-content a {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.blueimp-gallery .modal-body .video-content video {
 	display: none;
}
.blueimp-gallery .modal-body .video-playing video {
	display: block;
}
.blueimp-gallery .modal-body .video-content iframe {
	width: 100%;
	height: 100%;
	border: none;
	left: 100%;
}
.blueimp-gallery .modal-body .video-playing iframe {
	left: 0;
}
.blueimp-gallery .modal-body .video-playing img,
.blueimp-gallery .modal-body .video-playing a {
 	display: none;
}
.blueimp-gallery .modal-body .video-content a {
	cursor: pointer;
}
.blueimp-gallery .modal-body .video-content a:after {
	font-family: "Glyphicons Halflings";
	-webkit-font-smoothing: antialiased;
	content: "\e029";
	font-size: 64px;
	line-height: 64px;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	margin: -32px 0 0 -32px;
}
.blueimp-gallery .modal-body .video-loading a {
	background: url(../img/loading.gif) center no-repeat;
	background-size: 64px 64px;
}
.blueimp-gallery .modal-body .video-loading a:after {
	content: none;
}

@media screen and (min-width: 768px) {
  .blueimp-gallery .modal-dialog {
    right: auto;
    left: auto;
	width: auto;
    max-width: 900px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.grid{max-width:1200px; margin: 0 auto; display: block}
/* fluid 5 columns */
.masonry-brick { width: 23%;margin-bottom: 5px; }
@media screen and (max-width: 768px) {.grid-sizer,
.masonry-brick { width: 49%; }}
.gutter-sizer{width:5px}
</style>
<div class="grid" masonry masonry-options="{ gutter: '.gutter-sizer',percentPosition: true,isFitWidth: true }" reload-on-resize>
	<div class="masonry-brick" ng-repeat="image in contentDetailCtrl.content.images | limitTo : contentDetailCtrl.limit">
	    <img ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'300px',mode:'boxed'})}}" class="img-responsive"/>
	</div>
	<div class="gutter-sizer"></div>
</div>
<button class="button-rouge" ng-click="contentDetailCtrl.addImages()">Add more</button>

<!--<div class="grid js-masonry" ng-class="{'invisible':!contentDetailCtrl.albumVisibility}"
  data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <div class="grid-item" ng-repeat="image in contentDetailCtrl.content.images | limitTo : contentDetailCtrl.limit ">
	<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'300px',mode:'boxed'})}}" class="img-responsive" alt="Banana" ng-if="!$last">
	<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'300px',mode:'boxed'})}}" class="img-responsive" alt="Banana" ng-if="$last" imageonload="contentDetailCtrl.callMasonry()">
  </div>
 <div class="gutter-sizer"></div>
 
</div>
<button class="button-rouge" ng-click="addImages()">Add more</button>
<!--
<div class="row">
	<div class="col-lg-3 col-md-4 col-xs-6" ng-repeat-start="image in contentDetailCtrl.content.images">
		<a ng-href="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'400px',height:'300px',mode:'crop'})}}" title="Banana" data-gallery>
			<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(image.id,{width:'300px',mode:'boxed'})}}" class="img-responsive" alt="Banana">
		</a>
	</div>
	<div class="clearfix" ng-repeat-end></div>

</div>-->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


