<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<img class="media-object pull-right padding-top padding-right" ng-if="fieldEntity[contentDetailCtrl.content.type.fields[1].config.name]"
				 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity[contentDetailCtrl.content.type.fields[1].config.name],{height:'420px',width:'300px',mode:'crop'}) }}"
				 alt=""/>	
	</div>
	<div class="col-xs-12 col-sm-6">
		<div style="max-width:400px">
		<h1>Revue FOI</h1>
		<p class="clearfix">La revue FOI (pour Fraternité Oecuménique Internationale) est une revue trimestrielle éditée par la communauté du Chemin Neuf.
		Elle donne la parole à des acteurs de l’Eglise et à des membres de la communauté qui partagent leur passion pour l'Unité.</p>
		<a class="button rouge" href="http://www.laboutique-chemin-neuf.com/fr/354-la-revue-foi">S'abonner à la revue</a>
		<a class="button rouge" href="http://www.laboutique-chemin-neuf.com/fr/la-revue-foi/1512-love-bridge-3700226579478.html">Acheter le dernier numéro</a>
		</div>
	</div>
</div>
<div class="row" style="border-top:4px solid white; margin-top:24px">
	<h3>Sommaire - {{fieldEntity[contentDetailCtrl.content.type.fields[0].config.name]}}</h3>
</div>
<div class="row sommaire" style="border-bottom:4px solid white">
	<rubedo-field ng-init="field = contentDetailCtrl.content.type.fields[2]" ng-if="fieldEntity[contentDetailCtrl.content.type.fields[2].config.name]" ></rubedo-field><!--Sommaire-->
</div>
<div style="margin-top:24px"></div>
</div>
