<div class=" content_border">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				<div ng-controller="BreadcrumbController as breadcrumbCtrl">
					<ol class="breadcrumb hidden-xs">
					    <li ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
					</ol>
					<a class="header_link visible-xs" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index" ng-href="{{page.url}}" ng-if="$first">{{page.title}}</a>
				</div>
			</div>
		</div>
	</div>

<header class="container-fluid content prop" ng-style="{'background-image':'url('+rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1650px',mode:'boxed'})+')'}" ng-if="fieldEntity['image']">
	<div class="text-article container" >
		<div field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="!fieldEditMode">
			<h1 class="balance-text" >{{fieldEntity['text']}}</h1>
		</div>
		<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field>
		<p>{{contentDetailCtrl.content.fields.position.address}}</p>

	</div>
</header>
<header class="container-fluid" ng-if="!fieldEntity['image']">
	<div class="text-article container">
		<div field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="!fieldEditMode">
			<h1 class="text-left"  style="text-shadow: none">{{fieldEntity['text']}}</h1>
		</div>
		<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field><!--Description-->

	</div>
</header>
<div class="container">
	
	<div class="row" >
		<div class="text-article">
			<div class="col-sm-12"><h3>Informations pratiques</h3></div>
			<div class="row" ng-if="fieldEntity['rencontres']">
				<div class="col-xs-12 col-sm-4 border-top-red no-padding">
					<p class="capital">Rencontres</p>
				</div>
				<div class="col-xs-12 col-sm-8 ">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('rencontres')}}"></rubedo-field><!--Description-->
				</div>
			</div>
			<div class="row" ng-if="fieldEntity['horaires']">
				<div class="col-xs-12 col-sm-4 border-top-red no-padding">
					<p class="capital">Horaires</p>
				</div>
				<div class="col-xs-12 col-sm-8 ">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('horaires')}}"></rubedo-field><!--Description-->
				</div>
			</div>
			<div ng-if="fieldEntity['position']" ng-init="showMap=false" class="row">
				<div class="col-xs-12 col-sm-4 border-top-red no-padding">
					<p class="capital">{{contentDetailCtrl.getLabelByName('position')}}</p>
				</div>
				<div class="col-xs-12 col-sm-8 ">
					<p ng-click="showMap= !showMap"><a href="" >{{rubedo.translate("Block.Inscription.VoirPlan", "Voir le plan")}}</a></p>
				</div>
				<rubedo-field ng-if="showMap" class="col-xs-12"  field =  "{{contentDetailCtrl.getFieldByName('position')}}"></rubedo-field><!--Plan-->
			</div>
			<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('description')}}"></rubedo-field><!--Description-->
			<span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['555a164d45205eea0a7e689b']" class="capital tags pull-right">{{contentDetailCtrl.getTermInTaxo("555a164d45205eea0a7e689b",taxonomy)}}</span>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="button rouge" ng-click="contentDetailCtrl.showCalendar()">calendrier</div>
		</div>
		<div class="col-sm-12 padding-large" ng-if="contentDetailCtrl.calendarContents.length>0">
			<table class="rwd-table">
			        <thead>
			            <tr>
			                <th>Date</th>
			                <th>Proposition</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="content in contentDetailCtrl.calendarContents track by $index">
			                <th class="cal-date" data-th="Date"><a ng-href="{{ content.url }}">{{content['fields.dateDebut'][0]|dateRange:content['fields.dateFin'][0]:'short'}}</a></th>
			                <th class="cal-prop" data-th="Proposition"><a ng-href="{{ content.url }}">
			                        {{ content.text[0] }}</a>
			                </th>
			            </tr>
			        </tbody>
			</table>
		</div>
	</div>
</div>

<div style="margin-top:24px"></div>
</div>

