<div class=" content_border">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="BreadcrumbController as breadcrumbCtrl">
					<ol class="breadcrumb">
					    <li ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div style="overflow-y: hidden">
		<header class="container-fluid content prop " style="background-image:url('{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1650px',mode:'boxed'}) }}')" ng-if="fieldEntity['image']">
			<div class="text-article container" >
				<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
					<h1 class="balance-text" ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
					<h1 ng-if="fieldEditMode"
					   ng-controller="RTEFieldController as rteFieldCtrl"
					   ckeditor="editorOptions"
					   contenteditable="true"
					   ready="setCKEIsReady()"
					   ng-model="fieldEntity[field.config.name]"
					   output-plain-text="true"
					   ng-bind-html="rteFieldCtrl.html">
					</h1>
				</div>
			</div>
		</header>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-12" >
				
				<div data-addthis-toolbox  data-title="{{rubedo.current.page.title}}"  class="addthis_toolbox socials center" >
					<a class="addthis_button_facebook txt-red"><img class="hidden"><i class="fa fa-facebook-official" data-toggle="tooltip" title="Partager sur Facebook"></i> </a>
					<a class="addthis_button_twitter txt-red"><img  class="hidden"><i class="fa fa-twitter-square" data-toggle="tooltip" title="Partager sur Twitter"></i> </a>
					<a class="addthis_button_email txt-red"><img class="hidden"><i class="fa fa-share-square" data-toggle="tooltip" title="Envoyer par mail"></i></a>
					<a class="addthis_button_expanded txt-red"><img class="hidden"><i class="fa fa-plus-square" data-toggle="tooltip" title="Plus d'options"></i></a>
				</div>
				{{contentDetailCtrl.tooltips()}}
				<div class="text-article">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('richText')}}"></rubedo-field><!--Description-->
				</div>
			</div>		
		</div>

		<div style="padding-top:24px" class=""></div>
	</div>
		
		
	
</div>

