<script async src="/theme/cte/src/modules/rubedoBlocks/controllers/DonationController.js"></script>
<div class=" content_border">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				<div ng-controller="BreadcrumbController as breadcrumbCtrl">
					<ol class="breadcrumb hidden-xs">
					    <li ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
					</ol>
					<a class="header_link visible-xs" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index" ng-href="{{page.url}}" ng-if="$first">{{page.title}}</a>
				</div>
			</div>
		</div>
		<a ng-if="rubedo.current.user.rights.canEdit" ng-href="{{ contentDetailCtrl.content.editorPageUrl}}">
			<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>{{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}</button>
		</a>
	</div>
	<div class="" style="overflow-y: hidden">
		<header class="container-fluid content prop " ng-style="{'background-image':'url('+rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1650px',mode:'boxed'})+')'}" ng-if="fieldEntity['image']">
			<div class="text-article container" >
				<div field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="!fieldEditMode">
					<h1 class="balance-text">{{fieldEntity['text']}}</h1>
				</div>
				<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field>
				
				<p><rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('subTitle')}}"></rubedo-field></p>
				<a href="#infos_pratiques" class="button rouge">{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</a>
				<a href="#donner" class="button rouge" ng-if="contentDetailCtrl.isInscription">{{rubedo.translate("FaireUnDon", "Faire un don")}}</a>
		
		
			</div>
		</header>
	</div>


	<div class="container-fluid">
		<a name="infos_pratiques"></a>
		<div class="row" >
			<div class="text-article infos">
				<div class="col-xs-12"><h3>{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</h3></div>
				
				<div  class="col-xs-6">
					<!--Pays-->
					<div class="container-fluid" ng-if="contentDetailCtrl.content.taxonomy['56be135cc445ece5018b552e'].length>0">
						<div class="col-xs-12 col-sm-4 border-top-red no-padding">
							<p class="capital text-left">{{rubedo.translate("Dons.Projet", "Type de projet")}}</p>
						</div>
						<div class="col-xs-12 col-sm-8 ">
							<p class="text-left"><span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['56be135cc445ece5018b552e']">
									<span ng-if="$index>0">, </span>{{contentDetailCtrl.getTermInTaxo("56be135cc445ece5018b552e",taxonomy)}}</span>
							</p>
						</div>
					</div>
					<!--Type de projet-->
					<div class="container-fluid">
						<div class="col-xs-12 col-sm-4 border-top-red no-padding">
							<p class="capital text-left">{{rubedo.translate("Block.Inscription.Pays", "Pays")}}</p>
						</div>
						<div class="col-xs-12 col-sm-8 ">
							<p><span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['54d6299445205e7877a6b28e']">
								{{contentDetailCtrl.getTermInTaxo("54d6299445205e7877a6b28e",taxonomy)}}</span>
							</p>
						</div>
					</div>

					<!--Date création projet-->
					<div class="container-fluid" ng-if="fieldEntity['website']">
						<div class="col-xs-12 col-sm-4 border-top-red no-padding">
							<p class="capital text-left">{{contentDetailCtrl.getLabelByName('date_creation_projet')}}</p>
						</div>
						<div class="col-xs-12 col-sm-8 ">
							<p class="small"><a ng-href="{{contentDetailCtrl.content.fields.website}}" target="_blank">{{contentDetailCtrl.content.fields.date_creation_projet}}</a></p>

						</div>
					</div>
					
					<!--Site web-->
					<div class="container-fluid" ng-if="fieldEntity['website']">
						<div class="col-xs-12 col-sm-4 border-top-red no-padding">
							<p class="capital text-left">{{contentDetailCtrl.getLabelByName('website')}}</p>
						</div>
						<div class="col-xs-12 col-sm-8 ">
							<p class="small"><a ng-href="{{contentDetailCtrl.content.fields.website}}" target="_blank">{{contentDetailCtrl.content.fields.website}}</a></p>

						</div>
					</div>

					<!--Budget-->
					<div class="container-fluid" ng-if="contentDetailCtrl.content.fields.budget>0">
						<div class="col-xs-12 col-sm-4 border-top-red no-padding">
							<p class="capital text-left">{{contentDetailCtrl.getLabelByName('budget')}}</p>
						</div>
						<div class="col-xs-12 col-sm-8 ">
							<img src="/theme/cte/img/cruche.png" height="100" class="cruche" ng-style="{'background' : 'linear-gradient(to top, #9e4232 '+contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget+'%, transparent '+contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget+'%)'}">
							
							<p style="margin-bottom: 0px">{{contentDetailCtrl.content.fields.budget |number:0}} {{contentDetailCtrl.content.fields.monnaie}} <span ng-if="contentDetailCtrl.content.fields.budgetAnnuel">{{rubedo.translate("Dons.Annuel", " / année")}}</span><br/>
							<p ng-init="pourcentage=(contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget | number :0)"><i>{{rubedo.translate("Dons.Finance", "Projet financé à ..%",["%pourcentage%"],[pourcentage])}}</i></p>
							<em><a ng-href="{{'http://www.xe.com/ecc/input.cgi?Template=se&Amount='+contentDetailCtrl.content.fields.budget+'&From='+contentDetailCtrl.content.fields.monnaie }}" target="_blank" style="font-size: 0.95em;">Convertir dans une autre monnaie</a></em></p>
							<p><rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('budget')}}"></rubedo-field></p>
						</div>
						</div>
				</div>
				<div class="col-xs-6">
					<div class="container-fluid">
						<!--Contact du projet-->
						<div ng-if="fieldEntity['nom']" class="col-xs-12">
							<div class="col-xs-12 border-top-red no-padding">
								<p class="capital text-left">{{contentDetailCtrl.getLabelByName('nom')}}</p>
							</div>
							<div class="col-xs-12 ">
								<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('contactPhoto')}}" style="float:left; margin-right:12px; max-width:65px"></rubedo-field>
								<p style="margin-bottom:0" class="text-left"><b>{{contentDetailCtrl.content.fields.nom}}</b><!--Nom du contact-->
									<span ng-if="contentDetailCtrl.content.fields.contactTitle"> ({{contentDetailCtrl.content.fields.contactTitle}})</span><!--Titre du contact-->
								</p>
								<div ng-init="blockConfig={'id':'contactProjet','email':contentDetailCtrl.content.fields.email, 'name':contentDetailCtrl.content.fields.nom, 'email_txt': rubedo.translate('Block.Mail.SendMail','Envoyer un mail')}">
									<div ng-include="rubedo.blockTemplateResolver.getTemplate('simpleContact',blockConfig)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<!--Contact national-->
						<div ng-if="contentDetailCtrl.contactNational" class="col-xs-12">
							<div class="col-xs-12  border-top-red no-padding">
								<p class="capital text-left">{{rubedo.translate("Block.Dons.ContactNational", "Contact administratif et fiscal dans votre pays")}}</p>
							</div>
							<div class="col-xs-12 ">
								<img ng-if="contentDetailCtrl.contactNationalPhoto" ng-src="{{contentDetailCtrl.contactNationalPhoto}}" class="img-responsive"  style="float:left; margin-right:12px; max-width:100px" />
								<p style="margin-bottom:0"><b>{{contentDetailCtrl.contactNational.fields.prenom}} {{contentDetailCtrl.contactNational.fields.nom}}</b><!--Nom du contact-->
									<span ng-if="contentDetailCtrl.contactNational.fields.contactTitle"> ({{contentDetailCtrl.contactNational.fields.contactTitle}})</span><!--Titre du contact-->
								</p>
								<div ng-init="blockConfig={'id':'contactNational', 'email':contentDetailCtrl.contactNational.fields.email, 'name':contentDetailCtrl.contactNational.fields.prenom+' '+contentDetailCtrl.contactNational.fields.nom, 'email_txt': rubedo.translate('Block.Mail.SendMail','Envoyer un mail')}">
									<div ng-include="rubedo.blockTemplateResolver.getTemplate('simpleContact',blockConfig)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!---plan-->
				<div ng-if="fieldEntity['position']" ng-init="showMap=false" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('position')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p ng-click="showMap= !showMap"><a href="" >{{rubedo.translate("Block.Inscription.VoirPlan", "Voir le plan")}}</a></p>
					</div>
					<rubedo-field ng-if="showMap" class="col-xs-12"  field =  "{{contentDetailCtrl.getFieldByName('position')}}"></rubedo-field><!--Plan-->
				</div>						

				
				
			</div>
			
		</div>
		<div class="row">
			<div class="col-xs-12 bg-white" >
				<div class="text-article">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('description')}}"></rubedo-field><!--Description-->
				</div>
			</div>		
		</div>		
		<a name="donner"></a>

		<div class="row padding-large" ng-controller="DonationController as donsCtrl">
			<div ng-include="donsCtrl.donationTemplate"></div>
		</div>
		<div style="padding-top:24px"></div>
		

	</div>
		
		
	
	
</div>

