<script async src="/theme/cte/src/modules/rubedoBlocks/controllers/DonationController.js"
<div class=" content_border">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				<div ng-controller="BreadcrumbController as breadcrumbCtrl">
					<ol class="breadcrumb hidden-xs">
					    <li ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
					</ol>
					<a class="header_link visible-xs" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index" ng-href="{{page.url}}" ng-if="$first">{{page.title}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white" style="overflow-y: hidden">
		<header class="container-fluid content prop " ng-style="{'background-image':'url('+rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1650px',mode:'boxed'})+')'}" ng-if="fieldEntity['image']">
			<div class="text-article container" >
				<div field = "{{contentDetailCtrl.getFieldByName('text')}}" >
					<h1 class="balance-text" ng-if="!fieldEditMode">{{fieldEntity['text']}}</h1>
					<h1 ng-if="fieldEditMode"
					   ng-controller="RTEFieldController as rteFieldCtrl"
					   ckeditor="editorOptions"
					   contenteditable="true"
					   ready="setCKEIsReady()"
					   ng-model="fieldEntity['text']"
					   output-plain-text="true"
					   ng-bind-html="rteFieldCtrl.html">
					</h1>
				</div>
				<p><rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('subTitle')}}"></rubedo-field></p>
				<a href="#infos_pratiques" class="button rouge">{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</a>
				<a href="#donner" class="button rouge" ng-if="contentDetailCtrl.isInscription">{{rubedo.translate("FaireUnDon", "Faire un don")}}</a>
		
		
			</div>
		</header>
	</div>


	<div class="container-fluid">
		<a name="infos_pratiques"></a>
		<div class="row" >
			<div class="text-article infos">
				<div class="col-xs-12"><h3>{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</h3></div>
				<!--Pays-->
				<div  class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{rubedo.translate("Dons.projet", "Type de projet")}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p><span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['54d6299445205e7877a6b28e']">
								{{contentDetailCtrl.getTermInTaxo("54d6299445205e7877a6b28e",taxonomy)}}</span>
						</p><!--Taxonomie de pays-->
					</div>
				</div>
				<!--Type de projet-->
				<div  class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{rubedo.translate("Block.Inscription.Pays", "Pays")}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p><span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['56be135cc445ece5018b552e']">
								{{contentDetailCtrl.getTermInTaxo("56be135cc445ece5018b552e",taxonomy)}}</span>
						</p><!--Taxonomie de projets-->
					</div>
				</div>
				<div  class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('budget')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<img src="/theme/cte/img/cruche.png" height="100" class="cruche" ng-style="{'background' : 'linear-gradient(to top, #9e4232 '+contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget+'%, transparent '+contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget+'%)'}">
						<p>{{contentDetailCtrl.content.fields.budget}} {{contentDetailCtrl.content.fields.monnaie}}<span ng-if="contentDetailCtrl.content.fields.budgetAnnuel">{{rubedo.translate("Dons.Annuel", " / année")}}</span></p>
						<p><i>{{rubedo.translate("Dons.Finance", "Projet financé à")}} {{contentDetailCtrl.content.fields.cumul * 100 / contentDetailCtrl.content.fields.budget | number :0}} %</i></p>
						<p><rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('budget')}}"></rubedo-field></p><!--Budget du projet-->
					</div>
				</div>
				<div ng-if="fieldEntity['position']" ng-init="showMap=false" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('position')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p ng-click="showMap= !showMap"><a href="" >{{rubedo.translate("Block.Inscription.VoirPlan", "Voir le plan")}}</a></p>
					</div>
					<rubedo-field ng-if="showMap" class="col-xs-12"  field =  "{{contentDetailCtrl.getFieldByName('position')}}"></rubedo-field><!--Plan-->
				</div>
				
				
				<div ng-if="fieldEntity['contact']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('contact')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p><rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('contact')}}"></rubedo-field></p><!--Contact-->
					</div>
				</div>			
				
			</div>
			
		</div>
		<div class="row">
			<div class="col-xs-12 bg-white" >
				<div class="text-article">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('description')}}"></rubedo-field><!--Description-->
				</div>
			</div>		
		</div>		
		<a name="donner"></a>
		<div class="row" >
			<div class="text-article">
				<div class="col-xs-12"><h3>{{rubedo.translate("FaireUnDon", "Faire un don")}}</h3></div>
				
			</div>
			
		</div>
		<div class="row padding-large" ng-controller="DonationController as donsCtrl">
			<div ng-include="donsCtrl.inscriptionTemplate"></div>
		</div>
		<div style="padding-top:24px"></div>
		

	</div>
		
		
	
	
</div>

