<a ng-if="fieldEditMode" ng-href="{{ contentDetailCtrl.content.editorPageUrl}}">
	<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>{{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}</button>
</a>
<div class=" content_border">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				<div ng-controller="BreadcrumbController as breadcrumbCtrl">
					<ol class="breadcrumb hidden-xs">
					    <li ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
					</ol>
					<a class="header_link visible-xs" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-2 track by $index" ng-href="{{page.url}}" ng-if="$first">{{page.title}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white" style="overflow-y: hidden">
		<header class="container-fluid content prop " ng-style="{'background-image':'url('+rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1650px',mode:'boxed'})+')'}" ng-if="fieldEntity['image']">
			<div class="text-article container" >
				<div field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="!fieldEditMode">
					<h1 class="balance-text">{{fieldEntity['text']}}</h1>
				</div>
				<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field>
				<p>{{contentDetailCtrl.content.fields.positionName}}</p>
				<p ng-if="contentDetailCtrl.content.fields.dateDebut">{{contentDetailCtrl.content.fields.dateDebut | dateRange:contentDetailCtrl.content.fields.dateFin:true }}</p>
				<p ng-if="!contentDetailCtrl.content.fields.dateDebut && contentDetailCtrl.content.fields.complement_date">{{contentDetailCtrl.content.fields.complement_date}}</p>
				<a href="#infos_pratiques" class="button rouge">{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</a>
				<a href="#inscription" class="button rouge" ng-if="contentDetailCtrl.isInscription">{{rubedo.translate("Inscription", "S'inscrire")}}</a>
		
		
			</div>
		</header>
	</div>


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 bg-white" >
				<div class="text-article">
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('description')}}"></rubedo-field><!--Description-->
				</div>
			</div>		
		</div>
		<a name="infos_pratiques"></a>
		<div class="row" >
			<div class="text-article infos">
				<div class="col-xs-12"><h3>{{rubedo.translate("InfosPratiques", "Infos pratiques")}}</h3></div>
				<div ng-if="fieldEntity['dateDebut']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">Date</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p>du {{contentDetailCtrl.content.fields.dateDebut* 1000 | date:'fullDate'}} <span ng-if="fieldEntity['heureDebut']">à  {{contentDetailCtrl.content.fields.heureDebut}} </span>au {{contentDetailCtrl.content.fields.dateFin* 1000 | date:'fullDate'}}<span ng-if="fieldEntity['heureFin']"> à  {{contentDetailCtrl.content.fields.heureFin}}</span></p><!--Description-->
						<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('dateDebut')}}"></rubedo-field>
						<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('heureDebut')}}"></rubedo-field>
						<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('dateFin')}}"></rubedo-field>
						<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('heureFin')}}"></rubedo-field>
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('complement_date')}}"></rubedo-field>
					</div>
				</div>
				<div ng-if="fieldEntity['complement_date'] || fieldEntity['dates_cycle'] " class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">Date</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('complement_date')}}"></rubedo-field>
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('dates_cycle')}}"></rubedo-field>
					</div>
				</div>
				<div ng-if="fieldEntity['position']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('lieuCommunautaire')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p>{{contentDetailCtrl.content.fields.position.address}}</p><!--Description-->
					</div>
				</div>
				<div ng-if="fieldEntity['logement']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('logement')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('logement')}}"></rubedo-field><!--Description-->
					</div>
				</div>
				<div ng-if="fieldEntity['transport']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('transport')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('transport')}}"></rubedo-field><!--Description-->
					</div>
				</div>
				<div ng-if="fieldEntity['accompte']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('accompte')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						{{contentDetailCtrl.content.fields.accompte}} €
						<rubedo-field  ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('accompte')}}"></rubedo-field><!--Description-->
					</div>
				</div>
				<div ng-if="fieldEntity['paf_text']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('paf_text')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('paf_text')}}"></rubedo-field><!--Description-->
					</div>
				</div>
				<div ng-if="fieldEntity['position']" ng-init="showMap=false" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('position')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p ng-click="showMap= !showMap"><a href="" >{{rubedo.translate("Block.Inscription.VoirPlan", "Voir le plan")}}</a></p>
					</div>
					<rubedo-field ng-if="showMap" class="col-xs-12"  field =  "{{contentDetailCtrl.getFieldByName('position')}}"></rubedo-field><!--Plan-->
				</div>
				<div ng-if="fieldEntity['contact']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('contact')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p><rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('contact')}}"></rubedo-field></p><!--Contact-->
					</div>
				</div>			
				<div ng-if="fieldEntity['infoInscription']" class="col-xs-12">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">{{contentDetailCtrl.getLabelByName('infoInscription')}}</p>
					</div>
					<div class="col-xs-12 col-sm-8 ">
						<p><rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('infoInscription')}}"></rubedo-field></p><!--Contact-->
					</div>
				</div>
				<div class="col-sm-12" ng-if="fieldEditMode">
					<p>{{contentDetailCtrl.getLabelByName('publics')}} :</p>
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('publics')}}"></rubedo-field>
					<p>{{contentDetailCtrl.getLabelByName('public_service')}} :</p>
					<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('public_service')}}"></rubedo-field>
				</div>
				
			</div>
			
		</div>
		<a name="inscription"></a>
		<div class="row  bg-white" ng-if="contentDetailCtrl.isInscription">
			<div class="text-article">
				<div class="col-xs-12"><h3>Inscriptions</h3></div>
				<div ng-if="fieldEntity['inscriptionState']">
					<div class="col-xs-12 col-sm-4 border-top-red no-padding">
						<p class="capital text-left">État des inscriptions</p>
					</div>
					<div class="col-xs-12 col-sm-8 "  ng-if="contentDetailCtrl.propDate!='passee' ">
						<rubedo-field field =  "{{contentDetailCtrl.getFieldByName('inscriptionState')}}"></rubedo-field>
						<div ng-if="contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'attente' ">
							<p>{{rubedo.translate("Block.Inscription.Attente.Ligne1", "La proposition choisie est complète.")}}</p>
							<p>{{rubedo.translate("Block.Inscription.Attente.Ligne2", "Vous pouvez vous inscrire sur liste d'attente.")}}</p>
							<p>{{rubedo.translate("Block.Inscription.Attente.Ligne3", "Les frais d'inscription vous seront demandés à la confirmation de votre inscription.")}}</p>
						</div>
					</div>
					<div class="col-xs-12" ng-if="contentDetailCtrl.propDate=='passee'">
						<p>{{rubedo.translate("Block.Inscription.Passee", "La proposition est passée, les inscriptions ne sont plus possibles")}}</p>
					</div>
					<div class="col-sm-12" ng-if="contentDetailCtrl.propDate!='passee'
						&& (contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'ouverte'
						|| contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'preinscription'
						||  contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'attente')">
						<!--si un seul public accueilli-->
						<div class="col-sm-6" ng-if="(contentDetailCtrl.content.fields.publics).length==1 && contentDetailCtrl.content.fields.publics[0]">
							<div class="button rouge cursor-as-pointer"  ng-click="contentDetailCtrl.content.public = contentDetailCtrl.content.fields.publics[0];contentDetailCtrl.content.service = false; contentDetailCtrl.showInscription = true">
								S'inscrire
							</div>
						</div>
						<!--si un plusieurs types de public accueillis-->
						<div ng-if="(contentDetailCtrl.content.fields.publics).length>1" class="col-sm-6 text-center">
							<div class="button rouge cursor-as-pointer"   style="margin-bottom:12px" >S'inscrire comme :</div>
							        <!--Type de public -->
								<div ng-repeat="public in contentDetailCtrl.content.fields.publics track by $index" class="text-center">
	
									<p><a href="" ng-click="contentDetailCtrl.content.public = public; contentDetailCtrl.content.service = false; contentDetailCtrl.showInscription =true">- {{contentDetailCtrl.getLabel(contentDetailCtrl.content.type.fields[20], public)}} </a></p><!--Attention, ce label dépend du format de type de contenu-->
								</div>
						</div>						
						<!--si un seul public au service-->
						<div class="col-sm-6" ng-if="(contentDetailCtrl.content.fields.public_service).length==1 && contentDetailCtrl.content.fields.public_service[0]">
							<div class="button rouge cursor-as-pointer"  ng-click="contentDetailCtrl.content.public = contentDetailCtrl.content.fields.public_service[0];contentDetailCtrl.content.service = true; contentDetailCtrl.showInscription = true" >
								S'inscrire au service
							</div>
						</div>
						<!--si un plusieurs types de public au service-->
						<div ng-if="(contentDetailCtrl.content.fields.public_service).length>1" class="col-sm-6">
							<div class="button rouge cursor-as-pointer"  style="margin-bottom:12px">S'inscrire  au service :</div>
							        <!--Type de public -->
								<div ng-repeat="public in contentDetailCtrl.content.fields.public_service track by $index" class="text-center">

									<p><a href="" ng-click="contentDetailCtrl.content.public = public;contentDetailCtrl.content.service = true; contentDetailCtrl.showInscription =true">- {{contentDetailCtrl.getLabel(contentDetailCtrl.content.type.fields[21], public)}} </a></p><!--Attention, ce label dépend du format de type de contenu-->
								</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div style="padding-top:24px" class="bg-white"></div>
	</div>
		
		
	<div class="container-fluid" ng-if="contentDetailCtrl.showInscription" >
		<div ng-init="proposition = contentDetailCtrl.content" class="row padding-large" ng-include="contentDetailCtrl.inscriptionTemplate">
		</div>
		
		<div style="margin-top:24px"></div>
		
	</div>
	
</div>

