<div id="{{'block'+block.id}}" class="owl-carousel" ng-controller="CarouselController as carouselCtrl">
    <div ng-repeat="content in carouselCtrl.contents track by $index" >
        
            <!--<img class="lazyOwl" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}"
                    alt="{{content.fields.text}}"
                    title="{{content.fields.text}}"
                   >-->
            <div class="caption-01">{{content.fields.text}}</div>
            <div ng-if="content.fields.subTitle != '' " class="caption-02">{{content.fields.subTitle}}</div>
             
           
            
    </div>
</div>
