<style></style>
<div id="{{'block'+block.id}}" class="owl-carousel" ng-controller="CarouselController as carouselCtrl">
    <div ng-repeat="content in carouselCtrl.contents track by $index" class="slide">
        
            <!--<img class="lazyOwl" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}"
                    alt="{{content.fields.text}}"
                    title="{{content.fields.text}}"
                   >-->
            <div class="colgroup">
                <div class="colCol left"></div>
                <div class="colCol middle"></div>
                <div class="colCol right"></div>
            </div>
            <div class="rowTabled">
                <div class="colLeft">
                    <img ng-if="content.fields.imageGauche" class="img-responsive" ng-src="{{content.fields.imageGauche.imageCode}}">
                </div>
                <div class="slide-center">
                    <h3>{{content.fields.text}}</h3>
                    <p class="icone"></p>
                </div>
                <div class="slide-center">
                    <h3>{{content.fields.text}}</h3>
                </div>
                <div class="colRight">
                     <img ng-if="content.fields.imageDroite" class="img-responsive" ng-src="{{content.fields.imageDroite.imageCode}}">
                </div>
            </div>
             
           
            
    </div>
</div>
