<style></style>
<div id="{{'block'+block.id}}" class="owl-carousel" ng-controller="CarouselController as carouselCtrl">
    <div ng-repeat="content in carouselCtrl.contents track by $index" class="slide">
        
            <!--<img class="lazyOwl" data-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}"
                    alt="{{content.fields.text}}"
                    title="{{content.fields.text}}"
                   >-->
            <div class="colgroup">
                <div class="colCol left" ng-style="{background-color:content.fields.color2}"></div>
                <div class="colCol middle" ng-style="{background-color:content.fields.color1}"></div>
                <div class="colCol right" ng-style="{background-color:content.fields.color2}"></div>
            </div>
            <div class="rowTabled">
                <div class="colLeft" style="overflow: hidden">
                    <img ng-if="content.fields.imageGauche" style="height:400px; vertical-align: top" ng-src="{{content.fields.imageGauche.imageCode}}">
                </div>
                <div class="slide-center title">
                    <div>
                        <h3>{{content.fields.text}}</h3>
                        <p class="icone">{{content.fields.icone}}</p>
                    </div>
                </div>
                <div class="slide-center">
                    <p>{{content.fields.summary}}</p>
                </div>
                <div class="colRight" style="overflow: hidden">
                     <img ng-if="content.fields.imageDroite" style="height:400px; vertical-align: top" ng-src="{{content.fields.imageDroite.imageCode}}">
                </div>
            </div>
             
           
            
    </div>
</div>
