<script async src="/theme/foyers/src/modules/rubedoBlocks/controllers/FormulaireController.js"></script>

<div class="text-center content_border"  itemscope itemtype="http://schema.org/Event">

  <!--<meta itemprop="image" content="{{'https://www.foyersetudiants.org' + rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'768px',mode:'boxed'}) }}" />-->
  <!--<meta itemprop="name" content="{{fieldEntity['text']}}">-->
<!--  <meta itemprop="startDate" content="{{contentDetailCtrl.content.fields.dateDebut *1000 | date:'yyyy-MM-ddTHH:mm:ssZ' }}">
  <meta ng-if="contentDetailCtrl.content.fields.dateFin" itemprop="endDate" content="{{contentDetailCtrl.content.fields.dateFin *1000 | date:'yyyy-MM-ddTHH:mm:ssZ' }}">
	<meta itemprop="description" content="{{contentDetailCtrl.content.fields.summary}}">-->

    
    <div field = "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="!fieldEditMode">
					<h1 class="balance-text">{{fieldEntity['text']}}</h1>
    </div>
    <rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field>
    
    
    <div ng-if="contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'ouverte'
						|| contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'preinscription'
						||  contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'attente' ">
						<!--si un seul public accueilli-->
						<div  ng-if="(contentDetailCtrl.content.fields.publics).length==1 && contentDetailCtrl.content.fields.publics[0]">
							<div ng-click="contentDetailCtrl.content.public = contentDetailCtrl.content.fields.publics[0];contentDetailCtrl.content.service = false; contentDetailCtrl.showInscription = true">
								{{rubedo.translate("Inscription", "S'inscrire")}}
							</div>
						</div>
						<!--si un plusieurs types de public accueillis-->
						<div ng-if="(contentDetailCtrl.content.fields.publics).length>1" >
							<div style="margin-bottom:12px" >{{rubedo.translate("Block.Inscription.Inscrire.Comme","S'inscrire comme")}}:</div>
							        <!--Type de public -->
								<div ng-repeat="public in contentDetailCtrl.content.fields.publics track by $index" >
	
									<p><a ng-click="contentDetailCtrl.content.public = public; contentDetailCtrl.content.service = false; contentDetailCtrl.showInscription =true">- {{rubedo.translate(public,public)}} </a></p><!--Attention, ce label dépend du format de type de contenu-->
								</div>
						</div>
    </div>
    
    <!--<p><a ng-click="contentDetailCtrl.content.service = false; contentDetailCtrl.showInscription =true">- Push </a></p>-->
    
    <div class="container-fluid" ng-if="contentDetailCtrl.showInscription" >
		<div ng-init="proposition = contentDetailCtrl.content" class="row padding-large" ng-include="contentDetailCtrl.inscriptionTemplate">
		</div>
		
		<div style="margin-top:24px"></div>
		
	</div>

	
</div>



