<nav class="navbar navbar-default">
    <div class="navbar-header">
            <span class="navbar-brand">{{rubedo.translate('Blocks.Search.Label.SearchCriteria', 'Search criteria')}} :
                <span ng-repeat-start="term in searchResultsCtrl.activeTerms track by $index" ng-if="!$first">{{term.operator}}</span>
                <li class="tags cursor-as-pointer" ng-repeat-end
                      ng-click="searchResultsCtrl.clickOnFacets(term.facetId, term.term)">
                    {{term.label}}
                </li>
            </span>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form ng-submit="searchResultsCtrl.onSubmit()" role="form">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="searchResultsCtrl.query" placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-repeat="facet in searchResultsCtrl.facets track by $index" ng-if="facet.terms || facet.ranges" ng-init="searchDisplayed=false">
            <div class="panel-heading actus" ng-class="{'panel-hidden' :!searchDisplayed }" ng-click="searchDisplayed = !searchDisplayed">{{facet.label}}&nbsp;<span
                    ng-if="facet.total && (facet.total - facet.other) <= searchResultsCtrl.count" class="badge pull-right">{{facet.total - facet.other}}</span></div>
            <div class="panel-body">
                <ul class="search-tags">
                    <li ng-if="facet.terms" class="cursor-as-pointer resultData search-result" ng-repeat="term in facet.terms track by $index"
                        ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                    <li ng-if="facet.ranges" class="cursor-as-pointer resultData search-result" ng-repeat="term in facet.ranges track by $index"
                        ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.key)">
                        {{term.label}}&nbsp;({{term.count}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="resultData search-result" ng-repeat="content in searchResultsCtrl.data track by $index">
            <div class="ratio_321" ng-if="content['fields.image']">
                <img class="media-object pull-left padding-right"
                        ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['fields.image'][0],{width:'390px',height:'390px',mode:'crop'})}}"
                        alt="{{ content.title }}"/>
            </div>
            <p class="capital">{{content.lastUpdateTime * 1000 | date}}</p>
            <a ng-href="{{content.url }}"><h3>{{content.title }}</h3>
            <p class="summary">{{content.summary}}</p></a>
        </div>

        <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                   count="searchResultsCtrl.count"
                   change-page-action="searchResultsCtrl.changePageAction()"></paginator>
    </div>
</div>