<style>
    .datamaps-subunit{fill:white; stroke:grey; }
    .datamaps-legend {
        bottom: -30px; right:0; left:auto;
    }
    .datamaps-legend dd:after{clear:both;}
    .datamaps-legend dt{width:50%; margin-bottom:6px;}
</style>

<script src="/theme/cte/js/datamaps.world.min.js"></script>
<div class="container"><div id="map_container" style="width:100%;"></div></div>
<script>
    var mapType = 'cte';
    var translations = angular.element("#map_container").scope().rubedo.translations;
    if (angular.element("#map_container").scope().blockConfig.mapType) {
        mapType = angular.element("#map_container").scope().blockConfig.mapType;
    }
    var countryList = {};
    processData = function (countries) {
        var locale = window.location.pathname.split('/')[1];

        countryList = countries;

        var width = document.getElementById('map_container').offsetWidth;
        var height = document.getElementById('map_container').offsetHeight; 
        var map = new Datamap({
            element: document.getElementById('map_container'),
            responsive: true,
            aspectRatio: 0.5,
            //projection: 'mercator', //style of projection to be used. try "mercator"
            setProjection: function(element) {
                var projection = d3.geo.mercator()
                  .center([0, 0])
                  .translate([element.offsetWidth / 2 - 30, element.offsetHeight / 2 +100])
                  .scale( element.offsetWidth / 2 / Math.PI);
                var path = d3.geo.path()
                  .projection(projection);
                
                return {path: path, projection: projection};
             },        
            fills: {
                present: '#984734',
                active: '#c08a78',
                defaultFill: 'white'
            },
            data: countryList,
            //dataType: 'json', //for use with dataUrl, currently 'json' or 'csv'. CSV should have an `id` column
            //dataUrl: '/theme/cte/elements/countries.json', //if not null, datamaps will attempt to fetch this based on dataType ( default: json )
            geographyConfig: {
                borderWidth: 1,
                borderColor: 'grey',
                popupTemplate: function(geography, data) { //this function should just return a string
                    var name = "", text="";
                    if(!data) return '<div class="hoverinfo"><strong>'+geography.properties.name
                                        +'</strong></div>';
                    else  return '<div class="hoverinfo"><strong>' + data.name
                                      +' <br/></strong>' + data.text
                                      + '</strong></div>';
                },
                popupOnHover: true, //disable the popup while hovering
                highlightOnHover: true,
                highlightFillColor: '#75291a',
                highlightBorderColor: 'rgba(117, 41, 26, 0.2)',
                highlightBorderWidth: 2
            },
            done: function(map) {
              map.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                  if(map.options.data[geography.id] && map.options.data[geography.id].url) 
                    window.location.href = map.options.data[geography.id].url;
              });
            }
           
            
        });
        angular.element("#map_container").scope().loading=false;
        console.log(angular.element("#map_container").scope().loading);
        //resize with d3
        d3.select(window).on('resize', function() {
            map.resize();
        });
        map.legend({
            legendTitle : "",
            labels: {
                present: translations['Block.Carte.Presence.Perm'],
                active: translations['Block.Carte.Presence.Ponct'],
            },
        });
        
    };
    angular.element("#map_container").scope().retrieveData({searchMode:'default'},function(a){processData(a);}, function(b,c){});

</script>
