<div ng-controller="MenuController as menuCtrl" >
	<nav  role="navigation" class="top-navigation">
        <!-- Bouton home 9media -->
		<div class="home">
			<a href="https://welcometoparadise.chemin-neuf.fr/fr/" class="ng-scope">
			<img alt="" style="height:90px;" class="img-responsive" ng-src="/dam?media-id=5a6f4c1d396588d25e999bd9&amp;">
			</a>
		</div>

        <!-- Liens vers les pages de niveau 1 -->
        <ul class="nav navbar-nav">
            <li ng-class="{menupage_active:menuCtrl.currentRouteline.indexOf(menuCtrl.url) > -1}">
                    <a ng-href="{{menuCtrl.url}}">ACCUEIL</a>
            </li>
            <li ng-repeat="page in menuCtrl.pagesBlocks" ng-class="{menupage_active:menuCtrl.currentRouteline.indexOf(page.url) > -1}">
                <a ng-href="{{page.url}}">{{page.title | uppercase}}</a>
            </li>
        </ul>
            
        <!-- Liens vers les réseaux sociaux -->
        <ul class="nav navbar-nav navbar-right" ng-controller="LanguageMenuController as languageMenuCtrl" style="position:absolute; right:0">
            <li class="home-button hidden-xs" >
                <a rubedo-page-link="5a630da239658886137fcea7">C</a>
            </li>
            <li class="home-button hidden-xs hidden-sm" target="_blank">
                <a href="https://twitter.com/@9media">ú</a>
            </li>
            <li class="home-button hidden-xs hidden-sm" target="_blank">
                <a href="https://facebook.com/9media">\</a>
            </li>
            <li class="home-button hidden-xs hidden-sm" target="_blank">
                <a href="https://youtube.com/9media">’</a>
            </li>
        </ul>
    </nav>
</div>
