@width_xxs:420px;
@min_xs:500px;
@min_sm:768px;
@min_md:992px;
@min_lg:1200px;
@rouge:#c1573c;//rouge brique
@rouge_shadow:#9e4232; // rouge brique sombre
@txt_dark:#2e2c29;// couleur texte
@txt_light:#898989; // texte gris clair
@menu:#2e2c29;// couleur de fond du menu par défaut
@beigeCCN:#f3eeea; // beige fond
@marron:#d5c5b5 ; // beige plus sombre
@rencontre:#7d77bf; //violet rencontres
@lieux:#fbbd58; //jaune lieux communautaires
@evenement:#f96847; //orange propositions;
//@14-18:#59d3b6;
@bleu:#3CA6C1;

.footer{
  background-color: @menu;
  color: #fff;
  font-size: 14px;
  div{
    clear: both;
  }
}