a {
  font-family: 'Montserrat', sans-serif;
  color: #868484;
}
.links {
  font-family: 'Montserrat', sans-serif;
}
a:hover,
a:focus {
  color: #535151;
}
html,
body {
  font-family: 'Merriweather', 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: auto;
  background-color: #f3eeea;
}
text,
p,
a,
h1,
h2,
h2,
h4,
h5,
h6 {
  text-align: center;
}
.navbar {
  border-radius: 0;
}
.progress-bar {
  background-color: #c1573c;
}
.col-sm-12 {
  padding-right: 0;
  padding-left: 0;
}
.panel-primary .btn-primary,
.panel-default .btn-primary {
  color: #f3eeea;
  background-color: #c1573c;
  border: none;
  margin-bottom: 1px;
}
.panel-primary .btn-primary .badge,
.panel-default .btn-primary .badge {
  color: #c1573c;
}
.panel-primary .btn-primary:hover,
.panel-default .btn-primary:hover,
.panel-primary .btn-primary:focus,
.panel-default .btn-primary:focus,
.panel-primary .btn-primary.active,
.panel-default .btn-primary.active,
.panel-primary .btn-primary:active,
.panel-default .btn-primary:active {
  background-color: #9e4232;
}
.panel-primary .btn-primary:hover .badge,
.panel-default .btn-primary:hover .badge,
.panel-primary .btn-primary:focus .badge,
.panel-default .btn-primary:focus .badge,
.panel-primary .btn-primary.active .badge,
.panel-default .btn-primary.active .badge,
.panel-primary .btn-primary:active .badge,
.panel-default .btn-primary:active .badge {
  color: #f3eeea;
}
.panel-primary {
  border-color: #c1573c;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c1573c;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #c1573c;
  border-color: #c1573c;
}
.btn {
  border-radius: 0;
}
.btn:focus,
.btn:active:focus,
.btn .active:focus {
  outline: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0px;
}
.dropdown .container {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.panel {
  border-radius: 0;
}
.owl-item.loading {
  min-height: 150px;
  background: url(/theme/boutique/img/loader.gif) no-repeat center center;
}
.text-danger {
  color: #c1573c;
}
.del {
  font-size: small;
  color: #898989;
  text-decoration: line-through;
}
.hidden {
  visibility: hidden;
}
.btq-panel {
  border-radius: 0;
  border-color: #DDDDDD;
}
.btq-panel .panel-heading {
  border-radius: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.two-last-elements-of-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shadowed-image img {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.detail {
  margin-top: 25px;
  margin-bottom: 25px;
}
.detail * {
  text-align: left;
}
.detail h1 {
  text-align: center;
}
.detail img {
  max-height: 400px;
  max-width: 400px;
}
.welcome-linkbox {
  z-index: 10;
  position: absolute;
  top: 30%;
}
.welcome-linkbox a {
  margin: 12px 6px 0;
  letter-spacing: .2em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #f3eeea;
  border: 4px solid #f3eeea;
  padding: 10px 15px;
  transition: all .4s ease 0s;
  text-transform: uppercase;
  box-shadow: none;
  font-size: x-large;
  background-color: rgba(60, 46, 34, 0.5);
}
.welcome-linkbox a:hover {
  background-color: #3c2e22;
  text-decoration: none;
}
.head-btq {
  background-color: #d5c5b5;
  color: #535151;
}
.head-btq .btn-default {
  background-color: transparent;
}
.head-btq .btn-default:active {
  box-shadow: none;
}
.head-btq .top-hover:hover,
.head-btq .navbar-nav > .open > a:hover {
  transition: all .2s ease 0s;
  background-color: #f3eeea;
}
.head-btq .top-hover:active,
.head-btq .navbar-nav > .open > a:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.head-btq .navbar-nav > .open > a {
  background-color: #f3eeea;
}
@media (max-width: 768px) {
  .head-btq .btq-top {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .head-btq .btq-top {
    margin-top: 35px;
  }
}
.head-btq .navbar-default {
  box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.5) inset;
}
.head-btq .navbar {
  margin-bottom: 0;
}
.head-btq .nav,
.head-btq .navbar-nav {
  border-top: #535151 px solid;
}
.head-btq .navbar,
.head-btq button,
.head-btq input {
  border: none;
  background-color: #d5c5b5;
  color: #535151;
}
.head-btq input {
  background-color: #f3eeea;
  border-radius: 0;
}
.head-btq .categories {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  word-wrap: break-word;
  max-width: 100%;
  font-size: 14px ;
}
.head-btq .categories * {
  text-align: left;
}
.head-btq .categories a {
  padding: 3px 0px;
  font-size: 15px;
}
.head-btq .dropdown-menu {
  background-color: #f3eeea;
  border: none;
  border-radius: 0;
}
.head-btq .dropdown-menu * {
  background-color: #f3eeea;
}
.head-btq .dropdown-menu:hover,
.head-btq .dropdown-menu:focus {
  background-color: #f3eeea;
}
.head-btq .dropdown-menu,
.head-btq .dropdown-header {
  color: #c1573c;
}
.head-btq .dropdown-menu:hover,
.head-btq .dropdown-header:hover {
  color: #9a4530;
}
.head-btq .btn-primary:hover {
  color: inherit;
}
.footer {
  background-color: #2e2c29;
  color: #fff;
  font-size: 14px;
  padding: 24px;
}
.footer .capital {
  border-top: 1px solid #ffffff;
  padding-top: 6px;
  margin-bottom: 12px;
  display: block;
  width: 100%;
}
.footer .container {
  border-top: 1px solid #ffffff;
}
.footer .container .capital {
  border: none;
  text-align: center;
  font-size: 10px!important;
}
.footer a {
  font-size: 18px;
  color: #ffffff;
}
.inner-body.row {
  margin-left: auto;
  margin-right: auto;
}
.inner-body .column {
  margin-right: auto;
  margin-left: auto;
}
.inner-body .btn-default {
  color: #f3eeea;
  background-color: #c1573c;
  border: none;
  margin-bottom: 1px;
}
.inner-body .btn-default .badge {
  color: #c1573c;
}
.inner-body .btn-default:hover,
.inner-body .btn-default:focus,
.inner-body .btn-default.active,
.inner-body .btn-default:active {
  background-color: #9e4232;
}
.inner-body .btn-default:hover .badge,
.inner-body .btn-default:focus .badge,
.inner-body .btn-default.active .badge,
.inner-body .btn-default:active .badge {
  color: #f3eeea;
}
.inner-body img {
  margin-left: auto;
  margin-right: auto;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.inner-body .row {
  padding-top: 5px;
}
