@width_xxs:420px;
@min_xs:500px;
@min_sm:768px;
@min_md:992px;
@min_lg:1200px;
@rouge:#c1573c;//rouge brique
@rouge_shadow:#9e4232; // rouge brique sombre
@txt_dark:#2e2c29;// couleur texte
@txt_light:#898989; // texte gris clair
@menu:#2e2c29;// couleur de fond du menu par défaut
@beigeCCN:#f3eeea; // beige fond
@marron:#d5c5b5 ; // beige plus sombre
@rencontre:#7d77bf; //violet rencontres
@lieux:#fbbd58; //jaune lieux communautaires
@evenement:#f96847; //orange propositions;
//@14-18:#59d3b6;
@bleu:#3CA6C1;
a{
  font-family: 'Montserrat', sans-serif;
}
.links{
  font-family: 'Montserrat', sans-serif;
}

a:hover, a:focus {
  color: @txt_dark;

}
a {
  color:lighten(@txt_dark,20%);

}

html,body {
  font-family: 'Merriweather', 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: auto;
  background-color: @beigeCCN;
  }

.footer{
  background-color: @menu;
  color: #fff;
  font-size: 14px;
  padding: 24px;
  .capital{
    border-top:1px solid #ffffff;
    padding-top: 6px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
  }
  .container{
    border-top:1px solid #ffffff;
    .capital{
      border:none;
      text-align: center;
      font-size: 10px!important;
    }
  }
  a{
    font-size: 18px;
    color: #ffffff;
  }
}

.inner-body{
  .btn-default{
    color:@beigeCCN;
    background-color:@rouge;
    border:none;
    margin-bottom:1px;
    .badge{color:@rouge}
    &:hover, &:focus, &.active, &:active  {background-color: @rouge_shadow; .badge{color:@beigeCCN}}

    //.open>.dropdown-toggle.btn-primary
  }
  img{
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid @txt_light;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1)
  }
  .row {
    padding-top: 5px;
  }
}

text, p,a,h1,h2,h2,h4,h5,h6{text-align: center}
.true-search .optional{visibility: visible}
//.top-tabs{
//  >*>div{
// }
//  //display: inline-block;
//  //background-color: #B4DB37;
//}
.hidden{
  visibility: hidden;
}
.optional{
  visibility: hidden;
}


.head-btq{
  background-color: @marron;
  color: @txt_dark;

  .navbar,button,input{
    border: none;
    background-color: @marron;
    color: @txt_dark;
  }
  input{
    background-color: lighten(@marron,10%);
    border-radius: 0;
  }
  .dropdown-menu{
    background-color: @beigeCCN;
    *{
      background-color: @beigeCCN;
    }
    &:hover,&:focus{
      background-color: @beigeCCN;
    }
  }
  .dropdown-menu-large, .dropdown-header {
    color: @rouge;
    &:hover{
      color: darken(@rouge,10%);
    }
  }
}
.progress-bar {
   background-color: @rouge;
 }

.panel-primary, .panel-default{
  .btn-primary{
  color:@beigeCCN;
  background-color:@rouge;
  border:none;
  margin-bottom:1px;
  .badge{color:@rouge}
  &:hover, &:focus, &.active, &:active  {background-color: @rouge_shadow; .badge{color:@beigeCCN}}

  }
}
.panel-primary {
      border-color: @rouge;
    }
.panel-primary>.panel-heading+.panel-collapse>.panel-body {
   border-top-color: @rouge;
 }
.panel-primary>.panel-heading {
  color: #fff;
  background-color: @rouge;
  border-color: @rouge;
}
.btn {
  &:focus,&:active:focus,.active:focus{
    outline: none;
  }
}
.btq-panel{
  border-radius: 0;
  border-color: #DDDDDD;
  .panel-heading{
    border-radius: 0;
  }
}