<div>
    <h3 class="row">{{rubedo.translate("Block.Inscription.FreresEtSoeurs")}}</h3>
        
    <div class="row" ng-repeat="frere_soeur in contactCtrl.contactData.freres_soeurs track by $index" class="enfant">
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Nom.Different")}}</label>
            <input class="form-control" type="text" ng-model="contactCtrl.contactData.freres_soeurs[$index].nom" placeholder='{{rubedo.translate("Block.Inscription.Nom")}}' readonly>
        </div>
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Prenom")}}</label>
            <input class="form-control" type="text" ng-model="contactCtrl.contactData.freres_soeurs[$index].prenom" placeholder='{{rubedo.translate("Block.Inscription.Prenom")}}' readonly>
        </div>
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Age")}}</label>
            <input class="form-control" type="number" ng-model="contactCtrl.contactData.freres_soeurs[$index].age" placeholder='{{rubedo.translate("Block.Inscription.Age")}}' readonly>
        </div>
        <p class="txt-red pull-right cursor-as-pointer" ng-click="contactCtrl.removeFrereSoeur($index)">
            <span class="glyphicon glyphicon-minus-sign txt-red cursor-as-pointer"></span>{{rubedo.translate("Block.Inscription.FrereSoeur.Supprimer")}}
        </p>
        
        
    </div>
    
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Nom.Different")}}</label>
            <input class="form-control" type="text" ng-model="contactCtrl.contactData.frere_soeur.nom" placeholder='{{rubedo.translate("Block.Inscription.Nom")}}' >
        </div>
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Prenom")}}</label>
            <input class="form-control" type="text" ng-model="contactCtrl.contactData.frere_soeur.prenom" placeholder='{{rubedo.translate("Block.Inscription.Prenom")}}'>
        </div>
        <div class="col-md-3 col-sm-6">
            <label class="label_style left">{{rubedo.translate("Block.Inscription.Age")}}</label>
            <input class="form-control" type="number" ng-model="contactCtrl.contactData.frere_soeur.age" placeholder='{{rubedo.translate("Block.Inscription.Age")}}'>
        </div>
        <p class="txt-red pull-right cursor-as-pointer" ng-click="contactCtrl.addFrereSoeur(contactCtrl.contactData.frere_soeur);contactCtrl.contactData.frere_soeur={}">
            <span class="glyphicon glyphicon-plus-sign txt-red cursor-as-pointer"></span>{{rubedo.translate("Block.Inscription.FrereSoeur.Ajouter","Ajouter")}}
        </p>
    </div>
</div>

  
