    <!--NOM-->
    <div class="row">
            <div class="col-sm-4"><label for="{{'name'+block.id}}" class="label_style">{{rubedo.translate("Blocks.Contact.Input.Name.Label","Name*")}}</label></div>
            <div class="col-sm-8"><input type="text" ng-model="contactCtrl.contactData.nom" class="form-control" id="{{'name'+block.id}}" required></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><label for="prenom" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
            <div class="col-sm-8"><input  class="form-control" type="text" id="prenom" ng-model="contactCtrl.contactData.prenom" name="prenom" required></div>
        </div>
        <div class="row" >
            <div class="col-xs-12 col-sm-4"><label for="sexe" class="label_style">{{rubedo.translate("Block.Inscription.Sexe")}}*</label></div>
            <div class="col-sm-8">
                <input type="radio"  name="sexe" id="H" value="H" ng-model="contactCtrl.contactData.sexe" required>
                            <label for="H" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.H")}}</label>	
                <input type="radio"  name="sexe" id="F" value="F" ng-model="contactCtrl.contactData.sexe">
                            <label for="F" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.F")}}</label>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="dateNaiss" class="label_style">{{rubedo.translate("Block.Inscription.DateNaiss")}}*</label></div>
            <div class="col-sm-8">
                <div class="dropdown">
                    <a showtab class="dropdown-toggle" id="dropdowndateNaiss" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group"><input readonly id="dateNaiss" ng-model="contactCtrl.contactData.birthdate" type="text" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker data-ng-model="contactCtrl.contactData.birthdate"  data-datetimepicker-config="{dropdownSelector: '#dropdowndateNaiss', startView: 'year', minView:'day'}" data-on-set-time="contactCtrl.contactData.birthdate = (contactCtrl.contactData.birthdate |date:'dd/MM/yyyy'); moment.locale('fr')"/>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="villeNaiss" class="label_style">{{rubedo.translate("Block.Inscription.VilleNaiss")}}*</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="villeNaiss" ng-model="contactCtrl.contactData.birthplace" name="birthplace" placeholder="Indiquer aussi le département entre parenthèses" required></div>
        </div>
        
        <div class="row" >
            <div class="col-sm-4"><label for="nationality" class="label_style">{{rubedo.translate("Block.Inscription.Nationalite")}} *</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="nationality" ng-model="contactCtrl.contactData.nationality" name="nationality" required></div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="tel" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable")}}*</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="tel" name="tel" ng-model="contactCtrl.contactData.tel"  required>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-4"><label for="email" class="label_style">{{rubedo.translate("Block.Inscription.Email")}}*</label></div>
            <div class="col-sm-8"><input class="form-control" type="email" id="email" name="email"  ng-model="contactCtrl.contactData.email" placeholder="user@mydomain.com" required></div>
        </div> 
        <div class="row">
            <div class="col-sm-4"><label for="email_verif" class="label_style">{{rubedo.translate("Block.Inscription.Email.Verification")}}*</label></div>
            <div class="col-sm-8">
                <input class="form-control" type="email" id="email_verif" name="email_verif" placeholder="user@mydomain.com" ng-model="contactCtrl.contactData.email_verif" required>
                <p ng-if="mailError" class="infos_validation txt-red">{{rubedo.translate("Block.Inscription.Email.Error.Different")}}</p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-4"><label for="coordonnees" class="label_style">{{rubedo.translate("Block.Inscription.Coordonnees.Actuelles.Type")}} *</label></div>
        <div class="col-sm-8">
            <div class="col-sm-3">
                <input type="radio"  name="coordonnees" id="parents" value="Chez les parents" ng-model="contactCtrl.contactData.coordonnees" ng-click="showLogement=true">
                        <label for="parents" class="sexe_label boite">{{rubedo.translate("Block.Inscription.Coordonnees.Actuelles.Parents")}}</label>
            </div>
            <div class="col-sm-3">
                <input type="radio"  name="coordonnees" id="autonome" value="Logement autonome" ng-model="contactCtrl.contactData.coordonnees" ng-click="showLogement=true" required>
                        <label for="autonome" class="sexe_label boite">{{rubedo.translate("Block.Inscription.Coordonnees.Actuelles.Autonome")}}</label>
            </div>
            <div class="col-sm-3">
                <input type="radio"  name="coordonnees" id="tiers" value="Chez un tiers (autre que parents)" ng-model="contactCtrl.contactData.coordonnees" ng-click="showLogement=true">
                        <label for="tiers" class="sexe_label boite">{{rubedo.translate("Block.Inscription.Coordonnees.Actuelles.Tiers")}}</label>
            </div>
            <div class="col-sm-3">
                <input type="radio" name="autre" id="autre" value="autre" ng-model="contactCtrl.contactData.autre" ng-click="showAutre=true;showLogement=true">
                            <label for="autre" class="sexe_label boite">{{rubedo.translate("Block.Inscription.Autre")}}</label>
            </div>
            <div class="col-sm-5" ng-if="showAutre">
                <input class="form-control" type="text" id="precisionsLogement" ng-model="contactCtrl.contactData.coordonnees" name="precisionsLogement" placeholder="Préciser..." required>
            </div>
        </div>
    </div>
    <div ng-if="showLogement">
        <div class="row" >
            <div class="col-sm-4"><label for="adresse" class="label_style">{{rubedo.translate("Block.Inscription.Adresse")}} *</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="adresse" ng-model="contactCtrl.contactData.adresse" name="adresse" required></div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="cp" class="label_style">{{rubedo.translate("Block.Inscription.CodePostal")}} *</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="cp" ng-model="contactCtrl.contactData.cp" name="cp" required></div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="ville" class="label_style">{{rubedo.translate("Block.Inscription.Ville")}} *</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="ville" ng-model="contactCtrl.contactData.ville" name="ville" required></div>
        </div>
        <div class="row" >
            <div class="col-sm-4"><label for="telFixe" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Fixe")}} *</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" id="telFixe" ng-model="contactCtrl.contactData.telFixe" name="telFixe" required></div>
        </div>
    </div>
    


