<div class="row" ng-if="!personneConnue">
        <div class="col-sm-4"><label for="photo" class="label_style">{{rubedo.translate("Block.Inscription.Photo.Importer")}} *</label></div>
        <div class="col-sm-8">
            <input type="file" ngf-select="upload($file)" ng-if="field.config.allowedDAMTypes=='545cd95245205e91168b45b1' " accept="image/*" ngf-pattern="'image/*'" ngf-resize="{width: 1800, quality: .7}" ngf-resize-if="$width >1800 || $file.size>1024*300" class="ng-scope">
            <img class="img-responsive" title="{{mediaFieldCtrl.media.title}}" alt="{{mediaFieldCtrl.media.title}}" ng-src="{{rubedo.imageUrl.getUrlByMediaId(mediaFieldCtrl.media.id, {mode:'crop'})}}"/>
    </div>
</div>


     