<div ng-switch="question.fields.type.type">
    <!--radio group-->
    <div ng-switch-when="radio_group" class="row">
        <div class="col-sm-12 padding">
            <label class="label_style left">{{question.fields.questionLabel}}</label>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="col-xs-12" ng-repeat="questionField in question.fields.reponses track by $index">
                <input type="radio" required name="questions_{{$parent.$index}}" id="questions_{{$parent.$index}}_{{$index}}"
                       ng-value=' "{{questionField.titre}}"' ng-model="don['questions'][question.text]">
                        <label for="questions_{{$parent.$index}}_{{$index}}">{{questionField.titre}}</label><label ng-if="questionField.prix>0">{{questionField.prix}} €</label>
                        <label>{{questionField.libelleApresPrix}}</label>
                        <input type="text" ng-if="questionField.complement" name="questions_{{$parent.$index}}_complement" ng-model="don['questions'][question.text+' complement'+$parent.$index]" class="complement_text" />
                        <label ng-if="questionField.complement && questionField.libelleApresComplement">{{questionField.libelleApresComplement}}</label>
            </div>
        </div>
    </div>
    <!--checkbox-->
    <div ng-switch-when="checkbox" class="row">
        <div class="col-sm-12 padding">
            <label class="label_style left">{{question.fields.questionLabel}}</label>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <input type="checkbox"  name="questions_{{$parent.$index}}_0" id="questions_{{$parent.$index}}_0" ng-true-value="Oui" ng-false-value="Non"
                                ng-model="don['questions'][question.text][0]['value']" >
            <label for="questions_{{$parent.$index}}_0"></label>
            <input type="text" ng-if="question.fields.complement" name="questions_{{$parent.$index}}_complement" ng-model="don['questions'][question.text][0].complement" class="complement_text" />
        </div>
    </div>
    
    <!--checkboxes group-->
    <div ng-switch-when="checkbox_group" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.fields.questionLabel}}</label>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="col-xs-12" ng-repeat="questionField in question.fields.reponses track by $index">
                <input type="checkbox"  name="questions_{{$parent.$index}}" id="questions_{{$parent.$index}}_{{$index}}" ng-true-value="{{questionField.titre}}"
                                ng-model="don['questions'][question.text][$index]['value']">
                        <label class="sexe_label boite" for="questions_{{$parent.$index}}_{{$index}}">{{questionField.titre}}</label>
                        <input class="form-control"  type="text" ng-if="questionField.complement" name="questions_{{$parent.$index}}_complement"
                               ng-model="don['questions'][question.fields.text][$index]['complement']" class="complement_text"
                               ng-disabled="don['questions'][question.text][$index]['value'] !=questionField.titre"/>
                        <label ng-if="questionField.complement && questionField.libelleApresComplement">{{questionField.libelleApresComplement}}</label>
            </div>
        </div>
    </div>
    
<!--number-->
    <div ng-switch-when="number" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.fields.questionLabel}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12">
                <input type="number" ng-model="don['questions'][question.text]" name="questions_{{$parent.$index}}">
            </div>
        </div>
    </div>
    <!--text-->
    <div ng-switch-when="text" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.fields.questionLabel}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12">
                <textarea rows="2" ng-model="don['questions'][question.text]" name="questions_{{$parent.$index}}" placeholder="">
            </div>
        </div>
    </div>

    
    
    
</div>


