/*VARIABLES GLOBALES*/
//largeurs
@width_xxs:420px;
@min_xs:500px;
@min_sm:768px;
@min_md:992px;
@min_lg:1200px;
// couleurs
@main_light:#00a0ae;
@main:#1d8f9e;
@link:#0073b3;
@orange:#f19942;
@rouge:#e71623;
@bg:#f8f6f1;
@txt_slight:#e3dfd7;
@txt_light:#807f7d;
@txt:#333333;

body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: 'Roboto Slab', serif; height: 100%; overflow: auto;background-color:@bg;}
