	
<div class="row">
			<!--<p class="categorie_article">{{contentDetailCtrl.content.taxonomy['5a114f1b396588d22856706f']}}</p>
			<p class="categorie_article">{{contentDetailCtrl.getTermInTaxo("5a114f1b396588d22856706f",contentDetailCtrl.content.taxonomy['5a114f1b396588d22856706f'][0])}}</p>-->
<!--			<span ng-repeat="taxo in contentDetailCtrl.content['taxonomy.5a114f1b396588d22856706f'] track by $index" class="categorie_article">{{contentDetailCtrl.getTermInTaxo("5a114f1b396588d22856706f",taxo)}}</span>-->
<!--			<span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['5a114f1b396588d22856706f']">{{contentDetailCtrl.getTermInTaxo("5a114f1b396588d22856706f",taxonomy)}}</span>-->
			
						
			
			<div class="container-fluid" ng-if="!blockConfig.contentOnly">
				<div class="row">
					<div class="col-xs-12 ">
						<div ng-controller="BreadcrumbController as breadcrumbCtrl" class="titre">
							<ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
								<li property="itemListElement" typeof="ListItem" ng-class="{'active': !page.url}" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-3 track by $index" ng-if="$index<1"><a ng-if="page.url" ng-href="{{page.url}}">{{page.title}}</a><span ng-if="!page.url">{{page.title}}</span></li>
							</ol>
							<!--<a property="item" typeof="WebPage" ng-repeat="page in rubedo.current.breadcrumb | limitTo:-3 track by $index" ng-href="{{page.url}}" ng-if="$first">{{page.title}}</a>-->
						</div>
					</div>
				</div>
			</div>
			
			

			
			
			
			
			<header class="container-fluid content" afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'768px',mode:'boxed'})}} 480w,{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'] ,{width:'1600px',mode:'boxed'})}} 1200w"
				ng-if="fieldEntity['image']"  afkl-lazy-image-options='{"background": true}'>
			</header>
			<div class="text-article container">
						<div class="col-xs-12">
							<div data-addthis-toolbox  data-title="{{rubedo.current.page.title}}" data-summary="{{contentDetailCtrl.content.fields.summary}}"  class="addthis_toolbox socials" >
								<!--<a class="addthis_button_facebook_like txt-red" fb:like:layout="button_count"><img class="hidden"><i class="fa fa-thumbs-up" ></i> </a> -->
								<a class="addthis_button_facebook txt-red"><img class="hidden"><i class="fa fa-facebook-official" data-toggle="tooltip" title="Partager sur Facebook"></i> </a>
								<a class="addthis_button_twitter txt-red"><img  class="hidden"><i class="fa fa-twitter-square" data-toggle="tooltip" title="Partager sur Twitter"></i> </a>
								<a class="addthis_button_email txt-red"><img class="hidden"><i class="fa fa-share-square" data-toggle="tooltip" title="Envoyer par mail"></i></a>
								<a class="addthis_button_expanded txt-red"><img class="hidden"><i class="fa fa-plus-square" data-toggle="tooltip" title="Plus d'options"></i></a><br/>
								<span class="txt-red capital" style="display: inline-block" ng-if="nbOfLikes>0">{{nbOfLikes}} partages</span>
							</div>
							{{contentDetailCtrl.tooltips()}}
						</div>
					<p class='capital' style="text-align: right">{{contentDetailCtrl.content.createTime*1000 | date:'longDate'}}</p>
			</div>
			
			<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 presentationArticle" >
				<div class="row padding-5">
					<rubedo-field field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field>
					<div class="row" style="margin-bottom:40px">
						<div class="redacteur" ng-if="fieldEntity['redacteur'] && !fieldEntity['photoRedacteur']">
							<rubedo-field field = "{{contentDetailCtrl.getFieldByName('redacteur')}}"></rubedo-field><!--Rédacteur-->
						</div>
						<div class="redacteur" ng-if="fieldEntity['redacteur'] && fieldEntity['photoRedacteur']">
							<div class="col-xs-2 col-sm-2 detail-img">
								<img ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['photoRedacteur']) }}" alt=""/>
							</div>
							<div class="col-xs-6 col-sm-5">
								<rubedo-field field = "{{contentDetailCtrl.getFieldByName('redacteur')}}"></rubedo-field><!--Rédacteur--> 
							</div>
						</div>
					</div>
					<rubedo-field field = "{{contentDetailCtrl.getFieldByName('summary')}}" ng-if="fieldEntity['summary']" class="'"></rubedo-field>
					<rubedo-field field = "{{contentDetailCtrl.getFieldByName('richText')}}" ng-if="fieldEntity['richText']" class="contenu_article"></rubedo-field>
					
									<!-- ACCES ABONNE -->
									<div ng-if="!isClient && !contentDetailCtrl.oldArticle" class="col-md-12 bg-grey limitationArticle" style="text-align:center">
										<h2 >Article réservé aux abonnés</h2>
										<p>Il vous reste 80% de l'article à découvrir... Abonnez-vous pour poursuivre la lecture</p>
										<div class="col-xs-6" ng-show="!rubedo.current.user">
								
													<button class="btn btn-default btn-connect" data-toggle="modal" data-target="#rubedoAuthModal">Je me connecte</button>
													<div class="modal fade" id="rubedoAuthModal" tabindex="-1" role="dialog" aria-labelledby="rubedoAuthModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-sm">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{rubedo.translate("Label.Close","Close")}}</span></button>
																	<h4 class="modal-title" id="rubedoAuthModalLabel">{{rubedo.translate("Blocks.Auth.Label.LogIn","Log in")}}</h4>
																</div>
																<div class="modal-body">
																	<form class="form" role="form" name="rubedoAuthForm" ng-submit="authCtrl.authenticate()">
																		<div class="form-group" ng-class="{'has-error':rubedoAuthForm.login.$error.required}">
																			<label class="sr-only" for="rubedoAuthLoginInput">{{rubedo.translate("Blocks.Auth.Label.Login","Login")}}</label>
																			<input type="text" name="login" class="form-control" id="rubedoAuthLoginInput" placeholder="{{rubedo.translate('Blocks.Auth.Label.Login','Login')}}" ng-model="authCtrl.credentials.login" required>
																		</div>
																		<div class="form-group" ng-class="{'has-error':rubedoAuthForm.password.$error.required}">
																			<label class="sr-only" for="rubedoAuthPasswordInput">{{rubedo.translate("Blocks.Auth.Label.Password","Password")}}</label>
																			<input type="password" name="password" class="form-control" id="rubedoAuthPasswordInput" placeholder="{{rubedo.translate('Blocks.Auth.Label.Password','Password')}}" ng-model="authCtrl.credentials.password" required>
																		</div>
																		<div class="checkbox">
																			<label>
																				<input type="checkbox" ng-model="authCtrl.rememberMe"> {{rubedo.translate("Blocks.Auth.Label.RememberMe","Remember me")}}
																			</label>
																		</div>
																		<input type="submit" class="hidden">
																	</form>
																	<p ng-if="authCtrl.signUpPageUrl">
																		<a ng-href="{{authCtrl.signUpPageUrl}}" ng-click="handleCSEvent('signUp')" target="_self">{{rubedo.translate("Blocks.Auth.Register", "Registration")}}</a>
																	</p>
																	<a href ng-click="authCtrl.recoverPwdModal()">{{rubedo.translate("Blocks.Auth.ForgotPassword", "I lost my password")}}</a>
											
																	<div ng-show="authCtrl.authError" class="alert alert-danger alert-dismissible" role="alert">
																		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{rubedo.translate("Label.Close","Close")}}</span></button>
																		<strong>Error !</strong> {{authCtrl.authError}}
																	</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{rubedo.translate("Label.Cancel", "Cancel")}}</button>
																	<button type="button" class="btn btn-primary" ng-click="authCtrl.authenticate()"><span class="glyphicon glyphicon-ok"></span> {{rubedo.translate("Label.Submit", "Submit")}}</button>
																</div>
															</div>
														</div>
													</div>
										  
										</div> 
										<div class="col-xs-6" ng-if="!isVisiteur">
										  <p style="text-align:center"><button  class="btn btn-default btn-abonne"><a rubedo-page-link="58077629245640db008ba675">Je m'abonne</a></button></br></p>
										</div>
										
										<div class="col-xs-12" ng-if="isVisiteur && !isOld">
										  <p style="text-align:center"><button  class="btn btn-default btn-abonne"><a rubedo-page-link="58077629245640db008ba675">Je m'abonne</a></button></br></p>
										</div>
									</div>
									
									<!-- ACCES VISITEUR -->
									<div ng-if="!isVisiteur && contentDetailCtrl.oldArticle" class="col-md-12 bg-grey limitationArticle" style="text-align:center">
										<h2 >Accédez gratuitement à cet article en créant votre compte personnel</h2>
										<p>Il vous reste 80% de l'article à découvrir... Inscrivez-vous gratuitement pour poursuivre la lecture</p>
										<div class="col-xs-6" ng-show="!rubedo.current.user">
								
													<button class="btn btn-default btn-connect" data-toggle="modal" data-target="#rubedoAuthModal">Je me connecte</button>
													<div class="modal fade" id="rubedoAuthModal" tabindex="-1" role="dialog" aria-labelledby="rubedoAuthModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-sm">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{rubedo.translate("Label.Close","Close")}}</span></button>
																	<h4 class="modal-title" id="rubedoAuthModalLabel">{{rubedo.translate("Blocks.Auth.Label.LogIn","Log in")}}</h4>
																</div>
																<div class="modal-body">
																	<form class="form" role="form" name="rubedoAuthForm" ng-submit="authCtrl.authenticate()">
																		<div class="form-group" ng-class="{'has-error':rubedoAuthForm.login.$error.required}">
																			<label class="sr-only" for="rubedoAuthLoginInput">{{rubedo.translate("Blocks.Auth.Label.Login","Login")}}</label>
																			<input type="text" name="login" class="form-control" id="rubedoAuthLoginInput" placeholder="{{rubedo.translate('Blocks.Auth.Label.Login','Login')}}" ng-model="authCtrl.credentials.login" required>
																		</div>
																		<div class="form-group" ng-class="{'has-error':rubedoAuthForm.password.$error.required}">
																			<label class="sr-only" for="rubedoAuthPasswordInput">{{rubedo.translate("Blocks.Auth.Label.Password","Password")}}</label>
																			<input type="password" name="password" class="form-control" id="rubedoAuthPasswordInput" placeholder="{{rubedo.translate('Blocks.Auth.Label.Password','Password')}}" ng-model="authCtrl.credentials.password" required>
																		</div>
																		<div class="checkbox">
																			<label>
																				<input type="checkbox" ng-model="authCtrl.rememberMe"> {{rubedo.translate("Blocks.Auth.Label.RememberMe","Remember me")}}
																			</label>
																		</div>
																		<input type="submit" class="hidden">
																	</form>
																	<p ng-if="authCtrl.signUpPageUrl">
																		<a ng-href="{{authCtrl.signUpPageUrl}}" ng-click="handleCSEvent('signUp')" target="_self">{{rubedo.translate("Blocks.Auth.Register", "Registration")}}</a>
																	</p>
																	<a href ng-click="authCtrl.recoverPwdModal()">{{rubedo.translate("Blocks.Auth.ForgotPassword", "I lost my password")}}</a>
											
																	<div ng-show="authCtrl.authError" class="alert alert-danger alert-dismissible" role="alert">
																		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{rubedo.translate("Label.Close","Close")}}</span></button>
																		<strong>Error !</strong> {{authCtrl.authError}}
																	</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{rubedo.translate("Label.Cancel", "Cancel")}}</button>
																	<button type="button" class="btn btn-primary" ng-click="authCtrl.authenticate()"><span class="glyphicon glyphicon-ok"></span> {{rubedo.translate("Label.Submit", "Submit")}}</button>
																</div>
															</div>
														</div>
													</div>
										</div> 
										<div class="col-xs-6">
										  <p style="text-align:center"><button  class="btn btn-default btn-abonne"><a rubedo-page-link="58e1517824564049018bb0bf">Je m'inscris gratuitement</a></button></br></p>
										</div>
									</div>
									
						<div ng-if="isVisiteur" style="margin-top:20px;">
								<div class="text-article">
									<span ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['5a114f1b396588d22856706f']" class="capital tags">
										{{contentDetailCtrl.getTermInTaxo("5a114f1b396588d22856706f",taxonomy)}}
									</span>
								</div>
						</div>
						<div ng-if="isVisiteur" style="margin-top:50px;">		  
							<div class="col-xs-4">
								<p style="text-align:center"  ng-if="classementArticle>0 && !isRestricted"><button  class="btn btn-default btn-abonne"><a ng-href="{{contentDetailCtrl.accesArticles.data[classementArticle-1].url}}">Article précédent</a></button></br></p>
							</div>
							<div class="col-xs-push-4 col-xs-4">
								<p style="text-align:center" ng-if="!finListe && !isRestricted"><button  class="btn btn-default btn-abonne"><a ng-href="{{contentDetailCtrl.accesArticles.data[classementArticle+1].url}}">Article suivant</a></button></br></p>
							</div>
						</div>
					</div>
			</div>
</div>

<div class="row">  
	<div class="col-xs-8 col-xs-push-2"> 
		<h3 style="border-bottom: 1px solid;padding-bottom: 12px;text-align:center;">Articles sur la même thématique</h3>
		<!--<rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field><!--Plan-->
		<div ng-repeat="content in contentDetailCtrl.accesArticles.data track by $index">
			<div ng-show="displayLienArticle[$index]" class="col-xs-12 col-xs-4 text-center article">
				<!--<a ng-href="{{ content.url }}">
					<p  class="article" >{{ content.text[0] }}</p>
					<p  class="redacteur">{{ content.i18n.fr.fields.redacteur[0] }}</p>
					<br/>
				</a>-->
				<a ng-href="{{content.url}}">
					<img ng-if="content['image']" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['image'],{width:'420px',height:'200px',mode:'crop'})}}" style="width:100%">
					<img ng-if="!content['image']" src="/theme/cte/img/icons/video-thumb.jpg" style="height:100px">
					<h4>{{ content.text[0] }}</h4>
				</a>	
			</div>
		</div>
	</div>
	
	<!--<div ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents track by $index" class="articleList col-xs-6 " ng-class="contentListCtrl.columns" >
		<a ng-href="{{ fieldEditMode ? '' : content.detailPageUrl }}">
			<div  style="position:relative;display: inline-block">
				<img class="media-object pull-left img-responsive" ng-if="content.fields.image"
				ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{height:'250px',width:'400px',mode:'crop'}) }}"
				alt="{{ content.fields.text }}"/>
				<div class="transparent">
					<h4 class="media-heading" ng-if="!fieldEditMode" >
							{{content.fields.text }}
					</h4>
					<rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
					<!--<p>
						<img class="img-responsive  padding-top padding-right" ng-if="fieldEntity['image']"
							ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'50px',mode:'boxed'}) }}"
							alt=""/>
					</p>
				</div>
			</div>
		</a>
		<a ng-if="contentListCtrl.isFOContributeMode" class="pull-right" ng-href="{{ content.detailPageUrl+'?preview=true&preview_draft=true' }}">
			{{rubedo.translate('Block.ContentList.Label.Preview','Preview detail')}}
		</a> 
	</div>-->
	
	
</div>
 
 

