

<!--Présentation du Sommaire de la revue classique-->
<div class="row" ng-show="!pageRevueEnCours">
    
    <div class="col-sm-9 col-sm-push-3">
        <h3 ng-if="!fieldEditMode" style="border-bottom: 1px solid;padding-bottom: 12px;">Sommaire - {{fieldEntity['text']}}</h3>
        <rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field><!--Plan-->
		<div class="sommaire">	
			<div ng-repeat="content in contentDetailCtrl.infoArticles.data track by $index">
				<p class="red-sub" ng-show="displayTaxo[$index]" class="categorie">{{contentDetailCtrl.infoArticles.facetsLabels[content['taxonomy.5a114f1b396588d22856706f'][0]]}}</p>
				<p  class="article"><a ng-href="{{ content.url }}">{{ content.text[0] }}</a></p>
				<div ng-show="!displayTaxo[$index] && displayTaxo[$index+1]"><br/><br/></div>
			</div>
        </div>
	</div>
		
    <div class="col-sm-3 col-sm-pull-9"> 
        <img class="img-responsive  padding-top padding-right" ng-if="fieldEntity['image']"
				 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'300px',mode:'boxed'}) }}"
				 alt=""/>	
    </div>
	
</div>


<!--Présentation de la revue sur la page "REVUE EN COURS"-->
<div class="row" ng-show="pageRevueEnCours">
    
    <div class="col-sm-8">
        <h3 ng-if="!fieldEditMode" style="border-bottom: 1px solid;padding-bottom: 12px;">{{fieldEntity['text']}}</h3>
        <rubedo-field ng-if="fieldEditMode" field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field><!--Plan-->
		<div class="sommaire">	
			<div ng-repeat="content in contentDetailCtrl.infoArticles.data track by $index">
					<img class="img-responsive  padding-top padding-right"
					 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image_dossier'],{height:'100px',mode:'boxed'}) }}"
					 ng-if="content['taxonomy.5a114f1b396588d22856706f'][0] === '5a114f62396588a52956706b' "
					 ng-show="displayTaxo[$index]"
					 alt=""/>
					
					<header class="content" style="overflow-x:hidden"
					 afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image_oecumenisme'] ,{width:'480px',mode:'boxed'})}} 480w"
					 ng-if="content['taxonomy.5a114f1b396588d22856706f'][0] === '5a114f90396588c52956706b' "
					 ng-show="displayTaxo[$index]">
					</header>
					<img class="img-responsive  padding-top padding-right"
					 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image_formation_chretienne'],{height:'100px',mode:'boxed'}) }}"
					 ng-if="content['taxonomy.5a114f1b396588d22856706f'][0] === '5a114fa4396588b02956706c' "
					 ng-show="displayTaxo[$index]"
					 alt=""/>
					<img class="img-responsive  padding-top padding-right"
					 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image_foi'],{height:'100px',mode:'boxed'}) }}"
					 ng-if="content['taxonomy.5a114f1b396588d22856706f'][0] === '5a114fdf396588922956706d' "
					 ng-show="displayTaxo[$index]"
					 alt=""/>
				<p class="red-sub" ng-show="displayTaxo[$index]" class="categorie">{{contentDetailCtrl.infoArticles.facetsLabels[content['taxonomy.5a114f1b396588d22856706f'][0]]}}</p>
				<p  class="article"><a ng-href="{{ content.url }}">{{ content.text[0] }}</a></p>
				<div ng-show="!displayTaxo[$index] && displayTaxo[$index+1]">
					<br/><br/> 
				</div>
			</div>
        </div>
	</div>
	
	<div class="foiPresentation col-sm-4">
		<div>
			<img class="img-responsive  padding-top padding-right" ng-if="fieldEntity['image']"
				 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'300px',mode:'boxed'}) }}"
				 alt=""/>
			<ul class="presentation">
				<li><a ng-href="{{fieldEntity['link_revue']}}" target="_blank">Acheter</a></li>
				<li><a rubedo-page-link="58e51a9c245640db008bde81" target="_blank">S'abonner</a></li>
			</ul>
		</div>
	</div>
		 
</div>

  
















<!--<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<img class="media-object pull-right padding-top padding-right" ng-if="fieldEntity[contentDetailCtrl.content.type.fields[1].config.name]"
				 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity[contentDetailCtrl.content.type.fields[1].config.name],{height:'420px',width:'300px',mode:'crop'}) }}"
				 alt=""/>	
	</div>
	<div class="col-xs-12 col-sm-6">
		<div style="max-width:400px">
		<h1>Revue FOI</h1>
		<p class="clearfix">La revue FOI (pour Fraternité Oecuménique Internationale) est une revue trimestrielle éditée par la communauté du Chemin Neuf.
		Elle donne la parole à des acteurs de l’Eglise et à des membres de la communauté qui partagent leur passion pour l'Unité.</p>
		<a class="button rouge" href="http://www.laboutique-chemin-neuf.com/fr/la-revue-foi/1628-abonnenement-revue-foi-2-ans.html">S'abonner à la revue</a>
		<a class="button rouge" ng-if="fieldEntity['link_revue']" ng-href="{{fieldEntity['link_revue']}}">Acheter ce numéro</a>
		</div>
	</div>
</div>
<div class="row" style="border-top:4px solid white; margin-top:24px">
	<h3>Sommaire - {{fieldEntity['text']}}</h3>
</div>
<div class="row sommaire" style="border-bottom:4px solid white">
	<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('richText')}}"></rubedo-field>

</div>
<div style="margin-top:24px"></div>
</div>

-->
