<!---INFOS PERSONNELLES 14-18 ANS-->
<!--<div ng-repeat="public in formCtrl.form.fields.publics">
    <input type="radio"  name="public_type" ng-attr-id="{{public}}" ng-value="{{public}}"><label ng-attr-for="{{public}}">{{formCtrl.getValueInStore(formCtrl.fields.publics, public)}}</label>	
</div>-->
    <h2 class="capital txt-red">{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}</h2>
    <div class="col-sm-4"><label for="nom"></label></div>
    <div class="col-sm-8"><input type="text" id="nom" ng-model="inscription.nom"></div>
    <input type="radio"  name="public_type" ng-attr-id="{{public}}" ng-value="public" ng-model="inscription.public_type" ng-change="formCtrl.getTemplate()">
    <label for="{{public}}">{{formCtrl.getLabel(formCtrl.fields.publics, public)}}</label>	
