<h2 class="capital txt-red" ng-class="{'displayed' : formCtrl.currentStage==1}" ng-click="formCtrl.setCurrentStage(0,infos_personnelles.$valid)">{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>1"></span>
</h2>
<ng-form name="infos_personnelles">
    <!--NOM-->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>{{rubedo.translate("Block.Inscription.Lui")}}</h3>
            <div class="row">
                <div class="col-sm-4"><label for="nom" class="label_style">{{rubedo.translate("Block.Inscription.Nom")}}*</label></div>
                <div class="col-sm-8"><input type="text" id="nom" ng-model="inscription.name" name="name" required></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="prenom" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
                <div class="col-sm-8"><input type="text" id="prenom" ng-model="inscription.surname" name="surname" required></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="dateNaiss" class="label_style">{{rubedo.translate("Block.Inscription.DateNaiss")}}*</label></div>
                <div class="col-sm-8"><!--<input type="text" id="dateNaiss" ng-model="inscription.birthdate" name="birthdate" required ng-pattern="/\d{2}/\d{2}/\d{4}/" placeholder='{{rubedo.translate("Block.Inscription.DateFormat")}}'>-->
                    <div class="dropdown">
                        <a showtab class="dropdown-toggle" id="dropdowndateNaiss" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input readonly id="dateNaiss" ng-model="inscription.birthdateF" type="text" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="inscription.birthdate"  data-datetimepicker-config="{dropdownSelector: '#dropdowndateNaiss', startView: 'year', minView:'day'}" data-on-set-time="inscription.birthdateF = (inscription.birthdate |date:'dd/MM/yyyy'); moment.locale('fr')"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="profession" class="label_style">{{rubedo.translate("Block.Inscription.Profession")}}</label></div>
                <div class="col-sm-8"><input type="text" id="profession" ng-model="inscription.profession" name="profession"></div>
            </div>    
            <div class="row">
                <div class="col-sm-4"><label for="email" class="label_style">{{rubedo.translate("Block.Inscription.Email")}}</label></div>
                <div class="col-sm-8"><input type="email" id="email" name="email"  ng-model="inscription.email" placeholder="user@mydomain.com" required></div>
            </div>    
            <div class="row">
                <div class="col-sm-4"><label for="email_verif" class="label_style">{{rubedo.translate("Block.Inscription.Email.Verification")}}</label></div>
                <div class="col-sm-8">
                    <input type="email" id="email_verif" name="email_verif" placeholder="user@mydomain.com" ng-model="inscription.email_verif" required>
                    <p ng-if="mailError" class="infos_validation txt-red">{{rubedo.translate("Block.Inscription.Email.Error.Different")}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="tel2" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable")}}**</label></div>
                <div class="col-sm-8"><input type="text" id="tel2" name="tel2" placeholder="+33/x xx xx xx xx" ng-model="inscription.tel2" ng-pattern="/(0|\+33|0033)\/?[1-9]\s?([0-9]\s?){8}/" ng-required="isTelephoneRequired()">
                    <p ng-if="inscription.public_type != 'adolescent'" ng-class=" {'txt-red' : isTelephoneRequired()}" class="infos_validation">** {{rubedo.translate("Block.Inscription.Telephone.Condition")}}</p>
                </div>
            </div>
        </div>
     
        <div class="col-md-6 col-sm-12">
            <h3>{{rubedo.translate("Block.Inscription.Elle")}}</h3>
            <div class="row">
                <div class="col-sm-4"><label for="nomPers2" class="label_style">{{rubedo.translate("Block.Inscription.Nom")}}*</label></div>
                <div class="col-sm-8"><input type="text" id="nomPers2" ng-model="inscription.nomPers2" name="nomPers2" required></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="prenomPers2" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
                <div class="col-sm-8"><input type="text" id="prenomPers2" ng-model="inscription.prenomPers2" name="prenomPers2" required></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="dateNaiss" class="label_style">{{rubedo.translate("Block.Inscription.DateNaiss")}}*</label></div>
                <div class="col-sm-8">
                    <div class="dropdown">
                        <a showtab class="dropdown-toggle" id="dropdowndateNaiss2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input readonly id="dateNaiss2" ng-model="inscription.dateNaiss2F" type="text" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="inscription.dateNaiss2"  data-datetimepicker-config="{dropdownSelector: '#dropdowndateNaiss2', startView: 'year', minView:'day'}" data-on-set-time="inscription.dateNaiss2F = (inscription.dateNaiss2 |date:'dd/MM/yyyy'); moment.locale('fr')"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label for="professionPers2" class="label_style">{{rubedo.translate("Block.Inscription.Profession")}}</label></div>
                <div class="col-sm-8"><input type="text" id="professionPers2" ng-model="inscription.professionPers2" name="professionPers2"></div>
            </div>    
            <div class="row">
                <div class="col-sm-4"><label for="emailPers2" class="label_style">{{rubedo.translate("Block.Inscription.Email")}}</label></div>
                <div class="col-sm-8"><input type="email" id="emailPers2" name="emailPers2"  ng-model="inscription.emailPers2" placeholder="user@mydomain.com" required></div>
            </div>    
            <div class="row">
                <div class="col-sm-4"><label for="emailPers2_verif" class="label_style">{{rubedo.translate("Block.Inscription.Email.Verification")}}</label></div>
                <div class="col-sm-8">
                    <input type="email" id="emailPers2_verif" name="emailPers2_verif" placeholder="user@mydomain.com" ng-model="inscription.emailPers2_verif" required>
                    <p ng-if="mailError2" class="infos_validation txt-red">{{rubedo.translate("Block.Inscription.Email.Error.Different")}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><label for="tel2Pers2" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable")}}**</label></div>
            <div class="col-sm-8"><input type="text" id="tel2Pers2" name="tel2Pers2" placeholder="+33/x xx xx xx xx" ng-model="inscription.tel2Pers2" ng-pattern="/(0|\+33|0033)\/?[1-9]\s?([0-9]\s?){8}/" ng-required="isTelephoneRequired()">
                <p ng-class=" {'txt-red' : isTelephoneRequired()}" class="infos_validation">** {{rubedo.translate("Block.Inscription.Telephone.Condition")}}</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="button submit" ng-class="{'disabled' : infos_personnelles.$invalid}" ng-click="formCtrl.setCurrentStage(1,infos_personnelles.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
    </div>
</ng-form>   


<h2 class="capital txt-red" ng-class="{'displayed' : formCtrl.currentStage==2}" ng-click="formCtrl.setCurrentStage(1,contact.$valid)">{{rubedo.translate("Block.Inscription.Couple", "Couple")}}
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>2"></span>
</h2>
<ng-form name="contact">
   <div class="row">
        <div class="col-sm-4"><label for="nationalite" class="label_style">{{rubedo.translate("Block.Inscription.Nationalite")}}</label></div>
        <div class="col-sm-8"><input type="text" id="nationalite" ng-model="inscription.nationality" name="nationality"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="adresse" class="label_style">{{rubedo.translate("Block.Inscription.Adresse")}}*</label></div>
        <div class="col-sm-8"><textarea rows="3" id="adresse" ng-model="inscription.address" name="address" placeholder="" required></textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="cp" class="label_style">{{rubedo.translate("Block.Inscription.CodePostal")}}</label></div>
        <div class="col-sm-8"><input type="text" id="cp" ng-model="inscription.cp" name="cp"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="city" class="label_style">{{rubedo.translate("Block.Inscription.Ville")}}*</label></div>
        <div class="col-sm-8"><input type="text" id="city" ng-model="inscription.city" name="city" required></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="pays" class="label_style">{{rubedo.translate("Block.Inscription.Pays")}}</label></div>
        <div class="col-sm-8"><input type="text" id="pays" ng-model="inscription.country" name="country"></div>
    </div>
     <div class="row text-center">
        <div class="button submit" ng-class="{'disabled' : contact.$invalid}" ng-click="formCtrl.setCurrentStage(2,contact.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
    </div>   
</ng-form>
    
    
    
 



<!--

<h2 class="capital txt-red" ng-class="{'displayed' : formCtrl.currentStage==2}" ng-click="formCtrl.setCurrentStage(1,contact.$valid)">{{rubedo.translate("Block.Inscription.Contact", "Contact")}}
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>2"></span>
</h2>
<ng-form name="contact">

    <div class="row">
        <div class="col-sm-4"><label for="tel1" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Fixe")}}**</label></div>
        <div class="col-sm-8"><input type="text" id="tel1" name="tel1"  ng-model="inscription.tel1" placeholder="+33/x xx xx xx xx"  ng-pattern="/(0|\+33|0033)\/?[1-9]\s?([0-9]\s?){8}/" ng-required="isTelephoneRequired()"></div>
    </div>    
    <div class="row">
        <div class="col-sm-4"><label for="tel2" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable")}}**</label></div>
        <div class="col-sm-8"><input type="text" id="tel2" name="tel2" placeholder="+33/x xx xx xx xx" ng-model="inscription.tel2" ng-pattern="/(0|\+33|0033)\/?[1-9]\s?([0-9]\s?){8}/" ng-required="isTelephoneRequired()">
            <p ng-if="inscription.public_type != 'adolescent'" ng-class=" {'txt-red' : isTelephoneRequired()}" class="infos_validation">** {{rubedo.translate("Block.Inscription.Telephone.Condition")}}</p>
        </div>
    </div>
    <div class="row" ng-if="inscription.public_type == 'adolescent' ">
        <div class="col-sm-4"><label for="tel2Pers2" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable.Parents")}}**</label></div>
        <div class="col-sm-8"><input type="text" id="tel2Pers2" name="tel2Pers2" placeholder="+33/x xx xx xx xx" ng-model="inscription.tel2Pers2" ng-pattern="/(0|\+33|0033)\/?[1-9]\s?([0-9]\s?){8}/" ng-required="isTelephoneRequired()">
            <p class="infos_validation" ng-class=" {'txt-red' : isTelephoneRequired()}">** {{rubedo.translate("Block.Inscription.Telephone.Condition.Ados")}}</p>
        </div>
    </div>
    <div class="row" ng-if="inscription.public_type == 'adolescent' ">
        <div class="col-sm-4"><label for="emailPers2" class="label_style">{{rubedo.translate("Block.Inscription.Email.Parent")}}</label></div>
        <div class="col-sm-8"><input type="email" id="emailPers2" name="emailPers2"  ng-model="inscription.emailPers2" placeholder="user@mydomain.com" required></div>
    </div>    
    <div class="row" ng-if="inscription.public_type == 'adolescent' ">
        <div class="col-sm-4"><label for="emailPers2_verif" class="label_style">{{rubedo.translate("Block.Inscription.Email.Parent.Verification")}}</label></div>
        <div class="col-sm-8"><input type="email" id="emailPers2_verif" name="emailPers2_verif" placeholder="user@mydomain.com" ng-model="inscription.emailPers2_verif" required></div>
    </div>
    <div class="row text-center">
        <div class="button submit" ng-class="{'disabled' : contact.$invalid}" ng-click="formCtrl.setCurrentStage(2,contact.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
    </div>
</ng-form>

-->