<h3 class="row">{{rubedo.translate("Block.Inscription.Enfants")}}</h3>
<div class="row" ng-repeat="enfant in inscription.enfants track by $index" class="enfant">
     <p class="txt-red capital">{{rubedo.translate("Block.Inscription.Enfant")}} n°{{$index +1}}</p>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.Nom.Different")}}</label>
        <input type="text" ng-model="inscription.enfants[$index].nom" placeholder='{{rubedo.translate("Block.Inscription.Nom")}}' readonly>
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.Prenom")}}</label>
        <input type="text" ng-model="inscription.enfants[$index].prenom" placeholder='{{rubedo.translate("Block.Inscription.Prenom")}}' readonly>
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.DateNaiss")}}</label>
        <input type="text" value="{{inscription.enfants[$index].birthdateF |date:'dd/MM/yyyy'}}" readonly>
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.Sexe")}}</label>
        <input type="text" value="{{inscription.enfants[$index].sexe}}" readonly>
    </div>
    <p class="txt-red pull-right cursor-as-pointer" ng-click="formCtrl.removeChild($index)">
        <span class="glyphicon glyphicon-minus-sign txt-red cursor-as-pointer"></span>{{rubedo.translate("Block.Inscription.Enfant.Supprimer")}}
    </p>
    
    
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.Nom.Different")}}</label>
        <input type="text" ng-model="inscription.enfant.nom" placeholder='{{rubedo.translate("Block.Inscription.Nom")}}' >
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.Prenom")}}</label>
        <input type="text" ng-model="inscription.enfant.prenom" placeholder='{{rubedo.translate("Block.Inscription.Prenom")}}'>
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left">{{rubedo.translate("Block.Inscription.DateNaiss")}}</label>
        <div class="dropdown">
                <a showtab class="dropdown-toggle" id="dropdowndateNaissEnf" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group"><input readonly id="dateNaissEnf" ng-model="inscription.enfant.birthdateF" type="text" class="form-control" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="inscription.enfant.birthdate"  data-datetimepicker-config="{dropdownSelector: '#dropdowndateNaissEnf', startView: 'year', minView:'day'}" data-on-set-time="inscription.enfant.birthdateF = (inscription.enfant.birthdate |date:'dd/MM/yyyy'); moment.locale('fr')"/>
                </ul>
            </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <label class="label_style left col-xs-12">{{rubedo.translate("Block.Inscription.Sexe")}}</label>
        <input type="radio"  id="H" value='{{rubedo.translate("Block.Inscription.Enfant.Garçon")}}' ng-model="inscription.enfant.sexe">
                        <label for="H" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.H")}}</label>	
            <input type="radio" id="F" value='{{rubedo.translate("Block.Inscription.Enfant.Fille")}}' ng-model="inscription.enfant.sexe">
                        <label for="F" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.F")}}</label>
    </div>
    <p class="txt-red pull-right cursor-as-pointer" ng-click="formCtrl.addChild(inscription.enfant);inscription.enfant={}">
        <span class="glyphicon glyphicon-plus-sign txt-red cursor-as-pointer"></span>{{rubedo.translate("Block.Inscription.Enfant.Ajouter")}}
    </p>
</div>

  
</li>


</ul>
