<ng-form name="enfants">
                    <input type="text" ng-model="enfant.nom" placeholder="Name" ><br />
                    <input type="text" ng-model="enfant.prenom" placeholder="Prénom" ><br />
                    <input type="text" ng-model="enfant.age" placeholder="Age" ><br />
                    <button type="button" ng-click="formCtrl.addChild(enfant);enfant={}">Add Child</button>
                    <ul ng-repeat="enfant in inscription.enfants">
                    <li>
                      {{ enfant.nom }}
                   </li>
                   <li>
                      {{ enfant.prenom }}
                   </li>
                   <li>
                      {{ enfant.age }}
                   </li>
                   <li>
                      <button type="button" ng-click="formCtrl.removeChild($index)">Remove Person</button>
                   </li>
                
                   
                </ul>
                </ng-form>