<!---INFOS PERSONNELLES 14-18 ANS-->
<!--<div ng-repeat="public in formCtrl.form.fields.publics">
    <input type="radio"  name="public_type" ng-attr-id="{{public}}" ng-value="{{public}}"><label ng-attr-for="{{public}}">{{formCtrl.getValueInStore(formCtrl.fields.publics, public)}}</label>	
</div>-->
<ng-form name="infos_personnelles">
    <h2 class="capital txt-red">{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}</h2>
    <!--NOM-->
    <div class="row">
        <div class="col-sm-4"><label for="nom" class="label_style">{{rubedo.translate("Block.Inscription.Nom")}}*</label></div>
        <div class="col-sm-8"><input type="text" id="nom" ng-model="inscription.name" name="name" required></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="prenom" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
        <div class="col-sm-8"><input type="text" id="prenom" ng-model="inscription.surname" name="surname" required></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="dateNaiss" class="label_style">{{rubedo.translate("Block.Inscription.DateNaiss")}}*</label></div>
        <div class="col-sm-8"><input type="text" id="dateNaiss" ng-model="inscription.birthdate" name="birthdate" required ng-pattern="/\d{2}/\d{2}/\d{4}/" placeholder='{{rubedo.translate("Block.Inscription.DateFormat")}}'></div>
    </div>    
    <div class="row">
        <div class="col-sm-4"><label for="sexe" class="label_style">{{rubedo.translate("Block.Inscription.Sexe")}}*</label></div>
        <div class="col-sm-8">
            <input type="radio"  name="sexe" id="H" value="homme" ng-model="inscription.sexe">
                        <label for="H" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.H")}}</label>	
            <input type="radio"  name="sexe" id="F" value="femme" ng-model="inscription.sexe">
                        <label for="F" class="sexe_label">{{rubedo.translate("Block.Inscription.Sexe.F")}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="nationalite" class="label_style">{{rubedo.translate("Block.Inscription.Nationalite")}}</label></div>
        <div class="col-sm-8"><input type="text" id="nationalite" ng-model="inscription.nationality" name="nationality"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="adresse" class="label_style">{{rubedo.translate("Block.Inscription.Adresse")}}*</label></div>
        <div class="col-sm-8"><textarea rows="3" id="adresse" ng-model="inscription.address" name="address" placeholder="" required></textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="cp" class="label_style">{{rubedo.translate("Block.Inscription.CodePostal")}}</label></div>
        <div class="col-sm-8"><input type="text" id="cp" ng-model="inscription.cp" name="cp"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="city" class="label_style">{{rubedo.translate("Block.Inscription.Ville")}}*</label></div>
        <div class="col-sm-8"><input type="text" id="city" ng-model="inscription.city" name="city" required></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label for="pays" class="label_style">{{rubedo.translate("Block.Inscription.Pays")}}</label></div>
        <div class="col-sm-8"><input type="text" id="pays" ng-model="inscription.country" name="country"></div>
    </div>
    <div class="row" ng-if="inscription.public_type == 'jeune-adulte' ">
        <div class="col-sm-4"><label for="classe" class="label_style">{{rubedo.translate("Block.Inscription.Situation")}}</label></div>
        <div class="col-sm-8">
            <input type="radio"  name="situation" id="etudiant" value="{{rubedo.translate('Block.Inscription.Situation.Etudiant')}}" ng-model="inscription.situation">
                        <label for="etudiant" class="col-xs-12">{{rubedo.translate('Block.Inscription.Situation.Etudiant')}}</label>
            <input type="radio"  name="situation" id="jeunePro" value="{{rubedo.translate('Block.Inscription.Situation.JPro')}}" ng-model="inscription.situation">
                        <label for="jeunePro" class="col-xs-12">{{rubedo.translate('Block.Inscription.Situation.JPro')}}</label>
            <div class="col-xs-12">
                <input type="radio"  name="situation" id="situationAutre" value="{{rubedo.translate('Block.Inscription.Situation.Autre')}}" ng-model="inscription.situation">
                        <label for="situationAutre">{{rubedo.translate("Block.Inscription.Situation.Autre")}}</label>
                        <input type="text" name="autreSituation" id="autreSituation" ng-model="inscription.autreSituation" />
            </div>
        </div>
    </div>
</ng-form>

