<div ng-switch="question.fields.type.type"
     ng-if="(question.fields.questionPour.questionPour == 'tous') || ((question.fields.questionPour.questionPour == 'serviteurs')&&(inscription.serviteur)) || ((question.fields.questionPour.questionPour == 'sessionistes')&&!(inscription.serviteur))">
    <!--radio group-->
    <div ng-switch-when="radio_group" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.text}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12" ng-repeat="questionField in question.fields.reponses track by $index">
                <input type="radio" required name="{{question.fields.categorie.categorie}}_{{$parent.$index}}" id="{{question.fields.categorie.categorie}}_{{$parent.$index}}_{{$index}}" ng-value=' "{{questionField.titre}}"' ng-model="inscription[question.fields.categorie.categorie][question.text].value">
                        <label for="{{question.fields.categorie.categorie}}_{{$parent.$index}}_{{$index}}">{{questionField.titre}}</label><label ng-if="questionField.prix>0">{{questionField.prix}} €</label>
                        <label>{{questionField.libelleApresPrix}}</label>
                        <input type="text" ng-if="questionField.complement" name="{{question.fields.categorie.categorie}}_{{$parent.$index}}_complement" ng-model="inscription[question.fields.categorie.categorie][question.text].complement" class="complement_text" />

            </div>
        </div>
    </div>
    
    <!--checkboxes group-->
    <div ng-switch-when="checkbox_group" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.text}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12" ng-repeat="questionField in question.fields.reponses track by $index">
                <input type="checkbox"  name="{{question.fields.categorie.categorie}}_{{$parent.$index}}" id="{{question.fields.categorie.categorie}}_{{$parent.$index}}_{{$index}}" ng-true-value="{{questionField.titre}}"
                                ng-model="inscription[question.fields.categorie.categorie][question.text][$index]">
                        <label for="{{question.fields.categorie.categorie}}_{{$parent.$index}}_{{$index}}">{{questionField.titre}}</label><label ng-if="questionField.prix>0">{{questionField.prix}} €</label>
                        <label>{{questionField.libelleApresPrix}}</label>
                        <input type="text" ng-if="questionField.complement" name="{{question.fields.categorie.categorie}}_{{$parent.$index}}_complement" ng-model="inscription[question.fields.categorie.categorie][question.text].complement" class="complement_text" />
            </div>
        </div>
    </div>

    <!--text-->
    <div ng-switch-when="text" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.text}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12">
                <textarea rows="2" ng-model="inscription[question.fields.categorie.categorie][question.text]" name="{{question.fields.categorie.categorie}}_{{$parent.$index}}" placeholder="">
            </div>
        </div>
    </div>
    
    <!--number-->
    <div ng-switch-when="number" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.text}}</label>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12">
                <input type="number" ng-model="inscription[question.fields.categorie.categorie][question.text]" name="{{question.fields.categorie.categorie}}_{{$parent.$index}}">
            </div>
        </div>
    </div>
    <!--checkbox-->
    <div ng-switch-when="checkbox" class="row">
        <div class="col-sm-4">
            <label class="label_style">{{question.text}}</label>
        </div>
        <div class="col-sm-8">
            <input type="checkbox"  name="{{question.fields.categorie.categorie}}_0" id="{{question.fields.categorie.categorie}}_0_0" ng-true-value="Oui" ng-false-value="Non"
                                ng-model="inscription[question.fields.categorie.categorie][question.text][0]">
            <input type="text" ng-if="question.fields.complement" name="{{question.fields.categorie.categorie}}_0_complement" ng-model="inscription[question.fields.categorie.categorie][question.text].complement" class="complement_text" />
        </div>
    </div>
</div>


