<div class="row program_row_container">

    <div class="col-xs-12 col-md-6 container"
        ng-repeat="content in contentListCtrl.contents track by $index">
        
        <img class="img-responsive no-margin" ng-if="content.fields.image"
                ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'250px',height:'150px',mode:'crop'}) }}"
                onerror="this.src='https://www.haus-bethanien.ch/dam?media-id=57175694c445ecda008c4b31&width=250px&height=150px&mode=crop'"
                alt="{{ content.fields.text }}"/> 

        <h3>
            <a ng-if="!fieldEditMode"  ng-href="{{ !fieldEditMode ? content.contentLinkUrl : ''}}">{{content.fields.text}}</a>
            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
        </h3>

        <p ng-if="!contentListCtrl.titleOnly">
            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
        </p>      

    </div>

</div>

<style>
.program_row_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program_row_container > .container {
    display: flex;
    padding: 2rem 0;
    margin: 0;
    border-top: 1px solid #006ba8;
    width: 70vw;
}
</style>