<div class="form-group" ng-controller="CheckboxGroupController as ctrl" ng-init="fieldEntity[field.config.name]">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="col-sm-4 control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div class="col-sm-8" id="{{fieldIdPrefix+'_'+field.config.name}}">
        <label class="checkbox-inline" ng-repeat="item in field.config.items track by $index">
            <input type="checkbox" name="{{field.config.name}}" checklist-value="item.inputValue" checklist-model="fieldEntity[field.config.name][field.config.name]"> {{item.boxLabel}}
        </label>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>