// Mixin itself
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.ellipsis(@number,@line-height:1.4em){
  overflow: hidden;
  position: relative;
  max-height: (@number*@line-height); /*display ellipsis after 5 lines*/
  &:before {
  bottom: 0;
  position: absolute;
  right: 0;
  content: '...';
}
	&:after {
  content: '';
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 1;
}
}



.uparrow() {
    &:after{
    font-family:'FontAwesome';
    content:'\f077';
	float: right;
	text-transform: none;
    }
}
.downarrow() {
    &:after{
    font-family:'FontAwesome';
    content:'\f078';
	float: right;
	text-transform: none;
    }
}


body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: 'Merriweather','Arimo', "Helvetica Neue",Helvetica,Arial,sans-serif; height: 100%; overflow: auto;background-color:@beigeCCN;}
.container-fluid{overflow-x:hidden;}
.container-fluid{padding:0}
.container-fluid > .row:nth-of-type(n+3){margin-right: 0; margin-left:0;}
.container-fluid > .row.no-margin{margin-right: -15px; margin-left:-15px;}
.container.page{min-height: 80vh; margin-top:50px}
.glyphicon-list-alt{z-index:9999}
/*TYPO*/
h1{font-weight: bold; font-size:24px}
@media screen and (min-width: @min_xs) and (max-width:@min_sm){h1{font-size: 32px}}
@media screen and (min-width: @min_sm){h1{font-size: 48px}}
h2{font-weight: bold}
@media screen and (min-width: @min_sm){h3{font-size:28px;font-weight: bold; line-height: 1.25em;}}
h4{font-weight: bold;font-size: 20px; margin:0; margin-bottom: 5px; line-height: 1.4em}
@media screen and (min-width: @min_md) and (max-width: @min_lg){h3{font-size:24px}}
p{color:@txt_dark; font-size:16px}
label{font-weight: normal}
.capital, .text-article .capital, .capital p, .text-article .capital p{font-family: 'Montserrat','Arimo', "Helvetica Neue",Helvetica,Arial,sans-serif; text-transform: uppercase; letter-spacing: 2px; font-size:14px; font-weight: normal}
.capital2{font-family: 'Montserrat','Arimo', "Helvetica Neue",Helvetica,Arial,sans-serif; text-transform: uppercase; letter-spacing: 2px; font-size:10px !important; font-weight: normal; margin-bottom: 0}
/*code Nicolas*/
/*site communauté*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{min-height:0.1px}
.row.vide{min-height:1px !important}

a,a:link, a:visited,a:hover, a:active{text-decoration: none; }
a, a:visited,a:hover, a:active{color:@txt_dark}
p a{box-shadow: inset 0 -2px 0 @marron; transition: background 0.3s ease }
p a:hover, p a:active{background-color:@marron}
input:focus{outline: 0; border-color:transparent; box-shadow:0}
.media-body{min-width:200px;}
.contentList .media-body{margin-bottom: 24px}
.col-sm-6:after{.clearfix}
@media screen and (max-width: @min_xs){
    [class*="col-xs-"]{width:100%;}
     [class*="col-xs-pull-"]{right:0;}
     [class*="col-xs-push-"]{left:0;}
}
@media screen and (min-width: @min_xs) and (max-width: @min_sm){
    .container{width:@width_xxs}
}
.img_full img{width:100%}
.img-responsive{height:auto !important}
.padding-right{padding-right:24px}
.padding-left{padding-right:24px}
.padding-top{padding-top:24px}
.padding{padding-top:12px; padding-bottom: 12px}
.padding-large{padding-top:24px; padding-bottom: 24px}
.padding-{margin-top:-24px; margin-bottom:-24px} // pour ne pas avoir le padding en hauteur des lignes normales
.no-margin{margin-left:-15px; margin-right: -15px}// pour ne pas avoir le padding en largeur des lignes normales
.padding-col{padding:0px 48px;}
.padding-col >rubedo-block>div{padding:24px 0}
@media screen and (max-width: @min_sm){
  .padding-col >rubedo-block>div{padding:12px	 0}
}
@media screen and (min-width: @min_xs){
    .no-padding{padding: 0}
}
.texte{max-width: 860px; margin: 24px auto; padding: 36px 24px}
::selection {
  background: @rouge; color:white/* WebKit/Blink Browsers */
}
::selection {
  background: @rouge; color:white /* Gecko Browsers */
}
span.glyphicon{margin: 0 5px; vertical-align: middle}
.var-narrow .tweet{padding:12px !important}
.fa.icon{font-size:24px}
////////////////////////////////////////////////
    ///////global variables////////////////
////////////////////////////////////////////////
@width_xxs:420px;
@min_xs:500px;
@min_sm:768px;
@min_md:992px;
@min_lg:1200px;
@rouge:#c1573c;//rouge brique
@rouge_shadow:#9e4232; // rouge brique sombre
@txt_dark:#2e2c29;// couleur texte
@menu:#2e2c29;// couleur de fond du menu par défaut
@beigeCCN:#f3eeea; // beige fond
@marron:#d5c5b5 ; // beige plus sombre
@rencontre:#7d77bf; //violet rencontres
@lieux:#fbbd58; //jaune lieux communautaires
@evenement:#f96847; //orange propositions;
//@14-18:#59d3b6;
@14-18:#1f2d5c;
@cana:#ff7d5f;
@bleu:#3CA6C1;
////////////////////////////////////////////////
    ///////classes utiles////////////////
////////////////////////////////////////////////
.txt-red{color:@rouge}
.txt-marron{color:@marron}
.txt-beige, a.txt-beige{color:@beigeCCN}
.txt-rencontre{color:@rencontre}
.txt-lieux{color:@lieux}
.txt-evenement{color:@evenement}
.bg-white{background-color: white}
.desaturate{filter:grayscale(100%); -webkit-filter:grayscale(100%)}
.beige{background-color: @beigeCCN}


.linkbox{display:inline-block;margin-top:12px; }

.linkbox a{
    letter-spacing: 0.2em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color:#898989;
    border: 2px solid rgba(137,137,137,0.5);
    padding:10px 15px;
    border-radius: 3px;
    transition:all 0.4s ease 0s;
    text-transform: uppercase;
    min-width: 210px; max-width: 300px;
    box-shadow: none;
}
.linkbox a:hover{border-color: rgb(137,137,137)}
.linkbox a+a{margin-left:12px}

////////////////////////////////////////////////////
    ///////////MENU///////////////////
///////////////////////////////////////////////////
.header{ margin:15px 0}
.navbar-fixed-top{width:310px; left:auto; z-index:1051;}
.navbar-fixed-top.displayed{width:100%; left:0}
@media screen and (min-width: @min_xs) and (max-width: @min_sm){
}
ul.navbar-right{height:40px; float: right; width: 100%}
nav.navbar-fixed-top li{
    background: @rouge;
    color:white;
    a{color:white}
    .capital;
    width:33.333%;
    height:40px;
    line-height: 40px;
    border-left:2px solid @beigeCCN;
    /*border-bottom:2px solid @beigeCCN;*/
    text-align: center;
    font-size: 12px;
    z-index: 2;
    display: block; float: left;
    padding: 0 5px;
    span{line-height: 1.2em;display: inline-block;vertical-align: middle }
}
nav.navbar-fixed-top li:first-of-type{border-left:none}

.searchbar{
    width:100%; height: 50px;
    opacity:0;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    form{width:100%;height:100%;}
    input{border:0;height: 50px;}
    button{border:0;height: 50px;}
    z-index: 0;
    margin-top:-50px;
}
.footer.menu .container{
    margin-top:-1000px;
    margin-top:-200vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    position:relative; 
    -webkit-transform: translate3d(0, 0, 0);
}
.searchbar.displayed{opacity:1;margin-top:0}
 .displayed>.menu .container{opacity:1;margin-top:0;}
  .menu +div{width:100%;top:0;left:0;position:relative;z-index:2;-webkit-transform: translate3d(0, 0, 0);}
  
   .retour, .nav-suivant{
    position:absolute;
    cursor: pointer;
    line-height: 100px;
  }
  .retour{right:0; top:10%;height: 100px;}
  .nav-suivant{top:0; right:45%; width:200px}
  .retour:after{
    width:50px;
    height: 100px;
    border:solid white 5px;
    border-radius: 100px 0 0 100px;
    border-right:none;
    content: '\f061';
    font-family: 'FontAwesome';
    display: block;
    position:absolute;
    top:0;
    right:0px;
    padding-left: 12px;
    font-size: 25px
  }
    .nav-suivant:after{
    width:100px;
    height: 50px;
    border:solid white 5px;
    border-radius: 0 0 100px 100px;
    border-top:none;
    content: '';
    display: block;
    position:absolute;
    top:0;
    right:50px;
    padding-bottom: 12px;
  }
  .nav-suivant:before{
    content: '\f062';
    position: absolute;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 25px;
    top:-25px;
    width:200px;
  }
  .nav-suivant.down:before{content: '\f063';}
  .retour p, .nav-suivant p{.capital;  line-height: 20px; border-top: none !important; vertical-align: middle}
   .nav-suivant p{text-align: center;padding-top:55px !important;width:200px !important;}
   .retour p{padding-right:55px;text-align: right; width:150px !important; }
   nav.footer a, nav.footer span{font-size: 18px !important; padding: 5px 0; top:5px}
   .menuToggle:before{content:"\2212"}
   .menuToggle.collapsed:before{content:"\2b"}
   .menuToggle{float: right; padding-left: 12px; cursor: pointer}
 
  
  
 @media screen and (max-width: @min_xs) {
    nav.navbar-fixed-top:not(.footer){position:relative; }
    nav.navbar-fixed-top{width: 100%;}
    nav.navbar-fixed-top.footer{ overflow-y: scroll}
.navbar.footer>.container-fluid{margin-top:80px;}
.retour:after,  .nav-suivant:after{border: none; }
.retour{top:0}
 }
 @media screen and (min-width: @min_xs) {
    nav.navbar-fixed-top li{width:100px}
    ul.navbar-right{width:auto;float:right}
    nav .container-fluid{padding-right:15px}
    .searchbar>div{width:300px; float: right}
.navbar.footer>.container-fluid{height: 100%;}
 }
 @media screen and (max-width: @min_sm) {
    .navbar-nav{margin:0}
    nav .container-fluid{padding-right:0}
 }
 .navbar.footer.navbar-modal{position:fixed; height:100%; overflow-y: auto; left:0}
 .navbar.footer{transition: margin-right 0.6s cubic-bezier(.33,.66,.66,1); width:100%; margin-right: 100%; }
.navbar.footer>.container-fluid{text-align: center}
 .navbar.footer.top{margin-top:-1000px; margin-top:-100vh; transition: all 0.6s cubic-bezier(.33,.66,.66,1);}
 .navbar.footer.top.displayed1{margin-right:0;}
 .navbar.footer.top.displayed2{margin-top:0;}
 .navbar.footer.displayed1{margin-right: 0%}
  .navbar.footer>div>div{display: inline-block; vertical-align: middle;}
   
/*CLOSE*/

span#close, span#close:before,span#close:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
span#close{opacity:0.6;padding: 15px;}
span#close:hover{opacity:1}
span#close:before {
  top: -10px; 
}
span#close:after {
  bottom: -10px;
}

span#close, span#close:before, span#close:after {
  transition: all 500ms ease-in-out;
}
span#close {
  background-color: transparent;
}
span#close:before, span#close:after {
  top: 15px;
  left:5px;
}
span#close:before {
  transform: rotate(45deg);
}
span#close:after {
  transform: rotate(-45deg);
}
 
 ////////////////////////////////////////////////////
    ///////////NEW MENU 2///////////////////
///////////////////////////////////////////////////
.menu-close{position: fixed}
 .modal[id^=menu] > .modal-dialog {
  width:100%;
  height: 100%;
  margin: 0;
  margin-left: 0;
 }

 a.subpage{display: inline-block; width:100%}
 
.menuTab{color: white; margin-bottom:24px}

@media screen and (min-width: @min_sm) {
    .modal[id^=menu] > .modal-dialog{width:80%; margin-left:20%}
  }

/*HAMBURGER MENU*/ 
* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon4 {
  width: 60px;
  height: 45px;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 16px;
  background: white;
  opacity: 1;
  right: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon4 span:nth-child(1) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 23px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.modal.in + nav.navbar-fixed-top #nav-icon4 span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
}

.modal.in + nav.navbar-fixed-top #nav-icon4 span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.modal.in + nav.navbar-fixed-top #nav-icon4 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
} 
 
 ////////////////////////////////////////////////////
    ///////////SECONDARY NAV///////////////////
///////////////////////////////////////////////////
.secondary-nav{
  ul{list-style: none}
  li{display: inline-block; max-width: 200px; vertical-align: middle; line-height: 1.5em; padding: 6px 16px}
}
@media screen and (max-width: @min_sm) {
  .secondary-nav li{max-width: 100%; width:100%}
}
 
 
////////////////////////////////////////////////////
    ///////////FOOTER///////////////////
///////////////////////////////////////////////////
.footer{background-color:@txt_dark; color:white; a,p{color:white; display: inline-block};font-size:14px}
.footer.jeunes{background-color: #663399}
.footer div.container{padding:24px}
.footer {
    a{transition: color 0.3s ease}
    div.dons a{background-color:white; color:@rouge;font-size: 1.5em;font-weight: bold; height: 80px; line-height: 80px; text-align: center; margin:0; padding: 0 12px; span{vertical-align: middle;display: inline-block;line-height: 1.2em;}}
    .capital{width:100%; padding-top:6px; border-top:1px solid white; margin-bottom:12px; display: block}
    .capital +.capital{margin-top:12px}
    a.dons{width:100%; text-align: center; padding:12px 0; background: @rouge; color:white}
    a.dons:first-of-type{border-bottom:3px solid white}
    a:last-of-type{margin-bottom:24px}
}
.footer, .footer #menuCCN, .footer #menuBis{text-align: left}
.footer a.menu_header{margin-bottom:0; font-size: 16px}
.footer.links .container{border-top:1px solid white; padding-top:12px; .capital{border:none; text-align: center; font-size:10px !important}}
.footer a:hover{color:@rouge}
@media screen and (max-width: @min_xs){.footer, .footer #menuCCN, .footer #menuBis{text-align: center} .footer a{padding:3px 0}}
@media screen and (min-width: @min_sm) {/*.carousel-caption{width:41.68%;height:100%;margin-left:58.33%}.owl-item img{width:58.33%}*/}
@media screen and (min-width: @min_md) { .carousel-caption{width:32%;height:100%;margin-left:68%}.owl-item img{width:68%}}
@media screen and (min-width: @min_lg) {.carousel-caption{width:26.5%;height:100%;margin-left:73.5%; padding:48px }.owl-item img{width:73.5%}}
////////////////////////////////////////////////////
    ///////////ACTUS///////////////////
///////////////////////////////////////////////////
.content_border{border:solid 8px @rouge;min-height: 90vh}
.header_link, a.header_link{color:@rouge; padding:15px;.capital; display: block; text-align: center}
.header_link:hover{color:@rouge}
.header_link:before{
    content:'\2190'; 
 }
.text-article{margin:0 auto; margin-top:12px; max-width:640px; padding-left:10px; padding-right:10px; p{font-size:16px; line-height: 1.6em; margin-bottom:20px} text-align: justify}
.text-article span+span.tags:after{content:','; margin-right:5px} // virgule après un tag
header .text-article h1,header .text-article h3, header .text-article p{text-shadow: 2.5px 2.5px 2.5px rgba(0,0,0,0.33);}
.text-article p img {max-width:100%; height:auto !important; margin:20px auto; display: block}
  .text-article iframe{margin-left:auto; margin-right: auto; display: block;position: relative }

blockquote {
 .capital;
 color: @rouge;
 width:70%;
 border-top:5px solid white;
 border-bottom:5px solid white;
 border-left:none;
 margin: 30px auto;
}

.text-article blockquote p{.capital;.txt-red; text-align: center}
@media screen and (max-width:@min_xs){
  .text-article{text-align:left; }
}
@media screen and (min-width:@min_xs){.content_border{margin-top:0px}}
@media screen and (min-width:@min_sm){
  .text-article p, .text-article li{font-size:18px; line-height: 1.7}
  .header_link{float:left}
  .text-article p img {max-width:80%;}
  }
@media screen and (min-width:@min_md){.text-article{max-width:680px}}
@media screen and (min-width:@min_lg){blockquote{width:60%; float:right; position: relative; left:30%; margin-left:-17.5%; margin-top:0; margin-bottom: 0}}
@media screen and (min-width:@min_xs) and (max-width:@min_sm){.header_link{margin-top:33px}}
.media{transition: margin-top 0.15s cubic-bezier(.33,.66,.66,1)}
.media.media2 {text-align: center; .border-bottom; margin-bottom:-2px; img{padding-bottom: 12px; display: inline; width:140px}} // liste de contenus de 2 élements par ligne
.media.media4{text-align: center} // liste de contenus de 4 éléments en ligne sur lg
@media screen and (min-width:@min_sm) {
  .media.media2 {text-align: left; border-bottom:none}
  .media.media2 img{float:left;.padding-right; padding-bottom: 0; display: block; width:auto}
  .media.media4{text-align: left}
}
@media screen and (max-width:@min_sm){
  .ratio_321{position:relative; width:100%; overflow:hidden; }
  .ratio_321:before{
    content: "";
    display: block;
    padding-top: 50%; 	/* initial ratio of 3:1*/
  }
  .ratio_321>img{
    position:  absolute;
    top: -50%;
    left: 0;
    bottom: -50%;
    right: 0;
    width:100%;
    padding-right: 0;
  }
  .ratio_321 ~ div{padding:12px; background: white}
  .summary{.ellipsis(5)}
  .text-article iframe{width:100% !important}
}

@media screen and (min-width:@min_xs) and (max-width:@min_sm) {.ratio_321:before{padding-top:33.333%;} .ratio_321>img{top:-85%}}
@media screen and (min-width:@min_sm){.ratio_321>img{width:160px}}



.ratio_21{position:relative; width:100%; overflow:hidden; max-height: 400px}
.ratio_21:before{
  content: "";
  display: block;
  padding-top: 50%; 	/* initial ratio of 2:1*/
}
.ratio_21>img{
  position:  absolute;
  top: -25%;
  left: 0;
  bottom: -50%;
  right: 0;
  width:100%;
  padding-right: 0;
  
}


@media screen and (min-width:@min_xs)  {
  .ratio_21:before{padding-top:200%;}
  .ratio_21>img{top:0; left:-100%; height:100%; width:auto}
  }
@media screen and (min-width:@min_lg)  {
  .ratio_21:before{padding-top:100%;}
  .ratio_21>img{top:0; left:-25%; height:100%; width:auto}
  }

.tooltip-inner{.capital; color:@rouge; background: @beigeCCN}
.tooltip-arrow{display:none}

.copyrights p{font-size: 12px; font-style: italic}
////////////////////////////////////////////////////
    ///////////CAROUSEL///////////////////
///////////////////////////////////////////////////
.carousel-caption{text-align:left;background-color:#2f2e2a;opacity:1; h3{border-bottom:1px solid white; padding-bottom:12px;margin-top:0};p{color:white}}
.carousel-caption{padding:24px}
@media screen and (max-width: @min_lg){
.carousel-caption p{
  .ellipsis(5);
}}
.owl-theme .owl-controls{position:absolute;right:0;margin-top:-30px !important;margin-right:10px;}
.owl-theme .owl-controls .owl-page span{background:white;opacity:0.75}
.owl-theme .owl-controls .owl-page.active span{background:@rouge}
@media screen and (max-width:500px){.img-responsive.carousel-img{max-width:none; height: 200px; width:auto}}
@media screen and (max-width: @min_md) {.carousel-caption h3{font-size:24px} .owl-pagination{display: none}}
@media screen and (max-width: @min_sm) {.carousel-caption{position:relative; height:auto; h3{font-size:20px}}  }

@media screen and (min-width:1275px) {.owl-item{max-height: 600px; overflow: hidden} }
////////////////////////////////////////////////////
    ///////////SEARCH RESULTS///////////////////
///////////////////////////////////////////////////
.media{padding:24px 0;}
.panel-heading.actus.no-arrow{background-color:@rouge; color:white;border-radius: 0;text-align: center;.capital; }
.panel-heading.actus:not(.no-arrow){background-color:@rouge; color:white;border-radius: 0;text-align: center;.capital; .uparrow()}
.panel-heading.actus.panel-hidden{.downarrow()}
.panel-heading.actus.panel-hidden + .panel-body{display:block; padding:0}
.panel-heading.actus + .panel-body{display:none; padding:0}
.panel-heading.actus.visible-xs-block{background: @rouge_shadow}
.search-result {
    p.capital{margin-bottom:0}
    h3{margin-top:10px}
    padding-bottom:24px;
    .clearfix();
}
.geo-search .search-result{padding:12px; background-color:white; border-bottom:solid 1px @marron;}
.search-tags .search-result{padding:12px 0;padding-left: 12px;  border-bottom:solid 1px @marron;  }
.search-tags .search-result.checked, .search-tags .search-result:hover, .search-tags .search-result a:hover{background-color:@marron; color:white}
@media screen and (min-width: @min_sm) {
  .search-result{border-bottom:solid 1px @marron;padding:24px 0;}
}
@media screen and (max-width: @min_sm) {
    .panel-heading.actus.panel-hidden + .panel-body{display:none; padding:0}
    .panel-heading.actus + .panel-body{display:block; padding:0}
    
}

.border-top{border-top:solid 2px @marron; margin-top:0;}
.border-top-red{border-top:solid 1px @rouge; margin-top:0;}
.row.border-bottom{padding-top:24px}
.border-bottom{border-bottom:solid 2px @marron; margin-bottom:0; padding-bottom: 24px}
.query-actus{float:right; margin-top:-36px; margin-bottom:0; width:250px}
@media screen and(max-width: @min_sm) {.query-actus{margin-top:12px}}
.tags, .tags p{color:@marron;  transition: box-shadow 0.3s ease}
.tags:hover {box-shadow: inset 0 -5px 0 white;}
.search-video{
    float:right;
    width:60%;
}
.panel-body ul{padding-left:0; list-style-type: none;}
.site-link{.capital; position: relative; padding-bottom:24px;top:12px}
////////////////////////////////////////////////////
    ///////////PLAYER///////////////////
///////////////////////////////////////////////////
.jwlogo{display: none}
.jwplayer .jw-preview, .jw-error .jw-preview, .jw-stretch-uniform .jw-preview{background-size: cover!important}
 iframe{position:absolute; top:0;left:0}
 .youtube-embed-wrapper{position: relative}
////////////////////////////////////////////////////
    ///////////GOOGLE MAPS///////////////////
///////////////////////////////////////////////////
.rubedo-gmapitem{min-height:0px}
.rubedo-gmapitem>div{padding:12px 0; border-bottom:solid 1px #d5c5b5}
.rubedo-gmapitem>div:last-of-type{border-bottom:none}
.map-container{width:100%; height:350px;}
.full_page{height:auto }
@media screen and (min-width:@min_sm){.full_page{height: 100%; height:100vh;}.map-container{height:100%}}
.full_page > div, .full_page >div > div.row{height:100%; }
.full_page >div div[class*="col-"]{overflow-y: scroll; overflow-x: hidden}
.geo-tags, .geo-search{padding-right: 15px;padding-left:40px; }
.cluster img{width:100%}
.geo-tags{
  background: @rouge; padding-top:50px; 
  .form-control,.btn{border:none}
}
@media screen and (min-width:@min_sm) {.geo-tags, .geo-search{padding-left:25px}}
@media screen and (min-width:@min_lg) {.geo-tags, .geo-search{padding-left:15px}.full_page >div div[class*="col-"]{height:100%}}
@media screen and (max-width:@min_sm) {.geo-tags{ padding-top: 0}}
.rubedo-places-search{
  display: inline-block;
  background: transparent;
  color:white;
  text-decoration: underline;
  border:none;
  box-shadow: none;
  width:auto;
  position: relative;
  padding-left:5px; 
}
.rubedo-places-search::-webkit-input-placeholder {color: white; text-decoration: underline}
.rubedo-places-search:-moz-placeholder { /* Firefox 18- */   color: white; text-decoration: underline  }
.rubedo-places-search::-moz-placeholder {  /* Firefox 19+ */   color: white; text-decoration: underline }
.rubedo-places-search:-ms-input-placeholder {     color: white; text-decoration: underline  }
.rubedo-places-search:focus{background: white;color:@rouge}
.panel-geo{
  border:none;
  background: none;
  .panel-heading{background: @rouge_shadow; border: none} }
  li.tags{
    display: inline-block;
    width:auto;
    .capital2;
    border-radius: 22px;
    border:2px solid @rouge_shadow;
    color:@rouge_shadow;
    padding:0 5px;
    cursor: pointer;
    margin-bottom:4px;
  }
  li.tags.checked{background: white; color:@txt_dark}
  li.tags:after{display: inline-block; content:"+"; font-weight: bold; font-size: 1.5em; line-height: 0.8em;vertical-align: middle}
  li.tags.checked, li.tags:hover{background: white; color:@txt_dark;}
  li.tags.checked:after, li.tags:hover:after{transform:rotate(45deg);}
  
  // do not show advanced search on smartphones
   #advanced-search{display:none}
  #advanced-search.displayed{display: block;}
  @media screen and (min-width:@min_sm){ #advanced-search.displayed{display: none;} #advanced-search{display:block}}
  
.resultData input+span{color:white; margin-left: 5px; font-size: 14px}
////////////////////////////////////////////////////
    ///////////BREADCRUMB///////////////////
///////////////////////////////////////////////////
.breadcrumb a{.capital; color:@rouge}
.breadcrumb a, .breadcrumb span{.capital;}
.breadcrumb>li+li:before{
  content: "\f0da";
  font-family: 'FontAwesome';
  color:@rouge
}
.breadcrumb{background: transparent}

////////////////////////////////////////////////////
    ///////////FOI///////////////////
///////////////////////////////////////////////////
.sommaire a:after{
    content: "\f14c";
    font-family: 'FontAwesome'; color:@rouge;
     margin-left:5px;display: inline-block;font-size: 0.8em}
p.red-sub{.capital; font-size:11px !important; .txt-red; margin-bottom: 24px}


.sommaire {
    -moz-column-count:2;
   -webkit-column-count:2;
   -o-column-count:2;
   column-count:2;
   -moz-column-gap:20px;
   -webkit-column-gap:20px;
   -o-column-gap:20px;
   column-gap:20px;    
}
@media screen and (max-width:@min_sm){
  .sommaire{
     -moz-column-count:1;
   -webkit-column-count:1;
   -o-column-count:1;
   column-count:1;
 }}
.sommaire p{margin-bottom:0}
.sommaire p+p.red-sub{margin-bottom:24px}
.homelink{
    background: @rouge;
     padding:12px;
    a{.capital;color:white;}
    span{font-size: 0.8em; margin-right:5px}
}
.button{
    min-width:200px;
    padding:12px 24px;
    text-align: center;
    .capital;
    margin:12px 3px 0;
    transition: 0.3s ease opacity;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    border: none;
 }
 .button:hover{opacity:0.8;}
.button.rouge{background: @rouge;box-shadow: 0px 2px @rouge_shadow; color:white}
  .button.submit{border: 2px solid @rouge; color:@rouge;}
  .button.submit.disabled{color:@marron; border: 2px solid @marron; cursor: default}

    ////////////////////////////////////////////////////
    ///////////LISTE///////////////////
///////////////////////////////////////////////////
.prev-page a, .next-page a{width:30px; height: 30px; border-radius: 30px; background:@txt_dark; color:white; padding:6px}
.prev-page{position:absolute; left:0; top:42%}
.next-page{position:absolute; right:0; top:42%}

//////////CALENDRIER///////////
.rwd-table tr:not(:last-of-type){border-bottom: 1px solid @txt_dark}
.rwd-table tr:first-of-type{border-top: 2px solid @txt_dark}
@media screen and (max-width: @min_xs) {
  .rwd-table tbody th:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
  
  }
  tr,th{display: table-cell;}
}
.rwd-table{
  th{padding: 6px 12px}
  .cal-date{text-transform: uppercase; font-family: 'Montserrat';}
}
////////////////////////////////////////////////////
    ///////////CONTENUS///////////////////
///////////////////////////////////////////////////
.contentDetail{min-height: 90vh}
header.content{
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    h1,h2,h3,h4,h5,p{color:white};
    height:320px;
    box-shadow:inset 0 0 0 1000px rgba(84,84,84,.33);
    margin-bottom:24px;
    line-height: 320px;
    text-align: center;
}
header.content>div{line-height: normal;display: inline-block;text-align:center; vertical-align: middle;}
@media screen and (min-width: @min_sm) {
    header.content{line-height: 400px; height:400px}
    header.content>div{text-align: left; vertical-align: bottom; padding-bottom: 24px}
}
@media screen and (min-width: 1500px) {header.content{line-height: 500px; height:500px}}
header.content.prop>div{text-align: center; vertical-align: middle; padding-bottom: 0}
.socials {font-size:30px; width: 100%;text-align: center; margin-bottom:12px}
@media  screen and(min-width:@min_sm) {.socials:not(.center){text-align:right; width:auto}}
.addthis_counter a.atc_s{display:none !important}
.socials .addthis_counter .addthis_button_expanded, .socials .addthis_counter .addthis_button_expanded a {
  .txt-red; .capital;
  background: none;
  font-family: Montserrat,Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  width:auto
  }
  .socials .addthis_counter {.txt-red; .capital; width: auto; margin-right: 3px;
  }
////////////////////////////////////////////////////
    ///////////CONTENT LIST///////////////////
///////////////////////////////////////////////////
.list-item-title{
  padding:0 12px;
  color:white;
  margin-bottom: 0;
  min-height: 54px;
  line-height: 54px;
  span{line-height: 1em; display: inline-block; vertical-align: middle}
}
.list-item-title.date-lieu{ position: relative; z-index: 1; text-align: center; border: 2px solid; border-top: 0px;}
.list-item-img{position:relative; width:100%; overflow:hidden; }
.list-item-img:before{
  content: "";
  display: block;
  padding-top: 50%; 	/* initial ratio of 2:1*/
}
.list-item-img>img{
  position:  absolute;
  top: -20%;
  left: 0;
  bottom: -50%;
  right: 0;
  width:100%;
  padding-right: 0;
}
.list-tags{position: absolute; top:-3em; color: white; opacity: 0.9; right: 5px;}
@media screen and (min-width:@min_sm){
  .equal-height-cols{
    display: table;
    div[class^="col"]{display: table-cell; vertical-align: middle; float: none; height:200px}
  }
}

@media screen and (min-width:@min_xs) {.list-item-img:before{padding-top:33.333%;}.list-item-img>img{top:-50%}}
@media screen and (min-width:@min_sm) {.list-item-img:before{padding-top:60%;}.list-item-img>img{top:-5%} .list-item-title.date-lieu{margin-top:-54px;}}
.secondary-nav{
  margin-top:50px;
  .capital;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  a{padding:12px 0; display: inline-block}}


.regions-list{
  ul{  list-style-type: none;margin:6px 0; padding-left: 0}
  li{ a{.capital; display: inline-block; width:100%}; border-top:2px solid @marron; padding:6px 24px 6px 12px; }
  li:last-of-type{border-bottom: 2px solid @marron}
  li a:after{
    position:absolute;
    right:30px;
     content: "\f0da";
     font-family: 'FontAwesome'
  }
}

////////////////////////////////////////////////////
    ///////////MODAL///////////////////
///////////////////////////////////////////////////
.modal-content{background-color: @beigeCCN }
.modal.right.fade:not(.in) .modal-dialog {
	-ms-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
////////////////////////////////////////////////////
    ///////////FORMS///////////////////
///////////////////////////////////////////////////
/*General*/
input[type=text], input[type=number],textarea, input[type=email], input[type=text].form-control, input[type=number].form-control,textarea.form-control, input[type=email].form-control {
  width:100%; border:3px solid white; background-color: transparent !important; font-family: Merriweather; font-size: 18px; padding:4px 12px;
}
input[type=text].ng-dirty.ng-invalid,input[type=number].ng-dirty.ng-invalid,  textarea.ng-dirty.ng-invalid,input[type=email].ng-dirty.ng-invalid{border:3px solid @rouge}
input[type=text].number{text-align: center; font-size: 20px; font-weight: bold;width:100px}
input:-webkit-autofill, textarea#adresse:-webkit-autofill, select:-webkit-autofill{background-color: @beigeCCN !important; color:@txt_dark !important}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px @beigeCCN inset; /* Change the color to your own background color */
    -webkit-text-fill-color: @txt_dark;
}
input[type=checkbox]:disabled + label,input[type=radio]:disabled + label{color:@marron}
textarea:focus{outline:none}
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=number]:focus{border-color:@bleu !important; border-width: 2px}
.chosen-container .chosen-results li.highlighted{background-color:@bleu}
.btn-primary{background-color:@rouge; border:none}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{background-color: @rouge_shadow}

h2.capital{text-align: center; padding:12px 0; border-bottom: 2px solid; margin-top:12px; margin-bottom:24px}
form[name="inscription_form"]{
  .panel{background-color: transparent; border: none;-webkit-box-shadow: none; box-shadow:none}
  h2.displayed{background-color: white}
  //h2.displayed + ng-form .row{max-height:300px; transition: max-height 0.8s ease-out; margin-bottom:12px; overflow: visible;}
  ng-form .row{margin: 0 15px;margin-bottom:12px; }
  //ng-form .row{max-height: 0; transition: max-height 0.8s ease-out; display: block; overflow: hidden; margin: 0 15px; padding: 0; border: 0}
  .capital.txt-red{font-size:16px !important}
input[type=radio]+ label:not(.sexe_label), input[type=checkbox]+ label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-weight: normal;
}
label.sexe_label{
  background-color:transparent;
  height: 36px; width:36px;
  color:@marron;
  border: 2px white solid;
  border-radius: 18px;
  line-height: 32px;
  font-family: Montserrat;
  text-align: center;
  cursor: pointer;
  margin-right:25px;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
input[type=radio]+ label:not(.sexe_label):before, input[type=checkbox]+ label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	vertical-align: middle;
	background-color: white;
	border: 1px solid @marron;
}

 input[type=radio] +label:not(.sexe_label):before {
	border-radius: 10px;
}
input[type=checkbox] + label {
	margin-bottom: 10px;
}
input[type=checkbox] + label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:not(.sexe_label):after {
    content: "\2022";
    color: @rouge;
    font-size: 48px;
    text-align: center;
    line-height: 28px;
    position:absolute;
    left:0; top: -2px;
}
input[type=radio]:checked + label.sexe_label {
  color:white; background-color: @txt_dark; border: none; line-height: 36px;
}
input[type=checkbox]:checked + label:before {
	content: "\f00c"; font-family: 'FontAwesome';
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 20px;
	text-align: center;
      line-height: 19px;
      color:@rouge;
}


.enfant{border-bottom: 3px solid white; margin-bottom:12px}
}
input[type=text].complement_text{max-width:100%; width:auto !important; margin-bottom:12px}
.infos_validation{margin-top:6px}
/*AUTOFILLS*/

label.label_style{
  float: right;
  line-height: 1.5em;
  .txt-red;
  .capital;
  text-align: right;
  position: relative;
  top:0.5em;
}
label.label_style.left{text-align:left; float:left}
@media screen and (max-width:@min_sm) {label.label_style{text-align:left; float:left}}


.loader-container{text-align: center; margin: 64px auto}
////////////////////////////////////////////////////
    ///////////MISSIONS///////////////////
///////////////////////////////////////////////////
#ados{
    .fc-event{background-color:@14-18;}
    .list-item-title{  background-color:@14-18;}
    .list-item-img{border:solid @14-18; border-width: 0 2px;}
    .list-item-title.date-lieu{  background-color:white; color: @14-18}
    .carousel-caption{background-color: @14-18}
}
 .menu1418 .menuTab{color: @14-18; background:white; a{color: @14-18; margin-bottom:0}}
.menu1418.modal .footer, .menu1418.modal .modal-dialog {background-color: @14-18}
.modal.in.menu1418 + nav.navbar-fixed-top li{background: @14-18;}
@media screen and (max-width: @min_xs) {
  .menu1418.modal{background-color: @14-18}
}

#cana{
    .fc-event{background-color:@cana;}
    .list-item-title{  background-color:@cana;}
    .list-item-title.date-lieu{  background-color:white; color: @cana}
    .carousel-caption{background-color: @cana}
}
 .menucana .menuTab{color: @cana; background:white; a{color: @cana; margin-bottom:0}}
.menucana.modal .footer, .menucana.modal .modal-dialog {background-color: @cana}
.modal.in.menucana + nav.navbar-fixed-top li{background: @cana;}
@media screen and (max-width: @min_xs) {
  .menucana.modal{background-color: @cana}
}