<div ng-controller="ChatbotController as chatCtrl" class="row">
    <div class="col-sm-4">
        <div class="panel panel-default" >
            <div class="panel-heading">Chatbot</div>
            <div class="panel-body" style="height: 450px;overflow-y: scroll; display: flex; flex-direction:column-reverse">
                <div class="media" ng-repeat="(user,sentence) in discussion track by $index" >
                    <div style="display:table-cell; vertical-align: top" ng-if="$even">
                        <img class="img-circle" style="width:64px;" ng-src="{{botImage}}" >
                    </div>
                    <div class="media-body" style="display:table-cell; vertical-align: top">
                      {{sentence.text}}
                    </div>
                    <div style="display:table-cell; vertical-align: top" ng-if="$odd">
                        <img class="img-circle" style="width:64px;" src="https://www.tm-town.com/assets/default_male300x300-aae6ae0235b6cd78cee8df7ae19f6085.png" >
                    </div>
                </div>
                
                
            </div>
            <div class="panel-footer">
                <form ng-submit="submit()"  >
                        <input type="text" name="texte" ng-model="question"  placeholder="Tu peux écrire ici pour me parler.">
                        <input type="submit" value="Submit">
                </form>
            </div>
          </div>
    </div>
</div>