<div ng-controller="ContentListController as contentListCtrl">
    <select ng-if="contentListCtrl.canAddToList()&&contentListCtrl.queryType=='manual'"
            ng-options="ct.id as ct.type for ct in contentListCtrl.creatableContentTypes"
            ng-model="contentListCtrl.selectedManualType"></select>
    <button ng-if="contentListCtrl.canAddToList()"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> Contribute
    </button>
    <div class="row contentList" ng-switch="blockConfig.columns">
        <!--POUR 3 COLONNES-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-when="3">
            <!--<div id="infiniteScrollCtrl">-->
            <div ng-repeat="columnContents in contentListCtrl.contentList" ng-init="columnIndex = $index" >
                <div class="col-md-4 col-xs-6 col-xxs-12" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents">
                   <a ng-if="!fieldEditMode" ng-href="{{ content.detailPageUrl }}">
                    
                    <div class="media-body">
                        <h4 class="list-item-title capital"><span>
                                {{content.fields.text}}
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field></span>
                        </h4>
                        <div class="list-item-img">
                            <img class="media-object pull-left" ng-if="content.fields.image"
                                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',mode:'boxed'}) }}"
                                                 alt="{{ content.fields.text }}"/>       
                        </div>
                                             
                        <p  ng-style="{'height':contentListCtrl.contentHeight}" ng-if="!contentListCtrl.titleOnly">
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                        </p>
                        <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                            <button><span class="glyphicon glyphicon-plus"></span>Edit</button>
                        </a>
                    </div>
                   </a>

                </div>
            </div>
        </div>
 
       <!--POUR 1 COLONNE-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-when="1" style="margin:-12px 0">
            <!--<div id="infiniteScrollCtrl">-->
            <div  ng-repeat="columnContents in contentListCtrl.contentList" ng-init="columnIndex = $index" >
                <div ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents" class="equal-height-cols">
                   <a ng-if="!fieldEditMode" ng-href="{{ content.detailPageUrl }}">
                    <div class="col-sm-8 col-xs-12">
                    <img class="img-responsive" ng-if="content.fields.image"
                                                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'700px',height:'400px',mode:'crop'}) }}"
                                                                     alt="{{ content.fields.text }}"/>                                                   
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h3>
                            {{content.fields.text}}
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                        </h3>
                       <p  ng-if="!contentListCtrl.titleOnly">
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                       </p>
                    </div>                    
                   </a>

                </div>
            </div>
        </div>
        
    </div>


</div>