<div ng-controller="ContentListController as contentListCtrl">
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="Add content"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.NewContent", "New Content")}}
    </button>
    <div class="row contentList" ng-switch="blockConfig.columns" ng-if="(!blockConfig.display || blockConfig.display == 'default') && (!blockConfig.enableContext || contentListCtrl.fromUrl == contentListCtrl.contextUrl)">
       <!--POUR 1 COLONNE-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-when="1" class="padding-" >
            <!--<div id="infiniteScrollCtrl">-->            
            <div  ng-repeat="columnContents in contentListCtrl.contentList" ng-init="columnIndex = $index" style="display: block" >
                <div ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents" class="equal-height-cols">
                   <a  ng-href="{{!fieldEditMode? content.contentLinkUrl : ''}}"  style="display:block; width:100%">
                        <div class="col-lg-7 col-sm-8 col-xs-12" >
                            <header class="content prop no-margin no-filter"
								afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image ,{width:'480px',mode:'boxed'})}} 480w, {{rubedo.imageUrl.getUrlByMediaId(content.fields.image ,{width:'768px',mode:'boxed'})}} 768w,{{rubedo.imageUrl.getUrlByMediaId(content.fields.image ,{width:'1200px',mode:'boxed'})}} 1200w, {{rubedo.imageUrl.getUrlByMediaId(content.fields.image ,{width:'1800px',mode:'boxed'})}} 1500w"
								afkl-lazy-image-options='{"background": true}' style="margin-bottom:0"></header>
                        </div>
                        <div class="col-lg-5 col-sm-4 col-xs-12"  style="padding-left: 34px;">
                            <h3 ng-if="!fieldEditMode">
                                {{content.fields.text}}
                            </h3>
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                            <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                        </div>                    
                   </a>

                </div>
            </div>
			
			
        </div>



        <!--AUTRES-->
        <div ng-style="contentListCtrl.blockStyle" ng-switch-default ng-class="{'container' : blockConfig.container}">
                <div ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in contentListCtrl.contents" ng-switch="content.typeId"  class="col-xs-6 col-xxs-12" ng-class="contentListCtrl.columns">                
                    <!---VIDEOS-->
                    <div ng-switch-when="56094a2245205e0e2541ea77">
                    
                        <div class="media-body">
                            <!-- <jwplayer video-url="{{content.fields.video.url}}"></jwplayer> -->
                            <youtube video="{{content.fields.video.url}}"></youtube>

                            <a ng-if="!fieldEditMode" ng-href="{{ content.contentLinkUrl }}">
                                <h4 class="list-item-title capital"><span>
                                        {{content.fields.text}}
                                    </span>
                                </h4>
                            </a>
                            <rubedo-field ng-if="fieldEditMode" field="{{content.type.title}}"></rubedo-field>
                            
                        </div>
					</div>
						<!---NET FOR GOD FILMS-->
					<div ng-switch-when="54cb447145205e7d09db0590" class="padding" ng-init="url= content.fields.text | encodeURIComponent">
						<p class="capital">{{content.fields.date*1000 | date :'MMMM yyyy' }}</p>
						<a  ng-href="{{content.detailPageUrl == '#' ? 'https://www.netforgod.tv/en/home/films/'+content.id+'/' +url : content.detailPageUrl}}" target="_blank">
										<img class="img-responsive" ng-if="content.fields.affiche" style="margin:0 auto"
															ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.affiche,{height:'400px',width:'284px',mode:'crop'}) }}"
															alt="{{ content.fields.text }}"/>
						</a>
			
						<a class="site-link" ng-href="{{content.detailPageUrl == '#' ? 'https://www.netforgod.tv/en/home/films/'+content.id+'/' +url : content.detailPageUrl}}" target="_blank"> 
										{{content.fields.text}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>	
						<!--CONTACTS-->
					<div ng-switch-when="560d2bf445205e816041ea7f">
						<h4 class="capital">{{content.fields.text}}</h4>
						<p ng-if="content.fields.telephone"><i class="fa fa-phone icon"></i> {{content.fields.telephone}}</p>
						<p ng-if="content.fields.position"><i class="fa fa-map-marker icon"></i> {{content.fields.position.address}}</p>
						<p ng-if="content.fields.email">
							<i class="fa fa-envelope icon"></i>
							<span style="display:inline-block" ng-init="blockConfig={'email':content.fields.email, 'name':content.fields.nom,'surname': content.fields.prenom,'email_txt':rubedo.translate('Block.Mail.SendMail','Envoyer un mail')}">
								<span ng-include="rubedo.blockTemplateResolver.getTemplate('simpleContact',blockConfig)"></span>
							</span>
						</p>
					</div>
					<!--SERVICE CIVIQUE-->
					<div ng-switch-when="5b2218d9396588063f4adfef">
						<a  ng-if="!fieldEditMode" ng-href="{{ content.contentLinkUrl }}" target="{{content.isExternal ? '_blank' : '_self'}}">
							<div class="panel-group">
								<div class="panel panel-default">
										<div class="panel-heading">
											<div class="panel-title">{{content.fields.text}}</div>
										</div>
								</div>
							</div>
						</a>
						<!--<div class="panel-group" id="collapse1498815559196">
							<div class="panel panel-default">
									<div class="panel-heading" id="heading1498815559196_0">
										<div class="panel-title"><a class="collapsed" data-target="#collapse1498815559196_0" data-toggle="collapse">{{content.fields.title}}</a></div>
									</div>
									
									<div class="panel-collapse collapse" id="collapse1498815559196_0">
										<div class="panel-body">
											<div ng-if="content.fields.subTitle">{{content.fields.subTitle}}</div>
											<a  ng-if="!fieldEditMode" ng-href="{{ content.contentLinkUrl }}" target="{{content.isExternal ? '_blank' : '_self'}}">
												<div ng-if="content.fields.documentDetaille">Voir plus</div>
											</a>
										</div>
									</div>
							</div>
						</div>-->
					</div>

		
		
		<!--INTERVENANTS--PLUS
		<div ng-if="block.code =='intervenants' " ng-controller="ContentListController as contentListCtrl" ng-attr-id=" {{block.code}}">
			<div class="row">
				 <h4 ng-if="block.displayTitle" class="titre-details">{{block.title}}</h4>
			 </div>
		</div>
       <div class="row table" ng-init="selectContent=0 ; noclick = true"  ng-repeat="columnContents in contentListCtrl.contentList track by $index">
	   </div>
		<!--PLUS-->
        <!--DEFAUT-->
                    <div ng-switch-default>
                        <a  ng-if="!fieldEditMode" ng-href="{{ content.contentLinkUrl }}" target="{{content.isExternal ? '_blank' : '_self'}}">
                            <div class="media-body" ng-class="{contentbox: rubedo.current.user && rubedo.current.user.rights.canEdit}" >
                                <!-- Icône "X" pour mettre offline le contenu -->
                                <div  ng-if="rubedo.current.user && rubedo.current.user.rights.canEdit" 
                                    ng-click="contentListCtrl.putOffline($event, content.id)"
                                    class="fa fa-times put_offline"></div>
                                
                                <h4 class="list-item-title capital"><span>{{content.fields.text}} <span ng-if="contentListCtrl.isFOContributeMode">( {{rubedo.translate("Label." + content.status.toLowerCase())}} )</span></span>
                                </h4>

                                <div class="list-item-img" ><!--ng-class="{'no-img':!content.fields.image}"-->
                                    <!-- si le contenu a une image, on l'affiche dans la vignette -->
                                    <img class="media-object pull-left" ng-if="content.fields.image"
                                                 ng-src="{{ rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'266px',mode:'crop'}) }}"
                                                 alt="{{ content.fields.text }}"/>
                                    <!-- si le contenu n'a pas d'image définie, on affiche une image par défaut -->
                                    <img class="media-object pull-left" ng-if="!content.fields.image"
                                                ng-src="{{ rubedo.imageUrl.getUrlByMediaId('57175694c445ecda008c4b31',{width:'400px',height:'266px',mode:'crop'}) }}"
                                                alt="{{ content.fields.text }}"/>
                                </div>

                                <h4 class="list-item-title date-lieu capital" ng-if="content.fields.positionName && !content.fields.subTitle">
                                    <p class="list-tags" ng-repeat="taxo in content.taxonomy['555f3bc445205edc117e689b']" ng-if="contentListCtrl.getTermInTaxo(taxo)">{{contentListCtrl.getTermInTaxo(taxo)}}</p>
                                    <span>
                                        <span ng-if="!blockConfig.hidePlace">{{content.fields.positionName}}</span><span ng-if="!blockConfig.hidePlace && content.fields.dateDebut"> - </span>
                                        <time ng-if="content.fields.dateDebut">{{content.fields.dateDebut|dateRange:content.fields.dateFin:'short':'':'':rubedo.current.page.locale }} <span ng-if="content.fields.complement_date">{{content.fields.complement_date}}</span></time>
                                        <time ng-if="!content.fields.dateDebut && content.fields.complement_date">{{content.fields.complement_date}}</time>
                                    </span>
                                </h4>
                                <h4 class="list-item-title date-lieu capital" ng-if="content.fields.subTitle">
                                    <span>
                                        {{content.fields.subTitle}}
                                    </span>
                                </h4>
                                <p  class="text-center" style="margin-top:10px; height: 85px; overflow-y: hidden" ng-if="!contentListCtrl.titleOnly">
                                    <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                                </p>
                                <a ng-if="contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+content.id }}">
                                        <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>{{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}</button>
                                </a>
								<a ng-if="contentListCtrl.isFOContributeMode" class="pull-right" ng-href="{{ contentListCtrl.editorPageUrl+'/'+content.id+'?preview=true&preview_draft=true' }}">
									{{rubedo.translate('Block.ContentList.Label.Preview','Preview detail')}}
								</a>
                            </div>
                        </a>

                        <div class="media-body" ng-if="fieldEditMode">
                            <h4 class="list-item-title capital">
                                <span><rubedo-field  field="{{content.type.title}}"></rubedo-field></span>
                            </h4>
                            <div class="list-item-img">
                                <img class="media-object pull-left" ng-if="content.fields.image"
                                                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'266px',mode:'crop'}) }}"
                                                 alt="{{ content.fields.text }}"/>
                            </div>

                            <h4 class="list-item-title date-lieu capital" ng-if="content.fields.positionName">
                                <span>
                                    {{content.fields.positionName}}
                                    <time ng-if="content.fields.dateDebut">- {{content.fields.dateDebut|dateRange:content.fields.dateFin:'short'}}</time>
                                </span>
                            </h4>
                            <p  ng-style="{'height':contentListCtrl.contentHeight}" ng-if="!contentListCtrl.titleOnly">
                                <rubedo-field field="{{content.type.summary}}"></rubedo-field>
                            </p>
                        </div>

                    </div>
                   
                    
                  
                </div>
        </div>
 
        
    </div>


	<div ng-if="blockConfig.display == 'blog' " ng-include="contentListCtrl.template_actus"  ng-class="{'container' : blockConfig.container}"></div>
</div>

<style>
    div.contentbox {
        margin-top: -22px;
    }

    div.contentbox:hover .put_offline {
        visibility: visible;
        transition: all 0.3s;
    }

    .put_offline {
        visibility: hidden;
        display: inline;
        position: relative;
        top: 30px;
        left: 89%;
        background: hsla(120, 100%, 25%, 1);
        z-index: 4000;
        text-align: center;
        padding: 4px;
        border-radius: 100%;
        color: white;
        cursor: pointer;
    }
</style>