<div class="container">
        <ng-form name="inscription_form">
                <div class="text-center">
                        <p class="capital">{{rubedo.translate("Dons.Soutien", "Je soutiens le projet")}}</p>
                        <h3>{{contentDetailCtrl.content.fields.text}}</h3>
                        <p>{{contentDetailCtrl.content.fields.subTitle}}</p>

                        <!--<p><em ng-bind-html="rubedo.translate('Block.Dons.Website','',['%countryname%'],[donsCtrl.paymentmeans.displayName]) | unsafe">
                                <!--Vous êtes sur le site de la communauté en France. Si vous êtes fiscalement ou administrativement rattaché à un autre pays, <a href="http://www.chemin-neuf.org/aidez-nous/faire-un-don-org/pages-de-soutien-dans-les-pays">cliquez ici </a>-->
                                <!--</em></p>-->
                        <div ng-if="donsCtrl.paymentmeans.nativePMConfig.donationText" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:donsCtrl.paymentmeans.nativePMConfig.donationText}"></div>
                </div>
                
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==1}" ng-click="donsCtrl.setCurrentStage(1,infos_personnelles.$valid)">{{rubedo.translate("Block.Dons.Titre", "Mon don")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>1"></span>
                </h2>

                <!-- Inscription Stage 1 : MY DONATION -->
                <div id="inscriptionStage1" class="collapse in">
                        <ng-form name="infos_dons">
                                <div class="row" ng-if="donsCtrl.fiscalitesCount>1">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style">{{rubedo.translate("Block.Dons.Condition", "Mon don")}} *</label></div>
                                        <div class="col-sm-8">

                                                <div class="col-xs-12" ng-repeat="fiscalite in donsCtrl.fiscalites" >
                                                        <input type="radio" required name="condition" id="{{'condition_'+$index}}"
                                                               ng-value=' "{{fiscalite.label}}"' ng-model="don.condition" >
                                                                <label for="{{'condition_'+$index}}">{{fiscalite.fields.title}}</label>
                                        
                                                </div>
                                                <div class="col-xs-12" >
                                                        <rubedo-custom-template ng-if="don.condition" template="{{donsCtrl.fiscalites[don.condition].fields.presentation}}"></rubedo-custom-template>
                                                </div>
                                        </div>
                                </div>

                                <!-- Amount of my donation -->
                                <div class="row">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style">{{rubedo.translate("Block.Dons.Montant", "Montant du don")}} *</label></div>
                                        <div class="col-sm-8" ng-init="don.montant = contentDetailCtrl.content.fields.montant_1">                                          
                                                
                                                <input type="radio"  name="montant" id="montant1" value="{{contentDetailCtrl.content.fields.montant_1}}" ng-model="don.montant" required>
                                                        <label for="montant1" class="sexe_label dons"><span ng-if="isMonnaieBefore">{{don.monnaie}}</span>{{contentDetailCtrl.content.fields.montant_1}}<span ng-if="!isMonnaieBefore">{{don.monnaie}}</span></label>	
                                                <input type="radio"  name="montant" id="montant2" value="{{contentDetailCtrl.content.fields.montant_2}}" ng-model="don.montant">
                                                            <label for="montant2" class="sexe_label dons"><span ng-if="isMonnaieBefore">{{don.monnaie}}</span>{{contentDetailCtrl.content.fields.montant_2}}<span ng-if="!isMonnaieBefore">{{don.monnaie}}</span></label>
                                                <input type="radio"  name="montant" id="montant3" value="{{contentDetailCtrl.content.fields.montant_3}}" ng-model="don.montant">
                                                            <label for="montant3" class="sexe_label dons"><span ng-if="isMonnaieBefore">{{don.monnaie}}</span>{{contentDetailCtrl.content.fields.montant_3}}<span ng-if="!isMonnaieBefore">{{don.monnaie}}</span></label>
                                                <input type="radio"  name="montant" id="montant4" value="{{contentDetailCtrl.content.fields.montant_4}}" ng-model="don.montant">
                                                            <label for="montant4" class="sexe_label dons"><span ng-if="isMonnaieBefore">{{don.monnaie}}</span>{{contentDetailCtrl.content.fields.montant_4}}<span ng-if="!isMonnaieBefore">{{don.monnaie}}</span></label>
                                                <input type="radio"  name="montant" id="autre" value="autre" ng-model="don.montant">
                                                            <label for="autre" class="sexe_label dons">{{rubedo.translate("Block.Inscription.SituationConjugale.Autre", "autre") | lowercase}}</label>
                                                <input type="text" class="montant-dons" ng-class="{'displayed':don.montant=='autre'}" ng-model="don.montant_autre" placeholder='{{rubedo.translate("Block.Inscription.SituationConjugale.Autre", "Autre") }}' ng-pattern="/^[0-9]{1,7}$/" ng-required="don.montant=='autre'">
                                                        
                                                <div class="donResult" style="margin-top:12px" ng-if="don.montant == contentDetailCtrl.content.fields.montant_1">
                                                        <rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('desc_1')}}" ng-init="fieldInputMode=false"></rubedo-field>
                                                </div>
                                                <div class="donResult" style="margin-top:12px" ng-if="don.montant == contentDetailCtrl.content.fields.montant_2">
                                                        <rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('desc_2')}}" ng-init="fieldInputMode=false"></rubedo-field>
                                                </div>
                                                <div class="donResult" style="margin-top:12px" ng-if="don.montant == contentDetailCtrl.content.fields.montant_3">
                                                        <rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('desc_3')}}" ng-init="fieldInputMode=false"></rubedo-field>
                                                </div>
                                                <div class="donResult" style="margin-top:12px" ng-if="don.montant == contentDetailCtrl.content.fields.montant_4">
                                                        <rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('desc_4')}}" ng-init="fieldInputMode=false"></rubedo-field>
                                                </div>
                                                <div ng-if="don.condition && donsCtrl.fiscalites[don.condition].fields.taux>0 && don.montant>0">
                                                        <p><i class="ccn-info txt-red"  style="margin-right: 6px; font-size: 1.5em;"></i>{{rubedo.translate("Block.Dons.Cout", "Votre don vous coûtera")}} : {{don.montant * (1-donsCtrl.fiscalites[don.condition].fields.taux /100) |number:2}}€</p>
                                                </div>
                                                <div ng-if="don.condition && donsCtrl.fiscalites[don.condition].fields.taux>0 && don.montant=='autre' && don.montant_autre>0">
                                                        <p><i class="ccn-info txt-red"  style="margin-right: 6px; font-size: 1.5em;"></i>{{rubedo.translate("Block.Dons.Cout", "Votre don vous coûtera")}} : {{don.montant_autre * (1-donsCtrl.fiscalites[don.condition].fields.taux /100) |number:2}}€</p>
                                                </div>                                                
                                        </div>
                                </div>
                                
                                <!-- Monthly / Quaterly -->
                                <div class="row" ng-if="contentDetailCtrl.content.fields.don_frequences.don_frequences.includes('monthly')">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style"></label></div>
                                        <div class="col-sm-8">
                                                <input type="checkbox"  name="mensuel" id="mensuel"  ng-model="don.mensuel">
                                                <label for="mensuel">{{rubedo.translate("Block.Dons.Mensuel", "Rendre ce don mensuel")}}</label>
                                        </div>
                                </div>
                                <div class="row" ng-if="contentDetailCtrl.content.fields.don_frequences.don_frequences.includes('quaterly')">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style"></label></div>
                                        <div class="col-sm-8">
                                                <input type="checkbox"  name="trimestriel" id="trimestriel"  ng-model="don.trimestriel">
                                                <label for="trimestriel">{{rubedo.translate("Block.Dons.Trimestriel", "Rendre ce don trimestriel")}}</label>
                                        </div>
                                </div>

                                <!---GITF AID for the UK-->
                                <div class="row" ng-if="donsCtrl.paymentmeans.paymentMeans=='uk' ">
                                        <div class="col-sm-4 col-xs-12"><label class="label_style">Gift Aid</label></div>
                                        <div class="col-sm-8">
                                                <input type="checkbox"  name="gift_aid" id="gift_aid"  ng-model="don.gift_aid">
                                                <!--<label for="gift_aid" ng-if="!don.mensuel && !don.trimestriel">I want to Gift Aid my donation to the Chemin Neuf Community (registered charity - number 1084546)</label>-->
                                                <label for="gift_aid">I want to Gift Aid my donation and any donations I make in the future or have made in the past 4 years  to the Chemin Neuf Community (registered charity - number 1084546)</label>
                                        </div>
                                        
                                </div>
                                <div class="row" ng-if="donsCtrl.paymentmeans.paymentMeans=='uk' ">
                                        <div class="col-sm-8 col-sm-push-4"  style="background-color: white; padding: 15px 30px">
                                                <p>I am a UK taxpayer and understand that if I pay less Income Tax and/or Capital Gains Tax than
                                        the amount of Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any
                                        difference. Chemin Neuf UK will claim 25p on every £1 donated.</p>
                                        </div>
                                </div>

                                <div class="row text-center">
                                    <div class="button submit" ng-class="{'disabled' : infos_dons.$invalid}" ng-click="donsCtrl.setCurrentStage(2,infos_dons.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                    <p ng-if="infos_dons.$invalid && infos_dons.$dirty" class="txt-marron">{{rubedo.translate("Block.Inscription.Champs", "Merci de remplir les champs obligatoires")}}</p>
                                </div>
                        </ng-form>
                                        </div>
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==2}" >{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>2" ng-click="donsCtrl.setCurrentStage(2,true)"></span>
                </h2>
                <div id="inscriptionStage2" class="collapse">
                        <ng-form name="infos_personnelles">
                                <div class="row">
                                        <div class="col-sm-4"><label for="societe" class="label_style">{{rubedo.translate("Block.Inscription.Societe","Société ou organisme")}}</label></div>
                                        <div class="col-sm-8"><input type="text" id="societe" ng-model="don.user.societe" name="societe" ></div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="civilite" class="label_style">{{rubedo.translate("Block.Inscription.Civilite","Civilité")}}*</label></div>
                                        <div class="col-sm-8">
                                                <select  id="civilite" ng-model="don.user.civilite" name="civilite" ng-options="key as value for (key , value)  in donsCtrl.civilite" required>
                                                </select>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="nom" class="label_style">{{rubedo.translate("Block.Inscription.Nom")}}*</label></div>
                                        <div class="col-sm-8"><input type="text" id="nom" ng-model="don.user.nom" name="nom" required></div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="prenom" class="label_style">{{rubedo.translate("Block.Inscription.Prenom")}}*</label></div>
                                        <div class="col-sm-8"><input type="text" id="prenom" ng-model="don.user.surname" name="surname" required></div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="email" class="label_style">{{rubedo.translate("Block.Inscription.Email")}}*</label></div>
                                        <div class="col-sm-8"><input type="email" id="email" name="email"  ng-model="don.user.email" placeholder="user@mydomain.com" required></div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="dateNaiss" class="label_style">{{rubedo.translate("Block.Inscription.DateNaiss")}}</label></div>
                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a showtab class="dropdown-toggle" id="dropdowndateNaiss" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                    <div class="input-group"><input readonly id="dateNaiss" ng-model="don.birthdateF" type="text" class="form-control" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <datetimepicker data-ng-model="don.user.birthdate"  data-datetimepicker-config="{dropdownSelector: '#dropdowndateNaiss', startView: 'year', minView:'day'}" data-on-set-time="don.birthdateF = (don.user.birthdate |date:'dd/MM/yyyy'); moment.locale('fr')"/>
                                                </ul>
                                            </div>
                                        </div>
                                </div>    
                                <div class="row">
                                        <div class="col-sm-4"><label for="adresse" class="label_style">{{rubedo.translate("Block.Inscription.Adresse")}}*</label></div>
                                        <div class="col-sm-8">
                                                <input type="text" id="adresse" ng-model="don.user.adresse" name="adresse" required style="margin-bottom:12px">
                                                <input type="text" id="adresse2" ng-model="don.user.adresse2" name="adresse2" >
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4"><label for="cp" class="label_style">{{rubedo.translate("Block.Inscription.CodePostal")}}*</label></div>
                                        <div class="col-sm-8"><input type="text" id="cp" ng-model="don.user.cp" name="cp" required></div>
                               </div>
                               <div class="row">
                                        <div class="col-sm-4"><label for="city" class="label_style">{{rubedo.translate("Block.Inscription.Ville")}}*</label></div>
                                        <div class="col-sm-8"><input type="text" id="city" ng-model="don.user.city" name="city" required></div>
                               </div>
                               <div class="row">
                                        <div class="col-sm-4"><label for="pays" class="label_style">{{rubedo.translate("Block.Inscription.Pays")}}</label></div>
                                        <div class="col-sm-8"><input type="text" id="pays" ng-model="don.user.country" name="country"></div>
                               </div>
                                <div class="row" >
                                        <div class="col-sm-4"><label for="tel1" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Fixe")}}**</label></div>
                                        <div class="col-sm-8"><input type="text" id="tel1" name="tel1"  ng-model="don.user.tel1" placeholder="{{donsCtrl.paymentmeans.nativePMConfig.format_telephone}}"   ng-required="isTelephoneRequired()"></div>
                                </div>    
                                <div class="row">
                                        <div class="col-sm-4"><label for="tel2" class="label_style">{{rubedo.translate("Block.Inscription.Telephone.Portable")}}**</label></div>
                                        <div class="col-sm-8"><input type="text" id="tel2" name="tel2" placeholder="{{donsCtrl.paymentmeans.nativePMConfig.format_telephone}}" ng-model="don.user.tel2"  ng-required="isTelephoneRequired()">
                                                <p ng-if="inscription.public_type != 'adolescent'" ng-class=" {'txt-red' : isTelephoneRequired()}" class="infos_validation">** {{rubedo.translate("Block.Inscription.Telephone.Condition")}}</p>
                                        </div>
                                </div>               
                                
                                
                                <div class="row">
                                        <div class="col-sm-12 text-center" ng-if="!rubedo.current.user">
                                                <!--<div class="button submit"  ng-click="donsCtrl.setCurrentStage(3,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.SignUp.label.signUp")}}</div>-->
                                                <div class="button submit" ng-class="{'disabled' : infos_personnelles.$invalid}"  ng-click="donsCtrl.setCurrentStage(3,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.Checkout.Label.Continue")}}</div>
                                        </div>
                                        <div class="col-sm-12 text-center" ng-if="rubedo.current.user">
                                                <div class="button submit" ng-class="{'disabled' : infos_personnelles.$invalid}" ng-click="donsCtrl.setCurrentStage(3,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.Checkout.Label.Continue")}}</div>
                                        </div>                                                
                                        <div ng-if="donsCtrl.stage2Error" ng-init="notification = {type:'error',text:donsCtrl.stage2Error}">
                                            <rubedo-notification></rubedo-notification>
                                        </div>
                                </div>

                                
                                

                              
                                
                                
                                
                                
                        </ng-form>
                </div>
                <h2 class="capital txt-red" ng-if="donsCtrl.questions.length>0" ng-class="{'displayed' : donsCtrl.currentStage==3}" >{{contentDetailCtrl.getLabelByName('questions')}}
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>3" ng-click="donsCtrl.setCurrentStage(3,true)"></span>
                </h2>
                <div id="inscriptionStage3" class="collapse" ng-if="donsCtrl.questions.length>0">
                        <ng-form name="questions">
                                <div class="row" ng-repeat="question in donsCtrl.questions | orderBy:'order' track by $index">
                                        <ng-include src="donsCtrl.questionDetail"></ng-include>
                                </div>
                                <div class="row text-center">
                                        <div class="button submit" ng-class="{'disabled' : questions.$invalid}" ng-click="donsCtrl.setCurrentStage(4,questions.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                </div>
                        </ng-form>
                </div>
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==4}" >{{rubedo.translate("Block.Paiment","Mon paiement")}} 
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>4" ng-click="donsCtrl.setCurrentStage(4,true)"></span>
                </h2>
                <div id="inscriptionStage4" class="collapse">
                        <ng-form name="paiement">
                                
                                <!--Récapitulatif-->
                                <div class="row">
                                        <div class="col-xs-12 text-center">
                                                <p>{{rubedo.translate("Dons.Recap","Je fais un don de")}} <span ng-if="isMonnaieBefore">{{don.monnaie}}</span><span ng-if="don.montant!='autre'">{{don.montant}}</span><span ng-if="don.montant=='autre'">{{don.montant_autre}}</span><span ng-if="!isMonnaieBefore">{{don.monnaie}}</span> <span ng-if="don.mensuel">{{rubedo.translate("Block.Dons.Mois","par mois")}}</span>
                                                        <span ng-if="don.trimestriel">{{rubedo.translate("Block.Dons.Trimestre","par trimestre")}}</span>
                                                </p>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4 col-xs-12">
                                                <label for="message" class="label_style left" >{{rubedo.translate("Block.Dons.Message","Je souhaite joindre un message à mon don")}} : </label>
                                        </div>
                                        <div class="col-sm-8">
                                                <textarea rows="2" ng-model="don.message" name="message" placeholder="Message..."></textarea>
                                        </div>
                                </div>
                                <!---CHOIX DU MODE DE PAIEMENT-->
                                <div class="row border-bottom" >
                                        <div class="col-sm-4 col-xs-12">
                                            <label class="label_style">{{rubedo.translate("Block.Inscription.Paf.ModePaiment")}}</label>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                                <div class="col-xs-12" ng-if="!don.mensuel && !don.trimestriel && donsCtrl.isCarte">
                                                    <input type="radio"  name="modePaiement" id="carte" ng-model="don.modePaiement" value="carte" required>
                                                    <label for="carte">{{rubedo.translate("Block.Inscription.Paf.carte", "par carte")}}</label>    
                                                </div>
                                                
                                                <div class="col-xs-12" ng-if="!don.mensuel && !don.trimestriel && donsCtrl.isPaypal">
                                                    <input type="radio"  name="modePaiement" id="paypal" ng-model="don.modePaiement" value="paypal" required>
                                                    <label for="paypal">{{rubedo.translate("Block.Inscription.Paf.paypal","Paypal")}}</label> 
                                                </div>
                                                         
                                                <div class="col-xs-12" ng-if="!don.mensuel && !don.trimestriel">
                                                    <input type="radio"  name="modePaiement" id="cheque" ng-model="don.modePaiement" value="cheque" required>
                                                    <label for="cheque">{{rubedo.translate("Block.Inscription.Paf.cheque")}}</label> 
                                                </div>
                                                <div class="col-xs-12" ng-if="!don.mensuel && !don.trimestriel">
                                                    <input type="radio"  name="modePaiement" id="virement" ng-model="don.modePaiement" value="virement" required>
                                                    <label for="virement">{{rubedo.translate("Block.Inscription.Paf.Virement","par virement")}}</label> 
                                                </div>
                                                <div class="col-xs-12" ng-if="!don.mensuel && !don.trimestriel">
                                                    <input type="radio"  name="modePaiement" id="liquide" ng-model="don.modePaiement" value="liquide" required>
                                                    <label for="liquide">{{rubedo.translate("Block.Inscription.Paf.Liquide","par dépôt d'argent liquide")}}</label> 
                                                </div>
                                                <div class="col-xs-12" ng-if="(don.mensuel || don.trimestriel) && donsCtrl.isPrelevement">
                                                    <input type="radio"  name="modePaiement" id="prelevement" ng-model="don.modePaiement" value="prelevement" required>
                                                    <label for="prelevement">{{rubedo.translate("Block.Inscription.Paf.Prelevement","par prélèvement automatique")}}</label> 
                                                </div>
                                                <div class="col-xs-12" ng-if="don.mensuel || don.trimestriel">
                                                    <input type="radio"  name="modePaiement" id="virementPeriod" ng-model="don.modePaiement" value="virementPeriod" required>
                                                    <label for="virementPeriod">{{rubedo.translate("Block.Inscription.Paf.Virement.Period","par virement périodique")}}</label> 
                                                </div>
                                        </div>  
                                       
                                </div>                                
                                <div class="row text-center">
                                        <div class="col-sm-12">
                                                <div class="button submit" ng-class="{'disabled' : inscription_form.$invalid}" ng-click="donsCtrl.submit(inscription_form.$valid)" ng-if="!processForm && !finInscription">{{rubedo.translate("Block.Dons.Donner","Donner")}}</div><!----inscription_form.$valid)-->
                                                <img src="/theme/cte/img/loader.gif" ng-if="processForm">
                                                <p ng-if="finInscription">{{message}}</p>
                                        </div>
                                        <!---proceed to payement-->
                                        <form ng-if="don.modePaiement=='carte' "id="payment" name="payment"  method="POST" action="https://tpeweb.paybox.com/cgi/MYchoix_pagepaiement.cgi" style="visibility:hidden">
                                            <input type="hidden" name="PBX_TYPEPAIEMENT" value="{{parametres.typePaiement}}">
                                            <input type="hidden" name="PBX_TYPECARTE" value="{{parametres.typeCarte}}">
                                            <input type="hidden" name="PBX_SITE" value="{{parametres.payboxSite}}">
                                            <input type="hidden" name="PBX_RANG" value="{{parametres.payboxRang}}">
                                            <input type="hidden" name="PBX_IDENTIFIANT" value="{{parametres.payboxIdentifiant}}">
                                            <input type="hidden" name="PBX_TOTAL" value="{{parametres.montantEnCentimes}}">
                                            <input type="hidden" name="PBX_DEVISE" value="{{parametres.codeMonnaieNumerique}}">
                                            <input type="hidden" name="PBX_CMD" value="{{parametres.commande}}">
                                            <input type="hidden" name="PBX_PORTEUR" value="{{parametres.email}}">
                                            <input type="hidden" name="PBX_RETOUR" value="{{parametres.payboxRetour}}">
                                            <input type="hidden" name="PBX_HASH" value="SHA512">
                                            <input type="hidden" name="PBX_TIME" value="{{parametres.dateTime}}">
                                            <input type="hidden" name="PBX_EFFECTUE" value="{{parametres.urlRetourNormal}}">
                                            <input type="hidden" name="PBX_REFUSE" value="{{parametres.urlRetourEchec}}">
                                            <input type="hidden" name="PBX_ANNULE" value="{{parametres.urlRetourEchec}}">
                                            <input type="hidden" name="PBX_REPONDRE_A" value="{{parametres.urlCallback}}">
                                            <input type="hidden" name="PBX_HMAC" value="{{parametres.empreinteHasheeHex}}">
                                        <input type="submit" value="Envoyer">
                                    <form>
                                        
                                    </div>
                        </ng-form>
                </div>                        
        </ng-form>
        
        
</div>
