<div class="container">
        <ng-form name="inscription_form">
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==1}" ng-click="donsCtrl.setCurrentStage(1,infos_personnelles.$valid)">Mon don
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>1"></span>
                </h2>
                <div id="inscriptionStage1" class="collapse in">
                        <ng-form name="infos_dons">
                                <div class="row" ng-if="contentDetailCtrl.content.taxonomy['56d319bcc445ec56018b9176'].length>1">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style">Condition de mon don *</label></div>
                                        <div class="col-sm-8">
                                                <div class="col-xs-12" ng-repeat="taxonomy in contentDetailCtrl.content.taxonomy['56d319bcc445ec56018b9176']" >
                                                        <input type="radio" required name="condition" id="{{'condition_'+$index}}"
                                                               ng-value=' "{{contentDetailCtrl.content.termLabels[taxonomy]}}"' ng-model="don.condition" >
                                                                <label for="{{'condition_'+$index}}">{{contentDetailCtrl.content.termLabels[taxonomy]}}</label>
                                        
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style">Montant du don *</label></div>
                                        <div class="col-sm-8">
                                                <input type="radio"  name="montant" id="montant1" value="20" ng-model="don.montant" required>
                                                        <label for="montant1" class="sexe_label dons">20€</label>	
                                                <input type="radio"  name="montant" id="montant2" value="50" ng-model="don.montant">
                                                            <label for="montant2" class="sexe_label dons">50€</label>
                                                <input type="radio"  name="montant" id="montant3" value="100" ng-model="don.montant">
                                                            <label for="montant3" class="sexe_label dons">100€</label>
                                                <input type="radio"  name="montant" id="montant4" value="200" ng-model="don.montant">
                                                            <label for="montant4" class="sexe_label dons">200€</label>
                                                <input type="radio"  name="montant" id="autre" value="autre" ng-model="don.montant">
                                                            <label for="autre" class="sexe_label dons">autre</label>
                                                <input type="text" class="montant-dons" ng-class="{'displayed':don.montant=='autre'}" ng-model="don.montant_autre" placeholder="Autre" ng-pattern="/^\d+$/">
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style"></label></div>
                                        <div class="col-sm-8">
                                                <input type="checkbox"  name="mensuel" id="mensuel"  ng-model="don.mensuel">
                                                            <label for="mensuel">Rendre ce don mensuel</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-4 col-xs-12"><label for="nom" class="label_style"></label></div>
                                        <div class="col-sm-8">
                                                <input type="checkbox"  name="trimestriel" id="trimestriel"  ng-model="don.trimestriel">
                                                            <label for="trimestriel">Rendre ce don trimestriel</label>
                                        </div>
                                </div>
                                <div class="row text-center">
                                    <div class="button submit" ng-class="{'disabled' : infos_dons.$invalid}" ng-click="donsCtrl.setCurrentStage(2,infos_dons.$valid)" >{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                                    <p ng-if="infos_dons.$invalid && infos_dons.$dirty" class="txt-marron">Merci de bien remplir tous les champs obligatoires</p>
                                </div>
                        </ng-form>
                        
                        {{don}}
                </div>
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==2}" >Mon identité
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>2" ng-click="donsCtrl.setCurrentStage(2,true)"></span>
                </h2>
                <div id="inscriptionStage2" class="collapse">
                                <ng-form name="infos_personnelles" class="row">
                                        <div ng-repeat="field in donsCtrl.inputFields track by $index">
                                                <div ng-if="$even" class="clearfix"></div>
                                                <rubedo-field class="col-sm-6 col-xs-12 label_style left"></rubedo-field>
                                        </div>
                                        {{infos_personnelles}}
                                        <div class="col-sm-12 text-center" ng-if="!rubedo.current.user">
                                                <div class="button submit"  ng-click="donsCtrl.setCurrentStage(3,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.SignUp.label.signUp")}}</div>
                                        </div>
                                        <div class="col-sm-12 text-center" ng-if="rubedo.current.user">
                                                <div class="button submit"  ng-click="donsCtrl.setCurrentStage(3,infos_personnelles.$valid)" >{{rubedo.translate("Blocks.Checkout.Label.Continue")}}</div>
                                        </div>
                                        
                                        

                                    <div ng-if="donsCtrl.stage2Error" ng-init="notification = {type:'error',text:donsCtrl.stage2Error}">
                                        <rubedo-notification></rubedo-notification>
                                    </div>                                        
                                        
                                        
                                        
                                        
                                </ng-form>
                </div>
                <h2 class="capital txt-red" ng-class="{'displayed' : donsCtrl.currentStage==3}" >Mon paiement
                        <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="donsCtrl.currentStage>3" ng-click="donsCtrl.setCurrentStage(3,true)"></span>
                </h2>
                <div id="inscriptionStage3" class="collapse">
                                <ng-form name="paiement">
                                        
                                        <!--Récapitulatif-->
                                        <div class="row">
                                                <div class="col-xs-12 text-center">
                                                    <p>{{rubedo.translate("Block.Inscription.Paf")}} </p>
                                                    <p>{{contentDetailCtrl.content.fields.paf_text}}</p>
                                                    <p ng-repeat="(option, prix) in inscription.optionsPayantes" ng-if="prix">
                                                            + {{option}} : {{prix}}€
                                                    </p>
                            
                                                    <div class="row"><label class="label_style" style="text-align:center; float:none" for="montant">{{rubedo.translate("Block.Inscription.Paf.Montant")}}</label></div>
                                                    <p><input type="text" class="number" ng-model="inscription.montantTotalAPayer" ng-pattern="/^[1-9][0-9]{1,3}$/"><b>€</b></p>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-4 col-xs-12"><label for="message" class="label_style left" >Je souhaite joindre un message à mon don : </label></div>
                                        <div class="col-sm-8">
                                                <textarea rows="2" ng-model="don.message" name="message" placeholder="Message..."></textarea>

                                        </div>
                                        </div>
                                </ng-form>
                </div>                        
        </ng-form>
        
        
</div>