<!--<div ng-controller="FacebookController as fcbCtrl">
    <div class="fb-page" data-href="https://www.facebook.com/{{blockConfig.account}}"
         data-width="{{blockConfig.width}}" data-hide-cover="{{fcbCtrl.hideCover}}" data-show-facepile="{{fcbCtrl.showFaces}}" data-show-posts="{{fcbCtrl.showPosts}}">
            <div class="fb-xfbml-parse-ignore">

            </div>
    </div>
</div>-->

<div ng-controller="FacebookController as fcbCtrl">
    <div style="width: 80%;">
        <div fb-page="https://www.facebook.com/{{blockConfig.account}}" fb-faces="{{fcbCtrl.showFaces}}" fb-posts="{{fcbCtrl.showPosts}}" fb-hide="{{fcbCtrl.hideCover}}" fb-height="800"></div>
</div>
</div>
