<div class="row">
   <div class="col-sm-3 col-xs-6">
      <a class="capital" href="http://www.chemin-neuf.fr/annuaire/france/qui_sommes_nous_view_remote?id=ccn">Qui sommes nous</a>
      <a class="capital" href="http://www.chemin-neuf.fr/ou-nous-trouver/regions-de-france">Pr&egrave;s de chez toi</a>
      <a href="http://www.chemin-neuf.fr/ou-nous-trouver/paroisses">Paroisses</a><br />
      <a href="http://www.chemin-neuf.fr/ou-nous-trouver/abbayes-monasteres-maisons">Abbayes et monastères</a><br />
      <a href="http://foyers.chemin-neuf.fr">Foyers d'étudiants</a><br />
   </div>

   <div class="col-sm-3 col-xs-6">
      <a class="capital" href="">Nos propositions</a>
      <a href="http://www.chemin-neuf.fr/cana-couples-familles-fr/cana">Couples et familles</a><br />
      <a href="http://ccn.chemin-neuf.fr/fr/propositions/14-18-ans">Jeunes 14-18 ans</a><br />
      <a href="http://www.chemin-neuf.fr/jeunes-fr/18-30-ans">Jeunes 18-30 ans</a><br />
      <a href="http://www.chemin-neuf.fr/">Formation chr&eacute;tienne</a><br />
      <a href="http://www.chemin-neuf.fr/">Vie Spirituelle</a>
   </div>

   <div class="col-sm-3 col-xs-6 col-xs-push-6 col-sm-push-0">
      <a class="capital" href="http://ccn.chemin-neuf.fr/fr/actualites/">Actualit&eacute;s</a>
      <a href="http://ccn.chemin-neuf.fr/fr/actualites/revue-foi/">Revue F.O.I</a><br />
      <a href="http://netforgod.tv">Net for God</a>
   </div>

   <div class="col-sm-3 col-xs-6 col-xs-pull-6 col-sm-pull-0">
      <a class="capital" href="http://www.chemin-neuf.fr/aidez-nous/">aidez nous</a>
      <a href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don">Faire un don</a><br />
      <a  href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don#table_projets">Nos projets</a>
   </div>
</div>

