<div class="row">

<div class="col-xs-12 col-sm-15">
<p class="capital">2015-2016 © Chemin Neuf</p>
</div>

<div class="col-xs-12 col-sm-15">
    <a class="capital" href="https://www.facebook.com/CheminNeuf/" target="_blank">Facebook</a>
    <a class="capital" href="https://twitter.com/Chemin_Neuf" target="_blank">Twitter</a>
    <a class="capital" href="http://feeds.feedburner.com/actualites-ccn" target="_blank">Flux RSS</a>
    
    
</div>

<div class="col-xs-12 col-sm-15"><a class="capital" rubedo-page-link="566554e43bc32599238b4567">Mentions légales</a></div>
<div class="col-xs-12 col-sm-15"><a class="capital" ng-if="rubedo.current.user.rights.canEdit" href="http://docs.chemin-neuf.org/fr/accueil/communaute">Documentation</a></div>
<div class="col-xs-12 col-sm-15"><a class="capital" rubedo-page-link="56c1dd9dc445ecdb008b5d89">Contacts</a></div>

</div>
