<div class="row">
   <div class="col-md-3 col-xs-6">
      <a class="capital" rubedo-page-link="57ffa878245640bb008b8bc7">Qui sommes-nous ?</a>
      <a class="capital" rubedo-page-link="56cc29e4c445ecca0d8b7970">Près de chez toi</a>
      <a rubedo-page-link="56e15bf2c445ecc81a8bc0af">Paroisses</a><br />
      <a rubedo-page-link="5760595824564057208c0de7">Abbayes et monastères</a><br />
      <a href="http://foyersetudiants.org/">Foyers d'étudiants</a><br />
      <a rubedo-page-link="5ab539063965885e3ac61b9f">Séjours & vacances</a><br />
      <a rubedo-page-link="5763afea24564068118c2fa8">Dans le monde</a>
   </div>

   <div class="col-md-3 col-xs-6">
      <span class="capital">Nos propositions</span>
      <a rubedo-page-link="591c46903965884239346ebe">Cana - Pour mieux aimer</a><br />
      <a rubedo-page-link="562f32ff45205e453512ef7a">Jeunes 14-18 ans</a><br />
      <a rubedo-page-link="5b58863d396588a50761755e">Jeunes 18-30 ans</a><br />
      <!--<a rubedo-page-link="5b5f645e396588d76a12aa35">Jeunes professionnels</a><br />
      <a rubedo-page-link="56bc90b9c445ecc61a8b4b4b">JET - Volontariat International</a><br />-->
      <a rubedo-page-link="56d9c1b7c445ecd2008baee7">Vie spirituelle, retraites et pèlerinages</a><br />
      <a rubedo-page-link="56efff8fc445ec9c218b62bb">Formation</a><br />
   </div>

   <div class="col-md-3 col-xs-6 col-xs-push-6 col-sm-push-0">
      <a class="capital" rubedo-page-link="567c231d3bc325ae158b4776">Actualités et nouvelles</a>
      <span class="capital">Oecuménisme</span>
      <a rubedo-page-link="582f22502456408b148bb871">Vie Oecuménique</a><br />
      <a href="https://www.netforgod.tv">Net for God</a><br/>
      <a rubedo-page-link="567c2c7f3bc325e8008b5127">Revue F.O.I</a><br />
   </div>
   <div class="col-md-3 col-xs-6 col-xs-pull-6 col-sm-pull-0">
      <a class="capital" rubedo-page-link="5762a10a245640bd398c00c1">Aidez-nous</a>
      <a class="capital" href="http://www.laboutique-chemin-neuf.com/">Boutique en ligne</a>
      <!--<a href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don">Faire un don</a><br />
      <a  href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don#table_projets">Nos projets</a>-->
   </div>
</div>

