<div ng-controller="ImageBatchUploadController as imgCtrl" ng-if="rubedo.current.user" class="row">
        <form class="form form-horizontal" ng-submit="imgCtrl.submitNewFiles()">
                <div class="form-group" ng-if="rubedo.current.user">
                    <label for="files" class="col-sm-4 control-label">{{block.title}} *</label>
                    <div  class="col-sm-8">        
                               <input type="file" file-model="imgCtrl.files" multiple accept="image/gif, image/jpeg, image/png"/>
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-4 control-label">Renommer les photos ?</label>
                        <div class="col-sm-8">
                                <input type="text" ng-model="imgCtrl.batchTitle">
                        </div>
                </div>
                <div class="form-group" ng-show="imgCtrl.files.length">
                        <div class="col-sm-8 col-md-offset-4">
                                <div ng-repeat="file in imgCtrl.files">
                                        <span>{{file.name}}</span>
                                        (<span ng-switch="file.size > 1024*1024">
                                            <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                            <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                        </span>)
                                        <span class="alert" ng-if="file.size > 1024*300">Attention, la taille de fichiers est trop grande !</span>
                                </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> {{rubedo.translate("Blocks.Contrib.Label.Publish", "Publish")}}
                        </button>
                        <div class="progress" ng-show="imgCtrl.progress>0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{imgCtrl.progress}}"  ng-style="{ width : imgCtrl.progress }">
                                        <span class="sr-only">{{imgCtrl.progress}}% Complete </span>
                                </div>
                        </div>
                    </div>
                </div>
        </form>
</div>

        