<div ng-controller="ImageBatchUpladController as imgCtrl" ng-if="rubedo.current.user" class="row">
        <form class="form form-horizontal" ng-submit="imgCtrl.submitNewFiles()">
        <div class="form-group" ng-if="rubedo.current.user">
            <label for="files" class="col-sm-4 control-label">{{}block.title} *</label>
            <div  class="col-sm-8">
                <div ng-if="imgCtrl.fileTypeTemplate" ng-include="imgCtrl.fileTypeTemplate"></div>
                <rubedo-notification ng-if="mediaFieldCtrl.notification" ng-init="notification=mediaFieldCtrl.notification"></rubedo-notification>
                <input type="file"
                       class="form-control"
                       id="files"
                       file-model="imgCtrl.newFiles"
                       multiple>
                        {{imgCtrl.newFiles}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> {{rubedo.translate("Blocks.Contrib.Label.Publish", "Publish")}}
                </button>
            </div>
        </div>
</div>