<div class="container" ng-controller="InscriptionController as formCtrl">
        <div class="text-center">
                <p class="capital">{{rubedo.translate("Block.Inscription.Fiche", "Fiche d'inscription")}}</p>
                <h3>{{contentDetailCtrl.content.fields.text}}</h3>
                <p>du {{contentDetailCtrl.content.fields.dateDebut* 1000 | date:'d MMMM'}} au {{contentDetailCtrl.content.fields.dateFin* 1000 | date:'d MMMM yyyy'}}<br/><!--Description-->
                {{contentDetailCtrl.content.fields.position.address}}</p>

        </div>


        
        <form name="inscription_form" novalidate ng-if="contentDetailCtrl.content.fields.inscriptionState.inscriptionState == 'ouverte'">

                <div ng-switch="inscription.public_type">
                    <div ng-switch-when="adolescent" >
                        <div  ng-include="formCtrl.infos_individuel"></div>
                    </div>
                    <div ng-switch-when="jeune-adulte" >
                        <div  ng-include="formCtrl.infos_individuel"></div>
                    </div>
                </div>
                <div ng-include="formCtrl.questions"></div>
                
                {{inscription}}
                {{inscription_form.infos_personnelles.$valid}}
        </form>
        

        
</div>