<div class="container" ng-controller="InscriptionController as formCtrl">
        <div class="text-center">
                <p class="capital">{{rubedo.translate("Block.Inscription.Fiche", "Fiche d'inscription")}}</p>
                <h3>{{contentDetailCtrl.content.fields.text}}</h3>
                <p>du {{contentDetailCtrl.content.fields.dateDebut* 1000 | date:'d MMMM'}} au {{contentDetailCtrl.content.fields.dateFin* 1000 | date:'d MMMM yyyy'}}<br/><!--Description-->
                {{contentDetailCtrl.content.fields.positionName}}
                {{contentDetailCtrl.content.fields.position.address}}</p>

        </div>


        
        <form name="inscription_form" novalidate ng-if="contentDetailCtrl.content.fields.inscriptionState.inscriptionState != 'close'" id="inscription_form">
            <div class="panel">
                <!--si pas de payement en ligne-->
                <h2 class="capital txt-red"  ng-if="(contentDetailCtrl.content.fields.paimentOption).length==0">
                    {{contentDetailCtrl.getLabelByName('paf_text')}}
                </h2>
                <div class="row text-center"  ng-if="(contentDetailCtrl.content.fields.paimentOption).length==0"><p>{{contentDetailCtrl.content.fields.paf_text}}</p></div>
                <h2 class="capital txt-red" ng-class="{'displayed' : formCtrl.currentStage==1}" ng-click="formCtrl.setCurrentStage(0,infos_personnelles.$valid)">{{rubedo.translate("Block.Inscription.InfosPerso", "Informations personnelles")}}
                    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>1"></span>
                </h2>
                <div id="infos_personnelles" class="collapse in">
                <ng-form name="infos_personnelles">
                
                    <div ng-if="inscription.public_type =='adolescent' || inscription.public_type=='jeune-adulte' || inscription.public_type=='personne-avec-enfants' " >
                        <div  ng-include="formCtrl.infos_individuel"></div>
                    </div>
                    <div ng-if="inscription.public_type =='couple' || inscription.public_type=='fiances' || inscription.public_type=='famille' " >
                        <div  ng-include="formCtrl.couple"></div>
                    </div>                    
                    <div ng-if="inscription.public_type=='personne-avec-enfants' || inscription.public_type=='famille' " >
                        <div  ng-include="formCtrl.enfants"></div>
                    </div>
                    <div class="row text-center">
                        <div class="button submit" ng-class="{'disabled' : infos_personnelles.$invalid}" ng-click="formCtrl.setCurrentStage(1,infos_personnelles.$valid)" data-toggle="collapse"  data-parent="#inscription_form"
                        data-target="{{transport.$invalid==true ? '' : '#infos_complementaires'}}">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
                    </div>
                </ng-form></div>
                <!--question complémentaires-->
<h2 class="capital txt-red"  ng-class="{'displayed' : formCtrl.currentStage==2}" ng-if="formCtrl.isComplement" ng-click="formCtrl.setCurrentStage(1,inscription_form.infos_complementaires.$valid)" >{{formCtrl.fields.questions1.config.fieldLabel}}
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>2"></span>
</h2>
<div id="infos_complementaires" class="collapse" ng-if="formCtrl.isComplement" >
    <ng-form name="infos_complementaires">
       <div class="row" ng-if="formCtrl.form.jai_connu">
            <div class="col-sm-4"><label for="classe" class="label_style">{{rubedo.translate("Block.Inscription.Connu")}}</label></div>
            <div class="col-sm-8">
                <div class="col-xs-6">
                    <input type="checkbox"  name="jai_connu" id="facebook" ng-true-value='Facebook'
                                    ng-model='inscription.jai_connu[rubedo.translate("Block.Inscription.Connu")].facebook'>
                            <label for="facebook">Facebook</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox"  name="jai_connu" id="tracts" ng-true-value='{{rubedo.translate("Block.Inscription.Connu.Tracts")}}'
                                    ng-model='inscription.jai_connu[rubedo.translate("Block.Inscription.Connu")].tracts'>
                            <label for="tracts">{{rubedo.translate("Block.Inscription.Connu.Tracts")}}</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox"  name="jai_connu" id="internet" ng-true-value='{{rubedo.translate("Block.Inscription.Connu.Internet")}}'
                                    ng-model='inscription.jai_connu[rubedo.translate("Block.Inscription.Connu")].internet'>
                            <label for="internet">{{rubedo.translate("Block.Inscription.Connu.Internet")}}</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox"  name="jai_connu" id="famille_amis" ng-true-value='{{rubedo.translate("Block.Inscription.Connu.Famille")}}'
                                    ng-model='inscription.jai_connu[rubedo.translate("Block.Inscription.Connu")].famille_amis'>
                            <label for="famille_amis">{{rubedo.translate("Block.Inscription.Connu.Famille")}}</label>
                </div>
            </div>
        </div>
       <div class="row" ng-repeat="question in formCtrl.form.questions.complementaires track by $index">
            <ng-include src="formCtrl.questionDetail"></ng-include>
       </div>
        <div class="row text-center">
            <div class="button submit" ng-class="{'disabled' : infos_complementaires.$invalid}" data-toggle="collapse" data-target="{{infos_complementaires.$invalid==true ? '' : '#transport'}}" data-parent="#inscription_form" ng-click="formCtrl.setCurrentStage(2,infos_complementaires.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
        </div>
    </ng-form>
</div>
<h2 class="capital txt-red"  ng-class="{'displayed' : formCtrl.currentStage==3}" ng-if="formCtrl.isTransport" ng-click="formCtrl.setCurrentStage(2,inscription_form.transport.$valid)">{{formCtrl.fields.transport.config.fieldLabel}}*
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>3"></span>
</h2>
<div id="transport" class="collapse" ng-if="formCtrl.isTransport">
    <ng-form name="transport">
        <!--questions de transport-->
       <div class="row" ng-if="formCtrl.form.fields.transport">
            <div class="col-sm-3"><div class="row"></div></div>
            <div class="col-sm-8">
                <div class="col-xs-12" ng-repeat="option in formCtrl.form.fields.transport.transport track by $index">
                    <input type="radio"  name="transport" ng-attr-id="{{option}}" ng-value=' " {{formCtrl.getLabel(formCtrl.fields.transport, option)}}" ' ng-model="inscription.transport[formCtrl.fields.transport.config.fieldLabel]" required>
                            <label for="{{option}}">{{formCtrl.getLabel(formCtrl.fields.transport, option)}}</label>
                </div>
            </div>
        </div>
       <div class="row" ng-repeat="question in formCtrl.form.questions.transport">
            <ng-include src="formCtrl.questionDetail"></ng-include>
       </div>
        <div class="row text-center">
            <div class="button submit" data-toggle="collapse" ng-class="{'disabled' : transport.$invalid}"
                  data-target="{{transport.$invalid==true ? '' : '#logement'}}" data-parent="#inscription_form" ng-click="formCtrl.setCurrentStage(3,transport.$valid)">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
        </div>
    </ng-form>
</div>
   <!--questions de logement-->
<h2 class="capital txt-red"  data-toggle="collapse" href="#logement" ng-class="{'displayed' : formCtrl.currentStage==4}" ng-if="formCtrl.isLogement" ng-click="formCtrl.setCurrentStage(3,inscription_form.logement.$valid)">{{formCtrl.fields.logement.config.fieldLabel}}*
    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>4"></span>
</h2>
<div ng-if="formCtrl.isLogement" class="collapse" id="logement">
    <ng-form name="logement">
       <div class="row" ng-if="formCtrl.form.fields.logement">
            <div class="col-sm-3"><div class="row"></div></div>
            <div class="col-sm-8">
                <div class="col-xs-12" ng-repeat="option in formCtrl.form.fields.logement.logement track by $index">
                    <input type="radio"  name="logement" ng-attr-id="{{option}}" ng-value=' "{{formCtrl.getLabel(formCtrl.fields.logement, option)}}" ' ng-model="inscription.logement[formCtrl.fields.logement.config.fieldLabel]" required>
                            <label for="{{option}}">{{formCtrl.getLabel(formCtrl.fields.logement, option)}} </label>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="question in formCtrl.form.questions.logement">
            <ng-include src="formCtrl.questionDetail"></ng-include>
       </div>
        <div class="row text-center">
            <div class="button submit" ng-class="{'disabled' : logement.$invalid}" ng-click="formCtrl.setCurrentStage(4,logement.$valid)"
            data-toggle="collapse" data-target="{{transport.$invalid==true ? '' : '#paiement'}}" data-parent="#inscription_form">{{rubedo.translate("Blocks.Checkout.Button.Continue")}}</div>
        </div>
    </ng-form>
</div>


                <!--PAIEMENT-->
                <h2 class="capital txt-red" ng-class="{'displayed' : formCtrl.currentStage==5}" ng-if="formCtrl.isPaiement" ng-click="formCtrl.setCurrentStage(5,inscription_form.paiement.$valid)">
                    {{contentDetailCtrl.getLabelByName('paf_text')}}
                    <span class="fa fa-pencil pull-right cursor-as-pointer" ng-if="formCtrl.currentStage>5"></span>
                </h2>
                <div id="paiement" ng-if="formCtrl.isPaiement">
                <ng-form name="paiement">
                   <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>{{rubedo.translate("Block.Inscription.Paf")}} {{contentDetailCtrl.content.fields.paf_text}}</p>
                            <div class="row"><label class="label_style" style="text-align:center; float:none" for="montant">{{rubedo.translate("Block.Inscription.Paf.Montant")}}</label></div>
                            <p><input type="text" class="number" ng-model="inscription.montantTotalAPayer" ng-pattern="/^[1-9][0-9]{1,3}$/"><b>€</b></p>
                        </div>
                    </div>
                   <!---CHOIX DU PAIEMENT-->
                   <div class="row border-bottom">
                        <div class="col-xs-6">
                            <label class="label_style">{{rubedo.translate("Block.Inscription.Paf.Maintenant")}}</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12" ng-if="contentDetailCtrl.content.fields.accompte == 0">
                                <input type="radio"  name="paiement_maintenant" id="accompte" ng-model="inscription.paiement_maintenant" value="rien"required>
                                <label for="accompte">{{rubedo.translate("Block.Inscription.Paf.Maintenant.Rien")}}</label>    
                            </div>
                            <div class="col-xs-12" ng-if="formCtrl.content.fields.accompte > 0">
                                <input type="radio"  name="paiement_maintenant" id="accompte" ng-model="inscription.paiement_maintenant" checked="checked" value="accompte" required>
                                <label for="accompte">{{contentDetailCtrl.getLabelByName('accompte')}} : {{formCtrl.content.fields.accompte}}€</label> 
                            </div>                            
                            <div class="col-xs-12" ng-repeat="option in formCtrl.content.fields.paimentOption.paimentOption">
                                <input type="radio"  name="paiement_maintenant" ng-attr-id="{{option}}" ng-model="inscription.paiement_maintenant" value="{{option}}" required ng-disabled="!inscription.montantTotalAPayer || (inscription.montantTotalAPayer==0)">
                                <label for="{{option}}" ng-if="option == 'partie'">{{rubedo.translate("Block.Inscription.Paf.Maintenant.Partie")}}
                                    <input type="text" class="complement_text" name="montantAPayerMaintenant" ng-model="inscription.montantAPayerMaintenant" ng-required="inscription.paiement_maintenant == 'partie' " ng-pattern="/^[1-9][0-9]{0,3}$/"
                                    ng-focus="inscription.paiement_maintenant = 'partie' " ng-change="inscription.paiement_maintenant = 'partie' " ng-disabled="!inscription.montantTotalAPayer || (inscription.montantTotalAPayer==0)">
                                </label> 
                                <label for="{{option}}" ng-if="option == 'totalite'">{{rubedo.translate("Block.Inscription.Paf.Maintenant.Totalite")}}</label> 
                            </div>
                        </div>  
                   </div>
                   <!---CHOIX DU MODE DE PAIEMENT-->
                   <div class="row border-bottom" ng-if="inscription.paiement_maintenant && inscription.paiement_maintenant !='rien' ">
                        <div class="col-xs-6">
                            <label class="label_style">{{rubedo.translate("Block.Inscription.Paf.ModePaiment")}}</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">
                                <input type="radio"  name="modePaiement" id="carte" ng-model="inscription.modePaiement" value="carte" required>
                                <label for="carte">{{rubedo.translate("Block.Inscription.Paf.Carte")}}</label>    
                            </div>
                            <div class="col-xs-12">
                                <input type="radio"  name="modePaiement" id="cheque" ng-model="inscription.modePaiement" value="cheque" required>
                                <label for="cheque">{{rubedo.translate("Block.Inscription.Paf.Cheque")}}</label> 
                            </div>                            
                        </div>  
                       
                   </div>

                </ng-form>
                </div>
                <!--remarques-->
                <h2 class="capital txt-red displayed" ng-click="formCtrl.setCurrentStage(5,remarques.$valid)">{{rubedo.translate("Block.Inscription.Remarques")}}</h2>
                <ng-form name="remarques">
                   <div class="row">
                        <div class="col-sm-3"><div class="row vide"></div></div>
                        <div class="col-sm-6">
                            <div class="col-xs-12">
                                <textarea rows="5" id="remarques" ng-model="inscription.remarques" name="remarques" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <div ng-include="formCtrl.infosFin"></div>

                

                
                <div class="row text-center">
                    <div class="button submit" ng-class="{'disabled' : inscription_form.$invalid}" ng-click="formCtrl.setCurrentStage(6,inscription_form.$valid)" ng-if="!processForm && !finInscription">{{rubedo.translate("Block.Inscription.Inscrire")}}</div><!----inscription_form.$valid)-->
                    <img src="/theme/cte/img/loader.gif" ng-if="processForm">
                        <p ng-if="finInscription">{{message}}</p>
                </div>
                <!---submit inscription-->
                </div>
        </form>
        <form ng-if="inscription.modePaiement=='carte' "id="payment" name="payment"  method="POST" action="https://preprod-tpeweb.paybox.com/cgi/MYchoix_pagepaiement.cgi" style="visibility:hidden">
            <input type="hidden" name="PBX_TYPEPAIEMENT" value="{{parametres.typePaiement}}">
            <input type="hidden" name="PBX_TYPECARTE" value="{{parametres.typeCarte}}">
            <input type="hidden" name="PBX_SITE" value="{{parametres.payboxSite}}">
            <input type="hidden" name="PBX_RANG" value="{{parametres.payboxRang}}">
            <input type="hidden" name="PBX_IDENTIFIANT" value="{{parametres.payboxIdentifiant}}">
            <input type="hidden" name="PBX_TOTAL" value="{{parametres.montantEnCentimes}}">
            <input type="hidden" name="PBX_DEVISE" value="{{parametres.codeMonnaieNumerique}}">
            <input type="hidden" name="PBX_CMD" value="{{parametres.commande}}">
            <input type="hidden" name="PBX_PORTEUR" value="{{parametres.email}}">
            <input type="hidden" name="PBX_RETOUR" value="{{parametres.payboxRetour}}">
            <input type="hidden" name="PBX_HASH" value="SHA512">
            <input type="hidden" name="PBX_TIME" value="{{parametres.dateTime}}">
            <input type="hidden" name="PBX_EFFECTUE" value="{{parametres.urlRetourNormal}}">
            <input type="hidden" name="PBX_REFUSE" value="{{parametres.urlRetourEchec}}">
            <input type="hidden" name="PBX_ANNULE" value="{{parametres.urlRetourEchec}}">
            <input type="hidden" name="PBX_REPONDRE_A" value="{{parametres.urlCallback}}">
            <input type="hidden" name="PBX_HMAC" value="{{parametres.empreinteHasheeHex}}">
        <input type="submit" value="Envoyer">
    <form>


        
</div>