<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="MenuController as menuCtrl"  ng-class="{'displayed':menu}" ng-if="!block.code || block.code=='' ">
   <div class="container-fluid footer menu">
        <div class="container" style="padding-bottom: 0">
                <div class="row text-center">
                    <a href="http://www.chemin-neuf.fr" style="font-size:16px; margin-bottom:0"><b>Communauté du Chemin Neuf</b></a>
                    <div class="pull-right" style="padding:0px 24px">
                        <span id="close" ng-click="menu=!menu"></span>
                    </div>
                </div>
        </div>
        <div class="container" ng-include="rubedo.blockTemplateResolver.getTemplate('footer',{ })">
           
       </div>       
    </div>
    <div class="container-fluid" ng-init="search=false;menu=false">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="search=!search" class="cursor-as-pointer">
                    <span class="glyphicon glyphicon-search" style="font-size:1.2em"></span>
                </li>
                <li ng-click="menu=!menu" class="cursor-as-pointer" >
                    menu
                </li>
                <li>
                    <span style="line-height:1em"><a href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don">Faire un don</a></span>
                </li>

            </ul>
    </div>
    <div class="container-fluid searchbar"ng-class="{'displayed':search}">
        <div class="navbar-nav navbar-right" >
            <form ng-if="menuCtrl.searchEnabled" ng-submit="menuCtrl.onSubmit()"role="form">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="menuCtrl.query" ng-attr-placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
    </div>
 </nav>


<div  role="navigation" ng-controller="MenuController as menuCtrl"  ng-if="block.code=='menu' "  ng-init="search=false;menu=false">
    <nav class="container-fluid navbar-fixed-top">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="search=!search" class="cursor-as-pointer">
                    <span class="glyphicon glyphicon-search" style="font-size:1.2em"></span>
                </li>
                <li ng-click="menu=!menu" class="cursor-as-pointer" >
                    menu
                </li>
                <li>
                    <span style="line-height:1em"><a href="http://www.chemin-neuf.fr/aidez-nous/faire-un-don">Faire un don</a></span>
                </li>

            </ul>
    </nav>
        <nav class="navbar footer navbar-fixed-top" role="navigation" ng-controller="MenuController as menuCtrl"  ng-class="{'displayed2':menu}" style="height:100%;">
                    <div class="pull-right" style="padding:0px 24px">
                        <span id="close" ng-click="menu=!menu"></span>
                    </div>
            <div class="container-fluid menu" style="height: 100%;text-align: center">                
                 <div class="container" ng-include="rubedo.blockTemplateResolver.getTemplate('footer',{ })">
                 </div>
                 <div style="height:100%"></div>
            </div>
        </nav>
</div>

