<div ng-controller="PresentationController as presentationCtrl"  ng-switch="presentationCtrl.columns" >
	<div ng-switch-when="1" class="padding- contentList row">
		<div class="equal-height-cols">
			<a ng-if="!fieldEditMode" ng-href="{{ presentationCtrl.pageLink }}">
				<div class="col-sm-8 col-xs-12">
					<img class="img-responsive no-margin" ng-if="blockConfig.imageFile"
                                                                     ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'400px'}) }}"
                                                                     alt="{{ blockConfig.title }}"/>                                                   
				</div>
				<div class="col-sm-4 col-xs-12">
					<div ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
					</div>						
				</div>      
			</a>
		</div>
		
	</div>
	<!--more than 1 per line-->
	<div ng-switch-default class="col-sm-12" ng-class="presentationCtrl.columns">
		<div class="col-sm-6 col-md-12 col-lg-6 col-lg-push-6 ">
			<a ng-href="{{presentationCtrl.pageLink}}">
				<div class="list-item-img hidden-lg" style="margin-bottom: 12px">
					<img alt="{{blockConfig.title}}" ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'400px'})}}" />
				</div>
				<div class="ratio_21 visible-lg-block">
					<img alt="{{blockConfig.title}}" ng-src="{{rubedo.imageUrl.getUrlByMediaId(blockConfig.imageFile, {height:'400px'})}}" />
				</div>
			</a>			
		</div>
		<div class="col-sm-6 col-md-12 col-lg-6 col-lg-pull-6 ">
			<div ng-if="blockConfig.text" ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })" ng-init="blockConfig = {contentId:blockConfig.text}">
			</div>
		</div>		
	</div>
</div>
