<div ng-controller="SiteMapController as siteMapCtrl" class="container">
    <div class="row" ng-hide="siteMapCtrl.getPageDisplay(menu.id)" ng-if="menu.pages">
        <div class="col-md-3 col-xs-6" ng-repeat="menu in menu.pages  track by $index" ng-include="rubedo.themePath+'/templates/blocks/siteMap/list.html'">
        </div>
    <!--<span ng-class="{'glyphicon glyphicon-chevron-right': siteMapCtrl.getPageDisplay(menu.id), 'glyphicon glyphicon-chevron-down': !siteMapCtrl.getPageDisplay(menu.id)}"
           ng-click="siteMapCtrl.setPageDisplay(menu.id)" ng-if="menu.pages"></span>
    <a ng-href="{{menu.url}}">{{menu.text}}</a>-->
    </div>
</div>