<div class="row padding-large">
	<div class="col-sm-4" field="{{contentDetailCtrl.getFieldByName('affiche')}}">
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('affiche')}}" ></rubedo-field><!--Texte-->
	</div>
	<div class="col-sm-8">
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('text')}}" ></rubedo-field><!--Texte-->
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('subTitle')}}" ></rubedo-field><!--sous-titre-->
		<p><span class="glyphicon glyphicon-calendar"></span>{{contentDetailCtrl.content.fields.date*1000 | date :'MMMM yyyy' |uppercase}}</p>
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('description')}}" ></rubedo-field><!--description-->
		<p><span class="glyphicon glyphicon-tags"></span><span class="tags" ng-repeat="tagId in contentDetailCtrl.content.taxonomy['54cb636245205e0110db058f']" >{{contentDetailCtrl.getTermInTaxo('54cb636245205e0110db058f',tagId)}}</span></p>
		<p><span class="glyphicon glyphicon-flag"></span><span class="tags" ng-repeat="tagId in contentDetailCtrl.content.taxonomy['54d6299445205e7877a6b28e']" >{{contentDetailCtrl.getTermInTaxo('54d6299445205e7877a6b28e',tagId)}}</span></p>
	</div>
</div>
<div class="row padding-large" ng-if="contentDetailCtrl.watch !='no' ">
	<div class="col-sm-12">
		<div class="film-controls" >
			<p>Watch <span ng-if="fieldEntity['film']"  ng-class="{'active':contentDetailCtrl.watch =='film' }" ng-click="contentDetailCtrl.watch = 'film' ">film </span>
				<span ng-if="fieldEntity['trailer']" ng-class="{'active':contentDetailCtrl.watch =='trailer' }" ng-click="contentDetailCtrl.watch = 'trailer' ">trailer</span></p>
		</div>
		<div ng-if="contentDetailCtrl.watch =='film'">
			<rubedo-field field = "{{contentDetailCtrl.getFieldByName('film')}}" ></rubedo-field><!--sous-titre-->
		</div>
		<div ng-if="contentDetailCtrl.watch =='trailer'">
			<rubedo-field field = "{{contentDetailCtrl.getFieldByName('trailer')}}" ></rubedo-field><!--sous-titre-->
		</div>
	</div>
</div>


