<div class="row">
	<div class="col-sm-4" field="{{contentDetailCtrl.getFieldByName('affiche')}}">
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('affiche')}}" ></rubedo-field><!--Texte-->
	</div>
	<div class="col-sm-8">
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('text')}}" ></rubedo-field><!--Texte-->
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('subTitle')}}" ></rubedo-field><!--sous-titre-->
		<p><span class="glyphicon glyphicon-calendar"></span>{{contentDetailCtrl.content.fields.date*1000 | date :'MMMM yyyy' |uppercase}}</p>
		<rubedo-field field = "{{contentDetailCtrl.getFieldByName('description')}}" ></rubedo-field><!--description-->
		<p><span class="glyphicon glyphicon-tags"></span></p>
		<p><span class="glyphicon glyphicon-flag"></span></p>
	</div>
</div>


