<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<img ng-if="fieldEntity['image']" class="img-responsive"
					 ng-src="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['image'],{width:'1200px',height:'400px',mode:'crop'}) }}"
					 alt="{{ fieldEntity['text'] }}"/>
			<img ng-if="!fieldEntity['image']" class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId('56a900b4c445ecda008b4c29' ,{width:'1200px',height:'400px',mode:'crop'})}}"
			alt="{{ fieldEntity['text'] }}"/>
		</div>
	</div>
	<div class="row padding-large" ng-init="showMap=false">
		<div class="col-xs-8 col-xxs-12">
			<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('text')}}"></rubedo-field><!--Title-->		
			<h4>{{contentDetailCtrl.content.fields.subTitle | uppercase}}</h4><!--Sous titre-->
			<rubedo-field  field =  "{{contentDetailCtrl.getFieldByName('description')}}"></rubedo-field><!--Title-->
			<rubedo-field ng-show="showMap" field =  "{{contentDetailCtrl.getFieldByName('position')}}"></rubedo-field>
		</div>
		<div class="col-xs-4 col-xxs-12">
			<p>next meeting</p>
			<p class="next-meeting" ng-if="contentDetailCtrl.content.nextDate">
				<span>{{contentDetailCtrl.content.nextDate*1000 |date:'MMMM' |firstUpper}}</span>
				<span>{{contentDetailCtrl.content.nextDate*1000 |date:'d'}}</span>
			</p>
			<p><span class="icon-watches"></span>{{contentDetailCtrl.content.nextDate*1000 |date:'H:mm'}}</p>
			<rubedo-field ng-if="fieldEditMode" ng-repeat="field in fields|filter:'date' track by $index "></rubedo-field><!--Title-->
			<h3>Contact</h3>
			<rubedo-field ng-if="fieldEntity['nom']" field =  "{{contentDetailCtrl.getFieldByName('nom')}}"></rubedo-field><!--Nom du contact-->
			<rubedo-field ng-if="fieldEntity['telephone']" field =  "{{contentDetailCtrl.getFieldByName('telephone')}}"></rubedo-field><!--Téléphone du contact-->
			<div ng-init="blockConfig={'email':contentDetailCtrl.content.fields.email, 'name':contentDetailCtrl.content.fields.nom,'email_txt':'Send email'}">
				<div ng-include="rubedo.blockTemplateResolver.getTemplate('simpleContact',blockConfig)"></div>
			</div>
			<rubedo-field  ng-if="rubedo.current.user" field ="{{contentDetailCtrl.getFieldByName('email')}}"></rubedo-field><span ng-if="rubedo.current.user">(visible car vous êtes connectés)</span>

			<h3>{{contentDetailCtrl.getLabelByName('position')}}</h3>
			<p ng-if="!fieldEntity['hideAddress']">{{contentDetailCtrl.content.fields.position.address}}</p>
			<p ng-if="!fieldEntity['hideAddress']" class="cursor-as-pointer" ng-click="$parent.showMap=!$parent.showMap"><span class="icon-route"></span><a>Show route</a></p>
			<p ng-if="fieldEntity['hideAddress']">Pour participer à la rencontre, merci de contacter le responsable (contact ci-dessus).</p>
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-12">
			<dir-disqus ng-if="contentDetailCtrl.activateDisqus"
			    disqus-shortname="{{contentDetailCtrl.disqusShortname}}"
			    disqus-identifier="{{ contentDetailCtrl.disqusIdentifier }}"
			    disqus-url="{{ contentDetailCtrl.disqusUrl}}"
			    disqus-title="{{ contentDetailCtrl.disqusTitle }}">
			</dir-disqus>	
		</div>	
	</div>
	<div class="row padding-large" >
		<div class="col-xs-12">
			
		</div>
	</div>

</div>




