/* .clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald Light';
  src: url('https://fonts.googleapis.com/css?family=Oswald:300');
}
@font-face {
  font-family: Hautecombe;
  src: url(/theme/9media/fonts/Hautecombe-2014.eot);
  src: url(/theme/9media/fonts/Hautecombe-2014.eot) format('embedded-opentype'), url(/theme/9media/fonts/Hautecombe-2014.woff) format('woff'), url(/theme/9media/fonts/Hautecombe-2014.ttf) format('truetype'), url(/theme/9media/fonts/Hautecombe-2014.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(/theme/9media/fonts/HelveticaNeue/HelveticaNeue.eot);
  src: url(/theme/9media/fonts/HelveticaNeue/HelveticaNeue.eot) format('embedded-opentype'), url(/theme/9media/fonts/HelveticaNeue/HelveticaNeue.woff) format('woff'), url(/theme/9media/fonts/HelveticaNeue/HelveticaNeue.ttf) format('truetype'), url(/theme/9media/fonts/HelveticaNeue/HelveticaNeue.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  src: url(/theme/9media/fonts/MyriadPro-Regular.eot);
  src: url(/theme/9media/fonts/MyriadPro-Regular.eot) format('embedded-opentype'), url(/theme/9media/fonts/MyriadPro-Regular.woff) format('woff'), url(/theme/9media/fonts/MyriadPro-Regular.ttf) format('truetype'), url(/theme/9media/fonts/MyriadPro-Regular.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: NexaBold;
  src: url(/theme/9media/fonts/NexaBold.eot);
  src: url(/theme/9media/fonts/NexaBold.eot) format('embedded-opentype'), url(/theme/9media/fonts/NexaBold.woff) format('woff'), url(/theme/9media/fonts/NexaBold.ttf) format('truetype'), url(/theme/9media/fonts/NexaBold.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: NexaLight;
  src: url(/theme/9media/fonts/NexaLight.eot);
  src: url(/theme/9media/fonts/NexaLight.eot) format('embedded-opentype'), url(/theme/9media/fonts/NexaLight.woff) format('woff'), url(/theme/9media/fonts/NexaLight.ttf) format('truetype'), url(/theme/9media/fonts/NexaLight.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: Raanana;
  src: url(/theme/9media/fonts/Raanana.eot);
  src: url(/theme/9media/fonts/Raanana.eot) format('embedded-opentype'), url(/theme/9media/fonts/Raanana.woff) format('woff'), url(/theme/9media/fonts/Raanana.ttf) format('truetype'), url(/theme/9media/fonts/Raanana.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: RaananaBold;
  src: url(/theme/9media/fonts/RaananaBold.eot);
  src: url(/theme/9media/fonts/RaananaBold.eot) format('embedded-opentype'), url(/theme/9media/fonts/RaananaBold.woff) format('woff'), url(/theme/9media/fonts/RaananaBold.ttf) format('truetype'), url(/theme/9media/fonts/RaananaBold.svg) format('svg');
  font-style: normal;
}
@font-face {
  font-family: OswaldLight;
  src: url(/theme/9media/fonts/Oswald-Light.eot);
  src: url(/theme/9media/fonts/Oswald-Light.eot) format('embedded-opentype'), url(/theme/9media/fonts/Oswald-Light.woff) format('woff'), url(/theme/9media/fonts/Oswald-Light.ttf) format('truetype'), url(/theme/9media/fonts/Oswald-Light.svg) format('svg');
  font-style: normal;
}
body {
  font-size: 16px;
  min-height: 100%;
  line-height: 1.4em;
}
html,
body {
  font-family: 'OswaldLight', 'NexaLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  color: #333;
}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.first {
  margin-top: 70px;
}
.paddingv {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  li:hover > .dropdown-menu {
    display: block;
  }
}
/*FIXES*/
.rubedo-block-contentContribution {
  min-height: 0 !important;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 12px;
  }
}
.dropdown-menu {
  min-width: 0;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-collapse .navbar-nav {
    float: none;
    display: inline-block;
    margin-bottom: -9px;
  }
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
    min-width: 100%;
  }
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent !important;
}
.menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  height: 8vh;
}
.logo_menu_home {
  margin-left: 2rem;
}
.logo_menu_home > div {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: OswaldLight;
  cursor: pointer;
}
img.logo {
  height: 5vh;
}
.neuf_media {
  color: #333;
  margin-left: 1rem;
  letter-spacing: 5px;
}
.menu_social {
  margin-right: 2rem;
}
.menu_entry {
  cursor: pointer;
}
.menu_entry:hover {
  color: #777;
}
.social_link {
  font-size: 2rem;
}
.social_link i {
  color: #333;
}
ul.liens_menu a {
  color: #333;
  padding: 0 2.2rem;
}
.lborder {
  border-left: 1px solid #333;
}
.footer {
  background-color: #333;
  color: white;
  padding: 3rem 3rem;
}
