<div ng-if="paginatorCtrl.showPager" class="text-center">
    <ul style="list-style-type: none">
        <li ng-if="paginatorCtrl.actualPage != 1" ng-click="paginatorCtrl.changePage('prev')" class="cursor-as-pointer prev-page">
             <a class="glyphicon glyphicon-chevron-left"></a></li>

        <li ng-if="paginatorCtrl.actualPage != paginatorCtrl.nbPages" ng-click="paginatorCtrl.changePage('next')"
            class="cursor-as-pointer next-page"> <a class="glyphicon glyphicon-chevron-right"></a></li>
    </ul>
</div>
