
    <button ng-if="contentListCtrl.canAddToList()"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchContribute()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="!contentListCtrl.canAddToList()&&contentListCtrl.isFOContributeMode&&contentListCtrl.editorPageUrl"
            title="{{rubedo.translate('Block.ContentList.Label.Add','add content')}}"
            class="btn btn-default"
            ng-click="contentListCtrl.launchFOContribute()">
        <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate('Block.ContentList.Label.Add','add content')}}
    </button>
<div class="row border-top">
    <div class="col-md-3 col-md-push-9" style="padding-top:24px">
        <div class="panel panel-default" ng-init="searchDisplayed=false">
            <div class="panel-heading actus "  ng-class="{'panel-hidden' :!searchDisplayed }" ng-click="searchDisplayed = !searchDisplayed">Catégories</div>
            <div class="panel-body">
                <ul class="search-tags">

                     <li class="cursor-as-pointer resultData search-result" >
                        Oecuménisme
                    </li>
                     <li class="cursor-as-pointer resultData search-result">
                        Vie de la Communauté
                    </li>
                     <li class="cursor-as-pointer resultData search-result" >
                        Formation chrétienne
                    </li>
                     <li class="cursor-as-pointer resultData search-result">
                        Témoignages
                    </li>
                     <li class="cursor-as-pointer resultData search-result txt-red">
                        Net for God
                    </li>
                     <li class="cursor-as-pointer resultData search-result txt-red" ng-click="me.taxoFilter='55264eb645205e0b5c8d8c50' ">
                       Revue F.O.I.
                    </li>
                     <li class="cursor-as-pointer resultData search-result txt-red" >
                        Vidéos
                    </li>
                </ul>
            </div>
        </div>
        <div class="hidden-xs hidden-sm" ng-init = "blockConfig={'theme':'normal','mode':'tweets','widgetId':'587557771534540800','account':'Chemin_Neuf','width':'300','options':['noHeader']}">
            <div class="panel-heading actus no-arrow">Follow us<br/> on Twitter</div>
                <div ng-include="rubedo.blockTemplateResolver.getTemplate('twitter',blockConfig)"></div>
        </div>
    </div>

    <div class="col-md-9 col-md-pull-3">
        <div class="row border-bottom">
            <h2 style="margin:0 auto; padding-left:15px;">{{block.title}}</h2>
            <div class="panel panel-default query-actus" style="float:right">
                    <form role="form">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="contentListCtrl.query" placeholder="{{rubedo.translate('Search.Label.Search','Search')}}"/>
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </form>
            </div>
        </div>
        <div class="row">
            <div ng-attr-lr-infinite-scroll="loadMoreContents"
             ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
             ng-style="contentListCtrl.blockStyle">
                <div ng-class="contentListCtrl.columns" ng-repeat="columnContents in contentListCtrl.contentList track by $index" ng-init="columnIndex = $index" >
                    <div class="resultData search-result" ng-controller="ContentListDetailController as contentListDetailCtrl" ng-repeat="content in columnContents  | filter:contentListCtrl.query |filter: contentListCtrl.taxoFilter track by $index">
                        <!--tout sauf video-->
                        <div ng-if="!content.fields.video">
                            <div class="ratio_321" ng-if="content.fields.image">
                            <img class="media-object pull-left padding-right"
                                         ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'390px',height:'390px',mode:'crop'})}}"
                                         alt="{{ content.fields.text }}"/>
                            </div>
                            <img class="media-object pull-left padding-right" ng-if="content.fields.audio"
                                         src="/theme/cte/img/icons/audio-thumb.jpg" style="width:160px"
                                         alt="{{ content.fields.text }}"/>
                 
                
                            <div>
                            <p class="capital">{{content.createTime * 1000 | date}} <span class="pull-right tags" ng-if="content.fields.audio">audio</span></p>
                            <a ng-href="{{content.detailPageUrl }}"><h3>{{content.fields.text }}</h3>
                            <p class="summary">{{content.fields.summary}}</p></a>
                            <div ng-init="audioFileId = content.fields.audio" ng-if="content.fields.audio" style="display:inline-block">
                                <div ng-controller="AudioFileController as audioCtrl">
                                    <div id="{{'audio'+audioCtrl.media.originalFileId}}"></div>
                                </div>
                            </div>
                            </div>
            
                        </div>
                        <!--vidéos-->
                        <div ng-if="content.fields.video">
                            <div class="col-sm-4">
                                <p class="capital tags">vidéo</p>
                                <h3><a  ng-href="{{content.detailPageUrl }}">{{content.fields.text}}</a></h3>
                                <p class="summary">{{content.fields.summary}}</p>
                                <p class="capital">{{content.createTime * 1000 | date}} </p>
                            </div>
                            <div class="col-sm-8">
                                <jwplayer video-url="{{content.fields.video}}"></jwplayer>
                            </div>
                        </div>
                        <a ng-if="!fieldEditMode&&contentListCtrl.isFOContributeMode" ng-href="{{ contentListCtrl.editorPageUrl+'?content-edit='+filmSearchCtrl.data[contentListCtrl.previewIndex].id }}" title="éditer un contenu" class="btn btn-default ng-binding ng-scope">
                                <span class="glyphicon glyphicon-plus"></span> {{rubedo.translate("Blocks.Contrib.Label.EditContent", "Edit content")}}
                            </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
