<div ng-controller="ContentListController as contentListCtrl"></div>
    <!-- MULTIPLE COLUMNS -->
    <div ng-style="contentListCtrl.blockStyle" ng-class="{'container' : blockConfig.container}">

        <!-- EACH COLUMN -->
        <div    ng-controller="ContentListDetailController as contentListDetailCtrl" 
                ng-repeat="content in contentListCtrl.contents" 
                class="col-xs-6 col-xxs-12" 
                ng-class="contentListCtrl.columns">

            <!-- PICTURE -->
            <div class="experience-img" ng-style="{'background': 'url('+ rubedo.imageUrl.getUrlByMediaId(content.fields.image) +')'}">
                <!-- si le contenu a une image, on l'affiche dans la vignette -->
                <!-- <img class="media-object pull-left" ng-if="content.fields.image"
                             ng-src="{{ rubedo.imageUrl.getUrlByMediaId(content.fields.image,{width:'400px',height:'266px',mode:'crop'}) }}"
                             alt="{{ content.fields.text }}"/> -->
                <!-- si le contenu n'a pas d'image définie, on affiche une image par défaut -->
                <!-- <img class="media-object pull-left" ng-if="!content.fields.image"
                            ng-src="{{ rubedo.imageUrl.getUrlByMediaId('57175694c445ecda008c4b31',{width:'400px',height:'266px',mode:'crop'}) }}"
                            alt="{{ content.fields.text }}"/> -->
            </div>

            <p class="experience_title">{{content.fields.text}}</p>
            <p class="xp_ensavoirplus">en savoir plus</p>
            <div class="experience_text">
                <p class="xp_subtitle">{{content.fields.subTitle}}</p>
                <p class="xp_text">{{content.fields.summary}}</p>
            </div>
        </div>

    </div>

    <script>
        $('.xp_ensavoirplus').click(function() {
            $(this).next().addClass('show-xp-text');
            $(this).next().click(function() {
                $(this).removeClass('show-xp-text');
            })
        })
    </script>
</div>