<!--mail pour la réservation à la pension Saint Joseph de Cluny-->
<html><body>
  <h2>Demande de réservation</h2><br/>
  <h3>Identification</h3>
<table width="80%">
<tr>
  <td> 
    Nom : { nom }<br/>
    Prénom : { prenom }<br/>
    E-mail : { email }<br/>
    Téléphone : { telephone }
  </td>
  <td> 
    Adresse : { adresse }<br/>
    Ville : { ville }<br/>
    Pays : { country }
  </td>
 </tr>
</table>
<h3>Demande</h3>
<table width="80%">
  <tr >
    <td>
      Date prévue d'arrivée : { startDate }<br/> 
      Nombre de nuits : { nbOfNights }<br/>
      Date prévue de départ : { endDate }
    </td>
  </tr>
  </table><br/>
<table style="width:80%">
  <thead>
          <tr>
            <td style="border-bottom:1px solid grey"><b>Hébergement souhaité</b></td>
            <td colspan="2" style="border-bottom:1px solid grey; text-align:center;"><b>Sans salle de bain</b></td>
            <td colspan="2" style="border-bottom:1px solid grey; text-align:center;"><b>Avec salle de bain</b></td>
            <td style="border-bottom:1px solid grey; text-align:center;"><b>Prix (€)</b></td>
          </tr>
      </thead>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">Chambre simple</td>
          <td style="border-bottom:1px solid grey; text-align:center;">42 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;"> { rooms1 }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">50 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;"> { rooms1_shower }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ price1 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey" >
          <td style="border-bottom:1px solid grey">Chambre double (couple)</td>
          <td style="border-bottom:1px solid grey; text-align:center;">72 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ rooms2 }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">88 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ rooms2_shower }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ price2 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey" >
          <td style="border-bottom:1px solid grey">Chambre triple</td>
          <td style="border-bottom:1px solid grey"></td>
          <td style="border-bottom:1px solid grey"></td>
          <td style="border-bottom:1px solid grey; text-align:center;">120 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ rooms3_shower }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ price3 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">Chambre quadruple</td>
          <td style="border-bottom:1px solid grey; text-align:center;">120 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ rooms4 }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">128 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;"> { rooms4_shower }</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ price4 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">Chambres pour les groupes de jeunes</td>
          <td style="border-bottom:1px solid grey; text-align:center;">30 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ rooms5 }</td>
          <td colspan="2" style="border-bottom:1px solid grey; font-style: italic;">Nombre de personnes</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ price5 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">Taxe de séjour *</td>
          <td style="border-bottom:1px solid grey; text-align:center;">3,5 €/nuit</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ nb_adults }</td>
          <td colspan="2" style="border-bottom:1px solid grey; font-style: italic;">Nombres de personnes concernées par la taxe</td>
          <td style="border-bottom:1px solid grey; text-align:center;">{ taxe }</td>
      </tr>
  
  </table>
<p><em>
    * les enfants de moins de 10 ans en sont exempts</p><br/><br/>
  
  <p><b>Total :</b> { total } €<br><br></p>
  <p><b>Commentaires</b><br/>
  { remarks }</p>
  <p>Politique de confidentialité acceptée : {rgpd}</p>
  
  
  </div>
</body></html>
