<!--mail pour la réservation à la pension Saint Joseph de Cluny-->
<html><body>
  <h3>{{rubedo.translate("Block.Inscription.InfosPerso")}}</h3>
<table width="80%">
<tr>
  <td> 
    {{rubedo.translate("Block.Inscription.Nom")}} : { nom }<br/>
    {{rubedo.translate("Block.Inscription.Prenom")}} : { prenom }<br/>
    {{rubedo.translate("Block.Inscription.Email")}} : { email }
  </td>
  <td> 
    {{rubedo.translate("Block.Inscription.Telephone")}} : { telephone }<br/>
    {{rubedo.translate("Block.Inscription.Ville")}} : { ville }<br/>
    {{rubedo.translate("Block.Inscription.Pays")}} : { country }
  </td>
 </tr>
</table>
<h3>Your demand</h3>
<table width="80%">
  <tr >
    <td>
      {{rubedo.translate("Arrivee")}}: { startDate }<br/> 
      { night }: { nbOfNights }<br/>
      {{rubedo.translate("Depart")}}: { endDate }
    </td>
  </tr>
  </table>
<table style="width:80%">
  <thead>
          <tr>
            <td style="border-bottom:1px solid grey"><b>Stay in:</b></td>
            <td colspan="2" style="border-bottom:1px solid grey"><b>{{lang[lg]['room'] || 'Sans salle de bain'}}</b></td>
            <td colspan="2" style="border-bottom:1px solid grey"><b>{{lang[lg]['roomSDB'] || 'Avec salle de bain'}}</b></td>
            <td style="border-bottom:1px solid grey"><b>{{lang[lg]['price'] || 'Prix'}}(€)</b></td>
          </tr>
      </thead>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">{{lang[lg]['rsingle'] || 'Chambre simple'}}</td>
          <td style="border-bottom:1px solid grey">{ single } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey"> { rooms1 }</td>
          <td style="border-bottom:1px solid grey">{ single_shower } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey"> { rooms1_shower }</td>
          <td style="border-bottom:1px solid grey">{ price1 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey" >
          <td style="border-bottom:1px solid grey">{{lang[lg]['rdouble'] || 'Chambre double (couple)'}}</td>
          <td style="border-bottom:1px solid grey">{ double } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ rooms2 }</td>
          <td style="border-bottom:1px solid grey">{ double_shower } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ rooms2_shower }</td>
          <td style="border-bottom:1px solid grey">{ price2 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey" >
          <td style="border-bottom:1px solid grey">{{lang[lg]['rtriple'] || 'Chambre triple'}}</td>
          <td style="border-bottom:1px solid grey"></td>
          <td style="border-bottom:1px solid grey"></td>
          <td style="border-bottom:1px solid grey">{ triple_shower } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ rooms3_shower }</td>
          <td style="border-bottom:1px solid grey">{ price3 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">{{lang[lg]['rquadruple'] || 'Chambre quadruple'}}</td>
          <td style="border-bottom:1px solid grey">{ quadruple_shower } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ rooms4 }</td>
          <td style="border-bottom:1px solid grey">{ quadruple_shower } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey"> { rooms4_shower }</td>
          <td style="border-bottom:1px solid grey">{ price4 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">{{lang[lg]['group_young_adults'] || 'Chambres pour les groupes de jeunes'}}</td>
          <td style="border-bottom:1px solid grey">{ group_young_adults } €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ rooms5 }</td>
          <td colspan="2" style="border-bottom:1px solid grey; font-style: italic;">{{lang[lg]['nb_adults'] || 'Nombre de personnes'}}</td>
          <td style="border-bottom:1px solid grey">{ price5 }</td>
      </tr>
      <tr style="border-bottom:1px solid grey">
          <td style="border-bottom:1px solid grey">{{lang[lg]['taxe'] || 'Taxe de séjour'}}</td>
          <td style="border-bottom:1px solid grey">3,5 €/{{lang[lg]['night'] || 'nuit'}}</td>
          <td style="border-bottom:1px solid grey">{ nbadults }</td>
          <td colspan="2" style="border-bottom:1px solid grey; font-style: italic;">Number of persons concerned *</td>
          <td style="border-bottom:1px solid grey">{ taxe }</td>
      </tr>
  
  </table>
  <p>{{lang[lg]['comments'] || 'Commentaires'}}<br/>
  { remarks }</p>
  <p><b>Total :</b> { total } €<br></p>
  <p><em>
    Free for a children under 4 years old<br/>
    {{lang[lg]['tax_children'] || '* les enfants de moins de 10 ans en sont exempts'}}<br/>

</body></html>
