////VARIABLES
@bg:#41a0c7;
@txt_blue : #17789c;

body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; height: 100%; overflow: hidden;background-color:@bg;}
.container-fluid{overflow-x:hidden;}
.container-fluid{padding:0}

.owl-carousel{
		background-color: #e8eef1;
		p, h1,h3 {color: @txt_blue}
		h1{font-weight: bold}
		h3{text-transform: uppercase; font-weight: bold; font-size: 14px; margin-bottom:0px}
		height: 380px !important;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		top: 20vh;
}

/*CHOISIS TA VILLE*/
#choisis		{ position:absolute; height:400px; padding: 60px 0 0 0; top:10%;margin-left:20%;width:80%;}

#choisis a		{ display: block; width:15%; background: #fff; box-shadow: 2px 2px 8px rgba(0,0,0, .2);border:none; }