////VARIABLES
@bg:#41a0c7;
@txt_blue : #17789c;
@txt_dark:#333;

body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; height: 100%; overflow: hidden;background-color:@bg;}
.container-fluid{overflow-x:hidden;}
.container-fluid{padding:0}

/*ACCUEIL*/
img#foyer {
    position: absolute;
    margin-left: 12%;
    margin-top: 0%;
    z-index: 2;
    width: 75%;
}
@media screen and (max-width: 1300px) and (min-width: 800px) {
	img#foyer {
		margin-left: 15%;
		margin-top: 3%;
		width: 70%;
	}
}
.owl-carousel{
		background-color: #e8eef1;
		p, h1,h3 {color: @txt_blue}
		h1{font-weight: bold; font-size:26px;}
		h3{text-transform: uppercase; font-weight: bold; font-size: 14px; margin-bottom:0px}
		height: 380px !important;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		top: 20vh;
		.text-container{padding: 30px 40px 30px 0}
}

@media screen and (max-width: 950px) {
	.owl-carousel .text-container{padding: 20px 20px 20px 0}
}
.owl-theme .owl-controls .owl-page span{background-color: #09627f}
/*CHOISIS TA VILLE*/
#choisis{ position:absolute; height:400px; padding: 60px 0 0 0; top:10%;margin-left:20%;width:80%;}

#choisis a	{ 
	display: block; 
	width:15%; 
	background: #fff; 
	box-shadow: 2px 2px 8px rgba(0,0,0, .2);
	border:none; 
	color:@txt_blue; 
	text-decoration: none; padding:15px; font-size: 18px; 
	-webkit-transition: all ease .2s; 
	-moz-transition: all ease .2s; 
	transition: all ease .2s;
	text-align:center;
	transition-duration: 1s;
	position: absolute;
	&:hover{background:#e5e4e0;color:#419ec7;}
}
#choisis {
	a.foyer1 	{ top:25%; left:25%; z-index:1000;   }
	a.foyer2 	{ top:35%; left:15%; z-index:1001;  }
	a.foyer3	{  top:45%; left:20%; z-index:5001;   }
	a.foyer4 	{   top:55%; left:30%; z-index:5002;   }
	a.foyer5 	{   top:60%; left:10%; z-index:5005; }
	a.foyer6 	{   top:70%; left:25%; z-index:1006;  }
	a.foyer7 	{   top:75%; left:15%; z-index:5004;  }
	a.foyer8 	{   top:80%; left:30%; z-index:1002;   }
	a.foyer9 	{   top:65%; left:30%; z-index:1003;  }
	a.foyer10 	{   top:75%; left:40%; z-index:1004;   }
	a.foyer11 	{   top:30%; left:40%; z-index:1005;  }
	a.foyer12 	{   top:40%; left:42%; z-index:5003;   }
	a.foyer13 	{   top:45%; left:35%; z-index:5007; }
	a.foyer14 	{   top:50%; left:40%; z-index:1002;  }
	a.foyer15 	{   top:60%; left:45%; z-index:5004;  }
	a.foyer16 	{   top:65%; left:35%; z-index:5000;  }
}
#choisis:hover {
	a.foyer1 	{ top:2%; left:-5%; }
	a.foyer2 	{ top:2%; left:15%;   }
	a.foyer3	{  top:2%; left:35%; }
	a.foyer4 	{   top:2%; left:55%;  }
	a.foyer5 	{   top:30%; left:70%;}
	a.foyer6 	{   top:50%; left:70%;  }
	a.foyer7 	{   top:70%; left:70%;  }
	a.foyer8 	{   top:90%; left:70%;  }
	a.foyer9 	{   top:110%; left:55%;  }
	a.foyer10 	{   top:110%; left:35%;   }
	a.foyer11 	{   top:110%; left:15%;  }
	a.foyer12 	{   top:110%; left:-5%;   }
	a.foyer13 	{   top:90%; left:-15%; }
	a.foyer14 	{   top:70%; left:-15%;   }
	a.foyer15 	{   top:50%; left:-15%; }
	a.foyer16 	{   top:30%; left:-15%;  }
}



//menu
.navbar.navbar-default{
	padding: 30px 0 30px 0;
	//background-color:transparent; a{color:white}
	//&:hover{background-color:rgba(0,0,0,0.3);} 
	background-color:white; a{height:40px; line-height:40px; color:@txt_blue !important; text-transform: uppercase;padding:0 12px;}
	a.navbar-brand{line-height: 20px; &:hover{background-color:white!important; color:@txt_blue !important;}}
	a:hover{background-color:@txt_blue !important; color:white !important;} 
}