////VARIABLES
@bg:#41a0c7;
@txt_blue : #17789c;

body{font-size:16px; min-height:100%; line-height: 1.4em }
html,body{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; height: 100%; overflow: hidden;background-color:@bg;}
.container-fluid{overflow-x:hidden;}
.container-fluid{padding:0}

.owl-carousel{
		background-color: #e8eef1;
		p, h1,h3 {color: @txt_blue}
		h3{text-transform: uppercase}
		height: 380px !important;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		top: 20%;
}