<div class="col-md-12">
    <div ng-hide="true" id="{{ calendarCtrl.calendarId }}" class="col-md-12">
        {{ calendarCtrl.init() }}
    </div>
    <div class="media" ng-repeat="content in calendarCtrl.contents">
        <img class="media-object pull-left" ng-if="content.fields.image"
             ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{size:'thumbnail'}) }}" alt="{{ content.fields.text }}" />

        <div class="media-body">
            <h4 class="media-heading">
                <a ng-href="{{ content.detailPageUrl }}">
                    {{ content.fields.text }}
                </a>
            </h4>
            <p>
                {{ content.fields.summary }}
            </p>
        </div>
    </div>
</div>