<div class="col-md-12">
    <!--<div ng-hide="true" id="{{ calendarCtrl.calendarId }}" class="col-md-12">
        {{ calendarCtrl.init() }}
    </div>-->
 
    <table class="rwd-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Proposition</th>
                <th>Lieu</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="content in calendarCtrl.contents track by $index">
                <th class="cal-date" data-th="Date"><a ng-href="{{ content.detailPageUrl }}">{{content.fields.dateDebut|dateRange:content.fields.dateFin:'short'}}</a></th>
                <th class="cal-prop" data-th="Proposition"><a ng-href="{{ content.detailPageUrl }}">
                        {{ content.fields.text }}</a>
                </th>
                <th class="cal-date" data-th="Lieu"><a ng-href="{{ content.detailPageUrl }}">{{content.fields.positionName}}</a></th>
                <th>{{rubedo.translate("Inscription", "S'inscrire")}}</th>
            </tr>
        </tbody>
    </table>
</div>