

        
        <!-- Ajout d'un menu secondaire en haute de page -->
        <p>{{block.code | split:'/':0}}</p>
        <!--<div ng-if="{{block.code | split:'/':0}} == '1' " >-->
                <div ng-repeat="bloc in contentDetailCtrl.pageBlock | orderBy :'order' track by $index" class="" >
                    <a class="row nav-sec col-xs-12 col-sm-4" style="margin:15px; background-color:#c3357b;"  ng-if="bloc[0].color==0" ng-href="{{contentDetailCtrl.menu.url}}?page={{bloc[0].code}}">{{bloc[0].title | split:'//':0}}</a>
                    <a class="row nav-sec col-xs-12 col-sm-4" style="margin:15px; background-color:#472a72;"  ng-if="bloc[0].color==1" ng-href="{{contentDetailCtrl.menu.url}}?page={{bloc[0].code}}">{{bloc[0].title | split:'//':0}}</a>
                    <a class="row nav-sec col-xs-12 col-sm-4" style="margin:15px; background-color:#000000;"  ng-if="bloc[0].color==2" ng-href="{{contentDetailCtrl.menu.url}}?page={{bloc[0].code}}">{{bloc[0].title | split:'//':0}}</a>
                </div>
<!--        </div>-->
            
            
            
<!--            <div class="row nav-sec">
<div class="col-xs-12 col-sm-4" style="background-color:#c3357b;">
<p style="margin:15px;"><a href="https://welcometoparadise.chemin-neuf.fr/fr/accueil/au-programme?page=intervenant">INTERVENANTS</a></p>
</div>

<div class="col-xs-12 col-sm-4" style="background-color:#472a72;">
<p style="margin:15px;"><a href="https://welcometoparadise.chemin-neuf.fr/fr/accueil/au-programme?page=temps_forts">TEMPS FORTS</a></p>
</div>

<div class="col-xs-12 col-sm-4" style="background-color:#000000;">
<p style="margin:15px;"><a href="https://welcometoparadise.chemin-neuf.fr/fr/accueil/au-programme?page=fitNfun">FIT&amp;FUN</a></p>
</div>
</div>-->










<a ng-if="block.code" ng-attr-name=" {{block.code | split:'/':1}}" ></a>

<div ng-attr-id=" {{block.code | split:'/':1}}" >
    <header class="parallax page" afkl-lazy-image-options='{"background": true}'
                afkl-lazy-image="{{rubedo.imageUrl.getUrlByMediaId(fieldEntity['banner'],{height:'800px',mode:'boxed'})}} 768w, {{rubedo.imageUrl.getUrlByMediaId(fieldEntity['banner'] ,{height:'600px',mode:'boxed'})}} 972w, {{rubedo.imageUrl.getUrlByMediaId(fieldEntity['banner']  ,{width:'1920px',mode:'boxed'})}} 1650w">
        <div ng-if="!contentDetailCtrl.content.fields.urlSegment === 'fit-fun' " class="container">
            <rubedo-field field= "{{contentDetailCtrl.getFieldByName('text')}}" ng-if="fieldEntity['text']"></rubedo-field>
        </div>
    </header>

    <div class="row text-bg">
        <div class="container">
            <div class="col-sm-12">
                <rubedo-field field= "{{contentDetailCtrl.getFieldByName('presentation')}}" ng-if="fieldEntity['presentation']" class="pres"></rubedo-field>
            </div>
        </div>
    </div>

    <div class="row bg-special"  ng-if="fieldEntity['informations'] || rubedo.current.page.id=='5853b210245640c3518bf525'" >
        <div class="container paddingv">
            <div clas="col-sm-12">
                <!--<rubedo-field ng-repeat="field in fields track by $index" ng-if="fieldEntity[field.config.name] && (field.config.name).substring(0, 5)=='infos' && fieldEntity[field.config.name].title!=''" class="color"></rubedo-field>-->
                <rubedo-field field= "{{contentDetailCtrl.getFieldByName('informations')}}" ng-if="fieldEntity['informations']"></rubedo-field>
                <rubedo-field field= "{{contentDetailCtrl.getFieldByName('texteRiche')}}" ng-if="fieldEntity['texteRiche'] && rubedo.current.page.id=='5853b210245640c3518bf525' " ></rubedo-field>
            </div>
        </div>
    </div>
    <!--<div class="row" style="margin-bottom:24px" >
            <div class="col-sm-12 hidden-xs">
                <jwplayer ng-if="fieldEntity['video'] &&  contentDetailCtrl.content.fields.video.url" video-url="{{contentDetailCtrl.content.fields.video.url}}" format="24:10"></jwplayer>
            </div>
            <div class="col-sm-12 visible-xs-block">
                <jwplayer ng-if="fieldEntity['video'] &&  contentDetailCtrl.content.fields.video.url" video-url="{{contentDetailCtrl.content.fields.video.url}}" format="16:9"></jwplayer>
            </div>
    </div>-->
    <div class="video-block" ng-if="fieldEntity['video']&&  contentDetailCtrl.content.fields.video.url" ng-click="contentDetailCtrl.showModal(contentDetailCtrl.content.id)" >
        <p>{{rubedo.translate("WTP.Video1", "Voir la")}} <span>ì</span>{{rubedo.translate("WTP.Video2", "vidéo")}} </p>
    </div>

<!-- Modal -->
    <div class="modal fade" pause-on-close id="myModal{{contentDetailCtrl.content.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" >
                    <jwplayer ng-if="fieldEntity['video'] &&  contentDetailCtrl.content.fields.video.url" video-url="{{contentDetailCtrl.content.fields.video.url}}" format="16:9"></jwplayer>
                </div>
            </div>
        </div>
    </div>
    


</div>
